<template name="job">
    <div class="contactable-page-details" name="jobVM">
        <div id="content">
            {{#with originalJob}}
                <div id="content-header" class="mini">
                    <h1 class="profile-name">{{displayName}}
                    <a class="pull-right" href="/contactable/{{customer}}">
                        <i class="icon-buildings-1"></i>
                        {{customerName}}
                    </a>
                    </h1>
                </div>
                <div id="breadcrumb" class="breadcrumb-top">
                    <a href="/" title="Go to Home" class="tip-bottom">
                        <i class="fa fa-home"></i>Home</a>
                    <a href="/jobs" class="current">Jobs</a>
                </div>
            {{/with}}

            {{#with job}}
                <div class="container-fluid contactable-content job-details">
                    <div class="row">
                            <div class="col-sm-8 col-lg-5 contactable-left-col">
                            {{>job_tabs job=. documentCount=documentCount jobCount=jobCount noteCount=noteCount}}
                            {{> jobDetail}}

                            {{> jobDescription}}

                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- /.box -->
                                    {{>assignment}}

                                    {{>jobRates}}
                                </div>
                                <div class="col-lg-6">
                                    {{>customerInfo customer=getCustomer path='customer' collection=jobCollection}}
                                    {{>jobActivity}}

                                    {{>taskBox}}
                                    <!-- Tags -->
                                    {{#with originalJob}}
                                    {{>tagsBox  }}
                                    {{/with}}
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-->

                        <!-- Right Column -->
                        <div class="col-sm-6 col-lg-4 margin-top-15">
                            {{>candidates job=_id}}
                            <!--{{>job_tabs originalJob=. documentCount=documentCount noteCount=noteCount  }}-->
                        </div>

                        <div class="col-md-4 col-lg-4">

                        </div>
                        <!-- /.col-lg-4-->
                    </div>
                    <!-- /.container-fluid -->
                </div>
            {{/with}}
        </div>
        <!-- /.content -->
    </div>
</template>

<template name="job_tabs">
    <ul class="nav nav-tabs  contactable-nav-tabs-main bottom-20">
        <li class="active"><a href="#profile-notes" data-toggle="tab">Notes <span class="custom-badge-2">{{noteCount}}</span></a></li>
        <li ><a href="#profile-candidates" data-toggle="tab">Candidates <span class="custom-badge-2">0</span></a></li>

    </ul>

    <div class="tab-content">
        <!-- Notes Tab -->
        <div class="tab-pane active" id="profile-notes">
            {{#with originalJob}}
            {{> contactableNotesAdd entity=job type=getType}}
            {{> contactableNotesList entity=job}}
            {{/with}}
        </div>

        <div class="tab-pane " id="profile-candidates">
            {{>candidates job=originalJob._id}}
        </div>
    </div>

</template>


