<template name="job">
    <div class="jobs-page" name="jobVM">
        <div id="content">
            {{#with originalJob}}
                <div id="content-header" class="mini">
                    <h1>{{displayName}}</h1>
                </div>
                <div id="breadcrumb" class="bradcrumb-top">
                    <a href="/" title="Go to Home" class="tip-bottom">
                        <i class="fa fa-home"></i>Home</a>
                    <a href="/jobs" class="current">Jobs</a>
                    <a href="/jobs#industry={{industry}}">{{industryName}}</a>
                    <a href="/jobs#category={{category}}">{{categoryName}}</a>
                </div>
            {{/with}}
            {{#with job}}
                <div class="container-fluid">

                    <div class="col-md-8 col-lg-8">
                        <div class="box">
                            <div class="box-header-2">
                                <a class="btn-action editJob pull-right" href="#" style="color: {{colorEdit}}"><i class="fa fa-pencil"></i></a>
                                <div class="box-title">Job Details</div>
                            </div>
                            <div class="box-content-lg">
                                <table class="table custom-table text-normal" style="table-layout: fixed;">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <i class="fa fa-calendar"></i>&nbsp;Start Name:
                                            {{#objectProperty property=startDate editable=editMode}}
                                                    {{#dateTimePicker value=value}}
                                                    {{/dateTimePicker}}
                                            {{else}}
                                                <strong>
                                                    {{#formattedDate value=value format='MM.DD.YYYY'}}
                                                        {{date}}
                                                    {{/formattedDate}}
                                                </strong>
                                            {{/objectProperty}}
                                        </td>
                                        <td>
                                            <i class="fa fa-calendar"></i>&nbsp;End date:
                                            {{#objectProperty property=endDate editable=editMode}}
                                                {{#dateTimePicker value=value}}
                                                {{/dateTimePicker}}
                                                {{else}}
                                                <strong>
                                                    {{#formattedDate value=value format='MM.DD.YYYY'}}
                                                    {{date}}
                                                    {{/formattedDate}}
                                                </strong>
                                            {{/objectProperty}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fa fa-clock-o"></i>&nbsp;Duration:
                                            {{#objectProperty property=duration editable=editMode}}
                                                <div class="form-group  {{hasError}}">
                                                    <select class="form-control input-lg">
                                                        {{#each options}}
                                                            <option value="{{_id}}" selected="{{isSelected _id}}">{{displayName}}</option>
                                                        {{/each}}
                                                    </select>
                                                    <span>{{error}}</span>
                                                </div><!-- /.form-group -->
                                            {{else}}
                                                <strong>
                                                    <strong>{{displayName}}</strong>
                                                </strong>
                                            {{/objectProperty}}
                                        </td>
                                        <td>
                                            <i class="fa fa-info-circle"></i>&nbsp;Status:
                                            {{#objectProperty property=status editable=editMode}}
                                            <div class="form-group  {{hasError}}">
                                                <select class="form-control input-lg">
                                                    {{#each options}}
                                                    <option value="{{_id}}" selected="{{isSelected _id}}">{{displayName}}</option>
                                                    {{/each}}
                                                </select>
                                                <span>{{error}}</span>
                                            </div><!-- /.form-group -->
                                            {{else}}
                                            <strong>
                                                <strong>{{displayName}}</strong>
                                            </strong>
                                            {{/objectProperty}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fa fa-building-o"></i>&nbsp;Industry:
                                            {{#objectProperty property=industry editable=editMode}}
                                            <div class="form-group  {{hasError}}">
                                                <select class="form-control input-lg">
                                                    {{#each options}}
                                                    <option value="{{_id}}" selected="{{isSelected _id}}">{{displayName}}</option>
                                                    {{/each}}
                                                </select>
                                                <span>{{error}}</span>
                                            </div><!-- /.form-group -->
                                            {{else}}
                                            <strong>
                                                <strong>{{displayName}}</strong>
                                            </strong>
                                            {{/objectProperty}}
                                        </td>
                                        <td>
                                            <i class="fa fa-folder-open"></i>&nbsp;Category:
                                            {{#objectProperty property=category editable=editMode}}
                                            <div class="form-group  {{hasError}}">
                                                <select class="form-control input-lg">
                                                    {{#each options}}
                                                    <option value="{{_id}}" selected="{{isSelected _id}}">{{displayName}}</option>
                                                    {{/each}}
                                                </select>
                                                <span>{{error}}</span>
                                            </div><!-- /.form-group -->
                                            {{else}}
                                            <strong>
                                                <strong>{{displayName}}</strong>
                                            </strong>
                                            {{/objectProperty}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <i class="fa fa-globe"></i>&nbsp;Location:
                                            <strong>Bucharest, Romania</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Tags:
                                            {{#objectProperty property=tags editable=editMode}}
                                                <span type="button" class="badge" style="cursor: pointer" title="Remove">
                                                    <span title="Remove">{{value}}</span>
                                                    <i class="fa fa-times" title="Remove"></i>
                                                </span>

                                                <div class="input-group">
                                                    <input type="text " class="form-control" placeholder="Enter tags here...">
                                                        <span class="input-group-btn ">
                                                            <button class="btn btn-success " type="button ">
                                                                Add
                                                            </button>
                                                        </span>
                                                </div>
                                            {{else}}
                                                <span class="badge">
                                                    <i class="fa fa-tag"></i>
                                                    <span data-bind="text: $data">{{value}}</span>
                                                </span>
                                            {{/objectProperty}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                {{#objectProperty property=description editable=editMode}}
                                    Description:
                                        <textarea>{{value}}
                                        </textarea>
                                    {{else}}
                                    <div id="description" class="job-description {{collapsed}}">
                                        <div class="text">
                                        {{value}}
                                        </div>
                                        <div class="see-more">See more</div>
                                        <div class="see-less">See less</div>
                                    </div>

                                {{/objectProperty}}
                                <!-- /.description -->
                            </div>
                            <!-- /.box-content-lg-->
                            {{#if editMode}}
                                <div class="box-header-2" style="height: 60px">
                                    <div class="pull-right">
                                        <span class="btn btn-default cancelButton">
                                            Cancel
                                        </span>
                                        <span class="btn btn-info saveButton">
                                            Save
                                        </span>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                        <!-- /.box -->
                        <div data-bind="with: $parent.job">
                            {{>candidates}}
                        </div>

                    </div>
                    <!-- /.col-lg-8-->

                    <div class="col-md-4 col-lg-4" data-bind="with: $parent.job">
                        {{>assignment}}
                        {{>customerInfo}}
                        {{>jobRates}}
                    </div>
                    <!-- /.col-lg-4-->
                </div>
                <!-- /.container-fluid -->
            {{/with}}
        </div>
        <!-- /.content -->
    </div>
</template>
