<!-- Details view layout -->
<template name="job">
    <div id="content" class="details network-content">
        <div class="row">
            <div class="col-md-3">
                {{#with originalJob}}


                    <div class="sidebar">

                        <div class="go-back goBack">
                            <a href="#"><i class="fa fa-chevron-left"></i> {{_ "Back"}}</a>
                        </div>

                        {{>job_header}}

                        {{>job_nav}}
                        {{>job_actions}}
                    </div><!-- /.sidebar -->
                {{/with}}
            </div>
            <div class="col-md-9">
                <div class="box-type-1">

                    <div class="notice-msg-container">
                        <div class="notice-msg {{#if statusNoteEditMode}}editing{{/if}}">
                            <div class="notice-msg-title">
                                <i class="fa fa-file-text-o"></i>
                                {{_ "Status note"}}
                                <span class="left-decoration"></span>
                                <span class="right-decoration"></span>
                            </div>
                            <div class="notice-msg-content">
                                <div class="input-group">
                                    {{#if statusNoteEditMode}}
                                        <input class="form-control input-sm" type="text" name="statusNote" value="{{jobStatusNote}}">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" id="saveStatusNote">{{_ "Save"}}</button>
                                        </span>
                                    {{else}}
                                        <span>{{jobStatusNote}}</span>
                                        <a class="action-btn" id="edit-mode-status-note" href="#"><i class="fa fa-pencil"></i></a>
                                    {{/if}}
                                </div>
                                {{#if statusNoteEditMode}}
                                    <button type="button" class="btn btn-link btn-sm" id="cancelStatusNote">{{_ "Cancel"}}</button>
                                {{/if}}
                            </div>
                        </div><!-- /.notice-msg -->
                    </div><!-- /.notice-msg-container -->

                    <div class="details-view-content">
                        <div class="tab-pane active">
                            {{> UI.dynamic template=currentTemplate  data=. }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<template name="job_header">

    <div class="head">
        <div class="item-icon item-icon-network item-icon-lg">
            <div id="edit-pic" title="Click to Edit" style="cursor: pointer">
                <i class="icon icon-briefcase-2"></i>
            </div>
        </div>

        <h1 class="title">{{_ displayName}}</h1>

        <div class="desc">
            {{#if clientDisplayName}}
                @&nbsp;<a href="/contactable/{{client}}">{{_ clientDisplayName}}</a>
            {{/if}}
        </div>
    </div>
    <p class="profile-address">
        {{#if location}}
            <i class="fa fa-map-marker"></i>
            <span>{{getLocationDisplayName}}</span>
        {{/if}}
    </p>
</template>

<template name="job_actions">
    <a class="btn-custom-1 btn-block pointer">
        <i class="fa fa-copy"></i>&nbsp;
        <span style="white-space: normal;"> {{_ "Copy job"}}</span>
    </a>
</template>

<template name="job_nav">
    {{> detailNav tabs=tabs route="job" entityId=getEntityId}}
</template>

<!-- Tabs -->
<template name="job_placements">
    {{> placementsBox}}
</template>

<template name="job_activity">
    {{> jobActivity}}
</template>

<template name="job_description">
    {{> jobDescription}}
</template>

<template name="job_call-em">
    {{> workFlowListBox}}
</template>

<!--<template name="job_tasks">-->
    <!--{{> tasksBox}}-->
<!--</template>-->

<template name="job_notes">
    {{> notesBox}}
</template>

<template name="job_details">
    <div class="box-type-1-content">
        {{> jobDetail}}

        {{> jobClientInfo client=getClient path='client' collection=clientCollection}}

        {{#with originalJob}}
            {{>jobLocation}}
        {{/with}}

        {{#with originalJob}}
            {{>tagsBox}}
        {{/with}}
    </div>
</template>