<template name="contactableCustomer">
    <!--ko with: Contact-->
        <!--ko if: $data.customer-->
            <div class="box">

                <div class="box-header-2">
                    <a class="pull-right btn btn-xs btn-default" data-bind="click: function () { Composer.showModal( 'contactCustomerAddEdit',$parent);}">
                        <i class="fa fa-pencil"></i>Edit
                    </a>
                    <div class="box-title">
                        <i class="icon-buildings-1"></i>Customer
                    </div>

                </div>
                <div data-bind="with: ko.meteor.findOne(Contactables,{_id: customer()})">
                    <div class="row" style="margin:3px;">
                        <!-- ko with: $root.filesCollection.getThumbnailUrl($data.pictureFileId())-->
                        <!-- ko if: ready -->
                        <a data-bind="attr:{href:'/contactable/'+ $parent._id()}">
                            <img class="col-md-4" style="heigth:70px; width:70px;"  data-bind="attr: {src: picture }">
                            <h5 class="col-md-4" data-bind="text: $parent.displayName"></h5>
                        </a>
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        <!--/ko-->
        <!--ko ifnot: $data.customer-->
            <div class="box-header-2">
                <a class="pull-right btn btn-xs btn-default" data-bind="click: function () { Composer.showModal( 'contactCustomerAddEdit',$parent);}">
                    <i class="fa fa-pencil"></i>Edit
                </a>
                <div class="box-title">
                    <i class="icon-buildings-1"></i>No Customer
                </div>

            </div>
        <!--/ko-->
    <!--/ko-->
</template>