<template name="placement">
    <div class="contactable-page-details">
        <div id="content" class="details">
            {{#with originalPlacement}}
                <div id="content-header" class="mini">
                    <h1 class="profile-name">
                        {{#if employee}}<a href="/contactable/{{employee}}"> {{employeeDisplayName}} </a>{{/if}}
                        {{#if job}}
                            <strong class="text text-muted" style="font-size: 25px; color: '#A29E9E'">
                                <a href="/job/{{job}}"> {{jobDisplayName}} @ </a>
                                <a href="/contactable/{{customerId}}">{{customerDisplayName}}</a>
                            </strong>
                        {{/if}}
                    </h1>
                </div>
                <div id="breadcrumb" class="breadcrumb-top">
                    <a href="/" title="Go to Home" class="tip-bottom">
                        <i class="fa fa-home"></i> Home
                    </a>
                    <a href="/placements" class="current">Placements</a>
                </div>
            {{/with}}

            <div class="container-fluid details-body">
                {{> placement_tabs placement=placement originalPlacement=originalPlacement}}
            </div>
        </div>
    </div>
</template>

<template name="placement_tabs">
    {{> detailTabs tabs=tabs selected=selectedTab template="placement" context=.}}
</template>

<template name="placement_tasks">
    {{> tasksBox}}
</template>

<template name="placement_notes">
    {{> notesItem placement}}
</template>

<template name="placement_details">
    <div class="col-sm-6">
        {{#with originalPlacement}}  {{> placementDetail}}  {{/with}}
        {{#with originalPlacement}}  {{>originData}} {{/with}}
    </div>
    <div class="col-sm-6">
        {{#with originalPlacement}}{{>tagsBox  }}{{/with}}
    </div>
</template>
