<template name="hotList">
    <div id="content" class="network-content nicer-filters">
        <div class="row">

            <!-- Side bar -->
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="go-back">
                        <a class="pointer goBack"><i class="fa fa-chevron-left"></i> {{_ "Back"}}</a>
                    </div>

                    {{#with hotList}} {{> hotListHeader}} {{/with}}

                    {{>hotList_nav}}

                    {{#with hotList}} {{> hotListOriginData}} {{/with}}
                </div><!-- /.sidebar -->
            </div>

            <div class="details-view col-md-9">
                <div class="box-type-1">
                    <div class="details-view-content clearfix">
                        <div class="tab-pane active">
                            {{> UI.dynamic template=currentTemplate data=hotList }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="hotListHeader">
    <div class="head">
        <div class="profile-pic">
            <div class="item-icon item-icon-hotlist item-icon-lg"><i class="icon-list-4"></i></div>
        </div>
        <h1 class="title">
            {{#if editingDisplayName}}
                <div style="display: block; overflow: hidden">
                    <textarea class="form-control input-block" style="margin-bottom: 8px;" id="displayName">{{_ displayName}}</textarea>
                    <div class="pull-right">
                        <span class="btn btn-primary saveDisplayNameButton"><i class="fa fa-check"></i> {{_ "Save"}}</span>
                        <span class="btn btn-default cancelDisplayNameButton"><i class="fa fa-close"></i> {{_ "Cancel"}}</span>
                    </div>
                </div>
            {{else}}
                {{_ displayName}}<br>
            {{/if}}
            <small class="pointer" style="font-size: 50%" id="editDisplayName"><i class="fa fa-pencil"></i> {{_ "edit"}}</small>

            <span class="pointer label-title {{statusClass activeStatus}}" id="toggle-status" data-status="{{activeStatus}}">{{lookUpName activeStatus}}
            </span>
        </h1>
    </div>
    <div class="status-note-1">
        {{#if editMode}}
            <div style="display: block; overflow: hidden">
                <textarea class="form-control input-block" style="margin-bottom: 8px;" id="statusNote">{{_ statusNote}}</textarea>
                <div class="pull-right">
                    <span class="btn btn-primary saveButton"><i class="fa fa-check"></i> {{_ "Save"}}</span>
                    <span class="btn btn-default cancelButton"><i class="fa fa-close"></i> {{_ "Cancel"}}</span>
                </div>
            </div>
        {{else}}
            <span>{{_ "Status note"}} –</span> {{_ statusNote}}  <a class="edit toggle-edit-mode" href="#">– <i class="fa fa-pencil"></i> {{_ "edit"}}</a>
        {{/if}}
    </div>

</template>

<template name="hotListOriginData">
    <ul class="list-type-3 small">
        <li>{{_ "User"}}: <span><a href="#">{{displayUserName userId}}</a></span></li>
        <li>{{_ "Date created"}}: <span>{{formattedDate dateCreated "lll"}}</span></li>
        <li>{{_ "Hierarchy"}}: <span>{{displayHierName hierId}} ({{hierId}})</span></li>
        <li>{{_ "External ID"}}: <span>{{externalId}}</span></li>
    </ul>
</template>

<template name="hotList_nav">
    {{> detailNav tabs=tabs route="hotList" entityId=getEntityId}}
</template>

<template name="hotList_notes">
    {{> notesTab responseOnly=false}}
</template>

<template name="hotList_responses">
    {{> notesTab responseOnly=true}}
</template>

<template name="hotList_members">
    {{> hotListMembersBox}}
</template>
