<template name="hotList">
    <div id="content" class="details">
        {{#with originalHotList}}
            <div id="content-header" class="mini">
                <div class="profile-content-header">
                    <h1 class="profile-name">
                        <a href="/hotlist/{{_id}}"> {{displayName}} </a>
                        <h5 class="pull-right" style="max-width: 40%;"> {{statusNote}} </h5>
                    </h1>
                </div>
            </div>
        {{/with}}

        <div class="container-fluid">
            <div class="row">
                <div class="details-menu col-md-2">
                    {{>hotList_nav}}
                    {{>hotList_actions}}
                </div>
                <div class="details-view col-md-10">
                    <div class="details-view-content clearfix">
                        <div class="tab-pane active">
                            {{> UI.dynamic template=currentTemplate  data=hotList }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<template name="hotList_nav">
    {{> detailNav tabs=tabs route="hotList" entityId=getEntityId}}
</template>

<template name="hotList_tasks">
    {{> tasksBox}}
</template>


<template name="hotList_notes">
    {{> notesBox}}
</template>

<template name="hotList_details">
    <div class="col-sm-6">
        {{#with originalHotList}}  {{> hotListDetail}}  {{/with}}
    </div>
    <div class="col-sm-6">
        {{> contactableContactsBox}}

    </div>
    <div class="col-sm-6">
        {{#with originalHotList}}{{>tagsBox  }}{{/with}}
    </div>
    <div class="col-sm-6">
        {{>hotListMembers  }}
    </div>
</template>
<template name="hotListMembers">
    <div class="box">
        <div class="box-header-2">
            <a class="btn-action editHotList pull-right" href="#" style="color: {{colorEdit}}" title="Edit"><i
                    class="fa fa-pencil"></i></a>

            <div class="box-title">HotList Members</div>
        </div>
        <div class="box-content-md">
            <div class="panel-body no-padding">
                <ul class="list-3 stripped">
                    {{#each hotListMembers}}
                        <li>
                            <!-- Name -->
                            <div class="col-xs-12 no-padding">
                                    <a href="/contactable/{{_id}}">
                                        <strong>
                                            <span class="badge">{{displayName}}</span>
                                        </strong>
                                    </a>
                                    <span class="task-author text-center">{{_id}}</span>
                                    <button class="btn btn-xs btn-default remove"><i class="fa fa-times"></i> remove
                                    </button>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>

<template name="hotList_actions">
    <div class="hidden-xs hidden-sm">
        <div class="details-actions row">
            <ul class="no-padding">

                <li>
                        {{>sendTemplate emailTemplateContext}}
                </li>
            </ul>
        </div>
    </div>
    <div class="visible-xs visible-sm pull-right">
        <div class="details-actions">
            <div class="btn-group nav-item">
                <a type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    Act
                </a>
                <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a id="makeEmployee">
                                    <span><i class="fa fa-exchange"></i></span>
                                    Make Employee
                                </a>
                            </li>
                </ul>
            </div>
        </div>
    </div>
</template>
