<template name="showDynamicObjectTemplate">
    <!-- Template used to show object information dynamically. It show fields and relations that are flagged with showInAdd -->
    <div data-bind="bind: false">
        <div id="showDynamicObjectTemplate" style="display: none">
            <div>
                <fieldset id="list " data-bind="foreach: $data.data.entity()[$root.objTypeName()]">
                    <!-- ko if: $data.showInAdd -->
                    <div style="margin-top: 5px" data-bind="template: { name: helper.fieldVM($data), data: { data: $data, filter: $parent.filter }}"></div>
                    <!-- /ko -->
                </fieldset>
            </div>
            <div data-bind="foreach: data.relations">
                <div>
                    <h5 data-bind="text: relation.displayName"></h5>
                    <!--ko if: editable-->
                        <input type='hidden' style="width: 100%" placeholder="Search" data-bind="select2: { options: data, selectedValues: value, filter: $root.filter }"/>
                    <!--/ko-->
                    <!--ko ifnot: editable-->
                        <span class="text-muted" data-bind="text: _.findWhere(ko.toJS(data), { _id: value() }).displayName"></span>
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>
</template>