<template name="showDynamicObjectTemplate">
    <!-- Template used to show object information dynamicly. It show fields and relations that are flaged with showInAdd -->
    <div data-bind="bind: false">
        <div id="showDynamicObjectTemplate" style="display: none">
            <div data-bind="with: entity">
                <h3 data-bind="text: $root.objTypeName " />
                <!--                    <i data-bind="css: 'icon ' + helper.getIconForObjName($root.objTypeName()), style: {color: helper.getColorForObjName($root.objTypeName()) }" style="font-size: 20px"></i>-->

                <fieldset id="list " data-bind="visible: $data[$root.objTypeName()]().length>0, foreach: $data[$root.objTypeName()]">
                    <!-- ko if: $data.showInAdd -->
                    <div style="margin-top: 5px" data-bind="template: { name: helper.fieldVM($data), data: $data}"></div>
                    <!-- /ko -->
                </fieldset>
            </div>
            <div data-bind="foreach: relations">
                <div>
                    <h5 data-bind="text: relation.name"></h5>
                    <select class="form-control" data-bind="options: data,optionsText:'displayName', value: value, optionsCaption: 'select...'"></select>
                </div>
            </div>
        </div>
    </div>
</template>