<!-- fieldTemplatesDefinition is a dummy template used to expose fields templates -->
<template name="fieldTemplatesDefinition">
    <!-- String -->
    <div id="inStringField" style="display: none;">
        <div class="form-group" data-bind="css:{'has-error': data.value.isModified() && ! data.value.isValid()}">
            <label class="control-label" data-bind="text: data.displayName, attr: { for: data.displayName }"></label>
            <input class="form-control" type="text" placeholder="" data-bind="value: data.value, attr: {id: data.displayName}" />
            <span class="text-danger" data-bind="validationMessage: data.value"></span>
        </div>
    </div>
    <div id="inLongStringField" style="display: none;">
        <div class="form-group" data-bind="css:{'has-error': data.value.isModified() && ! data.value.isValid()}">
            <label class="control-label" data-bind="text: data.displayName, attr: { for: data.displayName }"></label>
            <textarea class="form-control" type="text" placeholder="" data-bind="value: data.value, attr: {id: data.displayName}"> </textarea>
            <span class="text-danger" data-bind="validationMessage: data.value"></span>
        </div>
    </div>

    <!-- Int -->
    <div id="inIntField" style="display: none;">
        <div class="form-group" data-bind="css:{'has-error': data.value.isModified() && ! data.value.isValid()}">
            <label class="control-label" data-bind="text: data.displayName, attr: { for: data.displayName }"></label>
            <input class="form-control" type="text" placeholder="" data-bind="value: data.value, attr: {id: data.displayName}" />
            <span class="text-danger" data-bind="validationMessage: data.value"></span>
        </div>
    </div>

    <!-- LookUp -->
    <div id="inLookUpField" style="display: none;">
        <div data-bind="css:{'has-error': data.value.isModified() && ! data.value.isValid()}">
            <h5 data-bind="text: data.displayName"></h5>
            <!-- ko if: $data.data.multiple -->
            <select class="form-control" data-bind="options: options, optionsText:'displayName', optionsValue:'_id', selectedOptions: value, optionsCaption: 'None...'" multiple></select>
            <!-- /ko -->
            <!-- ko if: !$data.data.multiple -->
            <!--<select class="form-control" data-bind="options: data.options, optionsText:'data.displayName', optionsValue:'_id', value: data.value, optionsCaption: 'Choose...'"></select>-->
            <input type='hidden' style="width: 100%" placeholder="Search" data-bind="select2: { options: data.options, selectedValues: data.value, filter: $data.filter }"/>
            <!-- /ko -->
            <span class="text-danger" data-bind="validationMessage: data.value"></span>
        </div>
    </div>

    <div id="outStringField" style="display: none;">
        <span data-bind="value: data.value"> </span>
    </div>

    <!-- Date -->
    <div id="inDateField" style="display: none;">
        <div class="form-group" data-bind="css:{'has-error': data.value.isModified() && ! data.value.isValid()}">
            <label class="control-label" data-bind="text: data.displayName"></label>
            <div data-bind="dateTimePicker: {date: data.value}">
                <div data-pick="date"></div>
            </div>
            <span class="text-danger" data-bind="validationMessage: data.value"></span>
        </div>
    </div>

    <div id="outDatefield" style="display: none;">
        <span data-bind="value: data.value" > </span>
    </div>


    <!--    display editable property-->
    <div id="display-property" data-bind="bind: false" style="display:none">

        <!-- ko if: !$data.data.editMode || !$data.data.editMode() -->
        <!--ko if: $data.data.icon-->
        <i data-bind="css:icon, if: $data.data.icon"></i>&nbsp;
        <!-- /ko -->
        <span data-bind="text: data.name + ': '">
        </span>
        <strong data-bind="text: data.value">
        </strong>
        <!-- /ko -->
        <!-- ko if: $data.data.editMode -->
        <div class="form-group" data-bind="css:{'has-error': data.value.isModified() && ! data.value.isValid()}">
            <span class="control-label" data-bind="text: data.name">
            </span>
            <input class="form-control" type="text" placeholder="" data-bind="value: data.value" />
            <span class="text-danger" data-bind="validationMessage: data.value"></span>
        </div>
        <!-- /ko -->
    </div>

    <div id="display-property-date" data-bind="bind: false" style="display:none">
        <div data-bind="switch:$data.data.editMode">
            <div data-switch="true">
                <!--ko if: $data.data.icon-->
                <i data-bind="css: $data.data.icon"></i>&nbsp;
                <!-- /ko -->
                <span data-bind="text: data.name + ': '" class="display-property-label">
                </span>
                <strong data-bind="text: moment(data.value()).format('MM.DD.YYYY')">
                </strong>
            </div>
            <div data-switch="false">
                <div class="form-group" data-bind="css:{ 'has-error': data.value.isModified() && ! data.value.isValid()}">
                    <!--ko if: $data.data.icon-->
                    <i data-bind="css:$data.data.icon" class="editableIcon pull-left"></i>&nbsp;
                    <!-- /ko -->
                    <label class="control-label pull-left" data-bind="text: data.name">
                    </label>
                    <div class="col-lg-8" data-bind="dateTimePicker:{date: data.value}">
                        <div data-pick="dateTime"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="display-property-lookUp" data-bind="bind: false" style="display:none">
        <div data-bind="switch:$data.data.editMode">
            <div data-switch="true">
                <!--ko if: $data.data.icon-->
                <i data-bind="css: $data.data.icon"></i>&nbsp;
                <!-- /ko -->
                <span data-bind="text: data.name + ': '" class="display-property-label">
                </span>
                <strong data-bind="text: data.valueName">
                </strong>
            </div>
            <div data-switch="false">
                <div class="form-group" data-bind="css:{'has-error': data.value.isModified() && ! data.value.isValid()}">
                    <!--ko if: $data.data.icon-->
                    <i data-bind="css: $data.data.icon" class="pull-left"></i>&nbsp;
                    <!-- /ko -->
                    <span class="control-label pull-left" data-bind="text: data.name"></span>
                    <div class="col-lg-8">
                        <select class="form-control col-lg-10" data-bind="options:ko.meteor.find(LookUps,{lookUpCode:data.lookUpCode}), optionsText:'displayName', value: data.value, optionsValue:'_id'"> </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

