<!-- fieldTemplatesDefinition is a dummy template used to expose fields templates -->
<template name="fieldTemplatesDefinition">
    <!-- String -->
    <div id="inStringField" style="display: none;">
        <div class="form-group" data-bind="css:{'has-error': value.isModified() && ! value.isValid()}">
            <label class="col-lg-2 control-label" data-bind="text: name"></label>
            <div class="col-lg-10">
                <input class="form-control" type="text" placeholder="" data-bind="value: value" />
                <span class="text-danger" data-bind="validationMessage: value"></span>
            </div>
        </div>
    </div>
    <!-- LookUp -->
    <div id="inLookUpField" style="display: none;">
        <h5 data-bind="text: name"></h5>
        <div data-bind="if: ($data.multiple)">
            <select data-bind="options: options, optionsText:'displayName', optionsValue:'code', selectedOptions: value, optionsCaption: 'None...'" multiple></select>
        </div>
        <div data-bind="if: (!$data.multiple)">
            <select data-bind="options: options, optionsText:'displayName', optionsValue:'code', value: value, optionsCaption: 'Choose...'"></select>
        </div>
    </div>

    <div id="outStringField" style="display: none;">
        <span data-bind="value: value" />
    </div>

    <!-- Date -->
    <div id="inDateField" style="display: none;">
        <label class="col-lg-2 control-label" data-bind="text: name"></label>
        <div class="col-lg-10">
            <input class="form-control" type="date" data-bind="value: value" />
        </div>
    </div>

    <div id="outDatefield" style="display: none;">
        <span data-bind="value: value" />
    </div>
</template>

