<template name="assignmentsBox">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <div class="actions-head ">
                        <div class="row">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                {{#if isJob}}
                                <div class="btn-group pull-left suffix-5">
                                    <button type="button" class="btn btn-success addAssignment" title="Add">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </div>
                                {{/if}}
                                <div class="input-group">
                                    <input id="search-string" type="text" class="form-control" placeholder="Search assignments">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div><!-- /.col-lg-5 -->

                        </div><!-- /.row -->
                    </div>
                </div>
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-md-8 col-lg-8">
                    <div class="table-items-box">
                        {{#each assignments}}
                            <div class="table-item magic">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="table-item-cell">
                                            <div class="table-item-cell-container">
                                                <div class="table-item-title">
                                                        <a href="/assignment/{{_id}}"> <i class="icon icon-check-list"></i></a>
                                                    <a href="/job/{{job}}"> <i class="icon icon-briefcase"> </i>{{jobDisplayName}}{{customerDisplayName}}</a>
                                                    <i class="fa fa-arrows-h fa-x3"> </i>
                                                        <a href="/contactable/{{employee}}"><i class="icon icon-profile-man"> </i> {{employeeDisplayName}} </a>
                                                </div>
                                                <div class="task-author">
                                                    by
                                                    {{#userInfo userId=userId}}
                                                        <a href="#"><strong id="username"> {{username}} </strong></a>
                                                    {{/userInfo}}
                                                </div>
                                            </div>
                                            <!-- /.table-item-cell-container -->
                                        </div>
                                    </div>
                                    <!-- /.table-item-cell -->
                                    <div class="col-sm-3">
                                        <div class="table-item-cell">
                                            <div class="table-item-cell-container">
                                                <div class="date">
                                                    {{#formattedDate value=dateCreated format="fromNow"}}
                                                        <span>{{date}}</span>
                                                    {{/formattedDate}}
                                                </div>
                                            </div>
                                            <!-- /.table-item-cell-container -->
                                        </div>
                                        <!-- /.table-item-cell -->
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
</template>