<template name="jobRates">
    <div class="box">
        <div class="box-header-2">
            <a class="btn-action tip-top addRate" data-original-title="Add Job Rate" href="#"><i class="fa fa-plus"></i></a>
            <div class="box-title">
                Job Rates
            </div>
        </div>

        <div class="box-content">
            {{#if rates}}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Type</td>
                            <td>Bill</td>
                            <td>Pay</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rates}}
                            <tr>
                                {{#with getType type}}
                                    <td title="{{description}}">{{displayName}}</td>
                                {{/with}}
                                <td>{{bill}}</td>
                                <td>{{pay}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <div class="box-v-msg">
                    <div class="box-v-msg-content">
                        <i class="icon-money"></i>
                        <p>You Currently have no Rates for this Job<br>
                            <a href="#" class="addRate">add a Rate</a>
                        </p>
                    </div><!-- /.box-v-msg-content -->
                </div>
            {{/if}}
        </div>
    </div>
</template>