<template name="jobRates">
    <div class="box">
        <div class="box-header-2">
            <a class="btn-action tip-top editRate" data-original-title="Add Job Rate" href="#" title="Edit"><i class="fa fa-pencil"></i></a>
            <div class="box-title hidden-sm hidden-xs">
                Job Rates
            </div>
            <a class="box-title visible-sm visible-xs" href="#rate-body" data-toggle="collapse" >

                Job Rates
            </a>
        </div>

        <div class="box-content-collapsible" id="rate-body">
            {{#if editMode}}
                {{#ratesEdit rates=rates}}
                {{/ratesEdit}}
            {{else}}
                {{#if rates}}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Type</td>
                            <td>Bill</td>
                            <td>Pay</td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each rates}}
                            <tr>
                                {{#with getType type}}
                                    <td title="{{description}}">{{displayName}}</td>
                                {{/with}}
                                <td>{{round bill}}</td>
                                <td>{{round pay}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <div class="box-v-msg">
                        <div class="box-v-msg-content">
                            <i class="icon-money"></i>
                            <p>
                                <a href="#" class="editRate">Add a Rate</a>
                            </p>
                        </div><!-- /.box-v-msg-content -->
                    </div>
                {{/if}}
            {{/if}}
        </div>
        {{#if editMode}}
            <div class="box-header-2" style="height: 60px">
                <div class="pull-right">
                    <span class="btn btn-default cancelButtonRates">
                        Cancel
                    </span>
                    <span class="btn btn-info saveButtonRates">
                        Save
                    </span>
                </div>
            </div>
        {{/if}}
    </div>
</template>


<template name="ratesEditTemplate">
    <ul class="list-3 stripped">
        {{#each rates}}
        <li>
            <!-- Type -->
            <div class="col-xs-12 no-padding">
                <label class="col-xs-3 no-padding">Type: </label>
                <div class="col-xs-8 no-padding">
                    {{#with getType type}}
                    <span>{{displayName}}</span>
                    {{/with}}
                </div>
                <!-- Remove -->
                <div class="col-xs-1 no-padding">
                    <button class="btn btn-xs btn-default removeRate"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- Bill -->
            <div class="col-xs-12 no-padding">
                <label class="col-xs-3 no-padding">Bill: </label>
                <div class="col-xs-9 no-padding">
                    <input type="number" class="billRateInput form-control" value="{{bill}}">
                </div>
            </div>
            <!-- Pay -->
            <div class="col-xs-12 no-padding">
                <label class="col-xs-3 no-padding">Pay: </label>
                <div class="col-xs-9 no-padding">
                    <input type="number" class="payRateInput form-control" value="{{pay}}">
                </div>
            </div>
        </li>
        {{/each}}
        
        <!-- New Job Rate -->
        {{#with newRate}}
        <li>
            <!-- Type -->
            <div class="col-xs-12 no-padding">
                <label class="col-xs-3 no-padding">Type: </label>
                <div class="col-xs-9 no-padding">
                    <select class="form-control newRateType">
                        <option value="">--select--</option>
                        {{#each getAvailableType}}
                        <option value="{{_id}}">{{displayName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <!-- Bill -->
            <div class="col-xs-12 no-padding">
                <label class="col-xs-3 no-padding">Bill: </label>
                <div class="col-xs-9 no-padding">
                    <input type="number" class="billRateInput form-control" value="{{bill}}">
                </div>
            </div>
            <!-- Pay -->
            <div class="col-xs-12 no-padding">
                <label class="col-xs-3 no-padding">Pay: </label>
                <div class="col-xs-9 no-padding">
                    <input type="number" class="payRateInput form-control" value="{{pay}}">
                </div>
            </div>
            <!-- Add button -->
            <div>
                <button class="btn btn-primary removeRate">Add</button>
            </div>
        </li>
        {{/with}}
    </ul>

</template>