<template name="contactableAssignment">
    <!-- ko ifnot:$data.assignment-->
    <!--<div class="box">-->
        <!--<div class="box-header-2">-->
            <!--<div class="box-title">-->
                <!--<i class="fa fa-user"></i>Not assigned yet-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="box-content">-->
            <!--<a href="#">-->
                <!--<a class="btn btn-lg btn-success btn-block bottom-20" data-bind="click: function () { Composer.showModal( 'contactableAssignmentAdd', $data._id()); }" href="#">-->
                    <!--<i class="fa fa-caret-square-o-right"></i>Assign</a>-->
            <!--</a>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-content &ndash;&gt;-->
    <!--</div>-->

    <!-- /ko-->
    <!-- ko if:$data.assignment-->
    <div class="box">
        <div class="box-header-2">
            <!--<a class="pull-right btn btn-xs btn-default" data-bind="click: function () { Composer.showModal( 'contactableAssignmentAdd',$data._id(), assignment());}">-->
                <!--<i class="fa fa-pencil"></i>Edit-->
            <!--</a>-->
            <div class="box-title">
                <i class="fa fa-briefcase"></i>Assigned
            </div>

        </div>
        <div data-bind="with: assignmentInfo">
            <a data-bind="attr:{href:'/job/'+ _id()}">
                <div class="row" style="margin:3px;">
                    <img class="col-md-4" style="heigth:70px; width:70px;" alt="google" data-bind="attr: {src: helper.getCustomerPictureUrl($data.CustomerInfo)}">
                    <h5 class="col-md-4" data-bind="text: displayName"></h5>
                </div>
            </a>
        </div>
    </div>
    <!-- /ko-->
</template>