<template name="assignment">
    <div class="box">
        <div class="box-header-2">
            <a class="btn-action editAssign" href="#"><i class="fa fa-plus"></i></a>
            <div class="box-title">
                Assignments
            </div>
        </div>

        <div class="box-content">
            {{#with currentAssignment}}
                {{>employeeInfo}}
            {{else}}
                <div class="box-v-msg">
                    <div class="box-v-msg-content">
                        <i class="icon-profile-man"></i>
                        <p>No-one is assigned to this job <br>
                            <a href="#" class="editAssign">assign an Employee</a>
                        </p>
                    </div><!-- /.box-v-msg-content -->
                </div>
                <!-- /.box-content -->
            {{/with}}

            <a class="pull-right showOld" style="padding-top: 5px;cursor: pointer">see
                {{#if showOld}}
                    less <i class="fa fa-caret-up"></i>
                {{else}}
                    more <i class="fa fa-caret-down"></i>
                {{/if}}
            </a>
            <hr style="width: 67%"/>
            {{#if showOld}}
                {{#each oldAssignments}}
                    {{>employeeInfo}}
                {{/each}}
            {{/if}}
        </div>
    </div>
</template>
<template name="employeeInfo">
    {{#with employeeData}}
        <a href="/contactable/{{_id}}">
            <div class="row" style="margin:3px;">
                <img class="col-md-4" style="heigth:70px; width:70px;" src="{{pictureUrl}}">
                <h5 class="col-md-8">{{displayName}}</h5>
                <span class="pull-right" style="color: #BEBEBE;font-size: 11px;font-weight: bold;">
                    from
                    {{#formattedDate value=../start format='MM/DD/YYYY'}}
                        {{date}}
                    {{/formattedDate}}
                    {{#if ../end}}
                        to
                        {{#formattedDate value=../end format='MM/DD/YYYY'}}
                            {{date}}
                        {{/formattedDate}}
                    {{/if}}
                </span>
            </div>
        </a>
    {{/with}}
</template>