[submodule "packages/keyToken"]
	path = packages/keyToken
	url = git://github.com/Exartu/Exartu-KeyToken.git
[submodule "packages/dType"]
	path = packages/dType
	url = https://github.com/Exartu/Exartu-DType.git
[submodule "packages/es"]
	path = packages/es
	url = https://github.com/Exartu/Exartu-Elasticsearch.git
[submodule "packages/pagination"]
	path = packages/pagination
	url = https://github.com/Exartu/Exartu-Pagination.git
[submodule "packages/mongoView"]
	path = packages/mongoView
	url = https://github.com/Exartu/Exartu-MongoView.git
