[submodule "packages/doccenter"]
	path = packages/doccenter
	url = git://github.com/Exartu/Exartu-DocCenter.git
[submodule "packages/keyToken"]
	path = packages/keyToken
	url = git@github.com:Exartu/Exartu-KeyToken.git
