<template name="addPlacementPage">
    <div id="content" class="content-gray">
        <div class="container-fluid">

            <div class="add-box">
                <div class="add-box-head">
                    <a class="btn btn-default pull-left goBack" href="#" style="position: absolute; left: 20px;"><i class="fa fa-long-arrow-left"></i>{{_ "Back"}}</a>
                    <div class="add-item-icon"><i class="icon icon-briefcase"></i></div>{{log}}

                </div><!-- /.add-box-head -->

                <div class="add-box-content">
                    <div class="fieldGroup">
                        <span>{{_ "Employee"}} :</span>
                        <!--<div class="form-group">-->
                            <!--{{>asyncSelect query=getEmployees onChange=selectEmployee minimumInputLength=0 width="100%"}}-->
                        <!--</div>&lt;!&ndash; /.form-group &ndash;&gt;-->
                    </div>
                    {{#autoForm schema="schemaAddPlacement" id="addPlacement" }}
                        <div class="form-group">
                            {{> afFieldInput  name='employee' placeholder="Search" class="form-control" type="afSearch"  getCollection=getEmployees selectionChanged=employeeChanged }}
                        </div>
                        <div class="form-group">
                            Candidate status:
                            {{> afFormGroup name="candidateStatus"  class="form-control" label=false options=candidateStatusOptions}}
                        </div>
                        <div class="form-group {{#if afFieldValueIs name="setStartDate" value=false}}disabled{{/if}}">
                              {{> afB3DatePicker name='startDate' format="D, MM dd, yyyy " }}
                        </div>
                        <div class="form-group">
                            {{> afFieldInput name='setStartDate' type='afSimpleCheckbox' label=false}}
                        </div>
                        <div class="form-group {{#if afFieldValueIs name="setEndDate" value=false}}disabled{{/if}}">
                            {{> afB3DatePicker name='endDate' format="D, MM dd, yyyy " }}
                        </div>
                        <div class="form-group">
                            {{> afFieldInput name='setEndDate' type='afSimpleCheckbox' label=false}}
                        </div>
                        <div class="form-group">
                        {{> afFieldInput  name='rateQuote' placeholder="Rate quote" id="rateQuote" type="text" class="form-control"}}
                        {{#if afFieldIsInvalid name='rateQuote'}}
                            <span class="help-block">{{afFieldMessage name='rateQuote'}}</span>
                        {{/if}}
                        </div>
                    <div class="form-group text-center top-30">
                        <button id="save-details" class="btn btn-success pull-right">{{_ "Add placement"}} </button>
                    </div><!-- /.form-group -->
                    {{/autoForm}}

                        <!--<button class="btn btn-success btn-lg" disabled="{{disableButton}}">{{_ "Add"}} {{_ objTypeName}}</button>-->



                </div><!-- /.add-box-content -->
            </div><!-- /.add-box -->


        </div><!-- /.container-fluid -->
    </div>
</template>
