<template name="addPlacementPage">
    <div id="content" class="content-gray">
        <div class="container-fluid">

            <div class="add-box">
                <div class="add-box-head">
                    <a class="btn btn-default pull-left goBack" href="#" style="position: absolute; left: 20px;"><i class="fa fa-long-arrow-left"></i>Back</a>
                    <div class="add-item-icon"><i class="icon icon-briefcase"></i></div>{{log}}

                </div><!-- /.add-box-head -->

                <div class="add-box-content">
                    <div class="fieldGroup">
                        <span>Employee :</span>
                        <div class="form-group">
                            {{>asyncSelect query=getEmployees onChange=selectEmployee minimumInputLength=0 width="100%"}}
                        </div><!-- /.form-group -->
                    </div>

                    {{#with model}}

                    {{> typeInput }}
                    {{#each subTypeArray}}
                    {{> typeInput }}
                    {{/each}}

                    <div class="form-group text-center top-30">
                        <button class="btn btn-success btn-lg" disabled="{{disableButton}}">Add {{objTypeName}}</button>
                    </div><!-- /.form-group -->

                    {{/with}}

                </div><!-- /.add-box-content -->
            </div><!-- /.add-box -->


        </div><!-- /.container-fluid -->
    </div>
</template>
