<template name="tourActivities">
    <ol id="tourActivities" style="display:none">
        <!--activities:-->
        <li data-id="tourActivitiesWelcome">Welcome to activities, to start the tutorial click "next"<br><br></li>
        <li data-id="tourActivitieslog">Here you can change the language or logout<br><br></li>
        <li data-id="tourActivitiesList">Here will be displayed the latest activities <br><br></li>
        <li data-id="tourActivitiescalendar">This calendar will display your scheduled tasks<br><br></li>
        <li data-id="tourActivitiesnetwork">In the network section you can create contacts, clients and employees<br><br></li>

        <!--network:-->
        <li data-id="tourNetworksWelcome">Welcome to networks<br><br></li>
        <li data-id="tourNetworksList">Here will be displayed your contacts, employees and clients<br><br></li>
        <li data-id="tourNetworksAdd">Click here to add a new employee, contact or client<br><br></li>
        <li data-id="tourNetworksFilters">You can filter the network list by using the filter options<br><br></li>
        <li data-id="tourActivitiesjobs">In this section you can manage your jobs<br><br></li>


        <!--jobs:-->
        <li data-id="jobsTourWelcome">Welcome to jobs<br><br></li>
        <li data-id="jobsTourList">Here will be displayed the jobs<br><br></li>
        <li data-id="jobsTour">Jobs can be added from client details<br><br></li>
        <li data-id="filtersJobsTour">You can filter the jobs list by using the filter options<br><br></li>
        <li data-id="tourActivitiesplacements">In the placements section you can assign employees to existing jobs<br><br></li>

        <!--Placements:-->
        <li data-id="placementTitleTour">Welcome to placements<br><br></li>
        <li data-id="placementsListTour">Here will be displayed the placements<br><br></li>
        <li data-id="placementTitleTour">You can add placements from job detail<br><br></li>
        <li data-id="tourActivitiestasks">Here you can manage your tasks<br><br></li>

        <!--Tasks:-->

        <!--<li data-id="filtersJobsTour">You can filter the jobs list by using the filter options<br><br></li>-->
        <li data-id="tasksWelcomeTour">Welcome to tasks<br><br></li>
        <li data-id="tasksListTour">Here will be displayed the tasks<br><br></li>
        <li data-id="tasksAddTour">Click here to add a new task<br><br></li>
        <li data-id="tourActivitiesnotes">The notes section allows you to manage your notes<br><br></li>

        <!--Notes-->
        <li data-id="notesWelcomeTour">Welcome to notes<br><br></li>
        <li data-id="notesListTour">Here will be displayed the notes<br><br></li>
        <li data-id="filterNotesTour">Using the filters options, you can choose what to show in the list<br><br></li>
        <li data-id="notesAddTour">Click to add a note<br><br></li>
        <li data-id="tourActivitieshotlists">Here you can create hotlist with multipes contactables and send emails to them<br><br></li>
    </ol>
</template>