<template name="tour1">
    <ol id="tour1" style="display:none">
        <li data-id="tour1Welcome">Welcome to activities, to start the tutorial click "next"<br><br></li>
        <li data-id="tour1log">Here you can change the language or logout<br><br></li>
        <li data-id="tour1activities">Here will be displayed the latest activities <br><br></li>
        <li data-id="tour1calendar">This calendar will display your scheduled tasks<br><br></li>
        <li data-id="tour1network">In the network section you can create contacts, clients and employees<br><br></li>
        <li data-id="tour1jobs">In this section you can manage your jobs<br><br></li>
        <li data-id="tour1placements">In the placements section you can assign employees to existing jobs<br><br></li>
        <li data-id="tour1tasks">Here you can manage your tasks<br><br></li>
        <li data-id="tour1notes">The notes section allows you to manage your notes<br><br></li>
        <li data-id="tour1hotlists">Here you can create hotlist with multipes contactables and send emails to them<br><br></li>
    </ol>
</template>