<template name="detailTabs">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="details-tabs-container">
                <div class="row">
                    {{#each tabs}}
                        <div class="{{isActive id}} col-xs-4 col-sm-2 col-md-12 details-tab" style="padding-top: 3px;padding-bottom: 3px;">
                            <a href="/{{../route}}/{{../entityId}}/{{id}}">
                                {{displayName}}
                                {{#if isDefined info}}
                                    <span class="custom-badge-2">{{info}}</span>
                                {{/if}}
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container-fluid details-body">
                <div class="tab-content details-tab-content" style="margin-top:0">
                    <div class="tab-pane active">
                        {{> UI.dynamic template=currentTemplate  data=context }}
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

    <!--<span id="back-tab" class="back-tab {{showMoveButtons}}"><i class="fa fa-arrow-left"></i></span>-->
    <!--<span id="next-tab" class="next-tab {{showMoveButtons}}"><i class="fa fa-arrow-right"></i></span>-->


</template>

<template name="detailNav">
    <ul class="list-type-4">
        {{#each mobileTabs}}
            <li class="{{isActive id}}">
                <a href="/{{../route}}/{{../entityId}}/{{id}}">
                    {{#if mobileDisplayName}}{{mobileDisplayName}}{{else}}{{displayName}}{{/if}}
                    {{#if isDefined info}}<span class="no">{{info}}</span>{{/if}}
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        {{/each}}
    </ul>
</template>