/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

.xr2designer-container div,
.xr2designer-container span,
.xr2designer-container applet,
.xr2designer-container object,
.xr2designer-container iframe,
.xr2designer-container h1,
.xr2designer-container h2,
.xr2designer-container h3,
.xr2designer-container h4,
.xr2designer-container h5,
.xr2designer-container h6,
.xr2designer-container p,
.xr2designer-container blockquote,
.xr2designer-container pre,
.xr2designer-container a,
.xr2designer-container abbr,
.xr2designer-container acronym,
.xr2designer-container address,
.xr2designer-container big,
.xr2designer-container cite,
.xr2designer-container code,
.xr2designer-container del,
.xr2designer-container dfn,
.xr2designer-container em,
.xr2designer-container font,
.xr2designer-container img,
.xr2designer-container ins,
.xr2designer-container kbd,
.xr2designer-container q,
.xr2designer-container s,
.xr2designer-container samp,
.xr2designer-container small,
.xr2designer-container strike,
.xr2designer-container strong,
.xr2designer-container sub,
.xr2designer-container sup,
.xr2designer-container tt,
.xr2designer-container var,
.xr2designer-container b,
.xr2designer-container u,
.xr2designer-container i,
.xr2designer-container center,
.xr2designer-container dl,
.xr2designer-container dt,
.xr2designer-container dd,
.xr2designer-container ol,
.xr2designer-container ul,
.xr2designer-container li,
.xr2designer-container fieldset,
.xr2designer-container form,
.xr2designer-container label,
.xr2designer-container legend,
.xr2designer-container table,
.xr2designer-container caption,
.xr2designer-container tbody,
.xr2designer-container tfoot,
.xr2designer-container thead,
.xr2designer-container tr,
.xr2designer-container th,
.xr2designer-container td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.xr2designer-container ol,
.xr2designer-container ul {
    list-style: none;
}
.xr2designer-container blockquote,
.xr2designer-container q {
    quotes: none;
}
.xr2designer-container blockquote:before,
.xr2designer-container blockquote:after,
.xr2designer-container q:before,
.xr2designer-container q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
.xr2designer-container :focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
.xr2designer-container ins {
    text-decoration: none;
}
.xr2designer-container del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
.xr2designer-container table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */


/* Headings
-------------------------------------------------------------- */

.xr2designer-container h1,
.xr2designer-container h2,
.xr2designer-container h3,
.xr2designer-container h4,
.xr2designer-container h5,
.xr2designer-container h6 {
    font-weight: normal; color: #333;
}

.xr2designer-container h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
.xr2designer-container h2 { font-size: 2em; margin-bottom: 0.75em; }
.xr2designer-container h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
.xr2designer-container h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
.xr2designer-container h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
.xr2designer-container h6 { font-size: 1em; font-weight: bold; }

.xr2designer-container h1 img,
.xr2designer-container h2 img,
.xr2designer-container h3 img,
.xr2designer-container h4 img,
.xr2designer-container h5 img,
.xr2designer-container h6 img {
    margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

/*p           { margin: 0 0 1.5em; }*/
.xr2designer-container p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.xr2designer-container p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

.xr2designer-container a:focus,
.xr2designer-container a:hover {
    color: #000;
}
.xr2designer-container a { color: #009; text-decoration: underline; }

.xr2designer-container blockquote { margin: 1.5em; color: #666; font-style: italic; }
.xr2designer-container strong { font-weight: bold; }
.xr2designer-container em,
.xr2designer-container dfn {
    font-style: italic;
}
.xr2designer-container dfn { font-weight: bold; }
.xr2designer-container sup,
.xr2designer-container sub {
    line-height: 0;
}

.xr2designer-container abbr,
.xr2designer-container acronym {
    border-bottom: 1px dotted #666;
}
.xr2designer-container address { margin: 0 0 1.5em; font-style: italic; }
.xr2designer-container del { color:#666; }

.xr2designer-container pre { margin: 1.5em 0; white-space: pre; }
.xr2designer-container pre,
.xr2designer-container code,
.xr2designer-container tt {
    font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5;
}


/* Lists
-------------------------------------------------------------- */

.xr2designer-container li ul,
.xr2designer-container li ol {
    margin: 0;
}
.xr2designer-container ul,
.xr2designer-container ol {
    margin: 0 1.5em 1.5em 0; padding-left: 3.333em;
}

.xr2designer-container dl { margin: 0 0 1.5em 0; }
.xr2designer-container dl dt { font-weight: bold; }
.xr2designer-container dd { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

.xr2designer-container table       { margin-bottom: 1.4em; width:100%; }
.xr2designer-container th          { font-weight: bold; }
.xr2designer-container thead th    { background: #c3d9ff; }
.xr2designer-container th,
.xr2designer-container td,
.xr2designer-container caption {
    padding: 4px 10px 4px 5px;
}
.xr2designer-container tr.even  { background: #e5ecf9; }
.xr2designer-container tfoot       { font-style: italic; }
.xr2designer-container caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.xr2designer-container .small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }

.xr2designer-container .hide { display: none; }

.xr2designer-container .quiet { color: #666; }
.xr2designer-container .loud { color: #000; }
.xr2designer-container .highlight { background:#ff0; }
.xr2designer-container .added { background:#060; color: #fff; }
.xr2designer-container .removed { background:#900; color: #fff; }

.xr2designer-container .first { margin-left:0 !important; padding-left:0 !important; }
.xr2designer-container .last { margin-right:0 !important; padding-right:0 !important; }
.xr2designer-container .top { margin-top:0 !important; padding-top:0 !important; }
.xr2designer-container .bottom { margin-bottom:0; padding-bottom:0; }



/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.xr2designer-container .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */

.xr2designer-container .clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
