<template name="notesBox">
    <div class="row">
        <div class="col-md-3">
            <div class="page-title">
                <h1><span>{{noteCount}}</span> notes</h1>
            </div>
            <div class="filter">
                <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
                    <strong><i class="fa fa-filter"></i></strong>
                </a>

                <div class="filter-list" id="filter-body">

                    <div class="filter-item">
                        <div class="filter-title">
                            <i class="fa fa-user"></i>
                            User
                        </div>

                        {{#objectProperty property=filters.userId}}
                            <select id="userDropdown" class="form-control">
                                <option value="">--select--</option>
                                {{#each users}}
                                    <option value="{{_id}}">{{displayUserName _id}}</option>
                                {{/each}}
                            </select>
                        {{/objectProperty}}
                        {{> filter_dateCreated selectedLimit=filters.selectedLimit}}
                        <div class="filter-item">
                            <div class="filter-title">
                                <i class="fa fa-eye"></i>
                                Visibility
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{#objectProperty property=filters.ownedByMe}}
                                        <input type="checkbox" checked="{{value}}" />Mine only
                                    {{/objectProperty}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="list-container">
                <div class="list-holder">
                    <div class="list-actions">
                        <div class="list-actions-cell btn-add-to-list">
                            <button type="button" class="btn btn-success addNote" title="Add">
                                <span class="fa fa-plus"></span> Add
                            </button>
                        </div>

                        <div class="list-actions-cell search-list">
                            <div class="input-group">
                                {{#objectProperty property=filters.searchString editable=true}}
                                    <input id="searchString" type="text" class="form-control" placeholder="Search notes"
                                           value="{{value}}">
                                {{/objectProperty}}

                                <span class="input-group-btn">
                                    <button class="btn btn-search" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div><!-- /.search-list -->

                        <div class="list-actions-cell order-list">
                            {{> noteListSort}}
                        </div>

                        {{>fastPagination name="notes" useKeys="true" postRenderCallback="$('.pagination-container').addClass('magic-pager');"}}
                    </div>

                    <div class="list-header notes-list-header">
                        <div class="list-header-cell notes-list-header-title">Title</div>
                        <div class="list-header-cell notes-list-header-linked">Linked</div>
                        <div class="list-header-cell notes-list-header-edit">Last Edit</div>
                    </div>

                    <!-- Entities list -->
                    <div class="list-item-section">
                        {{#if isLoading}}
                            <div style="height: 678px;">
                            </div>
                        {{else}}
                            {{#each notes}}
                                {{>noteItem}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="noteListSort">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Sort
            {{#with selectedSort}}
                <strong>{{displayName}}</strong>
                {{#if isAscSort .}}
                    <i class="fa fa-sort-amount-asc"> </i>
                {{else}}
                    <i class="fa fa-sort-amount-desc"> </i>
                {{/if}}
            {{/with}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#each sortFields}}
                <li>
                    <a class="sort-field" href="#">
                        {{displayName}}
                        {{#if isFieldSelected .}}
                            {{#if isAscSort .}}
                                <i class="fa fa-sort-amount-asc"> </i>
                            {{else}}
                                <i class="fa fa-sort-amount-desc"> </i>
                            {{/if}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</template>