<template name="noteItem">
    <div class="list-item notes-list-item {{noteClass}}">
        <div class="list-item-cell list-item-icon">
            <a href="#" class="item-icon item-icon-notes editNote"><i class="icon icon-pencil-3"></i></a>
        </div>
        <div class="list-item-cell notes-list-item-title">
            <div class="item-title">{{>showMore text=msg limit=100}}
                {{#if sendAsSMS}}
                    <div class="text-muted">
                        {{#if isReply}}
                            <i class="icon-inbox-4"></i>
                        {{else}}
                            <i class="icon-plane-paper-1"></i>
                        {{/if}}
                        <strong> SMS </strong>

                        <span class="bullet-spacer">·</span>
                        <span> From {{getPhoneNumberDisplayName userNumber}}</span>
                        <span> To {{getPhoneNumberDisplayName  contactableNumber}}</span>
                    </div>
                {{/if}}
                {{#if isEmail}}
                    <div class="text-muted">
                        <i class="icon-envelope"></i>
                    </div>
                {{/if}}
            </div>
            <div class="item-subtitle text-gray">
                <a href="#">
                    {{#if fromEmployee}}
                        {{displayEmployeeName}}
                    {{else}}
                        {{displayUserName userId}}
                    {{/if}}
                </a>&nbsp;&nbsp;
                {{formattedDate dateCreated "fromNow"}}
            </div>
        </div>
        <div class="list-item-details notes-list-item-details" >
            <div class="list-item-cell notes-list-item-linked" style="margin-left:-20px">
                {{#if hasLinks}}
                    <div id="link-{{_id}}">
                        {{#each links}}
                            <a href="{{getHref}}">
                                <!--{{#with getEntity}}-->
                                    <span class="badge item-label">{{>showMore text=displayName limit=25}}</span>
                                <!--{{/with}}-->

                            </a>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
            {{#if showRemindDate}}
                <div class="list-item-cell notes-list-item-edit {{#if isOverDue}}text-danger{{/if}} full-width-xs" style="padding-top:0px;margin-bottom:10px">
                    <ul style="padding-left: 0px">
                    <li>
                    {{#if remindDate}}
                        {{getNoteState}}&nbsp;-&nbsp;
                        <i class="fa fa-clock-o"></i>&nbsp;
                        {{formattedDate remindDate "fromNow"}}
                    {{/if}}
                    </li>
                    <li>

                    <button type="submit" class="btn btn-info pushOneDay btn-sm" style="margin-right:2px" title="Push one day">
                        {{_ "1d"}}
                    </button>
                    <button type="submit" class="btn btn-info pushOneWeek btn-sm" style="margin-right:2px" title="Push one week">
                        {{_ "1w"}}
                    </button>
                    <button type="submit" class="btn btn-info pushOneMonth btn-sm" style="margin-right:2px" title="Push one month">
                        {{_ "1m"}}
                    </button>
                    <button type="submit" class="btn btn-success set-completed btn-sm" style="margin-right:2px" title="Mark as completed">
                        {{_ "C"}}
                    </button>

                        </li>
                    </ul>
                </div>


            {{else}}
                <div class="list-item-cell notes-list-item-edit">
                    <i class="fa fa-clock-o"></i>&nbsp;
                    {{formattedDate dateCreated "lll"}}
                </div>
            {{/if}}
        </div>
    </div>

</template>