<template name="notesBox">
    {{>tourActivities}}
    <div class="row">
        <div class="col-md-3">
            <div class="page-title" id="notesWelcomeTour">
                <h1><span>{{noteCount}}</span> {{_ "notes"}}</h1>
            </div>
            <div class="filter">
                <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
                    <strong><i class="fa fa-filter"></i></strong>
                </a>

                <div class="filter-list" id="filter-body">

                    <div class="filter-item">

                        <div class="filter-title">
                            <i class="fa fa-user" id="filterNotesTour"></i>
                            {{_ "User"}}
                        </div>

                        {{#objectProperty property=filters.userId}}
                            <select id="userDropdown" class="form-control">
                                <option value="" selected="{{isUserSelected}}">--{{_ "select"}}--</option>
                                {{#each users}}
                                    <option value="{{_id}}"
                                            selected="{{isUserSelected}}">{{displayUserName _id}}</option>
                                {{/each}}
                            </select>
                        {{/objectProperty}}
                        {{> filter_dateCreated selectedLimit=filters.selectedLimit}}
                        {{> filter_createdBy showMineOnly=filters.ownedByMe}}

                        <div class="filter-item">
                            <div class="filter-title">
                                <i class="fa fa-calendar"></i>
                                {{_ "Remind Date"}}
                            </div>

                            <button class="btn btn-sm {{#if filteringRemindDate}}btn-primary{{else}}btn-default{{/if}}"
                                    id="filterRemindDate">With remind date
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class=" {{#if notePreview}} col-md-6  {{else}} col-md-9 {{/if}}">

            <div class="list-container">
                <div class="list-holder">
                    <div class="list-actions">
                        <div class="list-actions-cell btn-add-to-list">
                            <button type="button" class="btn btn-success addNote" title="Add" id="notesAddTour">
                                <span class="fa fa-plus"></span> {{_ "Add"}}
                            </button>
                        </div>

                        <div class="list-actions-cell search-list">
                            <div class="input-group">
                                {{#objectProperty property=filters.searchString editable=true}}
                                    <input id="searchString" type="text" class="form-control"
                                           placeholder= {{_ "Search notes"}}
                                                   value="{{value}}">
                                {{/objectProperty}}

                                <span class="input-group-btn">
                                    <button class="btn btn-search" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.search-list -->

                        <div class="list-actions-cell order-list">
                            {{> noteListSort}}
                        </div>

                        {{>fastPagination name="notesView" containerClass="magic-pager"}}
                    </div>

                    <div class="list-header notes-list-header" id="notesListTour">
                        <div class="list-header-cell notes-list-header-title">{{_ "Title"}}</div>
                        <div class="list-header-cell notes-list-header-linked">{{_ "Linked"}}</div>
                        {{#if showRemindDate}}
                            <!--<div class="list-header-cell notes-list-header-edit">{{_ "Status"}}</div>-->
                            <div class="list-header-cell notes-list-header-edit">{{_ "Remind Date"}}</div>
                        {{else}}
                            <div class="list-header-cell notes-list-header-edit">{{_ "Last Edit"}}</div>
                        {{/if}}
                    </div>

                    <!-- Entities list -->
                    <div class="list-item-section">
                        {{#if isLoading}}
                            <div style="height: 678px;"></div>
                        {{else}}
                            {{#each notes}}
                                {{>noteItem}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{#if notePreview}}
            {{#with notePreview}}
                <div class="col-md-3" style="padding:0">
                    {{>notePreviewTemp}}
                </div>
            {{/with}}
        {{/if}}
    </div>
</template>

<template name="noteListSort">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{_ "Sort"}}
            {{#with selectedSort}}
                <strong>{{displayName}}</strong>
                {{#if isAscSort .}}
                    <i class="fa fa-sort-amount-asc"> </i>
                {{else}}
                    <i class="fa fa-sort-amount-desc"> </i>
                {{/if}}
            {{/with}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#each sortFields}}
                <li>
                    <a class="sort-field" href="#">
                        {{_ displayName}}
                        {{#if isFieldSelected .}}
                            {{#if isAscSort .}}
                                <i class="fa fa-sort-amount-asc"> </i>
                            {{else}}
                                <i class="fa fa-sort-amount-desc"> </i>
                            {{/if}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="notePreviewTemp">
    <div class="list-holder hidden-sm hidden-xs" style="position: fixed; right: 14px; width: 21%;">
        <div class="row-container">
            <div class="row breadcrumb" style="padding-top:10px; padding-left:20px;">
                <div class="item-icon item-icon-notes item-icon-lg col-md-6">
                    <div id="edit-pic" title="Click to Edit" style="cursor: pointer">
                        <i class="icon icon-pencil-3"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="title">{{_ msg}}</h4>
                </div>
                <div class="" style="float:right">
                    <i class="glyphicon glyphicon-remove-sign" id="close-preview" style="color: gray;cursor: pointer"></i>
                </div>
            </div>
        </div>

        <div style="padding-left:20px">
            <div class="row">
                <div style="width:30%;float:left">
                    <h5 style="margin:0">Date created:</h5>
                </div>
                <div style="width:70%;font-size: 13px;float:right">
                    {{formattedDate dateCreated "lll"}}
                </div>
            </div>
            {{#if remindDate}}
                <div class="row">
                    <div style="width:30%;float:left">
                        <h5 style="margin:0">Remind date:</h5>
                    </div>
                    <div style="width:70%;font-size: 13px;float:right">
                        {{formattedDate remindDate "fromNow"}}
                    </div>
                </div>
            {{/if}}
            <br>
            {{#if links.length}}
                <h5>Linked to:</h5>
                <div style="padding-left:20px">
                    {{#each links}}
                        <div style="margin-bottom:30px;">
                            <div>
                               <div class="item-icon {{iconColor}} col-md-6"
                                    style="width:30px; height:30px;padding-left:5px">
                                   <div id="edit-pic" title="Click to Edit" style="cursor: pointer">
                                       <i class="{{iconClass}}"></i>
                                   </div>
                               </div>
                               <div style="padding-top:1px;padding-left:40px">
                                   <h5>{{displayName}}</h5>
                               </div>
                            </div>
                            <div style="margin-top:10px;">
                                <ul class="list-type-3">
                                    {{#with decodedContactMethods}}
                                        {{#if phone.value}}
                                            <li style="border-bottom: none;">
                                                <a href="{{contactMethodTypePrefix phone.type}}{{phone.value}}">
                                                    <span class="round-icon-container">
                                                        <i class="fa fa-phone"></i>
                                                    </span>
                                                    {{phone.value}}
                                                </a>
                                            </li>
                                        {{/if}}
                                        {{#if email.value}}
                                            <li style="border-bottom: none;">
                                                <a href="mailto:{{email.value}}">
                                                    <span class="round-icon-container">
                                                        <i class="fa fa-envelope-o"></i>
                                                    </span>
                                                    {{email.value}}
                                                </a>
                                            </li>
                                        {{/if}}
                                    {{/with}}
                                </ul>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</template>