<template name="login">
    <div class="logo">a&iuml;da</div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <section class="box-type-4 get-started">
                    <div class="center-v has-min-height">
                        <h2 class="headline">Welcome back, friend.</h2>

                        {{#if getNotVerified}}
                            <a class="pointer" id="resendVerification"> Resend email verification </a>
                        {{/if}}

                        {{#autoForm id="loginForm" class="form-1" schema="LoginSchema" doc=intialValues}}
                            <ol>
                                <li class="{{#if afFieldIsInvalid name='email'}}error{{else}}{{#if errorMessage}}error{{/if}}{{/if}}">
                                    {{> afFieldInput name='email' class="form-control form-control-1 smartField" placeholder="Email address" data-label="email-label" value=lastEmailUsed}}
                                    {{#if afFieldIsInvalid name='email'}}
                                        <label class="form-label" id="email-label">{{afFieldMessage name='email'}}</label>
                                    {{else}}
                                        {{#if errorMessage}}
                                            <label class="form-label" id="email-label">{{errorMessage}}</label>
                                        {{else}}
                                            <label class="form-label" id="email-label">Email</label>
                                        {{/if}}
                                    {{/if}}
                                    <label class="icon-holder"><i class="fa fa-envelope"></i></label>
                                </li>

                                <li class="{{#if afFieldIsInvalid name='password'}}error{{/if}}">
                                    {{> afFieldInput name='password' type="password" class="form-control form-control-1 smartField" placeholder="Password" data-label="password-label"}}
                                    {{#if afFieldIsInvalid name='password'}}
                                        <label class="form-label" id="password-label">{{afFieldMessage name='password'}}</label>
                                    {{else}}
                                        <label class="form-label" id="password-label">Password</label>
                                    {{/if}}
                                    <label class="icon-holder"><i class="fa fa-lock"></i></label>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="remindMe"> Remind me
                                        </label>
                                    </div>
                                </li>
                            </ol>
                            <button class="btn-custom-4 btn-block {{addDisabled}}" type="submit" >Log In</button>
                            <p class="or">or</p>
                            <a class="btn-custom-4 default btn-block pointer" id="googleLogin">Log In with Google+</a>
                            <div class="more">
                                <p>Don't have an account? <a href="/register">Sign up here</a></p>
                            </div>
                            <div class="more">
                                <p>Forgot your password? <a class="pointer" id="recoverPassword">Click here</a></p>
                            </div>
                        {{/autoForm}}

                        <div class="decoration"></div>
                    </div>
                </section><!-- -->
            </div><!-- /col-md-offset-6 -->
        </div><!-- /.row -->
    </div>
</template>