<template name="login">
    <div name="loginVM" class="ex-front">
        <!--******* login ******-->
        <!--ko if:login-->
            <div class="container">
                <div id="login-wrapper">
                    <div class="header"><img alt="Exartu" src="img/logo.png"></div>
                    <div class="banner">
                        <h1>Cloud CRM &amp; Staffing Software.</h1>
                        <h2>Sign in to continue to Exartu</h2>
                    </div>
                    <div class="login-card">
                        <div class="login-avatar">
                            <div class="login-avatar-icon"><i class="icon-profile-bussiness-man"></i></div>
                        </div>

                        <span class="label label-danger center-block" style="margin-bottom: 10px;" data-bind="text: errorMessage"></span>
                        <!--ko if: notVerified -->
                            <a href="#" data-bind="click: resendVerification"> Resend email verification </a>
                        <!--/ko-->

                        <form role="form">
                            <div class="form-group">
                                <label class="sr-only" for="usernameInput">Email address</label>
                                <input type="email" class="form-control input-lg" id="usernameInput" placeholder="Email" data-bind="value: email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="passwordInput">Password</label>
                                <input type="password" name="password" class="form-control input-lg" id="passwordInput" placeholder="Password" data-bind="value: password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-primary"  data-bind="click: function(){ $root.loginWithPassword(); }"><strong>Sign in</strong></button>
                            </div>
                            <!--<a class="pull-right text-normal help-link" href="#">Lost Password?</a>-->
                            <!--<div class="checkbox">-->
                                <!--<label class="text-normal">-->
                                    <!--<input type="checkbox" value="">-->
                                    <!--Stay signed in-->
                                <!--</label>-->
                            <!--</div>-->
                        </form>
                            <div class="login-footer">
                                <div class="pull-left text">
                                    Login with
                                </div>
                                <div class="pull-right btn-social">
                                    <!--                    <a class="btn btn-facebook" href="#"><i class="fa fa-facebook"></i></a>-->
                                    <!--                    <a class="btn btn-twitter" href="#"><i class="fa fa-twitter"></i></a>-->
                                    <a class="btn btn-google-plus" data-bind="click: function() { $root.loginWith('Google'); }">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                    </div><!-- /.login-card -->


                    <p class="create-account"><a href="#" data-bind="click: register">Create an account</a></p>

                </div>

            </div>
            <!-- /.container -->
        <!--/ko-->
        <!-- /login -->

        <!--******* register ******-->

        <!--ko ifnot:login-->
            <div class="register-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="pull-right"><a class="btn btn-primary top-10" href="#" data-bind="click: signin">Sign In</a></div>
                            <a href="#"><img alt="Exartu" src="img/logo.png"></a>
                        </div>
                    </div>
                </div><!-- /.container -->
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form role="form">
                            <h1>Sign Up</h1>
                            <!--<div class="form-group">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-6"><input class="form-control input-lg" type="text" placeholder="First Name"></div>-->
                                    <!--<div class="col-md-6"><input class="form-control input-lg" type="text" placeholder="Last Name"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div data-bind="css:{'has-error': newAccount().username.isModified() && ! newAccount().username.isValid()}">
                                <div class="form-group">
                                    <input class="form-control input-lg" type="text" placeholder="Choose your Exartu Username" data-bind="value: newAccount().username" />
                                </div>
                                <span class="text-danger" data-bind="validationMessage: newAccount().username"></span>
                            </div>
                            <div data-bind="css:{'has-error': newAccount().password.isModified() && ! newAccount().password.isValid()}">
                                <div class="form-group">
                                    <input class="form-control input-lg" type="password" placeholder="Choose Password" data-bind="value: newAccount().password" />
                                </div>
                                <span class="text-danger" data-bind="validationMessage: newAccount().password"></span>
                            </div>
                            <div data-bind="css:{'has-error': newAccount().passwordVerification.isModified() && ! newAccount().passwordVerification.isValid()}">
                                <div class="form-group">
                                    <input class="form-control input-lg" type="password" placeholder="Confirm password" data-bind="value: newAccount().passwordVerification" />
                                </div>
                                <span class="text-danger" data-bind="validationMessage: newAccount().passwordVerification"></span>
                            </div>
                            <div data-bind="css:{'has-error': newAccount().email.isModified() && ! newAccount().email.isValid()}">
                                <div class="form-group">
                                    <input class="form-control input-lg" type="text" placeholder="Email" data-bind="value: newAccount().email">
                                </div>
                                <span class="text-danger" data-bind="validationMessage: newAccount().email"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary top-10 btn-lg" data-bind="css: {disabled:isValidating}, click: function() { createNewAccount() }">Create Account</button>
                            </div>
                        </form>
                        <br><br><br><br>
                        <hr>

                        <div class="row">
                            <div class="col-md-8 text-center">
                                <br><br>
                                <h4>Take Exartu with you.</h4>
                                <p>Switch between devices, and pick up wherever you left off.</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <img alt="Exartu CRM mobile" src="img/exartu-mobile.jpg">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <!--/ko-->
    </div>
</template>