<template name="taskItem">
    <div class="list-item tasks-list-item">
        <div class="list-item-cell list-item-icon">
            <a class="item-icon item-icon-tasks editTask" href="#"><i class="ico-tasks"></i></a>
        </div>
        <div class="list-item-cell tasks-list-item-title">
            <div class="item-title">
                <a href="#" class="editTask ">{{>showMore text=msg limit=60}}</a>
            </div>
            <div class="item-subtitle">
                <a href="#">{{displayUserName userId}}</a> <i class="fa fa-long-arrow-right"></i> <a href="#">{{displayUserName assign}}</a>
            </div>
            <div class="item-subtitle-more">
                by {{displayUserName userId}} &nbsp;&nbsp;
                {{#formattedDate value=dateCreated format='fromNow'}}
                    {{date}}
                {{/formattedDate}}
            </div>
        </div>
        <div class="list-item-details tasks-list-item-details">
            <div class="list-item-cell tasks-list-item-linked">
                {{#if hasLinks}}
                    {{#each links}}
                        <a href="{{getHref}}">
                            {{#with getEntity}}
                                <span class="item-label">{{displayName}}</span>
                            {{/with}}
                        </a>
                    {{/each}}
                {{/if}}
            </div>
            <div class="list-item-cell tasks-list-item-startdate">
                {{#formattedDate value=begin format='lll'}}
                    {{date}}
                {{/formattedDate}}
            </div>
            <div class="list-item-cell tasks-list-item-status">{{>taskLabel}}</div>
            <div class="list-item-cell item-overflow tasks-item-overflow">
                <a href="#">
                    <span class="ico-more">
                      <span class="dot-1"></span>
                      <span class="dot-2"></span>
                      <span class="dot-3"></span>
                    </span>
                </a>
            </div>
        </div>
    </div><!-- /.tasks-list-item -->
</template>

<template name="taskLabel">
    {{#if inactive}}
        <span class="item-label-2 label-archived">Archived</span>
    {{else}}
        <span class="item-label-2 label-{{getStatus}}">{{state}}</span>&nbsp;

        {{#if statusIs 'pending'}}
            {{#formattedDate value=end format='lll'}}
                {{date}}
            {{/formattedDate}}
        {{/if}}
        {{#if statusIs 'completed'}}
            {{#formattedDate value=completed format='lll'}}
                {{date}}
            {{/formattedDate}}
        {{/if}}
        {{#if statusIs 'overDue'}}
            {{#formattedDate value=end format='lll'}}
                {{date}}
            {{/formattedDate}}
        {{/if}}
    {{/if}}

</template>

<template name="showTaskDate">
    {{#if end}}
        {{#if statusIs 'pending'}}
            <span class="item-label-2 label-pending">Pending</span>
        {{/if}}
        {{#if statusIs 'completed'}}
            <span class="item-label-2 label-completed">Completed</span>
        {{/if}}
        {{#if statusIs 'overDue'}}
            <span class="item-label-2 label-overdue">Over Due</span>
        {{/if}}
    {{/if}}
</template>