<template name="taskItem">
    <div class="table-item task {{taskClass}}">
        <a class="btn btn-xs btn-success text-small editTask pointer" title="Edit" style="position: absolute; top: 4px; right: 4px; z-index: 10">
            <i class="fa fa-pencil"></i>
        </a>
        <div class="row">
            <div class="col-sm-5">
                <div class="table-item-cell">
                    <div class="table-item-cell-container">
                        <div class="table-item-title note">
                            <span style="max-height:100px">
                                <p class="text text-info"> {{{multilineText msg}}}</p>
                            </span>
                        </div>
                        <div class="task-author">
                            <a class="pointer">
                                <span>{{displayUserName userId}}</span>
                            </a>
                            <i class="fa fa-long-arrow-right"></i>
                            <span>{{displayUserName assign}}</span>
                        </div>
                        <div >
                            <div data-bind="foreach: links">
                                {{#each links}}
                                <a href="{{getHref}}">
                                    {{#with getEntity}}
                                    <span class="badge">{{displayName}}</span>
                                    {{/with}}
                                </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <!-- /.table-item-cell-container -->
                </div>
                <!-- /.table-item-cell -->
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-4">
                <div class="table-item-cell"  style="margin-top: 13px">
                    {{#if inactive}}
                        <span class="text-muted">Archived</span>
                        <br>
                    {{/if}}
                    {{>taskState}}

                </div>
            </div>

            <!-- /.col-sm-4 -->
            <div class="col-sm-3">
                <div class="table-item-cell" style="margin-top: 13px">
                    <div class="table-item-cell-container">
                        {{>showTaskDate}}
                        <!-- /.table-item-cell-container -->
                    </div>
                    <!-- /.table-item-cell -->
                </div>
                <!-- /.col-sm-3 -->
            </div>


            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
</template>

<template name="taskState">
    <div class="table-item-cell-container text-small task-state">
        <span>
            <i class="{{getStateIcon}}"></i>&nbsp;
            <span>{{state}}</span>
        </span>
    </div>
</template>
<template name="showTaskDate">
    {{#if end}}
        <div class="date row">
            {{#if statusIs 'pending'}}
                <span class="col-xs-6">Due Date:</span>
                <span class="col-xs-6">
                    {{#formattedDate value=end format='fromNow'}}
                        {{date}}
                    {{/formattedDate}}
                </span>
            {{/if}}
            {{#if statusIs 'completed'}}
                <span class="col-xs-6">Completed:</span>
                <span class="col-xs-6">
                    {{#formattedDate value=completed format='fromNow'}}
                        {{date}}
                    {{/formattedDate}}
                </span>
            {{/if}}
            {{#if statusIs 'overDue'}}
                <span class="col-xs-6">Ended:</span>
                <span>
                    {{#formattedDate value=end format='fromNow'}}
                        {{date}}
                    {{/formattedDate}}
                </span>
            {{/if}}

            <br/>

            <span class="col-xs-6">Starts:</span>
            <span class="col-xs-6">
                {{#formattedDate value=begin format='lll'}}
                    {{date}}
                {{/formattedDate}}
            </span>

            <br/>

            <span class="col-xs-6">Created:</span>
            <span class="col-xs-6">
                {{#formattedDate value=dateCreated format='lll'}}
                    {{date}}
                {{/formattedDate}}
            </span>
        </div>
    {{/if}}
</template>