
<!-- Activity creation information -->
<template name="suffixListDisplay">
    <div class="pull-right">
        <span class="task-author">
            {{displayUserName userId}}
            {{formattedDate data.dateCreated "fromNow"}}
            {{data.dateCreated}}
        </span>
    </div>
</template>
<template name="prefixDetailDisplay">
    <div class="time">
        <span class="task-author text-center">
            {{displayUserName userId}}
            <br/>
            {{formattedDate data.dateCreated "fromNow"}}
        </span>
    </div>
</template>


<!-- Contactable Add -->
<template name="contactableAddActivity">
    {{#if listViewMode}}
        <!-- Contactable information -->
        <i class="icon {{getActivityIcon}}"></i>
        <a href="/contactable/{{entityId}}">
            <strong>{{data.displayName}}</strong>
        </a>

        <!-- Contact's client information -->
        {{#if getClientName}}
            <a href="/contactable/{{getClientId}}">
                <strong>@ {{getClientName}}</strong>
            </a>
        {{/if}}

        {{>suffixListDisplay}}
    {{else}}
        <div class="item item-client">
            <!-- Activity information -->
            <div class="item-info">
                {{>prefixDetailDisplay}}
                <div class="type">
                    <i class="icon {{getActivityIcon}}"></i>
                </div>
            </div>

            <!-- Contactable information -->
            <div class="item-content">
                <div class="box">
                    <div class="box-content">
                        <h4 class="item-title">
                            <a href="/contactable/{{entityId}}">
                                <strong>{{data.displayName}}</strong>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>


<!-- Job Add -->
<template name="jobAddActivity">
    {{#if listViewMode}}
        <!-- Job information -->
        <i class="icon icon-briefcase"></i>
        <a href="/job/{{entityId}}">
            <strong>{{data.publicJobTitle}}</strong>
        </a>

        <!-- Job's client information -->
        {{#if data.clientDisplayName}}
            <i class="fa fa-long-arrow-right"></i>
            <a href="/contactable/{{data.clientId}}">{{data.clientDisplayName}}</a>
        {{/if}}

        {{>suffixListDisplay}}
    {{else}}
        <div class="item item-job">
            <!-- Activity information -->
            <div class="item-info">
                {{>prefixDetailDisplay}}
                <div class="type">
                    <i class="icon icon-briefcase"></i>
                </div>
            </div>

            <!-- Job information-->
            <div class="item-content">
                <div class="box">
                    <div class="box-content">
                        <h4 class="item-title">
                            <a href="/job/{{entityId}}">
                                <strong>{{data.publicJobTitle}}</strong>
                            </a>
                            {{#if data.clientDisplayName}}
                                <i class="fa fa-long-arrow-right"></i>
                                <a href="/contactable/{{data.clientId}}">{{data.clientDisplayName}}</a>
                            {{/if}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>


<!-- Task Add -->
<template name="taskAddActivity">
    {{#if listViewMode}}
        <!-- Task information -->
        {{#with task}}
            <i class="icon icon-clock-3"></i>
            <span class="task-author">{{displayUserName userAssigned}}</span>
            <strong>{{>showMore text=msg limit=60}}</strong>
        {{/with}}

        {{>suffixListDisplay}}
    {{else}}
        <div class="item item-task">
            <!-- Activity information -->
            <div class="item-info">
                {{>prefixDetailDisplay}}
                <div class="type">
                    <i class="icon icon-clock-3"></i>
                </div>
            </div>

            <!-- Task information-->
            <div class="item-content">
                <div class="box">
                    <div class="box-content">
                        <h4 class="item-title">
                            <strong>{{task.msg}}</strong>
                        </h4>

                        <div class="item-actions">
                            {{#with task}}
                                {{#each links}}
                                    <a href="{{getHref}}">
                                        {{#with getEntity}}
                                            <span class="badge">{{displayName}}</span>
                                        {{/with}}
                                    </a>
                                {{/each}}

                                <a class="btn btn-default tip-bottom" title="Task Owner">assigned
                                    <span> {{displayUserName userAssigned}} </span>
                                </a>
                                <a class="btn btn-default tip-bottom" title="Task Start Date">
                                    <i class="fa fa-calendar"></i>
                                    Start: {{formattedDate begin "lll"}}
                                </a>
                                {{#if end}}
                                    <a class="btn btn-default tip-bottom" title="Task Start Date">
                                        <i class="fa fa-calendar"></i>
                                        End: {{formattedDate end "lll"}}
                                    </a>
                                {{/if}}
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>


<!-- Placement Add -->
<template name="placementAddActivity">
    {{#if listViewMode}}
        <!-- Placement information -->
        <i class="icon icon-check-list"></i>
        <a href="/placement/{{entityId}}">
            <strong>{{employee.displayName}}</strong> -
            <strong>{{job.displayName}}</strong>
            {{#with client job.client}}
                @ <strong>{{displayName}} </strong>
            {{/with}}
        </a>

        {{>suffixListDisplay}}
    {{else}}
        <div class="item item-task">
            <!-- Activity information -->
            <div class="item-info">
                {{>prefixDetailDisplay}}
                <div class="type">
                    <i class="icon icon-check-list"></i>
                </div>
            </div>

            <!-- Placement information -->
            <div class="item-content">
                <div class="box">
                    <div class="box-content">
                        <h4 class="item-title">
                            <a href="/placement/{{entityId}}">
                                <strong> {{employee.displayName}} </strong>
                                - <strong> {{job.displayName}} </strong>
                                {{#with client job.client}}
                                    @ <strong> {{displayName}} </strong>
                                {{/with}}
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>


<!-- Note Add -->
<template name="noteAddActivity">
    {{#if listViewMode}}
        <!-- Note information -->
        {{#if note}}
            <i class="icon icon-note-paper-1"></i>
            {{#with note}}
                <strong>{{>showMore text=msg limit=60}}</strong>
                {{#each this.links}}
                    <a href="{{getHref}}">
                        {{#with getEntity}}
                            <span class="badge">{{displayName}}</span>
                        {{/with}}
                    </a>
                {{/each}}
            {{/with}}

            {{>suffixListDisplay}}
        {{else}}
            <!-- Deleted note case -->
            <i class="icon icon icon-bin-2"></i>
            <strong>The note for this activity was deleted</strong>
        {{/if}}
    {{else}}
        <div class="item item-task">
            {{#if note}}
                <!-- Activity information -->
                <div class="item-info">
                    {{>prefixDetailDisplay}}
                    <div class="type">
                        <i class="icon icon-note-paper-1"></i>
                    </div>
                </div>

                <!-- Note information -->
                <div class="item-content">
                    <div class="box">
                        <div class="box-content">
                            <h4 class="item-title">
                                {{#with note}}
                                    <strong>{{>showMore text=msg limit=100}}</strong>
                                    <br/>
                                    {{#each links}}
                                        <a href="{{getHref}}">
                                            {{#with getEntity}}
                                                <span class="badge">{{displayName}}</span>
                                            {{/with}}
                                        </a>
                                    {{/each}}
                                {{/with}}
                            </h4>
                        </div>
                    </div>
                </div>
            {{else}}
                <!-- Deleted note case -->
                <div class="item-info">
                    <div class="type">
                        <i class="icon icon-bin-2"></i>
                    </div>
                </div>
                <div class="item-content">
                    <div class="box">
                        <div class="box-content">
                            <h4 class="item-title">
                                <strong>The note for this activity was deleted</strong>
                            </h4>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    {{/if}}
</template>


<!-- File Add -->
<template name="fileAddActivity">
    {{#if listViewMode}}
        <i class="icon icon-file-upload"></i>
        File uploaded <span class="task-author">{{file.name}}</span>

        {{#with contactable}}
            <a href="/contactable/{{_id}}">
                <span class="badge">{{displayName}}</span>
            </a>
        {{/with}}
        {{>suffixListDisplay}}
    {{else}}
        <div class="item item-task">
            <!-- Activity information -->
            <div class="item-info">
                {{>prefixDetailDisplay}}
                <div class="type">
                    <i class="icon icon-file-upload"></i>
                </div>
            </div>

            <!-- File information -->
            <div class="item-content">
                <div class="box">
                    <div class="box-content">
                        <h4 class="item-title">
                            File uploaded <span class="task-author">{{file.name}}</span>
                        </h4>
                        {{#with contactable}}
                            <a href="/contactable/{{_id}}">
                                <span class="badge">{{displayName}}</span>
                            </a>
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>


<!--<template name="contactableUpdateActivity">-->
    <!--{{#if listViewMode}}-->
        <!--<tr>-->
            <!--<td>-->
                <!--<i class="icon icon-clock-3"></i>-->

                <!--&lt;!&ndash; Property change &ndash;&gt;-->
                <!--{{#unless isListChange}}-->
                    <!--&lt;!&ndash;<span class="spacer">–</span>&ndash;&gt;-->
                    <!--{{data.fieldDisplayName}} has been-->
                    <!--{{#if data.oldValue}}-->
                        <!--changed from <strong>{{data.oldValue}}</strong>-->
                    <!--{{else}}-->
                        <!--set-->
                    <!--{{/if}}-->
                    <!--to-->
                    <!--<strong>{{data.newValue}}</strong>-->
                <!--{{/unless}}-->

                <!--&lt;!&ndash; Item added &ndash;&gt;-->
                <!--{{#if data.added}}-->
                    <!--An item has been added to {{data.fieldDisplayName}}:-->
                    <!--<strong> {{data.newValue}} </strong>-->
                <!--{{/if}}-->

                <!--&lt;!&ndash; Item removed &ndash;&gt;-->
                <!--{{#if data.removed}}-->
                    <!--An item has been removed from {{data.fieldDisplayName}}-->
                <!--{{/if}}-->

                <!--{{#if data.changed}}-->
                    <!--An item in {{data.fieldDisplayName}} has been updated:-->
                    <!--<ul>-->
                        <!--{{#each data.subChanges}}-->
                            <!--<li>-->
                                <!--{{property}} in updated from <strong> {{oldValue}} </strong> to-->
                                <!--<strong> {{newValue}} </strong>-->
                            <!--</li>-->
                        <!--{{/each}}-->
                    <!--</ul>-->
                <!--{{/if}}-->

                <!--{{>suffixListDisplay}}-->
            <!--</td>-->
        <!--</tr>-->
    <!--{{else}}-->
        <!--<div class="item item-task">-->
            <!--<div class="item-info">-->
                <!--{{>prefixDetailDisplay userId=userId dateCreated=data.dateCreated }}-->

                <!--<div class="type">-->
                    <!--<i class="icon icon-pencil-1"></i>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.item-info &ndash;&gt;-->
            <!--<div class="item-content">-->
                <!--<div class="box">-->
                    <!--<div class="box-content">-->
                        <!--<h4 class="item-title">-->
                            <!--&lt;!&ndash;Update&ndash;&gt;-->

                            <!--&lt;!&ndash; Property change &ndash;&gt;-->
                            <!--{{#unless isListChange}}-->
                                <!--&lt;!&ndash;<span class="spacer">–</span>&ndash;&gt;-->
                                <!--{{data.fieldDisplayName}} has been-->
                                <!--{{#if data.oldValue}}-->
                                    <!--changed from <strong>{{data.oldValue}}</strong>-->
                                <!--{{else}}-->
                                    <!--set-->
                                <!--{{/if}}-->
                                <!--to-->
                                <!--<strong>{{data.newValue}}</strong>-->
                            <!--{{/unless}}-->

                            <!--&lt;!&ndash; Item added &ndash;&gt;-->
                            <!--{{#if data.added}}-->
                                <!--&lt;!&ndash;<span class="spacer">–</span>&ndash;&gt;-->
                                <!--An item has been added to {{data.fieldDisplayName}}:-->
                                <!--<strong> {{data.newValue}} </strong>-->
                            <!--{{/if}}-->

                            <!--&lt;!&ndash; Item removed &ndash;&gt;-->
                            <!--{{#if data.removed}}-->
                                <!--&lt;!&ndash;<span class="spacer">–</span>&ndash;&gt;-->
                                <!--An item has been removed from {{data.fieldDisplayName}}-->
                            <!--{{/if}}-->

                            <!--{{#if data.changed}}-->
                                <!--&lt;!&ndash;<span class="spacer">–</span>&ndash;&gt;-->
                                <!--An item in {{data.fieldDisplayName}} has been updated:-->
                                <!--<ul>-->
                                    <!--{{#each data.subChanges}}-->
                                        <!--<li>-->
                                            <!--{{property}} updated from <strong> {{oldValue}} </strong> to-->
                                            <!--<strong> {{newValue}} </strong>-->
                                        <!--</li>-->
                                    <!--{{/each}}-->
                                <!--</ul>-->
                            <!--{{/if}}-->
                        <!--</h4>-->
                        <!--<div class="item-actions">-->
                            <!--<a class="btn btn-default tip-bottom pointer" title="Task Owner">-->
                                <!--<span> {{displayUserName this.userId}} </span>-->
                            <!--</a>-->
                            <!--<a class="btn btn-default tip-bottom pointer" title="Task Start Date">-->
                                <!--<i class="fa fa-calendar"></i>-->
                                <!--<span>-->
                                    <!--{{formattedDate data.dateCreated "lll"}}-->
                                <!--</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.box-content &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.box &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.item-content &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.item &ndash;&gt;-->
    <!--{{/if}}-->
<!--</template>-->
