<template name="hotListsMembersBox">
    <div class="row">
        <div class="col-md-12" id="column-list">
            <div class="list-container">
                <div class="list-holder">

                    <div class="list-actions">
                        {{>hotListMembersSearch}}
                    </div>

                    {{>hotListMembersHeader}}

                    {{#if isSearching}}
                        {{_ "searching"}}
                    {{else}}
                        {{> hotListMembersList }}
                    {{/if}}

                    <div class="list-actions last">
                        {{#if listIsLoading}}
                            {{_ "loading"}}
                        {{else}}
                            {{#unless isESSearch}}
                                {{>fastPagination name="hotLists" useKeys="true" containerClass="magic-pager"}}
                            {{/unless}}
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<template name="hotListMembersHeader">
    {{#if listViewMode}}
        <div class="list-header hotlists-list-header simple-view">
            <div class="list-header-cell hotlists-list-header-title">{{_ "Title"}}</div>
            <div class="list-header-cell hotlists-list-header-owner">{{_ "Owner"}}</div>
            <div class="list-header-cell hotlists-list-header-time">{{_ "Date"}}</div>
        </div>
        <!-- /.list-header -->
    {{else}}
        <div class="list-header hotlists-list-header">
            <div class="list-header-cell hotlists-list-header-title">{{_ "Title"}}</div>
            <div class="list-header-cell hotlists-list-header-status">{{_ "Status"}}</div>
            <div class="list-header-cell hotlists-list-header-code">{{_ "Code"}}</div>
            <div class="list-header-cell hotlists-list-header-owner">{{_ "Owner"}}</div>
            <div class="list-header-cell hotlists-list-header-time">{{_ "Date"}}</div>
        </div>
    {{/if}}
</template>

<template name="hotListMembersSearch">
    <div class="list-actions-cell btn-add-to-list">
        <div class="btn-group">
            <button type="button" class="btn btn-success addHotList" title="Add Contact">
                <span class="fa fa-plus"></span> {{_ "Add Contact"}}
            </button>
        </div>
    </div>
    <!-- /.btn-add-to-list -->

    <div class="list-actions-cell search-list">
        <div class="input-group">
            <span class="prop-input">
                {{#objectProperty property=searchString}}
                    <input type="text" class="form-control" placeholder= {{_ "Search hotLists"}} value="{{value}}">
                {{/objectProperty}}
                <span class="text text-danger"></span>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
    <!-- /.search-list -->

    <div class="list-actions-cell order-list">
        {{> hotListListSort}}
    </div>
    <!-- ./order-list -->

    {{#if listIsLoading}}
        {{_ "loading"}}
    {{else}}
        {{#unless isESSearch}}
            {{>fastPagination name="hotLists" useKeys="true" containerClass="magic-pager"}}
        {{/unless}}
    {{/if}}
</template>

<template name="hotListMembersList">
    {{#if isLoading}}
        <div style="height: 280px;"></div>
    {{else}}
        <div class="list-item-section {{#if listViewMode}}simple-view{{/if}}">
            {{#each hotLists}}
                {{> hotListListItem }}
            {{else}}
                {{#if info.isFiltering.value }}
                    <div class="v-wrapper">
                        <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                            <i class="icon-connection-1 text-large"></i>
                            <h1>{{_ "No records Found"}}</h1>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
</template>

<template name="hotListMembersListItem">
    {{#if listViewMode}}

        <div class="list-item hotlist-list-item">
            <div class="list-item-cell hotlist-list-item-title">
                <div class="item-title single">
                    <a href="/hotList/{{_id}}">{{displayName}} </a>
                    <span class="item-title-more">&ndash; {{lookUpName activeStatus}} ({{memberCount}})</span>
                    <span class="item-label prefix-10">{{displaySearchKey _id}}</span>
                </div>
            </div>
            <div class="list-item-details hotlist-list-item-details">
                <div class="list-item-cell hotlist-list-item-owner">{{displayUserName userId}}</div>
                <div class="list-item-cell hotlist-list-item-time">{{formattedDate dateCreated "fromNow"}}</div>
            </div><!-- /.list-item-cell -->
        </div><!-- /.hotlist-list-item -->

    {{else}}

        <div class="list-item hotlist-list-item">
            <div class="list-item-cell list-item-icon">
                <a class="item-icon item-icon-hotlist" href="#"><i class="icon-list-4"></i></a>
            </div>
            <div class="list-item-cell hotlist-list-item-title">
                <div class="item-title single"><a href="/hotList/{{_id}}">{{displayName}}</a> </div>
            </div>
            <div class="list-item-details hotlist-list-item-details">
                <div class="list-item-cell hotlist-list-item-status">{{lookUpName activeStatus}} ({{memberCount}})</div>
                <div class="list-item-cell hotlist-list-item-code">{{displaySearchKey _id}}</div>
                <div class="list-item-cell hotlist-list-item-owner">{{displayUserName userId}}</div>
                <div class="list-item-cell hotlist-list-item-time">{{formattedDate dateCreated "fromNow"}}</div>
                <div class="list-item-cell item-overflow hotlist-item-overflow">
                    <a href="#">
                        <span class="ico-more">
                          <span class="dot-1"></span>
                          <span class="dot-2"></span>
                          <span class="dot-3"></span>
                        </span>
                    </a>
                </div>
            </div><!-- /.list-item-cell -->
        </div><!-- /.hotlists-list-item -->

    {{/if}}
</template>