<template name="tagsBox">
    {{#if hasTags}}
        <div class="box">
            <div class="box-header-2">
                <a class="btn-action editTags" href="#" title="Edit"><i id="edit-mode" class="fa fa-pencil" style="color: {{editModeColor}}"></i></a>
                <div class="box-title">Tags</div>
            </div>
            {{#if editMode}}
                <form class="box-content-form" role="form">
                    <div class="input-group">
                        <input id="new-tag" type="text" class="form-control" placeholder="Add tags here...">
                        <span class="input-group-btn">
                          <button class="add-tag btn btn-success" type="button">Add</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            {{/if}}
            <div class="box-content-md tags-content">
                {{#objectProperty property=tags}}
                    <button type="button" class="tag btn btn-xs btn-primary">
                        <span >{{value}}</span>
                        {{#if editMode}}
                            <i class="remove-tag fa fa-times"></i>
                        {{/if}}
                    </button>
                {{/objectProperty}}
                {{#if isEmptyTags  }}
                    <div class="box-v-msg">
                        <div class="box-v-msg-content">
                            <i class="icon-tags-1"></i>
                            <p>
                                <!--No tag added yet<br>-->
                                <a href="#" class="focusAddTag">Add new tag</a>
                            </p>
                        </div><!-- /.box-v-msg-content -->
                    </div>
                {{/if}}
            </div><!-- /.box-content-md -->
        </div><!-- /.box -->
    {{/if}}
</template>