<template name="tagsBox">

    <section class="box-type-2">
        <div class="box-type-2-content">
            <div class="row">
                <div class="col-md-2">
                    <h3>Tags</h3>
                    <div class="editTags edit-btn"><a id="edit-mode" href="#"><i class="fa fa-pencil"></i> Edit </a></div>
                </div><!-- /.col-md-2 -->
                <div class="col-md-10">

                    {{#if editMode}}
                        <div class="row">
                            <div class="col-md-6">
                                <form role="form">
                                <div class="input-group add-tag-group">
                                    <input id="new-tag" type="text" class="form-control" placeholder="Add tags here...">
                            <span class="input-group-btn">
                              <button class="add-tag btn btn-success" type="button"> Add </button>
                            </span>

                                </div>
                                </form>
                            </div><!-- /.col-md-6 -->
                        </div>
                    {{/if}}

                    {{#objectProperty property=tags}}
                        <button type="button" class="tag btn-custom-1 btn-custom-sm">
                            <span >{{value}}</span>
                            {{#if editMode}}
                                <i class="remove-tag fa fa-times"></i>
                            {{/if}}
                        </button>
                    {{/objectProperty}}

                    {{#if isEmptyTags  }}No tags{{/if}}
                </div><!-- /.col-md-10 -->
            </div><!-- /.row -->
        </div><!-- /.box-type-2-content -->
    </section>

</template>