<template name="pastJobLeads">
    <div id="content" class="network-content nicer-filters">

            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <div class="page-title" id="tourNetworksWelcome">
                        <h1><span>{{pastJobsCount}}</span> {{_ "past jobs"}}</h1>
                    </div>
                    <div class="filter" >
                        <div class="filter-list" id="filter-body">
                            <div class="filter-item">
                                <div class="filter-title">
                                    Active Status
                                </div>
                                <button class="btn btn-sm {{Active}}" id="Active-button" style="margin-bottom:3px">Active</button>
                                <button class="btn btn-sm {{Inactive}}" id="Inactive-button" style="margin-bottom:3px">Inactive</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-container col-md-9">
                    <div class="list-holder">

                        <div class="table-responsive">
                            <div class="list-holder">
                                <div class="list-actions">
                                    <div class="list-actions-cell search-list">
                                        <div class="input-group">
                                          <input id="searchString" type="text" class="form-control" placeholder={{_ "Search past jobs"}}>
                                          <span class="input-group-btn">
                                            <button class="btn btn-search" type="button">
                                                 <i class="fa fa-search"></i>
                                            </button>
                                          </span>
                                        </div>


                                    </div>
                                    {{> fastPagination name="pastJobLeads" useKeys="true" containerClass="magic-pager"}}
                                </div>
                            </div>
                            <div class="list-header network-list-header">
                                <div class="list-header-cell network-list-header-type">{{_ "Employee"}}</div>
                                <div class="list-header-cell network-list-header-type" >{{_ "Company"}}</div>
                                <div class="list-header-cell network-list-header-type">{{_ "Position"}}</div>
                                <div class="list-header-cell network-list-header-type">{{_ "Supervisor"}}</div>
                                <div class="list-header-cell network-list-header-type">{{_ "Supervisor phone"}}</div>
                                <div class="list-header-cell network-list-header-type">{{_ "Start"}}</div>
                                <div class="list-header-cell network-list-header-type">{{_ "Active"}}</div>
                            </div>
                            <div class="list-item-section">
                                {{#each pastJobs}}
                                   {{>pastJobLeadsItem}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>

        </div>

    </div>
</template>
