<template name="addContactableModal">
    <div class="modal fade" id="addContactableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>Contactable add</h3>
                </div>
                <div class="modal-body">
                    <h4>Type:</h4>
                    <div class="row">
                        <label>
                            <input type="checkbox" id="is-employee" checked/>isEmployee</label>
                        <label>
                            <input type="checkbox" id="is-contact" />isContact</label>
                        <label>
                            <input type="checkbox" id="is-customer" />isCustomer</label>
                    </div>
                    <div id="customer-info" style="display:none">
                        <h4>Organization name:</h4>
                        <input id="org-name" class="col-md-5" placeholder="Organization name" />
                        <br>
                        <h4>Department:</h4>
                        <input id="dep-name" class="col-md-5" placeholder="Department name" />
                        <br>
                    </div>
                    <div id="person-info">
                        <h4>First name:</h4>
                        <input id="first-name" class="col-md-5" placeholder="First name" />
                        <br>
                        <h4>Last name:</h4>
                        <input id="last-name" class="col-md-5" placeholder="Last name" />
                    </div>
                    <br>
                    <h4>Status note:</h4>
                    <input id="status-note" class="col-md-5" placeholder="Status note" />

                </div>
                <div class="modal-footer">
                    <a id="addContactable" href="#" class="btn btn-success">Add</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</template>