<template name="addJob">
    <div class="modal fade" id="addJobModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" name="addJobModal">
        <div class="modal-dialog" style="width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h4 data-bind="text: objTypeName() + ' add'"></h4>
                </div>
                <div class="modal-body" data-bind="if: $data.ready">
                    <!-- Show static fields -->
                    <div data-bind="with: entity">
                        <fieldset>
                            <div data-bind="template: { name: 'inStringField', data: {name: 'Public job title', value:$data.publicJobTitle } }" />
                        </fieldset>
                    </div>
                    <!-- Show dynamic fields and relations -->
                    <div data-bind="template: { name: 'showDynamicObjectTemplate', data: $data}"></div>
                </div>
                <div class="modal-footer">
                    <a data-bind="click: add" class="btn btn-success">Add</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
        <!-- Templates -->
        {{>showDynamicObjectTemplate}}
    </div>
</template>


