<template name="contactMethods">
    <div name="contactMethodVM" style="float: inherit; margin-left: 20%;">
		<h5 class="panel-section-title">Contact methods</h5>
        <div data-bind="foreach: contactable().contactMethods " style="overflow-y: auto; overflow-x: hidden ">
            <div style="height: 30px;border-bottom: solid 1px #E2E2E2; ">
                <div class="contactMethod ">
                    <div class=" " style="margin: 0px; margin-right: 60px;width: 26px; display: inline " data-bind="text: type " />
                    <div class="contactMethod-value " style="margin: 0px; display: inline " data-bind="text: value"></div>
                </div>
            </div>
        </div>

        <div class="contactMethod-block add " style="margin-top: 15px;">
            <div data-bind="visible: addStep()==0 , click: function () { return nextStep(); } ">
                <i class="icon icon-book " style="margin-right: 3px " />
                <b>New contact method</b>
            </div>

            <!-- New contact method information -->
            <div data-bind="visible: addStep()==1 ">
                <input class="form-control " type="text " data-bind="value: newContactMethod.type " placeholder="Type... " />
                <input class="form-control " type="text " style="margin-bottom: 20px; margin-top: 5px " data-bind="value: newContactMethod.value " placeholder="Value... " />
                <span class="btn-link pull-right " style="margin-top: -10px " data-bind="click: add ">Save</span>
                <span class="pull-left " data-bind="text: errorMessage "></span>
            </div>
        </div>
    </div>
</template>