<template name="contactable">
    <div name="contactableVM">
        <div class="contactables-page" data-bind="with: contactable">
            <div id="content">

                <div id="breadcrumb" class="breadcrumb-top ">
                    <a href="# " title="Go to Home " class="tip-bottom ">Home</a>
                    <a href="# " class="current ">Contactables</a>
                </div>
                <div id="content-header" class="content-header-bottom ">
                    <div class="profile-content-header ">
                        <div class="profile-pic ">
                            <a href="# ">
                                <img class="img-responsive " src="/assets/user-photo-placeholder.jpg">
                            </a>
                        </div>
                        <h1 class="profile-name ">
                            <strong data-bind="text: displayName"></strong>
                        </h1>
                        <div class="profile-btns ">
<!--
                            <a class="btn btn-default btn-sm " data-toggle="modal " data-target="#messagesModal ">
    <i class="fa fa-envelope-o "></i>
    Send Message</a>
-->
                            <a class="btn btn-default btn-sm " data-toggle="modal " data-bind="click: function () { helper.showModal( 'addPost', 'addPostModal', $data._id(),'addContactablePost'); } ">
                                <i class=" fa fa-pencil "></i>
                                Write Post
                            </a>
                        </div>
                        <!-- /.profile-btns -->
                    </div>
                    <!-- /.profile-content-header -->
                </div>
                <!-- /.content-header -->

                <div class="container-fluid row ">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills bottom-20 " id="contactable-nav">
                        <li data-bind="css:{'active': $parent.activeTab()=='home'}">
                            <a href="#home " data-toggle="tab ">All</a>
                        </li>
                        <li data-bind="css:{'active': $parent.activeTab()=='details'}">
                            <a href="#details " data-toggle="tab ">Details</a>
                        </li>
                        <li data-bind="css:{'active': $parent.activeTab()=='posts'}">
                            <a href="#posts " data-toggle="tab ">Posts
                                <span class="custom-badge-2 " data-bind="text: posts().length"></span>
                            </a>
                        </li>
                        <!--
						<li>
	<a href="#profile-tasks " data-toggle="tab ">Tasks
		<span class="custom-badge-2 ">25</span>
	</a>
</li>
-->
                    </ul>
                    <div class="col-md-12 col-lg-12 ">
                        <div class="tab-content ">
                            {{yield 'content'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="contactableHome">
    <!-- Profile Home Section ------------------------------------ -->
    <div class="tab-pane active " id="profile-home">
        <div class="row ">
            <div class="col-md-4 col-lg-4 ">
                <div class="box ">
                    <div class="box-header-2 ">
                        <div class="box-title ">
                            <i class="icon-contact "></i>Details</div>
                    </div>
                    <div class="box-content-md ">
                        <p>
                            <strong>Summary</strong>
                        </p>
                        <div data-bind="if: $data.person">
                            <div data-bind="with: $root.editPerson">
                                <p data-bind="template: {name: 'display-property', data: {name: 'First Name', value: firstName, editMode: false} }">
                                </p>
                                <p ata-bind="template: {name: 'display-property', data: {name: 'Middle Name', value: middleName, editMode: false} }">
                                </p>
                                <p data-bind="template: {name: 'display-property', data: {name: 'Last Name', value: lastName, editMode: false} }">
                                </p>
                                <p data-bind="template: {name: 'display-property', data: {name: 'Job Title', value: jobTitle, editMode: false} }">
                                </p>
                                <p data-bind="template: {name: 'display-property', data: {name: 'Salutation', value: salutation, editMode: false} }">
                                </p>
                            </div>
                        </div>
                        <div data-bind="if: $data.organization">
                            <div data-bind="with: $root.editOrganization ">
                                <p data-bind="template: {name: 'display-property', data: {name: 'Organization Name', value: organizationName, editMode: false} }">
                                </p>
                            </div>
                        </div>
                        <a class="btn btn-default btn-block btn-md " href="#details">Read more</a>
                    </div>
                    <!-- /.box-content-md -->
                </div>
                <!-- /.box -->

                <!-- ko if: $data.contactMethodscontactMethods -->
                <div class="box ">
                    <div class="box-header-2 ">
                        <div class="box-title ">
                            <i class="icon-contact "></i>Contact</div>
                    </div>
                    <div class="box-content-md ">
                        <ul class="list-1 " data-bind="foreach: contactable().contactMethods ">
                            <li>
                                <strong data-bind="text: type "></strong>
                                <br>
                                <span data-bind="text: value "></span>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-content-md -->
                </div>
                <!-- /.box -->
                <!-- /ko-->

                <!-- ko if: $data.tags -->
                <div class="box ">
                    <div class="box-header-2 ">
                        <div class="box-title ">
                            <i class="icon-tag-1 "></i>Tags</div>
                    </div>
                    <div class="box-content-md ">
                        <div data-bind="foreach: tags ">
                            <a class="btn btn-xs btn-primary " href="# " data-bind="text: $data "></a>
                            <a style="margin-left: 4px; min-width: 7px; ">
                                <i class="icon icon-close removeTag "></i>
                            </a>
                        </div>
                        <hr>
                        <div class="input-group ">
                            <input type="text " class="form-control " placeholder="Enter tags here... " data-bind="value: $root.newTag ">
                            <span class="input-group-btn ">
                                <button class="btn btn-success " type="button " data-bind="click: $root.addTag ">Add</button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                    <!-- /.box-content-md -->
                </div>
                <!-- /.box -->
                <!-- /ko-->

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-8 col-lg-8 ">
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="box ">
                            <div class="box-header-2 ">
                                <div class="box-title ">
                                    <i class="icon-list-4 "></i>
                                    Posts
                                </div>
                            </div>
                            <div class="box-content-md " data-bind="foreach: posts">
                                <div class="comment " data-bind="with: helper.getUserInformation($data.userId())">
                                    <!-- ko if: $data.ready -->
                                    <!-- ko if: $data.picture -->
                                    <div class="comment-thumb">
                                        <img height="70px" width="70px" data-bind="attr: {src: picture}" alt="gigi">
                                    </div>
                                    <!-- /ko -->
                                    <div class="comment-content ">
                                        <div class="comment-text ">
                                            <div class="comment-info ">
                                                <a href="# ">
                                                    <!-- ko if: $data.username -->
                                                    <strong data-bind="text: username">
                                                    </strong>
                                                    <!-- /ko -->
                                                    <!-- ko if: !$data.username && $data.email -->
                                                    <strong data-bind="text: email"></strong>
                                                    <!-- /ko -->
                                                </a>
                                                <span class="pipe">|</span>
                                                <span data-bind="text: moment($parent.createdAt()).format('LL')"></span>
                                            </div>
                                            <p data-bind="text: $parent.content">
                                            </p>
                                        </div>
                                    </div>
                                    <!-- /.comment-content -->
                                    <!-- /ko -->
                                </div>
                                <!-- /.comment -->
                                <!--
								<a class="btn btn-default btn-block btn-md " href="# ">View All Posts
								<span class="custom-badge-1 ">20</span>
								</a>
								-->
                            </div>
                            <!-- /.box-content-md -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col-lg-6 -->
                    <!--
					<div class="col-lg-6 ">
					<div class="box ">
	-->
                    <!--
											<div class="box-header-2 ">
					<div class="box-title ">
						<i class="icon-check-list "></i>Tasks</div>
				</div>
				<div class="box-content-md ">
				
				</div>
				-->
                    <!-- /.box-content-md -->
                    <!--						</div>-->
                    <!-- /.box -->
                    <!--					</div>-->
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#profile-home -->

    <div id="display-property" data-bind="if: name" style="display:none">
        <!-- ko if: !$data.editMode || !$data.editMode() -->
        <small data-bind="text: name + ': '"></small>
        <span data-bind="text: value"></span>
        <!-- /ko -->
        <!-- ko if: $data.editMode -->
        <div class="form-group" data-bind="css:{'has-error': value.isModified() && ! value.isValid()}">
            <small class="control-label" data-bind="text: name"></small>
            <div class="col-lg-10">
                <input class="form-control" type="text" placeholder="" data-bind="value: value" />
                <span class="text-danger" data-bind="validationMessage: value"></span>
            </div>
        </div>
        <!-- /ko -->
    </div>
</template>

