<template name="contactableDetails">
    <!-- Profile Home Section ------------------------------------ -->
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="box ">
                <div class="box-header-2">
                    <div class="box-title">
                        <i class="icon-information"></i>Info</div>
                </div>
                <div class="box-content-md">
                    <div data-bind="if: $data.person">
                        <div data-bind="with: $data.person">
                            <p>
                                <strong>Person</strong>
                            </p>
                            <p data-bind="template: {name: 'display-property', data: {name: 'First Name', value: firstName} }">
                            </p>
                            <p data-bind="template: {name: 'display-property', data: {name: 'Middle Name', value: middleName} }">
                            </p>
                            <p data-bind="template: {name: 'display-property', data: {name: 'Last Name', value: lastName} }">
                            </p>
                            <p data-bind="template: {name: 'display-property', data: {name: 'Job Title', value: jobTitle} }">
                            </p>
                            <p data-bind="template: {name: 'display-property', data: {name: 'Salutation', value: salutation} }">
                            </p>
                            <!--                            <a class="btn btn-default btn-block btn-md" href="#">Read more</a>-->

                        </div>
                    </div>
                    <div data-bind="if: $data.organization">
                        <div data-bind="with: $data.organization">
                            <p>
                                <strong>Organization</strong>
                            </p>
                            <p data-bind="template: {name: 'display-property', data: {name: 'Organization Name', value: organizationName} }">
                            </p>


                        </div>
                    </div>

                </div>
                <!-- /.box-content-md -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-8 col-lg-8">
            <div data-bind="template: {name: $parent.getTemplateName($data), data: $parent.getObjTypeData($data)}"></div>
        </div>
        <!-- /.col-lg-8 -->

    </div>
    <div id="display-property" data-bind="if: name" style="display:none">
        <small data-bind="text: name + ': '"></small>
        <span data-bind="text: value"></span>
    </div>
    {{>obj-type-template}}
    <!-- /.row -->
</template>