<template name="contactable">
</template>

<template name="contactableNavigation">

	<!-- Employee details -->
	<div class="pull-right entity-details">

		<!-- Header -->
		<div data-bind="with: contactable">
			<a class="btn-link" style="cursor: pointer">
				<h4 style="color: black" data-bind="text: displayName"></h4>
				<img class="media-object" data-src="holder.js/64x64" alt="100x100" style="width: 100px; height: 100px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvqBCuvGla2BtuOgbL1Me_BoK2QBvqleO45lRj_lMlS-QwHp6tow" />
			</a>
		</div>

		<!-- Actions -->
		<div class="panel-section">
			<p>
				<i class="glyphicon glyphicon-home ats-icon"></i>
				<a class="btn-link" href="#activities">Activities</a>
			</p>
			<p>
				<i class="glyphicon glyphicon-comment ats-icon"></i>
				<a class="btn-link" href="#messages">Messages</a>
			</p>
		</div>
	</div>
</template>