<template name="contactables">
    {{>addContactableModal}}
    <section name="contactablesVM">
        <div class="row" style="margin-top: 10px, width: 100%;">
            <!-- Filter panel -->
            <div class="col-md-2 ats-filter-panel">

                <h5 class="panel-section-title">Actions</h5>
                <a data-toggle="modal" href="#addContactableModal">Add contactable</a>

                <h5 class="panel-section-title">Filters</h5>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" />Include inactives</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" />Only recent week
                    </label>

                    <span>{{text}}</span>
                </div>
                <div data-bind="foreach: filter">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="filter-employee" data-bind="checked: check" />
                            <span data-bind="text:label" />
                        </label>
                    </div>
                </div>
            </div>
            <!--            <h5 class="panel-section-title">Entities</h5>-->
            <!--
				<filteradd funcattribute="searchPacket.includeEmployees" entityname="Employees" ></filteradd>
				<filteradd funcattribute="searchPacket.includeCustomers" entityname="Customers" ></filteradd>
				<filteradd funcattribute="searchPacket.includeCustomerContacts" entityname="Customer Contacts" ></filteradd>
				<filteradd funcattribute="searchPacket.includeJobs" entityname="Jobs" ></filteradd>
				<filteradd funcattribute="searchPacket.includeDeals" entityname="Deals" ></filteradd>
-->
        </div>
        <div class="col-md-9 col-md-offset-2" style="margin-top: -10px">
            <div>
                <!--<h5 class="panel-section-title">Results-->
                <h5>

                    <!-- Search string -->
                    <span class="input-group" style="width: 100%; max-width: 606px;">
                        <span class="input-group-addon glyphicon glyphicon-search" style="position: initial;"></span>
                        <input type="text" class="form-control expandable-field" placeholder="Search..." data-bind="value: searchString, valueUpdate:'afterkeydown'">
                    </span>
                </h5>
            </div>


            <!-- Entities list -->
            <div>
                {{#if loading}}
                <div id="lists">Loading...</div>
                {{else}}
                <div data-bind="foreach: entities ">
                    <div class="ats-entities">

                        <div class="row ">
                            <!-- Left -->
                            <div class="col-md-1">
                                <!-- Profile picture -->
                                <a ng-href="/">
                                    <img class="media-object" data-src="holder.js/64x64" alt="100x100" style="width: 64px; height: 64px;" src="img/avatar.jpg" />
                                </a>
                            </div>

                            <!-- Middle -->
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a data-bind="attr:{href: 'contactable/'+_id()}">
                                            <h4 class="no-margin">
                                                <span class="name" />
                                                <span class="name" />
                                            </h4>
                                            <h5>
                                                <span class="name" style="color: grey" data-bind="if: isCustomer">
                                                    <span data-bind="text: organizationName() + ', ' + department()"></span>
                                                </span>
                                                <span class="name" style="color: grey" data-bind="if: !isCustomer()">
                                                    <span data-bind="text: lastName() + ', ' + firstName()"></span>
                                                </span>

                                            </h5>
                                        </a>

                                        <!-- Status Note -->
                                        <div style="color: #3693cf" data-bind="text: statusNote"></div>
                                    </div>

                                    <div class="col-md-6">
                                        <!-- Contact information -->
                                        <div class="col-md-4">
                                            <em></em>
                                            <br/>
                                            <em></em>
                                        </div>
                                    </div>
                                </div>

                                <br/>
                                <!-- Interests -->
                                <!-- ko if: $data.tags -->
                                <div class="icons-nav" style="word-wrap: break-word;" data-bind="foreach: tags">
                                    <small class="tag" data-bind="text: $data">
                                    </small>
                                </div>
                                <!-- /ko -->
                            </div>

                            <!-- Right -->
                            <div class="col-md-3">

                                <!--  Contactable statuses -->

                                <p>

                                </p>
                                <div class="progress progress-statistics" style="width: 90%; height: 4px;">
                                    <div class="bar" />
                                </div>

                                <!-- User who created the entity -->
                                <i class="glyphicons user" style="background-image: none" />
                                <small>{{user.name}}</small>

                                <i class="icon icon-search" />
                                <small/>{{searchKey}}
                                <small/>

                            </div>
                        </div>
                    </div>
                    <!--						<div class="list-fade"></div>-->
                </div>
                <!-- Infinity scroll -->
                <!--
					<center data-bind="scroll: routingHelper.getRouteByName('contactableList').isActive(), scrollOptions: { loadFunc: addSome, offset: 10 }, visible: gettingMore() " data-ng-hide="true">
						<img src="img/ats-loading.gif" style="width: 40px; height: 12px;" alt="Searching.." />
					</center>
-->
                {{/if}}
            </div>
        </div>
        </div>
    </section>
</template>
