<template name="messages">
	<div id="content" name="messagesVM">
		<br>
		<div class="container-fluid">
			<div class="row messages">
				<div class="col-sm-6 col-md-4 col-lg-4">
					<div class="messages-top-head">
						<h3>Inbox</h3>
					</div>
					<ul class="msgs sidebar-msgs">
                        <!-- ko foreach: $data.users -->
						<li data-bind="css: { active: ko.observable($root.isSelected($data))}, click: function() { return $root.selectedUser($data) }">
							<a class="clearfix" href="#">
								<div data-bind="with: $data.aux? helper.getUserInformation($data.destination) : helper.getUserInformation($data.from)">
									<!-- ko if: $data.ready -->									
                                    <span class="msg-pic">
										<img height="50px" width="50px" data-bind="attr: {src: $data.picture? $data.picture : 'assets/user-photo-placeholder.jpg'}" alt="gigi">
									</span>
									<!-- ko if: $data.username -->
									<span class="msg-author" data-bind="text: username"></span>
									<!-- /ko -->
									<!-- ko if: !$data.username && $data.email -->
									<span class="msg-author" data-bind="text: email"></span>
									<!-- /ko -->
									<!-- /ko -->
								</div>
								<span class="msg-content">
									<span data-bind="text: content"></span>
								</span>
								<span class="msg-date" data-bind="text: moment(createdAt).format('ll')"></span>
							</a>
						</li>
                        <!-- /ko -->
                        <li>
                            <!-- ko if: $data.newConversationStep() == 1 -->
                            <center><span class="btn btn-link" data-bind="click: function(){ return nextNewConversationStep()}"> Start a conversation </span></center>
                            <!-- /ko -->
                            <!-- ko if: $data.newConversationStep() == 2 -->
                            <br>
                            <center>
                                <select class="col-md-10" data-bind="options: systemUsers, optionsText: 'username', optionsValue:'_id', selectedOptions: newConversationUser, optionsCaption: 'Choose an user'"></select>
                            </center>
                            <!-- /ko -->
                        </li>
					</ul>
				</div>
				<!-- /.col-lg-3 -->
				<div class="col-sm-6 col-md-8 col-lg-8">
					<div class="messages-right-part">
						<div class="messages-top-head">
                            <div data-bind="with: helper.getUserInformation(selectedUser())">
                                <!-- ko if: $data.ready -->
                                <!-- ko if: $data.username -->
                                <h3><a href="#"><strong data-bind="text: username"></strong></a></h3>
                                <!-- /ko -->
                                <!-- ko if: !$data.username && $data.email -->
                                <h3><a href="#"><strong data-bind="text: email"></strong></a></h3>
                                <!-- /ko -->
                                <!-- /ko -->
                            </div>
                        </div>
						<div class="box-content-2 conversation">
							<!--<p class="text-center text-muted">Conversation started February 18</p>-->
							<ul class="conversation-msgs" data-bind="foreach: $data.messages">
								<li class="clearfix">
									<div data-bind="with: helper.getUserInformation($data.from())">
										<!-- ko if: $data.ready -->
										<span class="msg-pic">
											<img height="50px" width="50px" data-bind="attr: {src: $data.picture? $data.picture : 'assets/user-photo-placeholder.jpg'}">
										</span>
										<!-- ko if: $data.username -->
										<span class="msg-author" data-bind="text: username"></span>
										<!-- /ko -->
										<!-- ko if: !$data.username && $data.email -->
										<span class="msg-author" data-bind="text: email"></span>
										<!-- /ko -->
										<!-- /ko -->
									</div>
									<div class="msg-content">
										<p data-bind="text: content"></p>
									</div>
									<span class="msg-date" data-bind="text: moment(createdAt()).format('ll')"></span>
								</li>
							</ul>
						</div>
						<!-- /.box-content-2 -->
						<div class="conversation-form">
							<textarea class="form-control bottom-10" rows="3" placeholder="Write a message" data-bind="value: newMessage"></textarea>
							<button class="btn btn-primary btn-block btn-lg" data-bind="click: function() { addMessage();}">Send Message</button>
						</div>
						<!-- /.conversation-form -->
					</div>
					<!-- /.messages-right-part -->
				</div>
				<!-- /.col-lg-9 -->
			</div>
			<!-- /.row -->

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /.content -->
</template>