<template name="sendEmail">
    <div class="modal fade" id="sendEmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>Send email</h3>
                </div>
                <div class="modal-body">
                        <h4>To:</h4>
                        <input id="email-to" class="col-md-5" placeholder="your.email@gmail.com" />
                        <br>
                        <h4>From:</h4>
                        <input id="email-from" class="col-md-5" placeholder="my.email@gmail.com" />
                        <br>
                        <h4>Subject:</h4>
                        <input id="email-subject" class="col-md-5" placeholder="subject of email" />
                        <br>                        
                </div>
                <div class="modal-footer">
                    <a id="sendEmail" href="#" class="btn btn-success">Send</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</template>