<template name="userProfile">
    <div id="content">
        <div id="content-header" class="mini">
            <h1>Account Settings</h1>
        </div>
        <!-- /.content-header -->

        <div id="breadcrumb">
            <a href="/" title="" class="tip-bottom" data-original-title="Go to Home">
                <i class="fa fa-home"></i>Home</a>
            <a href="/user" class="current">Account Settings</a>
        </div>

        <div class="container-fluid">
            <div class="box">

                <div class="box-content-md">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center">
                            <div class="profile-pic">
                                <div id="edit-pic" class="profile-pic-icon" title="Click to Edit" style="cursor: pointer">
                                    <img class="img-responsive" style="display: inline;min-height: 100px; min-width: 100px; max-height:200px; max-width:200px; cursor: pointer"  src="{{userPicture}}">
                                </div>
                                <div class="btn-group-vertical">
                                    <button id="edit-pic" type="button" class="btn btn-default btn-sm">Edit picture </button>
                                    {{#if isGoogleUser}}
                                        <button id="edit-pic-google" type="button" class="btn btn-default btn-sm"> Use Google picture </button>
                                    {{/if}}
                                </div>
                            </div>
                            <input id="edit-picture" style="visibility:hidden" name="files" type="file" class="fileUploader" />
                         </div>

                        <div class="col-lg-8 col-md-8 col-sm-12">
                            {{#with userInfo}}
                                <div class="form-group">
                                    <label class="control-label"> Username: </label>
                                    {{#objectProperty property=username editable=true}}
                                        <input class="form-control" type="text" placeholder="" value="{{value}}"/>
                                    {{/objectProperty}}
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Email: </label>
                                    {{#objectProperty property=email editable=true}}
                                        <input class="form-control" type="text" placeholder="" value="{{value}}"/>
                                    {{/objectProperty}}
                                </div>
                                <div>
                                    {{#with pendingEmail}}
                                        Email verification for <strong> {{.}} </strong> is pending, click <a id="resendEmailVerification">here</a> to resend.
                                    {{/with}}
                                </div>

                                <div class="pull-right">
                                    {{#objectProperty property=errorMessage}}
                                        <span class="text text-sm text-danger">{{value}}</span>
                                    {{/objectProperty}}
                                    {{#objectProperty property=successMessage}}
                                        <span class="text text-sm text-success">{{value}}</span>
                                    {{/objectProperty}}
                                    <button id="save" class="btn btn-primary">Save</button>
                                </div>
                            {{/with}}

                            {{#if isPasswordUser}}
                                <hr style="margin-top: 60px"/>

                                {{#with changePassword}}
                                    <div class="form-group">
                                        <label class="control-label"> Old password: </label>
                                        {{#objectProperty property=oldPassword editable=true}}
                                            <input class="form-control" type="password" placeholder="" value="{{value}}"/>
                                        {{/objectProperty}}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> New password: </label>
                                        {{#objectProperty property=newPassword editable=true}}
                                            <input class="form-control" type="password" placeholder="" value="{{value}}"/>
                                        {{/objectProperty}}
                                    </div>

                                    <div class="pull-right">
                                        {{#objectProperty property=errorMessage}}
                                            <span class="text text-sm text-danger">{{value}}</span>
                                        {{/objectProperty}}
                                        {{#objectProperty property=successMessage}}
                                            <span class="text text-sm text-success">{{value}}</span>
                                        {{/objectProperty}}
                                        <button id="changePassword" class="btn btn-primary">Change</button>
                                    </div>
                                {{/with}}
                            {{/if}}
                        </div>

                    </div>
                </div>
                <!-- /.box-content-md -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>