<template name="userProfile">
    <div id="content">
        <div id="content-header" class="mini">
            <h1>Account Settings</h1>
        </div>
        <!-- /.content-header -->


        <div id="breadcrumb">
            <a href="/" title="" class="tip-bottom" data-original-title="Go to Home">
                <i class="fa fa-home"></i>Home</a>
            <a href="#" class="current">Account Settings</a>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="box">
                        <div class="box-content-md">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">

                                    <div class="col-sm-10 col-sm-offset-2">
                                        <div class="profile-pic">
                                            <!-- ko if: $root.pictureUrl -->
                                                <img class="img-responsive" style="max-height:200px; max-width:200px; cursor: pointer" title="Click to Edit" data-bind="attr: { src: $root.pictureUrl }, click: $root.editPicture">
                                            <!-- /ko -->

                                            <!--&lt;!&ndash; ko if: $root.pictureUrl == undefined && (!!$root.user().services && !!$root.user().services.google) &ndash;&gt;-->
                                            <!--<img data-bind="attr: {src: user().services.google.picture() }">-->
                                            <!--&lt;!&ndash; /ko &ndash;&gt;-->
                                        </div>

                                    </div>
                                    <!--<a id="edit-picture-btn" class="edit-pic btn btn-default btn-xs" href="#" data-bind="click: $root.editPicture">-->
                                        <!--<i class="fa fa-pencil"></i>Edit Picture-->
                                    <!--</a>-->
                                    <input id="edit-picture" style="visibility:hidden" name="files" type="file" class="fileUploader" />
                                </div>




                                <div data-bind="with: editUser">
                                    <div data-bind="template: { name: 'inStringField', data: { data: {displayName: 'Username', value: username } } }" > </div>
                                    <div data-bind="template: { name: 'inStringField', data: { data: {displayName: 'Email', value: email } } }" > </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary" data-bind="click: save">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-content-md -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.modal-->

    </div>
</template>