<template name="pastJobLeadsItem">
    <div class="list-item-section">
        <div class="list-item">
            {{#with getCtx}}
                <div class="list-item-details network-list-item-details">
                    <div class="list-item-cell network-list-item-type">
                        <a href="contactable/{{this.employeeId}}">{{this.employeeName}}</a>
                    </div>

                    <div class="list-item-cell  network-list-item-type">
                        {{this.company}}
                    </div>
                    <div class="list-item-cell network-list-item-type">
                        {{this.position}}
                    </div>
                    <div class="list-item-cell network-list-item-type">
                        {{this.supervisor}}
                    </div>
                    <div class="list-item-cell network-list-item-type">
                        {{this.supervisorPhone}}
                    </div>
                    <div class="list-item-cell network-list-item-type">
                        {{formattedDate this.dateCreated "DD/MM/YYYY"}}
                    </div>
                    <div class="list-item-cell network-list-item-type">
                        <input type="checkbox" id="active" value="{{this._id}}" checked="{{active}}"/>
                    </div>
                </div>
                {{#if editingComment}}
                    <div class="list-item-more network-list-item-more">
                        <div class="list-item-more-entry">
                            <div class="list-item-more-entry-content">
                                Comment: <input type="text" class="form-control" id="comment" value="{{this.comment}}">
                                <button id="save-comment" value="{{this._id}}" class="btn btn-primary"
                                        style="float:right">Save
                                </button>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="list-item-more network-list-item-more" stylee="font-size:15px">
                        <div class="list-item-more-entry">
                            <div class="list-item-more-entry-content">
                                <span id="editing-active" class="glyphicon glyphicon-pencil"
                                      style="cursor:pointer"></span>
                                Comment: {{this.comment}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/with}}
        </div>
    </div>
</template>