
<template name="timecard">
    <div id="content" class="network-content">
        <div class="row">
            <div class="col-md-11">
                <div class="page-title">
                    <h1>{{_ "Time Entry"}}</h1>
                </div>
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-md-10 col-md-offset-1">
                <div class="box-type-1">
                    <div class="box-type-1-content">


                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
