<template name="hotListMembersBox">
    <div class="row">
        <div class="col-md-12" id="column-list">
            <div class="list-container" style="margin-top: -20px;">
                <div class="list-holder">

                    <div class="list-actions">
                        {{>hotListMembersSearch}}
                    </div>

                    {{>hotListMembersHeader}}

                    {{#if isSearching}}
                        {{_ "searching"}}
                    {{else}}
                        {{> hotListMembersList}}
                    {{/if}}

                    <div class="list-actions last">
                        {{#if listIsLoading}}
                            {{_ "loading"}}
                        {{else}}
                            {{#unless isESSearch}}
                                {{> fastPagination name="hotListMembers" useKeys="true" containerClass="magic-pager"}}
                            {{/unless}}
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<template name="hotListMembersHeader">
    <div class="list-header contacts-list-header">
        <div class="list-header-cell contacts-list-header-title">HotList Members – ({{membersCount}})</div>
        <div class="list-header-cell contacts-list-header-code">Id</div>
        <div class="list-header-cell contacts-list-header-actions">Actions</div>
    </div><!-- /.list-header -->
</template>

<template name="hotListMembersSearch">
    <div class="list-actions-cell btn-add-to-list">
        <button type="button" class="btn btn-default" id="sendEmailTemplate">
            <span class="fa fa-envelope-o"></span> {{_ "Send mail"}}
        </button>
        <button type="button" class="btn btn-success addHotListMember" title="Add Contact">
            <span class="fa fa-plus"></span> {{_ "Add Member"}}
        </button>
    </div>
    <!-- /.btn-add-to-list -->

    <div class="list-actions-cell search-list">
        <div class="input-group">
            <span class="prop-input">
                {{#objectProperty property=searchString}}
                    <input id="searchString" type="text" class="form-control" placeholder= {{_ "Search contacts"}} value="{{value}}">
                {{/objectProperty}}
                <span class="text text-danger"></span>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
    <!-- /.search-list -->

    {{#if listIsLoading}}
        {{_ "loading"}}
    {{else}}
        {{#unless isESSearch}}
            {{>fastPagination name="hotListMembers" useKeys="true" containerClass="magic-pager"}}
        {{/unless}}
    {{/if}}
</template>

<template name="hotListMembersList">
    {{#if isLoading}}
        <div style="height: 280px;"></div>
    {{else}}
        <div class="list-item-section">
            {{#each hotListMembers}}
                {{> hotListMembersListItem }}
            {{else}}
                {{#if info.isFiltering.value }}
                    <div class="v-wrapper">
                        <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                            <i class="icon-connection-1 text-large"></i>
                            <h1>{{_ "No records Found"}}</h1>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
</template>

<template name="hotListMembersListItem">
    <div class="list-item contact-list-item">
        <div class="list-item-cell list-item-icon">
            <a class="item-icon item-icon-contact" href="/contactable/{{_id}}">{{getAcronym displayName}}</a>
        </div>
        <div class="list-item-cell contact-list-item-title">
            <div class="item-title single"><a href="/contactable/{{_id}}">{{displayName}}</a></div>
        </div>
        <div class="list-item-details contact-list-item-details">
            <div class="list-item-cell contact-list-item-code">{{_id}}</div>
            <div class="list-item-cell contact-list-item-actions"><a class="pointer removeMember"><i class="fa fa-times"></i> Remove</a></div>
        </div><!-- /.list-item-cell -->
    </div><!-- /.contact-list-item -->
</template>