<template name="addJob">
    <div class="modal fade" id="addJobModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" name="addJobModal">
        <div class="modal-dialog" style="width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h4 data-bind="text: objTypeName() + ' add'"></h4>
                </div>
                <div class="modal-body" data-bind="if: $data.ready">
                    <form role="form">
                        <!-- Show static fields -->
                        <div data-bind="with: entity">
                            <div data-bind="template: { name: 'inStringField', data: {name: 'Public job title', value: $data.publicJobTitle } }" />
                            </fieldset>
                            <div class="row">
                                <fieldset class="col-lg-6">
                                    <div data-bind="template: { name: 'inDateField', data: {name: 'StartDate', value: $data.startDate } }" />
                                </fieldset>
                                <fieldset class="col-lg-6">
                                    <div data-bind="template: { name: 'inDateField', data: {name: 'EndDate', value: $data.endDate } }" />
                                </fieldset>
                            </div>
                            <div class="row">
                                <fieldset class="col-lg-6">
                                    <div data-bind="template: { name: 'inLookUpField', data: {name: 'Industry', value: $data.industry, options: $root.industries, mutiple: false } }" />
                                </fieldset>
                                <fieldset class="col-lg-6">
                                    <div data-bind="template: { name: 'inLookUpField', data: {name: 'Category', value: $data.category, options: $root.categories, mutiple: false } }" />
                                </fieldset>
                            </div>
                            <fieldset>
                                <div data-bind="template: { name: 'inLookUpField', data: {name: 'Duration', value: $data.duration, options: $root.durations,mutiple: false } }" />
                            </fieldset>
                            <fieldset>
                                <div data-bind="template: { name: 'inLookUpField', data: {name: 'Status', value: $data.status,options: $root.statuses, mutiple: false } }" />
                            </fieldset>
                            <fieldset>
                                <div data-bind="template: { name: 'inLongStringField', data: {name: 'Description', value: $data.description } }" />
                            </fieldset>
                        </div>
                        <!-- Show dynamic fields and relations -->
                        <div data-bind="template: { name: 'showDynamicObjectTemplate', data: $data}"></div>
                </div>
                <div class="modal-footer">
                    <a data-bind="click: add" class="btn btn-success">Add</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
        <!-- Templates -->
        {{>showDynamicObjectTemplate}}
    </div>
</template>


