<template name="agendaBox">
        <div class="box-type-3 calendar-widget">
            {{> fullcalendar options  }}

            <div class="tasks-navi" id="tour1calendar">
                <a class="next" id="next-month-btn" href="#"><i class="fa fa-chevron-right"></i></a>
                <a class="prev" id="prev-month-btn" href="#"><i class="fa fa-chevron-left"></i></a>
                <div class="current">{{{currentMonth}}}</div>
                <div class="infinite-scroll-loader hidden">
                    <span>{{_ "Loading"}}</span>
                    <div class="loader"></div>
                </div>
            </div>
        </div><!-- /.box-type-3 -->
</template>