<template name="recoverPassword">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close {{#if isSending}}disabled{{/if}}" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Recover your password</h4>
                </div>

                {{#autoForm schema=recoverPassSchema id="recoverPassForm" validation="blur"}}
                    <div class="modal-body">
                        <fieldset>
                            <div class="form-group {{#if afFieldIsInvalid name='email'}}has-error{{/if}}">
                                <label class="control-label" for="email">Type your email account and you'll soon receive an email with instructions to recover you password</label>
                                {{> afFieldInput name='email' placeholder="address@example.com"}}
                                {{#if afFieldIsInvalid name='email'}}
                                    <span class="help-block">{{afFieldMessage name='email'}}</span>
                                {{/if}}
                            </div>
                        </fieldset>

                      {{#if error}}
                          <div class="alert alert-danger" role="alert" style="margin: 0;">
                              <strong>{{error}}</strong> Please try again.
                          </div>
                      {{/if}}
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-default dismiss {{#if isSending}}disabled{{/if}}">Cancel</span>
                        <button class="btn btn-primary {{#if isSending}}disabled{{/if}}">{{#if isSending}}Sending email...{{else}}Recover{{/if}}</button>
                    </div>
                {{/autoForm}}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>