<template name="taskBox">
    <div class="box">
        <div class="box-header-2 box-header-tasks">
            <a class="btn-action tip-top addTask" title="Add Task" href="#"><i class="fa fa-plus"></i></a>
            <div class="box-title hidden-sm hidden-xs">
                <strong>{{taskCount}}</strong> Tasks
            </div>
            <a class="box-title visible-sm visible-xs" href="#task-body" data-toggle="collapse" >
                <strong>{{taskCount}}</strong>
                Tasks
            </a>
        </div>
        <div class="box-content-collapsible" id="task-body">
            {{#each tasks}}
                <div class="table-item {{taskClass}}">
                    <a class="btn btn-xs btn-success text-small editTask" href="#" title="Edit" style="position: absolute; top: 4px; right: 4px; z-index: 10">
                        <i class="fa fa-pencil"></i></a>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="table-item-cell">
                                <div class="table-item-cell-container">
                                    <div class="table-item-title">
                                        <span>{{note}}</span>
                                    </div>
                                    <div class="task-author">
                                        by
                                        <a href="#">
                                            <span>{{user.username}}</span>
                                        </a>
                                        to
                                        <i class="fa fa-long-arrow-right"></i>
                                        <span>
                                            {{#each assignedUsers}}
                                                <a>
                                                    <span class="{{isMe}}">
                                                        {{username}}
                                                    </span>
                                                </a>
                                            {{/each}}
                                        </span>
                                    </div>
                                </div>
                                <!-- /.table-item-cell-container -->
                            </div>
                            <!-- /.table-item-cell -->
                        </div>
                        <!-- /.col-sm-3 -->
                        <div class="col-sm-4">
                            <div class="table-item-cell">
                                {{>taskState}}
                            </div>
                        </div>

                        <!-- /.col-sm-4 -->
                        <div class="col-sm-3">
                            <!--<div class="table-item-cell">-->
                                <!--<div class="table-item-cell-container text-small">-->
                                   <!---->
                                <!--</div>-->
                                <!--&lt;!&ndash; /.table-item-cell-container &ndash;&gt;-->
                            <!--</div>-->
                            <div class="table-item-cell" style="margin-top: 13px">
                                <div class="table-item-cell-container">
                                    {{>showTaskDate}}
                                    <!-- /.table-item-cell-container -->
                                </div>
                                <!-- /.table-item-cell -->
                            </div>
                            <!-- /.col-sm-3 -->
                        </div>
                        <div class="col-sm-12">
                            <div data-bind="foreach: links">
                                {{#each links}}
                                    <a href="{{getHref}}">
                                        {{#with getEntity}}
                                            <span class="badge">{{displayName}}</span>
                                        {{/with}}
                                    </a>
                                {{/each}}
                            </div>
                        </div>

                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
            {{else}}
                <div class="box-v-msg">
                <div class="box-v-msg-content">
                    <i class="icon-clock-3"></i>
                </div><!-- /.box-v-msg-content -->
            </div>
            {{/each}}

            <!--<ul class="list-3 stripped has-thumb">-->
                <!--<li class="list-3-item">-->
                    <!--<div class="list-thumb"><i class="icon-clock-3"></i></div>-->
                    <!--<div class="list-3-content">-->
                        <!--<div class="list-3-content-wrap">-->
                            <!--<div class="list-3-actions">-->
                                <!--<a href="#"><i class="fa fa-check"></i> Done</a>-->
                            <!--</div>-->
                            <!--<div class="list-3-item-meta-top">Today - 2:30 PM</div>-->
                            <!--<h4 class="list-3-item-title">Send Email to Mihai with our proposal</h4>-->
                            <!--<div class="list-3-item-meta-bottom"><i class="fa fa-long-arrow-right"></i> Gregg Dourgarian</div>-->
                        <!--</div>&lt;!&ndash; /.list-3-content-wrap &ndash;&gt;-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div class="btn-container">-->
                <!--<a class="btn btn-default btn-block top-10" href="/tasks">View all</a>-->
            <!--</div>-->
        </div><!-- /.box-content-md -->
    </div>
</template>
<template name="taskState">
    <div class="table-item-cell-container text-small task-state">
        <span>
            <i class="{{getStateIcon}}"></i>&nbsp;
            <span>{{state}}</span>
        </span>
        {{#if canComplete}}
            <a class="btn btn-xs btn-primary text-small magic-content" href="#" data-bind="click: function(){$root.complete($parent);}">
                <i class="fa fa-check"></i>Complete
            </a>
        {{/if}}

    </div>
</template>
<template name="showTaskDate">
    {{#if end}}
        <div class="date">
            <i class="fa fa-calendar"></i>
            {{#if statusIs 'pending'}}
                <span>
                    <span>Due Date:</span>
                    <span>
                        {{#formattedDate value=end format='fromNow'}}
                            {{date}}
                        {{/formattedDate}}
                    </span>
                </span>
            {{/if}}
            {{#if statusIs 'future'}}
                <span>
                    <span>Starts:</span>
                    <span>
                        {{#formattedDate value=begin format='fromNow'}}
                            {{date}}
                        {{/formattedDate}}
                    </span>
                </span>
            {{/if}}
            {{#if statusIs 'completed'}}
                <span>
                    <span>completed:</span>
                    <!--ko if: completed-->
                    <span>
                        {{#formattedDate value=completed format='fromNow'}}
                            {{date}}
                        {{/formattedDate}}
                    </span>
                    <!--/ko-->
                </span>
            {{/if}}
            {{#if statusIs 'closed'}}
                <span>
                    <span>Ended:</span>
                    <span>
                        {{#formattedDate value=end format='fromNow'}}
                            {{date}}
                        {{/formattedDate}}
                    </span>
                </span>
            {{/if}}
        </div>
    {{/if}}
</template>