<template name="tasksBox">
    <div class="row">
        <div class="col-md-3">
            <div class="page-title">

                    <h1><span>{{taskCount}}</span> {{_ "tasks"}}</h1>

            </div>
            <div class="filter">
                <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
                    <strong><i class="fa fa-filter"></i></strong>
                </a>

                <div class="filter-list" id="filter-body">
                    <div class="filter-item">
                        <div class="filter-title">
                            {{_ "Status"}}
                        </div>

                        <div>
                            {{#each states}}
                                <button type="button" class="btn btn-sm selectState {{selectedClass}}">{{_ name}}</button>
                            {{/each}}
                        </div>
                    </div>
                    {{> filter_dateCreated selectedLimit=filters.selectedLimit}}
                    <div class="filter-item">
                        <div class="filter-title">
                            <i class="fa fa-eye"></i>
                            {{_ "Visibility"}}
                        </div>

                        <div class="checkbox">
                            <label>
                                {{#objectProperty property=filters.inactives}}
                                    <input type="checkbox" checked="{{value}}"/>{{_ "Archived"}}
                                {{/objectProperty}}
                            </label>
                        </div>
                        {{> filter_createdBy showMineOnly=filters.ownedByMe}}
                    </div>

                    <div class="filter-item">
                        <div class="filter-title">
                            <i class="fa fa-user"></i>
                            {{_ "Owner"}}
                        </div>

                        {{#objectProperty property=filters.assignedTo}}
                            <select id="assignedToDropdown" class="form-control">
                                <option value="">--{{_ "select"}}--</option>
                                {{#each users}}
                                    <option value="{{_id}}">{{displayUserName _id}}</option>
                                {{/each}}
                            </select>
                        {{/objectProperty}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="list-container">
                <div class="list-holder">
                    <div class="list-actions">
                        <div class="list-actions-cell btn-add-to-list">
                            <button type="button" class="btn btn-success addTask" title="Add">
                                <span class="fa fa-plus"></span> {{_ "Add"}}
                            </button>
                        </div>

                        <div class="list-actions-cell search-list">
                            <div class="input-group">
                            <span class="prop-input">
                                {{#objectProperty property=filters.searchString editable=true}}
                                    <input id="searchString" type="text" class="form-control"
                                           placeholder={{_ "Search tasks"}}>
                                    <span class="text" data-status="Inactive"></span>
                                {{/objectProperty}}
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </div>
                        <!-- /.search-list -->

                        {{>fastPagination name="tasks" useKeys="true" containerClass="magic-pager"}}
                    </div>

                    <div class="list-header tasks-list-header">
                        <div class="list-header-cell tasks-list-header-title">{{_ "Title"}}</div>
                        <div class="list-header-cell tasks-list-header-linked">{{_ "Linked"}}</div>
                        <div class="list-header-cell tasks-list-header-startdate">{{_ "Start Date"}}</div>
                        <div class="list-header-cell tasks-list-header-status">{{_ "Status"}}</div>
                    </div>

                    <!-- Entities list -->
                    <div class="list-item-section">
						{{#if isLoading}}
							<div style="height: 500px;">
							</div>
						{{else}}
                            {{#each tasks}}
                                {{>taskItem}}
                            {{/each}}
						{{/if}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>