<template name="hotListsBox">
    <div class="row">
        <div class="col-md-3 col-lg-3" id="column-filters">
            {{> hotListFilters hotListCount=hotListCount}}
        </div>
        <div class="col-md-9" id="column-list">
            <div class="list-container">
                <div class="list-holder">

                    <div class="list-actions">
                        {{>hotListListSearch}}
                    </div>

                    {{>hotListListHeader}}

                    {{#if isSearching}}
                        searching
                    {{else}}
                        {{> hotListList }}
                    {{/if}}

                    <div class="list-actions last">
                        {{#if listIsLoading}}
                            loading
                        {{else}}
                            {{#unless isESSearch}}
                                {{>fastPagination name="hotLists" useKeys="true" containerClass="magic-pager"}}
                            {{/unless}}
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<template name="hotListListHeader">
    {{#if listViewMode}}
        <div class="list-header hotLists-list-header simple-view">
            <div class="list-header-cell hotLists-list-header-title">Title</div>
            <div class="list-header-cell hotLists-list-header-code">Code</div>
            <div class="list-header-cell hotLists-list-header-owner">Owner</div>
            <div class="list-header-cell hotLists-list-header-time">Date</div>
        </div>
        <!-- /.list-header -->
    {{else}}
        <div class="list-header hotLists-list-header">
            <div class="list-header-cell hotlists-list-header-title">Title</div>
            <div class="list-header-cell hotlists-list-header-code">Code</div>
            <div class="list-header-cell hotlists-list-header-owner">Owner</div>
            <div class="list-header-cell hotlists-list-header-time">Date</div>
        </div>
    {{/if}}
</template>

<template name="hotListListSearch">
    <div class="list-actions-cell btn-add-to-list">
        <div class="btn-group">
            <button type="button" class="btn btn-success addHotList" title="Add">
                <span class="fa fa-plus"></span> Add
            </button>
        </div>
    </div>
    <!-- /.btn-add-to-list -->

    <div class="list-actions-cell search-list">
        <div class="input-group">
            <span class="prop-input">
                {{#objectProperty property=searchString}}
                    <input type="text" class="form-control" placeholder="Search hotLists" value="{{value}}">
                {{/objectProperty}}
                <span class="text text-danger"></span>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
    <!-- /.search-list -->

    <div class="list-actions-cell view-mode-list">
        {{#if listViewMode}}
            <a href="#"><i id="detail-view" class="fa fa-th-list"></i></a>
            <a class="active" href="#"><i class="fa fa-bars"></i></a>
        {{else}}
            <a class="active" href="#"><i class="fa fa-th-list"></i></a>
            <a href="#"><i id="list-view" class="fa fa-bars"></i></a>
        {{/if}}
        <a id="toggle-filters" href="#" data-view="normal"><i class="fa fa-desktop"></i></a>
    </div>
    <!-- /.view-mode-list -->

    <div class="list-actions-cell order-list">
        {{> hotListListSort}}
    </div>
    <!-- ./order-list -->

    {{#if listIsLoading}}
        loading
    {{else}}
        {{#unless isESSearch}}
            {{>fastPagination name="hotLists" useKeys="true" containerClass="magic-pager"}}
        {{/unless}}
    {{/if}}
</template>

<template name="hotListListSort">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Sort
            {{#with selectedSort}}
                <strong>{{displayName}}</strong>
                {{#if isAscSort .}}
                    <i class="fa fa-sort-amount-asc"> </i>
                {{else}}
                    <i class="fa fa-sort-amount-desc"> </i>
                {{/if}}
            {{/with}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#each sortFields}}
                <li>
                    <a class="sort-field" href="#">
                        {{displayName}}
                        {{#if isFieldSelected .}}
                            {{#if isAscSort .}}
                                <i class="fa fa-sort-amount-asc"> </i>
                            {{else}}
                                <i class="fa fa-sort-amount-desc"> </i>
                            {{/if}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="hotListFilters">
    <div class="page-title">
        <h1><span>{{hotListCount}}</span> {{leftSectionTitle}}</h1>
    </div>

    <div class="filter">
        <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
            <strong><i class="fa fa-filter"></i></strong>
        </a>
        <div class="filter-list" id="filter-body">

            {{> filter_lookUp title="Active status" code=13 lookUpValue=query.activeStatus multi=true}}

            {{> filter_dateCreated selectedLimit=query.selectedLimit}}

            {{> filter_tags tags=query.tags}}
        </div>
    </div>
</template>

<template name="hotListList">
    {{#if isLoading}}
        <div style="height: 280px;"></div>
    {{else}}
        <div class="list-item-section {{#if listViewMode}}simple-view{{/if}}">
            {{#each hotLists}}
                {{> hotListListItem }}
            {{else}}
                {{#if info.isFiltering.value }}
                    <div class="v-wrapper">
                        <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                            <i class="icon-connection-1 text-large"></i>

                            <h1>No records Found</h1>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
</template>

<template name="hotListListItem">
    {{#if listViewMode}}
        <div class="list-item hotLists-list-item">
            <div class="list-item-cell hotLists-list-item-title">
                <div class="item-title">
                    <div class="item-title"><a href="/hotList/{{_id}}">{{displayName}} </a></div>
                </div>
                <div class="item-subtitle">
                </div>
            </div>
            <div class="list-item-details hotLists-list-item-details">
                <div class="list-item-cell hotLists-list-item-code ">{{displaySearchKey _id}}</div>
                <div class="list-item-cell hotLists-list-item-owner">{{displayUserName userId}}</div>
                <div class="list-item-cell hotLists-list-item-time">
                    {{formattedDate dateCreated "fromNow"}}
                </div>
            </div>
            <!-- /.list-item-cell -->
        </div>
    {{else}}
        <div class="list-item hotLists-list-item">
            <div class="list-item-cell list-item-icon">

            </div>
            <div class="list-item-cell hotLists-list-item-title">
                <div class="item-title"><a href="/hotList/{{_id}}">{{displayName}} </a></div>
            </div>
            <div class="list-item-details hotLists-list-item-details">
                <div class="list-item-cell hotLists-list-item-status">
                    <div class="list-item-cell hotLists-list-item-status ">{{lookUpName activeStatus}} ({{memberCount}}
                        )
                    </div>
                </div>
                <div class="list-item-cell hotLists-list-item-code ">{{displaySearchKey _id}}</div>
                <div class="list-item-cell hotLists-list-item-owner">{{displayUserName userId}}</div>
                <div class="list-item-cell hotLists-list-item-time">
                    <span>{{formattedDate dateCreated "fromNow"}}</span>
                    <br>
                </div>
                <div class="list-item-cell item-overflow hotLists-item-overflow">
                    <a href="#">
                        <span class="ico-more">
                          <span class="dot-1"></span>
                          <span class="dot-2"></span>
                          <span class="dot-3"></span>
                        </span>
                    </a>
                </div>
            </div>
            <!-- /.list-item-cell -->
        </div>
    {{/if}}
</template>

<template name="hotListInformation">
    <span>
        {{description}}

    </span>
    <br>
</template>