<template name="hotListsBox">
    <div class="row">
        <div class="col-md-3 col-lg-3">
            {{> hotListsFilters }}
        </div>

        <div class="col-md-8 col-lg-8">
            {{>hotListListSearch}}
        </div>

        <div class="col-md-9 col-lg-9">
            {{#if isSearching}}
                searching
            {{else}}
                {{> hotListList }}
            {{/if}}
        </div>
    </div>
</template>

<template name="hotListsFilters">
    <div class="filter">
        <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
            <strong><i class="fa fa-filter"></i></strong>
        </a>

        <div class="filter-list" id="filter-body">
            {{> filter_entityType types=contactableTypes selected=query.objType}}

            {{> filter_lookUp title="Active status" code=13 lookUpValue=query.activeStatus multi=true}}


            {{> filter_createdDate selectedLimit=query.selectedLimit}}

            {{> filter_tags tags=query.tags}}
        </div>
    </div>
</template>

<template name="hotListList">
    <div>
        {{>fastPagination name='hotLists'}}
        {{#if isLoading}}
            <div style="height: 280px;">
            </div>
        {{else}}
            <div class="fade-in">
                {{#each hotLists}}
                    {{> hotListListItem }}
                {{else}}
                    {{#if info.isFiltering.value }}
                        <div class="v-wrapper">
                            <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                                <i class="icon-connection-1 text-large"></i>

                                <h1>
                                    No records Found
                                </h1>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="hotListListItem">
    <div class="table-item magic">
            <div>
                <div class="table-item-cell">
                    <div class="table-item-cell-container">
                        <div class="table-item-title">
                            <a href="/hotList/{{_id}}">
                                <strong>
                                    {{displayName}}
                                </strong>
                            </a>
                            <span class="task-author">
                                {{#if startDate}}
                                    {{#formattedDate value=startDate}}
                                        {{date}}
                                    {{/formattedDate}}
                                {{/if}}
                                {{#each this.hotListRates}}
                                    {{getRateTypeDisplayName}}
                                    {{bill}}/{{pay}}


                                    <br/>
                                {{/each}}

                                <span class="pull-right">
                                      <span class="task-author">
                                          {{displayUserName userId}}
                                      </span>
                                      <span class="task-author">
                                          {{_id}}
                                      </span>
                                      <span class="task-author">
                                          {{#formattedDate value=dateCreated format='fromNow'}}
                                              {{date}}
                                          {{/formattedDate}}
                                      </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</template>

<template name="hotListInformation">
    {{#if jobLocationDisplayName}}
        <i class="icon-map-marker-1"></i>
        {{jobLocationDisplayName}}
    {{/if}}
    <small>
        {{#if startDate}}
            <i class="icon-calendar-2"></i>
            Starting on
            {{#formattedDate value=startDate}}
                {{date}}
            {{/formattedDate}}
        {{/if}}
    </small>
    <small>
        {{#if endDate}}
            {{#unless startDate}}
                <i class="icon-calendar-2"></i>
            {{else}}
                -
            {{/unless}}
            Ending on
            {{#formattedDate value=endDate}}
                {{date}}
            {{/formattedDate}}
        {{/if}}
    </small>

    <br/>

    <!-- HotList rates -->
    {{#each this.hotListRates}}
        {{getRateTypeDisplayName}}
        {{bill}}/{{pay}}
        <br/>
    {{/each}}
</template>

<template name="hotListListSearch">
    <div class="actions-head">
        <div class="row visible-xs">
            <div class="col-xs-8">
                    <div class="btn-group pull-left suffix-5">
                        <button type="button" class="btn btn-success addHotList" title="Add">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>

                <div class="input-group">
                    {{#objectProperty property=searchString}}
                        <input type="text" class="form-control" placeholder="Search hotLists" value="{{value}}">
                    {{/objectProperty}}

                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-xs-4">
                     <span class="pointer" style="font-size: 20px;">
                         {{#if listViewMode}}
                             <i id="detail-view" class="fa fa-th-large" style="opacity: 0.4"></i>
                            <i class="fa fa-bars"></i>
                         {{else}}
                             <i class="fa fa-th-large"></i>
                            <i id="list-view" class="fa fa-bars" style="opacity: 0.4"></i>
                         {{/if}}
                     </span>
                {{> hotListListSort}}
            </div>

        </div>
        <div class="row hidden-xs">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

                {{#if isJob}}
                    <div class="btn-group pull-left suffix-5">
                        <button type="button" class="btn btn-success addHotList" title="Add">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                {{/if}}
                <div class="input-group">
                    {{#objectProperty property=searchString}}
                        <input type="text" class="form-control" placeholder="Search HotLists" value="{{value}}">
                    {{/objectProperty}}

                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                     <span class="pointer" style="font-size: 20px;">
                         {{#if listViewMode}}
                             <i id="detail-view" class="fa fa-th-large" style="opacity: 0.4"></i>
                            <i class="fa fa-bars"></i>
                         {{else}}
                             <i class="fa fa-th-large"></i>
                            <i id="list-view" class="fa fa-bars" style="opacity: 0.4"></i>
                         {{/if}}
                     </span>
            </div>

            <div class=" col-sm-2 col-md-2 col-lg-2">
                {{> hotListListSort}}
            </div>
        </div>
    </div>
</template>


<template name="hotListListSort">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Sort
            {{#with selectedSort}}
                <strong>{{displayName}}</strong>
                {{#if isAscSort .}}
                    <i class="fa fa-sort-amount-asc"> </i>
                {{else}}
                    <i class="fa fa-sort-amount-desc"> </i>
                {{/if}}
            {{/with}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#each sortFields}}
                <li>
                    <a class="sort-field">
                        {{displayName}}
                        {{#if isFieldSelected .}}
                            {{#if isAscSort .}}
                                <i class="fa fa-sort-amount-asc"> </i>
                            {{else}}
                                <i class="fa fa-sort-amount-desc"> </i>
                            {{/if}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</template>