<template name="resumeParser">
    <div id="content" class="lookUps">
        <div id="content-header" class="mini">
            <h1>Resume parser</h1>
        </div>
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Home</a>
            <a href="/resumeparser" class="current">Resume parser</a>
        </div>

        <div id="resume-parser" class="container-fluid"> 
            <div class="panel panel-default"> 
                <div class="panel-heading">
                    {{>resumeAdd}}
                </div>
                <div class="panel-body no-marging">
                    {{>resumesList}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="resumeAdd">
    <div class="tab-pane" id="document">
        {{#if addForm }}
            {{>addDocumentForm}}
        {{else}}
            {{#dragAndDropZone onDrop=uploadFile}}
                <h3 class="lead">Drop resumes here</h3>
                <p>or</p>
                <br>
                <span class="btn btn-default add-trigger"> Upload file </span>
                <input style="visibility: hidden" id="add-file" type="file" multiple>
            {{/dragAndDropZone}}
        {{/if}}
    </div><!-- /#document -->
</template>

<template name="resumesList">
    <ul class="list-3 stripped has-thumb">
        {{#if inProgressResumes.count}}
            <hr/>
            <strong>In progress</strong>
        {{/if}}
        {{#each inProgressResumes}}
            <li class="list-3-item">
                <div class="list-thumb"><i class="icon-file-upload"></i></div>
                <div class="list-3-content list-magic">
                    <div class="list-3-content-wrap">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="list-3-item-meta-top">{{type}}</div>
                                <h4 class="list-3-item-title"><a href="#">{{name}}</a></h4>
                            </div>
                            <div class="col-md-7">
                                {{processStage}}
                            </div>
                        </div>
                    </div><!-- /.list-3-content-wrap -->
                </div>
            </li>
        {{/each}}
        {{#each uploadingResumes}}
            <hr/>
            <strong>in progress</strong>
            <li class="list-3-item">
                <div class="list-thumb"><i class="icon-file-upload"></i></div>
                <div class="list-3-content list-magic">
                    <div class="list-3-content-wrap">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="list-3-item-meta-top">{{type}}</div>
                                <h4 class="list-3-item-title"><a href="#">{{name}}</a></h4>
                            </div>
                            <div class="col-md-7">
                                <div class="progress" style="width: 100%">
                                    <div class="progress-bar" role="progressbar" style="width:{{getProgress}}%">
                                        <p style="float:left;margin-left:3%">Uploading file...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.list-3-content-wrap -->
                </div>
            </li>
        {{/each}}

        {{#with resumes}}
            {{#if count}}
                <hr/>
                <strong>Last Completed</strong>
                {{#each . }}
                    <li class="list-3-item">
                        <div class="list-thumb"><i class="icon-file-upload"></i></div>
                        <div class="list-3-content list-magic">
                            <div class="list-3-content-wrap">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="list-3-item-meta-top">{{type}}</div>
                                        <h4 class="list-3-item-title"><a href="#">{{name}}</a></h4>
                                    </div>
                                    {{#with completedInfo}}
                                        <div class="col-lg-1 col-md-1" style="margin-right: -40px; float: left; margin-right: 10px; width: 35px; color: #333; padding-top: 10px;">
                                            <i class="icon-profile-man" style="font-size: 25px"></i>
                                        </div>
                                        <div class="col-lg-5 col-md-5">
                                            <div class="list-3-item-meta-top">Created at {{formattedDate dateCreated}}</div>
                                            <h4 class="list-3-item-title"><a href="/contactable/{{_id}}">{{displayName}}</a></h4>
                                        </div>
                                        <div class="col-lg-2 col-md-2" style="padding-top: 12px;">
                                            <h5 class="list-3-item-title"><a href="/contactable/{{_id}}"> Go to details <i class="fa fa-arrow-right"></i></a></h5>
                                        </div>
                                    {{else}}
                                        <div class="col-lg-1 col-md-1" style="margin-right: -40px; float: left; margin-right: 10px; width: 35px; color: #333; padding-top: 10px;">
                                            <i class="icon-alert-1" style="font-size: 25px"></i>
                                        </div>
                                        <div class="col-lg-6 col-md-6" style="padding-top: 12px;">
                                            <h4 class="list-3-item-title"><strong class="text-muted"> Error parsing resume </strong></h4>
                                        </div>
                                    {{/with}}
                                </div>
                            </div><!-- /.list-3-content-wrap -->
                        </div>
                    </li>
                {{/each}}
            {{/if}}
        {{/with}}
    </ul>

    <div id="parsing" class="list-3-actions" style="display: none; margin-right: 45px; margin-top: 10px;">
        {{>spinner}}
    </div>
</template>