<template name="scanEmployeeCard">
    <div id="content" class="lookUps">
    <div id="content-header" class="mini">
        <h1>Scan employee card</h1>
    </div>
    <div id="breadcrumb">
        <a href="/" title="Go to Home" class="tip-bottom">Home</a>
        <a href="/scanEmployeeCard" class="current">Scan employee card</a>
    </div>

    <div id="scanEmployeeCard" class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
               <p class="text-center"><span class="btn btn-default add-trigger "  ><span class="glyphicon glyphicon-camera"></span> Take photo</span>  {{#if notEmptyList}}<span class="btn btn-default process-all "  >Process All</span>{{/if}}</p>
               <div class="row">
                    <input type="file" accept="image/*" id="capture" capture="camera" style="visibility: hidden">
                    {{#each imagesList}}
                         {{>scanEmployeeBox}}
                    {{/each}}
                </div>

            </div>


        </div>
    </div>
        </div>


</template>

<template name="scanEmployeeBox">
    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
        <div class=" panel panel-success">
            <div class="panel-heading">
                <p > <label class="text-center" style="width:90%; margin-left:5%"> {{name}}</label>
                     <label style="text-align: right;width:2%;margin:0px"><span class="glyphicon glyphicon-remove close-photo" style="cursor: pointer;{{addHidenRemove}}"></span></label>
                </p>
            </div>
            <div class="panel-body text-center">
                <img src="{{imageSource}}" id="selected-img" style="width:80%">
                <br>
                <br>
                {{#if error}}
                    <div id="{{errorParsingId}}" style="" class="alert alert-danger">
                        Error, unable to parse the taken photo
                    </div>
                {{else}}
                    {{#if success}}
                        <div id="{{errorParsingId}}" style="margin-bottom:1%" class="alert alert-success">
                            <!--Parse completed, click <a href="{{employeeUrl}}" target="_blank">here</a> to go to the created employee-->
                           <p> Parse completed, to go to the created employee click:</p>
                           <p class="text-center"><a class="btn btn-default" style="margin-top:10px" href="{{employeeUrl}}" target="_blank">Details</a></p>
                        </div>
                    {{/if}}
                {{/if}}


                <span class="btn btn-default change-photo " style="{{addHidenChange}}" >Change</span>
                <span class="btn btn-default save-employee " style="{{addHidenProcess}}" >Process</span>
                <!--<span class="btn btn-default close-photo " style="{{addHidenChangeRemove}}" >Remove</span>-->
                <input type="file" accept="image/*" id="change" class="change_{{Id}}" capture="camera" style="display: none">


                {{#if isProcessing}}
                    <div class="progress" style="width:{70%}">
                        <div class="progress-bar" role="progressbar" style="width:{{prog}}%;">
                            <p style="float:left;margin-left:3%">{{displayName}}</p>
                        </div>
                    </div>

                {{/if}}

                {{#if showServerProgress}}
                    {{>progressBar name=dataId }}
                {{/if}}


            </div>

        </div>

    </div>

</template>


