<template name="header">
    {{>connectionBanner}}
    <div name="headerVM" style="position: relative;">
        <div id="user-nav" class="navbar-right pull-right">
            <ul class="btn-group">
                <li class="hidden-xs">
                    <a href="/user" style="display: inline-flex">
                        <span class="user-menu-thumb">
                            <img class="img-responsive" style="max-height:26px; max-width:26px" src="{{userThumbnail}}">
                        </span>
                        <span class="msg-author">{{user.username}}</span>
                    </a>
                </li>

                <!--<li class="btn dropdown" id="menu-messages">-->
                    <!--<a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle">-->
                        <!--<i class="fa fa-envelope-o"></i>-->
                        <!--<span class="text">Messages</span>-->
                        <!--{{#if UnreadMessagesCount}}-->
                            <!--<span class="notifications"> {{UnreadMessagesCount}}</span>-->
                        <!--{{/if}}-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu dropdown-msgs pull-right">-->
                        <!--<li class="clearfix">-->
                            <!--<span class="pull-left">-->
                                <!--<a href="/inbox">-->
                                    <!--<i class="fa fa-inbox"></i>Inbox</a>-->
                            <!--</span>-->
                        <!--</li>-->
                        <!--{{#if UnreadMessagesCount}}-->
                        <!--{{else}}-->
                            <!--<span>No new messages</span>-->
                        <!--{{/if}}-->

                        <!--{{#each latestUnreadMessages }}-->
                            <!--<li class="{{unread .}}">-->
                                <!--<a class="msg" href="{{conversationURL .}}">-->
                                    <!--{{#with userInfo .}}-->
                                        <!--<span class="msg-pic">-->
                                            <!--<img style="max-height: 50px;max-width: 50px;" src="{{picture}}">-->
                                        <!--</span>-->
                                        <!--<span class="msg-author">{{username}}</span>-->
                                    <!--{{/with}}-->
                                        <!--<div class="msg-content" style="display: inline">{{content}}-->
                                        <!--</div>-->
                                    <!--{{#formattedDate value=dateCreated format='fromNow'}}-->
                                        <!--<span class="msg-date">{{date}}</span>-->
                                    <!--{{/formattedDate}}-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--{{/each}}-->

                        <!--<li class="more">-->
                            <!--<a href="/inbox">View all messages</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->




                <li class="btn dropdown" id="menu-settings">
                    <a href="#" data-toggle="dropdown" data-target="#menu-settings" class="dropdown-toggle">
                        <i class="fa fa-cog"></i>
                        <span class="text">Settings</span>
                    </a>

                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="/management/hrconcourse">HRConcourse</a>
                        </li>
                        <li>
                            <a href="/management/lookups">Lookups</a>
                        </li>
                        <li>
                            <a href="/user">
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a href="/subscriptionplan">Subscription</a>
                        </li>

                        <li>
                            {{>userVoice}}

                        </li>

                        <li>
                            <a href="/users">Users</a>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a href="/" id="signout">Sign out</a>
                        </li>
                    </ul>

                </li>



            </ul>
        </div>
        <div id="header">
            <h1>
                <a href="/">
                    <span class="hidden-phone">EXARTU</span>
                </a>
            </h1>

        </div>



        <!--
        <div id="switcher">
            <div id="switcher-inner">
                <h3>Theme Options</h3>
                <h4>Colors</h4>
                <p id="color-style">
                    <a data-color="dark" title="dark" class="button-square dark-switcher active" href="#"></a>
                    <a data-color="light" title="light" class="button-square light-switcher" href="#"></a>
                </p>
            </div>
            <div id="switcher-button">
                <i class="fa fa-cogs"></i>
            </div>
        </div>
-->

        {{>sidebar}}
    </div>

</template>

<template name="sidebar">
    <a id="menu-trigger" href="#">
        <i class="fa fa-align-justify"></i>
    </a>

        <div id="sidebar" class="spanel-menu">

            <ul class="navbar navbar-inverse nav-stacked">
                <li class="dashboard {{getActiveClass 'dashboard' null}}">
                    <a href="/">
                        <i class="icon icon-house-2"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="contactables {{getActiveClass 'contactables' null}}">
                    <a href="/contactables">
                        <i class="icon icon-connection-1"></i>
                        <span>Contacts</span>
                        <!--<i class="arrow fa fa-chevron-right"></i>-->
                    </a>
                    <!--<ul>-->
                        <!--<li class="{{getActiveClass 'contactables' null}}">-->
                            <!--<a href="/contactables">-->
                                <!--<span>All</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--{{#each contactableObjTypes}}-->
                            <!--<li class="{{getActiveClass 'contactables' name}}">-->
                                <!--<a href="/contactables/{{name}}">-->
                                    <!--<span>{{name}}</span>s-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--{{/each}}-->
                    <!--</ul>-->
                </li>

                <li class="jobs {{getActiveClass 'jobs' null}}">
                    <a href="/jobs">
                        <i class="icon icon-briefcase"></i>
                        <span>Jobs</span>
                        <!--<i class="arrow fa fa-chevron-right"></i>-->
                    </a>
                    <!--<ul>-->
                        <!--<li class="{{getActiveClass 'jobs' null}}">-->
                            <!--<a href="/jobs">-->
                                <!--<span>All</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--{{#each jobObjTypes}}-->
                            <!--<li class="{{getActiveClass 'jobs' name}}">-->
                                <!--<a  href="/jobs/{{name}}">-->
                                    <!--<span>{{name}}</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--{{/each}}-->
                    <!--</ul>-->
                </li>
                <li class="tasks {{getActiveClass 'matchups' null}}">
                    <a href="/matchups">
                        <i class="icon icon-check-list"></i>
                        <span>Matchups</span>
                    </a>
                </li>
                <li class="tasks {{getActiveClass 'tasks' null}}">
                    <a href="/tasks">
                        <i class="icon icon-clock-3"></i>
                        <span>Tasks</span>
                    </a>
                </li>
                <!--<li class="deals {{getActiveClass 'deals' null}}">-->
                    <!--<a href="/deals">-->
                        <!--<i class="icon icon-euro-currency-3"></i>-->
                        <!--<span>Deals</span>-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="tasks {{getActiveClass 'candidates' null}}">-->
                    <!--<a href="/candidates">-->
                        <!--<i class="icon icon-profile-man"></i>-->
                        <!--<span>Candidates</span>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="tasks {{getActiveClass 'notes' null}}">
                    <a href="/notes">
                        <i class="icon icon-note-paper-1"></i>
                        <span>Notes</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar -->
</template>