<template name="header">
    <!--{{>connectionBanner}}-->
    <div name="headerVM" style="position: relative;">
        <div id="user-nav" class="navbar-right pull-right">
            <ul class="btn-group">
                <li class="hidden-xs">
                    <a href="/user/{{user._id}}" style="display: inline-flex">
                        <span class="user-menu-thumb">
                            <img class="img-responsive" style="max-height:26px; max-width:26px" src="{{userThumbnail}}">
                        </span>
                        {{#if userName}}
                            <span class="msg-author">{{userName}}</span>
                        {{else}}
                            <span class="msg-author">{{userEmail}}</span>
                        {{/if}}
                        {{#if currentHierName}}
                            &nbsp;({{currentHierName}})
                        {{/if}}

                    </a>
                </li>
                <li class="btn dropdown" id="menu-settings">
                    <a href="#" data-toggle="dropdown" data-target="#menu-settings" class="dropdown-toggle">
                        <i class="fa fa-cog"></i>
                        <span class="text">{{_ "Settings"}}</span>
                    </a>

                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="/emailTemplates">Email Templates</a>
                        </li>

                        <li>
                            <a href="/hierarchyManagement">Hierarchies</a>
                        </li>
                        {{#if isAdmin}}
                            <li>
                                <a href="/management/hrconcourse">HRConcourse</a>
                            </li>

                            <li>
                                <a href="/management/lookups">Lookups</a>
                            </li>
                        {{/if}}
                        <li>
                            <a href="/userProfile">
                                My Profile
                            </a>
                        </li>
                        {{#if isAdmin}}
                            <li>
                                <a href="/subscriptionplan">Subscription</a>
                            </li>
                        {{/if}}
                        <li>
                            {{>userVoice}}

                        </li>



                        {{#if isAdmin}}
                            <li>
                                <a href="/management/testData">Test Data</a>
                            </li>
                            <li>
                                <a href="/management/twilioManagement">Texting Setup</a>
                            </li>

                            <li>
                                <a href="/users">Users</a>
                            </li>
                            <li>
                                <a href="/management/hierarchyMail">Hierarchy email</a>
                            </li>

                        {{/if}}
                        <li class="divider"></li>
                        <li>
                            <a href="/" id="signout">Sign out</a>
                        </li>
                    </ul>

                </li>
				<li>
					<select class="form-control" onChange="TAPi18n.setLanguage(this.value);">
					  <option value="en">English</option>
					  <option value="cn">中文</option>
					  <option value="es">Español</option>
					</select>
				</li>
            </ul>
        </div>

        <div id="header">
            <h1>
                <a href="/">
                    <span class="hidden-phone">Aïda</span>
                </a>
            </h1>
        </div>


        {{>sidebar}}
    </div>

</template>

<template name="sidebar">
    <a id="menu-trigger" href="#">
        <i class="fa fa-align-justify"></i>
    </a>

    <div id="sidebar" class="spanel-menu">

        <ul class="navbar navbar-inverse nav-stacked">
            <li class="dashboard {{getActiveClass 'dashboard' null}}">
                <a href="/">
                    <span>{{_ "Activities"}}</span>
                    <span class="i-container"><i class="icon icon-thumbnails-2"></i></span>
                </a>
            </li>
            <li class="contactables {{getActiveClass 'contactables' null}}">
                <a href="/contactables">
                    <span>{{_ "Network"}}</span>
                    <span class="i-container"><i class="icon icon-connection-1"></i></span>
                </a>
                <!--<i class="arrow trigger-menu fa fa-plus"></i>-->
                <!--<ul style="display: none">-->
                    <!--{{#each contactableTypes}}-->
                <!--<li><a href="/contactableAdd/{{name}}">Add {{name}}</a></li>-->
                    <!--{{/each}}-->
                <!--</ul>-->
            </li>

            <li class="jobs {{getActiveClass 'jobs' null}}">
                <a href="/jobs">
                    <span>{{_ "Jobs"}}</span>
                    <span class="i-container"><i class="icon icon-briefcase"></i></span>
                    <!--<i class="arrow fa fa-chevron-right"></i>-->
                </a>
            </li>
            <li class="placements {{getActiveClass 'placements' null}}">
                <a href="/placements">
                    <span>{{_ "Placements"}}</span>
                    <span class="i-container"><i class="ico-placements"></i></span>
                </a>
            </li>
            <li class="tasks {{getActiveClass 'tasks' null}}">
                <a href="/tasks">
                    <span>{{_ "Tasks"}}</span>
                    <span class="i-container"><i class="icon icon-check-4"></i></span>
                </a>
            </li>
            <li class="notes {{getActiveClass 'notes' null}}">
                <a href="/notes">
                    <span>{{_ "Notes"}}</span>
                    <span class="i-container"><i class="icon icon-pencil-3"></i></span>
                </a>
            </li>
            <li class="hotlists {{getActiveClass 'hotlists' null}}">
                <a href="/hotlists">
                    <span>{{_ "Hot Lists"}}</span>
                    <span class="i-container"><i class="icon icon-shuffle"></i></span>
                </a>
            </li>

            <li class="leaderboards {{getActiveClass 'leaderboards' null}}">
                <a href="/leaderboards">
                    <span>{{_ "Leaderboard"}}</span>
                    <span class="i-container"><i class="icon icon-cross-shield"></i></span>
                </a>
            </li>
            <li class="calendar {{getActiveClass 'calendar' null}}">
                <a href="/calendar">
                    <span>{{_ "Calendar"}}</span>
                    <span class="i-container"><i class="icon icon-calendar-2"></i></span>
                </a>
            </li>

        </ul>
    </div>
    <!-- /#sidebar -->
</template>