<template name="header">
    <!--{{>connectionBanner}}-->
    <div name="headerVM" style="">
        <div id="user-nav" class="navbar-right pull-right">
            <ul class="btn-group">
                <li class="hidden-xs">
                    <a href="/user/{{user._id}}" style="display: inline-flex" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="user-menu-thumb" id="tourActivitieslog">
                            <img class="img-responsive" style="max-height:26px; max-width:26px" src="{{userThumbnail}}">
                        </span>
                        {{#if userName}}
                            <span class="msg-author">{{userName}}</span>
                        {{else}}
                            <span class="msg-author">{{userEmail}}</span>
                        {{/if}}
                        {{#if currentHierName}}
                            &nbsp;({{currentHierName}})
                        {{/if}}

                    </a>

                    <ul class="dropdown-menu pull-right">

                        <li>
                            <a href="/userProfile" ><i class="fa fa-user"></i> {{_ "My profile"}}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="pointer trigger"><i class="fa fa-flag"></i> {{currentLanguageLabel}}</a>
                            <ul class="dropdown-menu sub-menu">
                                <li><a class="pointer" onClick="Meteor.users.update({_id: Meteor.userId()}, {$set: {language: 'en'}});">English</a></li>
                                <li><a class="pointer" onClick="Meteor.users.update({_id: Meteor.userId()}, {$set: {language: 'es'}});">Español</a></li>
                                <li><a class="pointer" onClick="Meteor.users.update({_id: Meteor.userId()}, {$set: {language: 'cn'}});">简体中文</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/hierarchyManagement" ><i class="fa fa-sitemap"></i> {{_ "Hierarchies"}}</a>
                        </li>



                        {{#if latestHiersCount}}
                            <li class="divider"></li>
                            {{#each latestHiers}}
                                <li>
                                    <a class="pointer changeHier">{{name}}</a>
                                </li>
                            {{/each}}
                        {{/if}}

                        <li class="divider"></li>
                        <li>
                            <a href="/" id="signout"><i class="fa fa-sign-out"></i> {{_ "Sign out"}}</a>
                        </li>
                    </ul>
                </li>
                <li class="btn dropdown" id="menu-settings">
                    <a href="/settings">
                        <i class="fa fa-cog"></i>
                        <span class="text">{{_ "Settings"}}</span>
                    </a>
                </li>

                <li>
                    {{#if isSysAdmin}}
                        <a href="/management/help"><i class="fa fa-question-circle"></i></a>
                    {{else}}
                        <a href="/help"><i class="fa fa-question-circle"></i></a>
                    {{/if}}
                </li>
            </ul>
        </div>

        <div id="header">
            <h1>
                <a href="/">
                    <span class="hidden-phone">Aïda</span>
                </a>
            </h1>
        </div>


        {{>sidebar}}
    </div>

</template>

<template name="sidebar">
    <a id="menu-trigger" href="#">
        <i class="fa fa-align-justify"></i>
    </a>
<!--//sidebar-->
    <div id="sidebar" class="spanel-menu" style="width:144px" >

        <ul class="navbar navbar-inverse nav-stacked" style="position:relative">
            <li class="dashboard {{getActiveClass 'dashboard' null}}">
                <a href="/">
                    <span>{{_ "Activities"}}</span>
                    <span class="i-container" id="tour-1-activities"><i class="icon icon-thumbnails-2"></i></span>
                </a>
            </li>
            <li class="contactables {{getActiveClass 'contactables' null}}" id="tourActivitiesnetwork">
                <a href="/contactables">
                    <span>{{_ "Network"}}</span>
                    <span class="i-container"><i class="icon icon-connection-1"></i></span>
                </a>

            </li>

            <li class="jobs {{getActiveClass 'jobs' null}}" id="tourActivitiesjobs">
                <a href="/jobs">
                    <span>{{_ "Jobs"}}</span>
                    <span class="i-container"><i class="icon icon-briefcase"></i></span>
                </a>
            </li>
            <li class="placements {{getActiveClass 'placements' null}}" id="tourActivitiesplacements">
                <a href="/placements">
                    <span>{{_ "Placements"}}</span>
                    <span class="i-container"><i class="ico-placements"></i></span>
                </a>
            </li>
            <li class="tasks {{getActiveClass 'tasks' null}}" id="tourActivitiestasks">
                <a href="/tasks">
                    <span>{{_ "Tasks"}}</span>
                    <span class="i-container"><i class="icon icon-check-4"></i></span>
                </a>
            </li>
            <li class="notes {{getActiveClass 'notes' null}}" id="tourActivitiesnotes">
                <a href="/notes">
                    <span>{{_ "Notes"}}</span>
                    <span class="i-container"><i class="icon icon-pencil-3"></i></span>
                </a>
            </li>
            <li class="hotlists {{getActiveClass 'extras' null}}">
                <a href="/extras">
                    <span>{{_ "Extras"}}</span>
                    <span class="i-container"><i class="glyphicon glyphicon-indent-left"></i></span>
                </a>
            </li>

            <li>
                <div class="list-actions-cell search-list" style="margin-top:20px">
                    <div class="input-group">
                                    <span class="prop-input">
                                        <input class="form-control" id="search-entry" placeholder="Search">
                                        <span class="text text-danger"></span>
                                    </span>
                                    <span class="input-group-btn">
                                       <button class="btn btn-default" id="sort-Entries" type="button">
                                       {{#if inverseCrono}}
                                           <i class="fa fa-sort-amount-asc"></i>
                                       {{else}}
                                           <i class="fa fa-sort-amount-desc"></i>
                                       {{/if}}
                                       </button>
                                    </span>
                                    <!--<div class="dropdown input-group-btn">-->
                                    <!--<button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">-->
                                        <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <!--</div>-->
                    </div>
                </div>
            </li>



        </ul>
        <div class="ui-sorteable navbar-lastEntries" style="padding-top:20px" id="pingeds">
            <!--<ul class="navbar nav-stacked  navbar-lastEntries" style="padding-left: 0;min-height: 0;">-->
        {{#each lastEntryPinged}}
            <div class="navbar nav-stacked navbar nav-stacked navbar-lastEntries" style="padding-left: 0;min-height: 0;" id="{{_id}}">
            {{>lastEntryItem}}
            </div>
        {{/each}}
            <!--</ul>-->
        </div>

        <div style="">
        <!--<ul class="navbar nav-stacked navbar-lastEntries" style="padding-left: 0;min-height: 0;">-->
            <div class="navbar-lastEntries" style="padding-top:20px" id="notPingeds">
          {{#each lastEntryNotPinged}}
          <div class="navbar nav-stacked navbar nav-stacked navbar-lastEntries" style="padding-left: 0;min-height: 0;" id="{{_id}}">
            {{>lastEntryItem}}
          </div>
          {{/each}}
        <!--</ul>-->
        </div>
        </div>


    </div>

</template>

<template name="lastEntryItem">

        <div class="row last-entry-item" >
            <div>
            <div class="" style="padding-left:0px;float:left;width:20%">
                {{#if isContactable}}
                    <a class="item-icon" href="{{link}}" style="padding:0px;color:rgba(255,255,255,0.55);height:inherit">
                        <i class="icon-profile-business-man" title="Contactable" style="font-size:16px"></i>
                    </a>
                {{/if}}
                {{#if isJob}}
                    <a class="item-icon" href="{{link}}" style="padding:0px;color:rgba(255,255,255,0.55);height:inherit">
                        <i class="icon icon-briefcase" title="Job" style="font-size:16px"></i>
                    </a>
                {{/if}}
                {{#if isPlacement}}
                    <a class="item-icon" href="{{link}}" style="padding:0px;color:rgba(255,255,255,0.55);height:inherit">
                        <i class="icon icon-suitcase-1" title="Placement"  style="font-size:16px"></i>
                    </a>
                {{/if}}
                {{#if isHotList}}
                    <a class="item-icon" href="{{link}}" style="padding:0px;color:rgba(255,255,255,0.55);height:inherit">
                        <i class="icon-list-4" title="Hot list"  style="font-size:16px"></i>
                    </a>
                {{/if}}
            </div>
            <div class="disapear-onHover" style="width:100%">
                <div style="float:right">
                    {{#if isPinged}}
                        <i class="glyphicon glyphicon-pushpin" id="ping-entry"
                           style="color:rgba(255,255,0,1);cursor: pointer"></i>
                    {{else}}
                        <i class="glyphicon glyphicon-pushpin" id="ping-entry"
                           style="color:rgba(255,255,255,0.55);cursor: pointer"></i>
                    {{/if}}
                    <i class="glyphicon glyphicon-remove-sign" id="remove-entry"
                       style="color:rgba(255,255,255,0.55);cursor: pointer"></i>
                </div>
            </div>
            </div>
            <div class=""
                 style="width:100%;padding-left:5po pox;overflow:hidden; white-space: nowrap;text-overflow: ellipsis;color:rgba(255,255,255,0.55)">
                <!--<a class="item-icon">-->
                <a style="color:rgba(255,255,255,0.55);" href="{{link}}">
                <span title="{{displayName}}" style="margin-top:5px">
                    {{displayName}}
                </span>
                </a>
                <!--</a>-->
            </div>

        </div>

</template>