<template name="addEditNote">
    <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h4>{{_ "Note"}}</h4>
                </div>
                {{#autoForm schema=schema id="addEditNoteForm" doc=getNote}}
                    <div class="modal-body">
                        <div>
                           {{> afQuickField name="msg" rows=4 style="max-width:100%" placeholder="Add note here..." class="form-control msg add-note-txt input-lg"}}
                        </div>
                        <div class="form-group {{#if afFieldIsInvalid name='remindDate'}}has-error{{/if}}">
                            <label class="control-label">{{_ "Remind date"}}</label>
                            {{> afDateTimePicker name='remindDate' value=remindDate placeholder="Remind Date" format="D, MM dd, yyyy hh:ii" startView="year" }}
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info pull-left pushOneDay" >
                            {{_ "Push 1 day"}}
                        </button>
                        <button type="submit" class="btn btn-info pull-left pushOneWeek">
                            {{_ "week"}}
                        </button>
                        <button type="submit" class="btn btn-info pull-left pushOneMonth">
                            {{_ "month"}}
                        </button>
                        <button class="btn btn-success accept save-note " disabled="{{addDisabled}}">{{_ "Save"}}</button>
                        <a href="#" class="btn" data-dismiss="modal">{{_ "Close"}}</a>
                    </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>