<template name="addEditNote">
    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h4>Task</h4>
                </div>
                <div class="modal-body">
                    <div class="box-5">
        <div class="add-note-form">
            <textarea id="note-input" class="form-control add-note-txt input-lg" rows="3" placeholder="Add note here..."></textarea>
            <button class="btn btn-primary pull-right add-note-btn">Add Note</button>
            <span id="add-note-feedback" class="label label-danger"></span>
            <div style="padding: 11px 0px;">
                {{#each linkedEntities}}
                {{#with getEntity .}}

                <a href="/" data-bind="attr: { href: Utils.getHrefFromLink({{..}})}">{{displayName}}</a>

                {{/with}}
                {{/each}}
            </div>
            <div style="margin: 5px;">
                <a data-toggle="collapse" href="#links"> <span style="color: gray;text-decoration: underline;cursor: pointer;" >Link note</span></a>
            </div>
            <div id="links" class="panel-collapse collapse">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <select class="form-control" id="typeSelect" title="Select the type of entity that you want to link to the note">
                                <option value="">--type--</option>
                                {{#each types}}
                                <option value="{{value}}">{{displayName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" id="entitySelect" title="Select the entity that you want to link">
                                <option value="">--select--</option>
                                {{#each entities}}
                                <option value="{{_id}}">{{displayName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button id="linkEntity" class="btn btn-sm btn-primary">Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.tab-pane-box -->
                </div><!-- /#note -->
            </div>
        </div>
    </div>
</template>

