<template name="subscriptionPlanTemplate">
    <div id="content">
        <div id="content-header" class="mini">
            <h1>Subscription plan</h1>
        </div>
        <!-- /.content-header -->

        <div id="breadcrumb">
            <a href="/" title="" class="tip-bottom" data-original-title="Go to Home">
                <i class="fa fa-home"></i>Home</a>
            <a href="#" class="current">Subscription</a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    {{>freePlanSubscription}}
                </div>
                <div class="col-md-4">
                    {{>enterprisePlanSubscription}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="freePlanSubscription">
    {{#with plan}}
        <div class="panel panel-success">
            <div class="panel-heading"><h3 class="text-center">UNSUPPORTED PLAN</h3></div>
            <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>FREE</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class="icon-ok text-danger"></i>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Users </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                            <!--{{#if isFree}}-->
                                <!--{{usersCount}}/{{usersLimit}}-->
                            <!--{{else}}-->
                                <!--{{usersLimit}}-->
                            <!--{{/if}}-->
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Contactables </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                            <!--{{#if isFree}}-->
                                <!--{{contactablesCount}}/{{collections.Contactables.limit}}-->
                            <!--{{else}}-->
                                <!--{{collections.Contactables.limit}}-->
                            <!--{{/if}}-->
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Jobs </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                            <!--{{#if isFree}}-->
                                <!--{{jobsCount}}/{{collections.Jobs.limit}}-->
                            <!--{{else}}-->
                                <!--{{collections.Jobs.limit}}-->
                            <!--{{/if}}-->
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Messages </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                            <!--{{#if isFree}}-->
                                <!--{{messagesCount}}/{{collections.Messages.limit}}-->
                            <!--{{else}}-->
                                <!--{{collections.Messages.limit}}-->
                            <!--{{/if}}-->
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Documents </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                            <!--{{#if isFree}}-->
                                <!--{{getPercentageStorageUsed}}% ({{storageUsed}}/{{storageLimit}} MB)-->
                            <!--{{else}}-->
                                <!--{{storageLimit}}-->
                            <!--{{/if}}-->
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Tasks </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            {{#if isFree}}
                                {{tasksCount}}/{{collections.Tasks.limit}}
                            {{else}}
                                {{collections.Tasks.limit}}
                            {{/if}}
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Resume parser </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-check-1"></i>
                            <!--<i class="icon-cross-1"></i>-->
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel-footer">
                {{#if isFree}}
                    {{> currentSubscription}}
                {{/if}}

            </div>
        </div>
    {{/with}}
</template>
<template name="basicPlanSubscription">
    {{#with plan}}
    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="text-center">BASIC PLAN</h3></div>
        <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>$ {{price}} / month</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <strong> Users </strong>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <i class="icon-infinity"></i>
                    </div>
                </div>
            </li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <strong> Network contacts </strong>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <i class="icon-infinity"></i>
                    </div>
                </div>
            </li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <strong> Jobs </strong>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <i class="icon-infinity"></i>
                    </div>
                </div>
            </li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <strong> Messages </strong>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <i class="icon-infinity"></i>
                    </div>
                </div>
            </li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <strong> Documents </strong>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        {{#if isEnterprise}}
                        {{getPercentageStorageUsed}}% ({{storageUsed}}/{{storageLimit}} MB)
                        {{else}}
                        {{storageLimit}} MB
                        {{/if}}
                    </div>
                </div>
            </li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <strong> Tasks </strong>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        {{#if isEnterprise}}
                        {{tasksCount}}/{{collections.Tasks.limit}}
                        {{else}}
                        {{collections.Tasks.limit}}
                        {{/if}}
                        per month
                    </div>
                </div>
            </li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <strong> Resume parser </strong>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <i class="icon-check-1"></i>
                    </div>
                </div>
            </li>
        </ul>
        <div class="panel-footer">
            {{#if isEnterprise}}
            {{> currentSubscription}}
            {{else}}
            <div style="text-align: center">
                {{#paypalButton}}
                {{/paypalButton}}
            </div>
            {{/if}}
        </div>
    </div>
    {{/with}}
</template>
<template name="enterprisePlanSubscription">
    {{#with plan}}
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="text-center">SUPPORTED PLAN</h3></div>
            <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>$49 / month</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class="icon-ok text-danger"></i>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Users </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Networks contacts </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Jobs </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Messages </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Documents </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                            <!--{{#if isEnterprise}}-->
                            <!--{{getPercentageStorageUsed}}% ({{storageUsed}}/{{storageLimit}} MB)-->
                            <!--{{else}}-->
                            <!--{{storageLimit}} MB-->
                            <!--{{/if}}-->
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Tasks </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-infinity"></i>
                            <!--{{#if isEnterprise}}-->
                                <!--{{tasksCount}}/{{collections.Tasks.limit}}-->
                            <!--{{else}}-->
                                <!--{{collections.Tasks.limit}}-->
                            <!--{{/if}}-->
                            <!--per month-->
                        </div>
                    </div>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>  <!--<div class="row">-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong> Resume parser </strong>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <i class="icon-check-1"></i>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel-footer">
                {{#if isEnterprise}}
                    {{> currentSubscription}}
                {{else}}
                    <div style="text-align: center">
                        {{#paypalButton}}
                        {{/paypalButton}}
                    </div>
                {{/if}}
            </div>
        </div>
    {{/with}}
</template>

<template name="currentSubscription">
    <div style="height: 52px; text-align: center">
        <strong class="text-large text-info"> Current </strong>
    </div>
</template>