<template name="sendMessage">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Send Message</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Method</label>
                            <select class="form-control" data-bind="options: methods, value: selectedMethod"></select>
                        </div>
                        <div class="form-group">
                            <label>Known addresses</label>
                            <select class="form-control" data-bind="options: emails, value: selectedAdress,  optionsText: 'value',optionsValue:'value', optionsCaption: 'Other...'"></select>
                        </div>
                        <div data-bind="with: email">

                            <div class="form-group" data-bind="css:{'has-error': to.isModified() && ! to.isValid()}">

                                <label class="control-label" for: "to">Email address</label>
                                <input class="form-control" data-bind="value: to, valueUpdate:'afterkeydown'" placeholder="Email Address..." />
                                <span class="text-danger" data-bind="validationMessage: to"></span>
                            </div>
                            <div>
                                <div data-bind="visible: $parent.showContactMethodName" class="form-group">
                                    <label>enter a name for this contact method (personal email, etc)</label>
                                    <input class="form-control" data-bind="value: $parent.contactMethodName" placeholder="Contact Method Name.." />
                                </div>
                                <a class="btn btn-link" data-bind="click: $parent.addToContactMethods, visible: !$parent.existsInContactMethods()">Add to contact methods</a>
                                <span class="text-muted" data-bind="visible: $parent.existsInContactMethods()">Added to contact methods</span>
                            </div>
                            <div class="form-group" data-bind="css:{'has-error': subject.isModified() && ! subject.isValid()}">
                                <label class="control-label" for: "subject">Subject</label>
                                <input class="form-control" data-bind="value: subject" placeholder="Subject..." />
                                <span class="text-danger" data-bind="validationMessage: subject"></span>
                            </div>

                            <div class="form-group" data-bind="css:{'has-error': text.isModified() && ! text.isValid()}">
                                <label class="control-label" for: "text">Message</label>
                                <textarea class="form-control" rows="3" data-bind="value:text" placeholder="Message..." />
                                <span class="text-danger" data-bind="validationMessage: text"></span>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" data-bind="click: send">Add</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</template>
