<template name="noteItem">
    <div class="list-item notes-list-item {{noteClass}}">
        <div class="list-item-cell list-item-icon">
            <a href="#" class="item-icon item-icon-notes editNote"><i class="icon icon-pencil-3"></i></a>
        </div>
        <div class="list-item-cell notes-list-item-title">
            <div class="item-title">{{>showMore text=msg limit=100}}
                {{#if sendAsSMS}}
                    <div class="text-muted">
                        {{#if isReply}}
                            <i class="icon-inbox-4"></i>
                        {{else}}
                            <i class="icon-plane-paper-1"></i>
                        {{/if}}
                        <strong> SMS </strong>

                        <span class="bullet-spacer">·</span>
                        <span> From {{getPhoneNumberDisplayName userNumber}}</span>
                        <span> To {{getPhoneNumberDisplayName  contactableNumber}}</span>
                    </div>
                {{/if}}
            </div>
            <div class="item-subtitle text-gray">
                <a href="#">
                    {{#if fromEmployee}}
                        {{displayEmployeeName}}
                    {{else}}
                        {{displayUserName userId}}
                    {{/if}}
                </a>&nbsp;&nbsp;
                {{#formattedDate value=dateCreated format='fromNow'}}
                    {{date}}
                {{/formattedDate}}
            </div>
        </div>
        <div class="list-item-details notes-list-item-details">
            <div class="list-item-cell notes-list-item-linked">
                {{#if hasLinks}}
                    <div id="link-{{_id}}">
                        {{#each links}}
                            <a href="{{getHref}}">
                                {{#with getEntity}}
                                    <span class="badge item-label">{{displayName}}</span>
                                {{/with}}

                            </a>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
            <div class="list-item-cell notes-list-item-edit">
                <i class="fa fa-clock-o"></i>&nbsp;
                {{#formattedDate value=dateCreated format='lll'}}
                    {{date}}
                {{/formattedDate}}
            </div>
            <div class="list-item-cell item-overflow notes-item-overflow">

                            <a class="editNote pointer"><i class="fa fa-edit"></i></a>
                            <span class="bullet-spacer">·</span>
                            <a class="deleteNoteRecord pointer"><i class="fa fa-trash-o"></i></a>

            </div>
        </div>
    </div>



</template>