<template name="notesTemplate">
<div class="container-fluid">
    <div class="row">
        <div class="actions-head col-md-7 col-lg-7">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="btn-group pull-left suffix-5">
                            <button type="button" class="btn btn-success addNote" title="Add">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                        <div class="input-group">
                            <input id="search-string" type="text" class="form-control" placeholder="Search notes">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                        </div>
                    </div><!-- /.col-lg-5 -->

                </div><!-- /.row -->
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <div class="table-items-box">
                {{#each notes}}

                <div class="table-item magic">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="table-item-cell">
                                <div class="table-item-cell-container">
                                    <div class="table-item-title">
                                        <span class="text text-info"> {{content}}</span>
                                    </div>
                                    <div class="task-author">
                                        by
                                        {{#userInfo userId=userId}}
                                        <a href="#"><strong id="username"> {{username}} </strong></a>
                                        {{/userInfo}}
                                        linked with
                                        <i class="fa fa-long-arrow-right"></i>
                                        {{#each links}}
                                        <a href="{{getUrl .}}">
                                            {{#with getEntity .}}
                                            <span class="badge badge-primary">{{displayName}}</span>
                                            {{/with}}
                                        </a>
                                        {{/each}}
                                    </div>
                                </div>
                                <!-- /.table-item-cell-container -->
                            </div>
                        </div>
                        <!-- /.table-item-cell -->
                        <div class="col-sm-3">
                            <div class="table-item-cell">
                                <div class="table-item-cell-container">
                                    <div class="date">
                                        {{#formattedDate value=dateCreated format="fromNow"}}
                                        <span>{{date}}</span>
                                        {{/formattedDate}}
                                    </div>
                                </div>
                                <!-- /.table-item-cell-container -->
                            </div>
                            <!-- /.table-item-cell -->
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</template>