<template name="noteItem">
    <div class="table-item note {{noteClass}}">
        <a class="btn btn-xs btn-success text-small editNote pointer" title="Edit"
           style="position: absolute; top: 4px; right: 4px; z-index: 10">
            <i class="fa fa-pencil"></i>
        </a>

        <div class="row">
            <div class="col-xs-10">
                <div class="table-item-cell">
                    <div class="table-item-cell-container">
                        <div>
                            <p class="text text-info"> {{>showMore text=msg limit=60}}</p>
                        </div>

                        <div class="pull-left" data-bind="foreach: links">
                            {{#each links}}
                                <a href="{{getHref}}">
                                    {{#with getEntity}}
                                        <span class="badge">{{displayName}}</span>
                                    {{/with}}
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>


            <!-- /.col-sm-4 -->
            <div class="col-xs-2">
                <div class="table-item-cell" style="margin-top: 13px">
                    <div class="table-item-cell-container date">
                        {{#formattedDate value=dateCreated format='fromNow'}}
                            {{date}}
                        {{/formattedDate}}<br/>
                        {{#formattedDate value=begin format='lll'}}
                            {{date}}
                        {{/formattedDate}}<br/>
                        <!-- /.table-item-cell-container -->
                        <span>{{displayUserName userId}}</span>
                    </div>
                    <!-- /.table-item-cell -->
                </div>
                <!-- /.col-sm-3 -->
            </div>

            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
</template>