<template name="lookUpsManagement">
    <div id="content" class="lookUps">
        <div id="content-header" class="mini">
            <h1>Lookups management</h1>
        </div>
        
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Management</a>
            <a href="/lookups" class="current">Lookups</a>
        </div>

        <div class="container-fluid">
            <div class="panel panel-default">
                <!-- Header -->
                <div class="panel-heading">
                    <div class="row show-grid">
                        <div class="col-xs-12 col-lg-12">
                            {{> selectLookUpType }}
                        </div>
                    </div>
                    <div class="row show-grid">
                        <div class="col-xs-12 col-sm-6">
                            {{> searchLookUpItem }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{> addNewLookUpItem}}
                        </div>
                    </div>
                </div>
                
                <!-- Body -->
                <div class="panel-body no-padding">
                    <ul class="list-3 stripped">
                        {{#each items}}
                            <li>
                                <!-- Name -->
                                <div class="col-xs-12 col-sm-8 no-padding">
                                    {{#if editMode}}
                                        <div class="col-xs-9 no-padding">
                                            <input class="form-control" id="{{_id}}" type="text" placeholder="Enter a name" value="{{displayName}}"/>
                                        </div>
                                        <div class="col-xs-3 no-padding" style="padding-left: 3px; top: 2px">
                                            <div class="btn-group">
                                                <span class="btn btn-sm btn-success save"><i class="fa fa-check"></i></span>
                                                <span class="btn btn-sm btn-danger cancel"><i class="fa fa-times"></i></span>
                                            </div>
                                        </div>
                                    {{else}}
                                        <span class="label label-default pointer edit" title="Edit">Edit</span>
                                        <span>{{displayName}}</span>
                                    {{/if}}
                                </div>
                                
                                <!-- Default -->
                                <div class="col-xs-6 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                          <input type="checkbox" checked="{{isDefault}}" class="set-default" /> Default
                                        </label>
                                    </div>
                                </div>
                                
                                <!-- Active -->
                                <div class="col-xs-6 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                          <input type="checkbox" checked="{{inactive}}" class="inactive" /> Inactive
                                        </label>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</template>


<template name="selectLookUpType">
    <select class="form-control input-lg" type="text" >
        {{#each lookUpTypes}}
            <option value="{{code}}" selected="{{isSelected code ../value}}">{{displayName}}</option>
        {{/each}}
    </select>
</template>

<template name="searchLookUpItem">
    <div class="input-group">
        {{#objectProperty property=searchString}}
            <input type="text" class="form-control" placeholder="Search" value="{{value}}" />
        {{/objectProperty}}
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" title="Search">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</template>

<template name="addNewLookUpItem">
    <div class="input-group">
        <input id="new-item" type="text" class="form-control" placeholder="New item"/>
        <span class="input-group-btn">
            <button id="add-item" class="btn btn-primary" type="button" title="Add">
                <i class="fa fa-plus"></i>
            </button>
        </span>
    </div>
</template>

