<template name="lookUpsManagement">
    <div id="content" class="lookUps">
        <div id="content-header" class="mini">
            <h1>Lookups management</h1>
        </div>


        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Management</a>
            <a href="/lookups" class="current">Lookups</a>
        </div>

        <div class="container-fluid">
            <div class="panel panel-default">
                <!-- Header -->
                <div class="panel-heading">
                    <div class="row show-grid">
                        <div class="col-xs-12 col-lg-12">
                            {{> selectLookUpType }}
                        </div>
                    </div>
                    <div class="row show-grid">
                        <div class="col-xs-12 col-sm-6">
                            {{> searchLookUpItem }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{> addNewLookUpItem}}
                        </div>
                    </div>
                </div>

                <!-- Body -->
                <div class="panel-body no-padding">
                    <ul class="list-3 stripped">
                        {{#each items}}
                            <li>
                                <!-- Name -->
                                <div class="col-xs-12 col-sm-3 no-padding">
                                    {{#if editMode}}
                                        <div class="col-xs-9 no-padding">
                                            <input class="form-control" id="{{_id}}" type="text"
                                                   placeholder="Enter a name" value="{{displayName}}"/>
                                        </div>
                                        <div class="col-xs-3 no-padding" style="padding-left: 3px; top: 2px">
                                            <div class="btn-group">
                                                <span class="btn btn-sm btn-success save"><i
                                                        class="fa fa-check"></i></span>
                                                <span class="btn btn-sm btn-danger cancel"><i
                                                        class="fa fa-times"></i></span>
                                            </div>
                                        </div>
                                    {{else}}
                                        <span class="label label-default pointer edit" title="Edit">Edit name</span>
                                        <span>{{displayName}}</span>
                                    {{/if}}
                                </div>
                                <!-- lookUpAction -->
                                <div class="col-xs-12 col-sm-3 no-padding">
                                    {{#if editActionMode}}
                                        <div class="col-xs-9 no-padding">
                                            <div class="input-group">
                                                <select id="{{_id}}newLookUpAction" class="form-control input-lg"
                                                        type="text">
                                                    {{#each getLookUpActions ..}}
                                                        <option value="{{.}}">{{.}}</option>
                                                    {{/each}}
                                                </select>
                                            <span class="input-group-btn">
                                                  <button class="add-tag btn btn-success save_lookUpAction"
                                                          type="button"><span class="fa fa-plus"></span></button>
                                            </span>
                                            </div>

                                            <div class="box">
                                                <div class="box-content-md tags-content">
                                                    {{#each lookUpActions}}

                                                        <button type="button" class="tag btn btn-xs btn-primary">
                                                            {{.}}
                                                            <i id="{{getId ..}}" lookUpAction="{{.}}"
                                                               class="remove-tag fa fa-times"></i>
                                                        </button>
                                                    {{/each}}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 no-padding" style="padding-left: 3px; top: 2px">
                                            <div class="btn-group">
                                                <span class="btn btn-sm btn-success save"><i
                                                        class="fa fa-check"></i></span>
                                                <span class="btn btn-sm btn-danger cancelAction"><i
                                                        class="fa fa-times"></i></span>
                                            </div>
                                        </div>
                                    {{else}}
                                        <span class="label label-default pointer editAction"
                                              title="Edit">Edit actions</span>
                                        {{#each lookUpActions}}{{.}} {{/each}}
                                    {{/if}}
                                </div>

                                <!-- Default -->
                                <div class="col-xs-6 col-sm-1">
                                    <label class="">Sort:</label>

                                    <div class="">
                                        <input type="number" step="any" class="form-control set-sort" value="{{sortOrder}}">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-1">
                                    <div class="">
                                        <label>
                                            <input type="checkbox" checked="{{isDefault}}" class="set-default"/> Default
                                        </label>
                                    </div>
                                </div>

                                <!-- Active -->
                                <div class="col-xs-6 col-sm-1">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked="{{inactive}}" class="inactive"/> Inactive
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-1">
                                    <span class="time-text">{{_id}}</span>
                                    <span class="time-text">{{hierId}}</span>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="selectLookUpType">
    <select class="form-control input-lg" type="text">
        <option disabled selected> -- select an option --</option>
        {{#each lookUpTypes}}
            <option value="{{lookUpCode}}" selected="{{isSelected lookUpCode ../value}}">{{displayName}}</option>
        {{/each}}
    </select>
</template>


<template name="searchLookUpItem">
    <div class="input-group">
        {{#objectProperty property=searchString}}
            <input type="text" class="form-control" placeholder="Search" value="{{value}}"/>
        {{/objectProperty}}
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" title="Search">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</template>
<template name="searchlookUpActionItem">
    <div class="input-group">
        {{#objectProperty property=searchString}}
            <input type="text" class="form-control" placeholder="Search" value="{{value}}"/>
        {{/objectProperty}}
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" title="Search">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</template>

<template name="addNewLookUpItem">
    <div class="input-group">
        <input id="new-item" type="text" class="form-control" placeholder="New item"/>
        <span class="input-group-btn">
            <button id="add-item" class="btn btn-primary" type="button" title="Add">
                <i class="fa fa-plus"></i>
            </button>
        </span>
    </div>
</template>

