<template name="addContactable">
    <div class="modal fade" id="addContactableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" name="addContactableModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h4 data-bind="text: objTypeName() + ' add'"></h4>
                </div>
                <div class="modal-body " data-bind="if: $data.ready">
                    <form role="form">
                        <select class="form-control" data-bind="options: helper.getPersonTypes(), value: selectedType"></select>
                        <!-- Show static fields -->
                        <div data-bind="with: entity">
                            {{>addPerson}} {{>addOrganization}}
                        </div>
                        <!-- Show dynamic fields and relations -->
                        <div data-bind="template: { name: 'showDynamicObjectTemplate', data: $data}"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a data-bind="click: add" class="btn btn-success">Add</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
        <!-- Templates -->
        {{>showDynamicObjectTemplate}}
    </div>
</template>

<template name="addOrganization">
    <div data-bind="if: $parent.selectedType()==Enums.personType.organization">

        <div data-bind="with: organization">
            <fieldset>
                <div data-bind="template: { name: 'inStringField', data: {name: 'organizationName', value:$data.organizationName} }" />
            </fieldset>
        </div>
    </div>
</template>
<template name="addPerson">
    <!-- ko if: $parent.selectedType()==Enums.personType.human -->
    <!-- ko with: person -->
    <div class="form-group" data-bind="template: { name: 'inStringField', data: {name: 'firstName', value:$data.firstName} }">
    </div>
    <div class="form-group" data-bind="template: { name: 'inStringField', data: {name: 'middleName', value:$data.middleName} }">
    </div>
    <div class="form-group" data-bind="template: { name: 'inStringField', data: {name: 'lastName', value:$data.lastName} }">
    </div>
    <div class="form-group" data-bind="template: { name: 'inStringField', data: {name: 'salutation', value:$data.salutation} }">
    </div>
    <div class="form-group" data-bind="template: { name: 'inStringField', data: {name: 'jobTitle', value:$data.jobTitle} }">
    </div>
    <!-- /ko -->
    <!-- /ko -->
</template>