<template name="placementsBox">
    <div class="row">
        <div class="col-md-3 col-lg-3" id="column-filters">
            {{> placementFilters placementCount=placementCount}}
        </div>
        <div class="col-md-9" id="column-list">
            <div class="list-container">
                <div class="list-holder">

                    <div class="list-actions">
                        {{>placementListSearch}}
                    </div>

                    {{>placementListHeader}}

                    {{#if isSearching}}
                        searching
                    {{else}}
                        {{> placementList }}
                    {{/if}}

                    <div class="list-actions last">
                        {{#if listIsLoading}}
                            loading
                        {{else}}
                            {{#unless isESSearch}}
                                {{>fastPagination name="placements" useKeys="true" postRenderCallback="$('.pagination-container').addClass('magic-pager');"}}
                            {{/unless}}
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<template name="placementListHeader">
    {{#if listViewMode}}
        <div class="list-header placements-list-header simple-view">
            <div class="list-header-cell placements-list-header-title">Title</div>
            <div class="list-header-cell placements-list-header-owner">Owner</div>
            <div class="list-header-cell placements-list-header-time">Date</div>
        </div>
        <!-- /.list-header -->
    {{else}}
        <div class="list-header placements-list-header">
            <div class="list-header-cell placements-list-header-title">Title</div>
            <div class="list-header-cell placements-list-header-status">Status</div>
            <div class="list-header-cell placements-list-header-code">Code</div>
            <div class="list-header-cell placements-list-header-owner">Owner</div>
            <div class="list-header-cell placements-list-header-time">Date</div>
        </div>
    {{/if}}
</template>

<template name="placementListSearch">
    {{#if showAddButton}}
        <div class="list-actions-cell btn-add-to-list">
            <div class="btn-group">
                <button type="button" class="btn btn-success addPlacement" title="Add">
                    <span class="fa fa-plus"></span>
                </button>
            </div>
        </div>
        <!-- /.btn-add-to-list -->
    {{/if}}

    <div class="list-actions-cell search-list">
        <div class="input-group">
            <span class="prop-input">
                {{#objectProperty property=searchString}}
                    <input id="searchString" type="text" class="form-control" placeholder="Search placements"
                           value="{{value}}">
                {{/objectProperty}}
                <span class="text text-danger"></span>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
    <!-- /.search-list -->

    <div class="list-actions-cell view-mode-list">
        {{#if listViewMode}}
            <a href="#"><i id="detail-view" class="fa fa-th-list"></i></a>
            <a class="active" href="#"><i class="fa fa-bars"></i></a>
        {{else}}
            <a class="active" href="#"><i class="fa fa-th-list"></i></a>
            <a href="#"><i id="list-view" class="fa fa-bars"></i></a>
        {{/if}}
        <a id="toggle-filters" href="#" data-view="normal"><i class="fa fa-desktop"></i></a>
    </div>
    <!-- /.view-mode-list -->

    <div class="list-actions-cell order-list">
        {{> placementListSort}}
    </div>
    <!-- ./order-list -->

    {{#if listIsLoading}}
        loading
    {{else}}
        {{#unless isESSearch}}
            {{>fastPagination name="placements" useKeys="true" postRenderCallback="$('.pagination-container').addClass('magic-pager');"}}
        {{/unless}}
    {{/if}}
</template>

<template name="placementListSort">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Sort
            {{#with selectedSort}}
                <strong>{{displayName}}</strong>
                {{#if isAscSort .}}
                    <i class="fa fa-sort-amount-asc"> </i>
                {{else}}
                    <i class="fa fa-sort-amount-desc"> </i>
                {{/if}}
            {{/with}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#each sortFields}}
                <li>
                    <a class="sort-field" href="#">
                        {{displayName}}
                        {{#if isFieldSelected .}}
                            {{#if isAscSort .}}
                                <i class="fa fa-sort-amount-asc"> </i>
                            {{else}}
                                <i class="fa fa-sort-amount-desc"> </i>
                            {{/if}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="placementFilters">
    {{#with information}}
        <div class="page-title">
            <h1><span>{{placementsCount}}</span> records</h1>
        </div>
    {{/with}}

    <div class="filter">
        <div class="filter-list" id="filter-body">
            {{> filter_lookUp title="Process status" code=10 lookUpValue=query.statuses multi=true}}

            {{> filter_lookUp title="Active status" code=13 lookUpValue=query.activeStatus multi=true}}

            {{> filter_dateCreated selectedLimit=query.selectedLimit}}
            {{> filter_createdBy showMineOnly=query.mineOnly}}

            {{> filter_tags tags=query.tags}}
        </div>
    </div>
</template>

<template name="placementList">
    {{#if isLoading}}
        <div style="height: 280px;"></div>
    {{else}}
        <div class="list-item-section {{#if listViewMode}}simple-view{{/if}}">
            {{#each placements}}
                {{> placementListItem }}
            {{else}}
                {{#if info.isFiltering.value }}
                    <div class="v-wrapper">
                        <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                            <i class="icon-connection-1 text-large"></i>

                            <h1>No records Found</h1>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
</template>

<template name="placementListItem">
    {{#if listViewMode}}
        <div class="list-item placements-list-item">
            <div class="list-item-cell placements-list-item-title">
                <div class="item-title">
                    <a href="/contactable/{{employee}}">{{employeeDisplayName}}</a>
                    <i class="fa fa-long-arrow-right"></i>
                    <a href="/job/{{job}}">{{jobDisplayName}}</a>
                </div>
                <span class="item-label prefix-10">{{lookUpName candidateStatus}}</span>
                <span class="item-label">{{lookUpName activeStatus}}</span>
            </div>
        </div>
        <div class="list-item-details placements-list-item-details">
            <div class="list-item-cell placements-list-item-owner">{{displayUserName userId}}</div>
            <div class="list-item-cell placements-list-item-time">
                {{#if startDate}}
                    {{#formattedDate value=startDate}}
                        {{date}}
                    {{/formattedDate}}
                {{/if}}
                {{#if endDate}}
                    {{#if startDate}}&nbsp;&mdash;&nbsp;{{/if}}
                    {{#formattedDate value=endDate}}
                        {{date}}
                    {{/formattedDate}}
                {{/if}}
            </div>
        </div>
        <!-- /.list-item-cell -->
    {{else}}
        <div class="list-item placements-list-item">
            <div class="list-item-cell list-item-icon">
                <a href="/placement/{{_id}}" class="item-icon item-icon-placements"><i class="ico-placements"></i></a>
            </div>
            <div class="list-item-cell placements-list-item-title">
                <div class="item-title"><a href="/contactable/{{employee}}">{{employeeDisplayName}}</a> <i
                        class="fa fa-long-arrow-right"></i> <a href="/job/{{job}}">{{jobDisplayName}}</a></div>
                <div class="item-subtitle-more">
                    {{> placementInformation}}
                </div>
            </div>
            <div class="list-item-details placements-list-item-details">
                <div class="list-item-cell placements-list-item-status">
                    <span class="item-label">{{lookUpName candidateStatus}}</span> <span
                        class="item-label">{{lookUpName activeStatus}}</span>
                </div>
                <div class="list-item-cell placements-list-item-code ">{{displaySearchKey _id}}</div>
                <div class="list-item-cell placements-list-item-owner">{{displayUserName userId}}</div>
                <div class="list-item-cell placements-list-item-time">
                    {{#formattedDate value=dateCreated format='fromNow'}}
                        <span>{{date}}</span><br>
                    {{/formattedDate}}
                </div>
                <div class="list-item-cell item-overflow placements-item-overflow">
                    <a href="#">
                        <span class="ico-more">
                          <span class="dot-1"></span>
                          <span class="dot-2"></span>
                          <span class="dot-3"></span>
                        </span>
                    </a>
                </div>
            </div>
            <!-- /.list-item-cell -->
        </div>
    {{/if}}
</template>

<template name="placementInformation">
    <span>
        {{#if startDate}}
            <i class="fa fa-calendar-o"></i>&nbsp;
            {{#formattedDate value=startDate}}
                {{date}}
            {{/formattedDate}}
        {{/if}}

        {{#if endDate}}
            {{#unless startDate}}
                <i class="fa fa-calendar-o"></i>&nbsp;
            {{else}}
                &mdash;
            {{/unless}}
            {{#formattedDate value=endDate}}
                {{date}}
            {{/formattedDate}}
        {{/if}}
    </span>
    <br>
    {{#if jobLocationDisplayName}}
        <span><i class="fa fa-map-marker"></i>{{jobLocationDisplayName}}</span><br>
    {{/if}}

    <!-- Placement rates -->
    {{#each this.placementRates}}
        <strong>{{getRateTypeDisplayName}}</strong>&nbsp;{{bill}}/{{pay}}<br/>
    {{/each}}
</template>