<template name="placementsBox">


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <sidebar>
                    {{> placementsFilters }}
                </sidebar>
            </div>

            <div class="col-md-8 col-lg-8">
                {{>placementsListSearch}}
            </div>

            <div class="col-md-9 col-lg-9">
                {{#if isSearching}}
                searching
                {{else}}
                {{> placementsList }}
                {{/if}}
                {{#infinityScroll cb=showMore}} {{/infinityScroll}}
            </div>
        </div>
        <!--/ko-->
    </div>
</template>

<template name="placementsFilters">
    <div class="filter">
        <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
            <strong><i class="fa fa-filter"></i></strong>
        </a>
        <div class="filter-list" id="filter-body">

            <div class="filter-item">
                <div class="filter-title">
                    Status
                </div>

                {{>lookupFilterTemplate lookUpCode=10 callback=statusChanged multi=true}}
            </div>

            <div class="filter-item">
                <div class="filter-title">
                    <i class="fa fa-eye"></i>
                    Visibility
                </div>

                <button id="show-inactives" type="button" class="{{showInactives}}">Inactives</button>
            </div>

            <div class="filter-item">
                <div class="filter-title">
                    <i class="fa fa-calendar"></i>
                    Creation date
                </div>

                <button type="button" class="{{recentOptionClass recentOptions.day}}" style="margin-bottom: 3px" id="recent-day">Today</button>
                <button type="button" class="{{recentOptionClass recentOptions.week}}" style="margin-bottom: 3px" id="recent-week">This week</button>
                <button type="button" class="{{recentOptionClass recentOptions.month}}" style="margin-bottom: 3px" id="recent-month">This month</button>
                <button type="button" class="{{recentOptionClass recentOptions.year}}" style="margin-bottom: 3px" id="recent-year">This year</button>
            </div>

            <div class="filter-item">
                <div class="filter-title">
                    <i class="fa fa-tags"></i>
                    Tags
                </div>

                <div class="input-group" style="margin-bottom: 10px">
                    <input id="new-tag" type="text" class="form-control" placeholder="E.g. javascript, sales">
                    <span class="input-group-btn">
                      <button class="add-tag btn btn-default" type="button"><span class="fa fa-plus"></span></button>
                    </span>
                </div>

                {{#objectProperty property=tags}}
                    <button type="button" class="tag btn btn-xs btn-info">
                        <span >{{value}}</span>
                        <i class="remove-tag fa fa-times"></i>
                    </button>
                {{/objectProperty}}
            </div>
        </div>
    </div>
</template>

<template name="placementsList">
    <div>
        <!--{{> placementsListSearch }}-->
        {{#each placements}}
        {{> placementsListItem }}
        {{else}}
        {{#if info.isFiltering.value }}
        <div class="v-wrapper">
            <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                <i class="icon-connection-1 text-large"></i>
                <h1>
                    No records Found
                </h1>
            </div><!-- /.v-wrapper-cell -->
        </div>
        {{else}}

        {{/if}}
        {{/each}}
    </div>
</template>

<template name="placementsListItem">
    <div class="table-item magic">
        <div class="row ">
            <div class="col-sm-4">
                <div class="table-item-cell">
                    <div class="table-item-cell-container">

                        <div class="table-item-title">
                            <strong class="text text-muted" style="font-size: 25px; color: '#A29E9E'">
                            <a href="/placement/{{_id}}">
                                {{statusDisplayName}}:&nbsp;
                            </a>
                            </strong>

                            <a  href="/contactable/{{employee}}">
                                <!--<strong class="text text-muted" style="font-size: 25px; color: '#A29E9E'">-->
                                    {{employeeDisplayName}}
                                    <i class="fa fa-external-link" style="font-size: 14px"></i>
                                <!--</strong>-->
                            </a>
                            <a  href="/job/{{job}}">
                                <!--<strong class="text text-muted" style="font-size: 25px; color: '#A29E9E'">-->
                                    {{jobDisplayName}}
                                    <i class="fa fa-external-link" style="font-size: 14px"></i>
                                <!--</strong>-->
                            </a>
                            <a  href="/contactable/{{customer}}">
                                <!--<strong class="text text-muted" style="font-size: 25px; color: '#A29E9E'">-->
                                    {{customerDisplayName}}
                                    <i class="fa fa-external-link" style="font-size: 14px"></i>
                                <!--</strong>-->
                            </a>


                        </div>
                    </div>
                    <!-- /.table-item-cell-container -->
                </div>
                <!-- /.table-item-cell -->
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-6">
                <div class="table-item-cell">
                    <div class="table-item-cell-container text-muted">

                        {{> placementInformation }}

                    </div>
                    <!-- /.table-item-cell-container -->
                </div>
                <!-- /.table-item-cell -->
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-2">
                <div class="table-item-cell">
                    <div class="table-item-cell-container date">
                        {{#formatted_date date=dateCreated format='fromNow'}}
                        <span>{{value}}</span><br>
                        {{/formatted_date}}
                        {{#if searchKey }}
                        <i class="glyphicon glyphicon-search"></i>
                        {{searchKey}}
                        {{/if}}
                    </div>
                    <!-- /.table-item-cell-container -->
                </div>
                <!-- /.table-item-cell -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.table-item -->
</template>



<template name="placementInformation">
    {{#if location.displayName}}
    <i class="icon-map-marker-1"></i>
    {{location.displayName}}
    {{/if}}
</template>


<template name="placementsListSearch">
    <div class="actions-head">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="pull-left suffix-5">
                            {{#if isJob}}
                            <div class="btn-group pull-left suffix-5">
                                <button type="button" class="btn btn-success addPlacement" title="Add">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </div>
                            {{/if}}
                </div>

                <div class="input-group">
                    {{#objectProperty property=searchString}}
                    <input type="text" class="form-control" placeholder="Search placements" value="{{value}}">
                    {{/objectProperty}}

                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
    </div>
</template>