<template name="placementsBox">
    <div class="row">
        <div class="col-md-3 col-lg-3">
            {{> placementsFilters }}
        </div>

        <div class="col-md-8 col-lg-8">
            {{>placementListSearch}}
        </div>

        <div class="col-md-9 col-lg-9">
            {{#if isSearching}}
                searching
            {{else}}
                {{> placementList }}
            {{/if}}
        </div>
    </div>
</template>

<template name="placementsFilters">
    <div class="filter">
        <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
            <strong><i class="fa fa-filter"></i></strong>
        </a>
        <div class="filter-list" id="filter-body">
            {{> filter_lookUp code=10 lookUpValue=query.statuses multi=true}}

            {{> filter_inactive showInactive=query.inactives}}

            {{> filter_createdDate selectedLimit=query.selectedLimit}}

            {{> filter_tags tags=query.tags}}
        </div>
    </div>
</template>

<template name="placementList">
    <div>
        {{>fastPagination name='placements'}}
        {{#if isLoading}}
            <div style="height: 280px;">
            </div>
        {{else}}
            <div class="fade-in">
                {{#each placements}}
                    {{> placementListItem }}
                {{else}}
                    {{#if info.isFiltering.value }}
                        <div class="v-wrapper">
                            <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                                <i class="icon-connection-1 text-large"></i>
                                <h1>
                                    No records Found
                                </h1>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="placementListItem">
    <div class="table-item magic">
        <div class="row ">
            <div class="col-sm-4">
                <div class="table-item-cell">
                    <div class="table-item-cell-container">
                        <div class="table-item-title">
                            <a href="/placement/{{_id}}">
                                <strong>
                                    {{employeeDisplayName}} - {{jobDisplayName}} @ {{customerDisplayName}}
                                </strong>
                            </a>

                            <br/>
                            <small class="text-muted" style="font-size: 12px; visibility: hidden">
                                <a href="/contactable/{{employee}}"> employee </a>
                                <span class="bullet-spacer">·</span>
                                <a href="/job/{{job}}"> job </a>
                                <span class="bullet-spacer">·</span>
                                <a href="/contactable/{{customerId}}"> customer </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="table-item-cell">
                    <div class="table-item-cell-container text-muted">
                        {{> placementInformation }}
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="table-item-cell">
                    <div class="table-item-cell-container date">
                        {{#formattedDate value=dateCreated format='fromNow'}}
                            <span>{{date}}</span><br>
                        {{/formattedDate}}

                        {{displayUserName userId}}
                        <br/>

                        {{#if searchKey }}
                            <i class="glyphicon glyphicon-search"></i>
                            {{searchKey}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="placementInformation">
    {{#if jobLocationDisplayName}}
        <i class="icon-map-marker-1"></i>
        {{jobLocationDisplayName}}
    {{/if}}
    <small>
        {{#if startDate}}
            <i class="icon-calendar-2"></i>
            Starting on
            {{#formattedDate value=startDate}}
                {{date}}
            {{/formattedDate}}
        {{/if}}
    </small>
    <small>
        {{#if endDate}}
            {{#unless startDate}}
                <i class="icon-calendar-2"></i>
            {{else}}
                -
            {{/unless}}
            Ending on
            {{#formattedDate value=endDate}}
                {{date}}
            {{/formattedDate}}
        {{/if}}
    </small>

    <br/>

    <!-- Placement rates -->
    {{#each this.placementRates}}
        {{getRateTypeDisplayName}}

        {{pay}}
        /
        {{bill}}
        <br/>
    {{/each}}
</template>

<template name="placementListSearch">
    <div class="actions-head">
        <div class="row visible-xs">
            <div class="col-xs-8">
                <div class="pull-left suffix-5">
                    <div class="btn-group">
                        <a href="/jobAdd/Temporary" type="button" class="btn btn-success" title="Add">
                            <span class="fa fa-plus"></span>
                        </a>
                    </div>
                </div>

                <div class="input-group">
                    {{#objectProperty property=searchString}}
                        <input type="text" class="form-control" placeholder="Search Jobs" value="{{value}}">
                    {{/objectProperty}}

                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-xs-4">
                     <span class="pointer" style="font-size: 20px;">
                         {{#if listViewMode}}
                             <i id="detail-view" class="fa fa-th-large" style="opacity: 0.4"></i>
                            <i class="fa fa-bars"></i>
                         {{else}}
                             <i class="fa fa-th-large"></i>
                            <i id="list-view" class="fa fa-bars" style="opacity: 0.4"></i>
                         {{/if}}
                     </span>
                {{> jobListSort}}
            </div>

        </div>
        <div class="row hidden-xs">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

                <div class="input-group">
                    {{#objectProperty property=searchString}}
                        <input type="text" class="form-control" placeholder="Search Placements" value="{{value}}">
                    {{/objectProperty}}

                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                     <span class="pointer" style="font-size: 20px;">
                         {{#if listViewMode}}
                             <i id="detail-view" class="fa fa-th-large" style="opacity: 0.4"></i>
                            <i class="fa fa-bars"></i>
                         {{else}}
                             <i class="fa fa-th-large"></i>
                            <i id="list-view" class="fa fa-bars" style="opacity: 0.4"></i>
                         {{/if}}
                     </span>
            </div>

            <div class=" col-sm-2 col-md-2 col-lg-2">
                {{> placementListSort}}
            </div>
        </div>
    </div>
    <!--<div class="actions-head search-list">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-8 col-md-8 col-lg-8">-->
                <!--<div class="pull-left suffix-5">-->
                    <!--{{#if isJob}}-->
                        <!--<div class="btn-group pull-left suffix-5">-->
                            <!--<button type="button" class="btn btn-success addPlacement" title="Add">-->
                                <!--<span class="fa fa-plus"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--{{/if}}-->
                <!--</div>-->

                <!--<div class="input-group">-->
                    <!--{{#objectProperty property=searchString}}-->
                    <!--<input type="text" class="form-control" placeholder="Search placements" value="{{value}}">-->
                    <!--{{/objectProperty}}-->

                    <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-primary" type="button">-->
                            <!--<i class="fa fa-search"></i>-->
                        <!--</button>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; /.col-lg-5 &ndash;&gt;-->
            <!--<div class="pull-right">-->
                <!--{{> placementListSort}}-->
            <!--</div>-->
        <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
    <!--</div>-->
</template>


<template name="placementListSort">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Sort
            {{#with selectedSort}}
                <strong>{{displayName}}</strong>
                {{#if isAscSort .}}
                    <i class="fa fa-sort-amount-asc"> </i>
                {{else}}
                    <i class="fa fa-sort-amount-desc"> </i>
                {{/if}}
            {{/with}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#each sortFields}}
                <li>
                    <a class="sort-field">
                        {{displayName}}
                        {{#if isFieldSelected .}}
                            {{#if isAscSort .}}
                                <i class="fa fa-sort-amount-asc"> </i>
                            {{else}}
                                <i class="fa fa-sort-amount-desc"> </i>
                            {{/if}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</template>