<template name="contactables">
    <div class="contactables-page">
        <div id="content">
            {{#with information}}
                <div id="content-header" class="mini">
                    <h1>
                        {{#objectProperty property=contactablesCount }}
                            <strong> {{value}} </strong>
                        {{/objectProperty}}

                        {{#objectProperty property=objType}}
                            {{#if value}}
                                <span> {{value}} </span>
                            {{else}}
                                record(s)
                            {{/if}}
                        {{/objectProperty}}
                    </h1>
                </div>
                <div id="breadcrumb">
                    <a href="/" title="Go to Home" class="tip-bottom">Home</a>
                    <a href="/contactables" class="current">
                        {{#objectProperty property=objType }}
                            <strong> {{value}} </strong>
                        {{/objectProperty}}</a>
                </div>
            {{/with}}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <sidebar>
                            {{> contactablesFilters }}
                        </sidebar>
                    </div>

                    <div class="col-md-8 col-lg-8">
                        {{>contactablesListSearch}}
                    </div>

                    <div class="col-md-9 col-lg-9">
                        {{#if isSearching}}
                            searching
                        {{else}}
                            {{> contactablesList }}
                        {{/if}}
                        {{#infinityScroll cb=showMore}} {{/infinityScroll}}
                    </div>
                </div>
                <!--/ko-->
            </div>
        </div>
    </div>
</template>

<template name="contactablesFilters">
    <div class="filter">
        <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
            <strong><i class="fa fa-filter"></i></strong>
        </a>

        <div class="filter-list" id="filter-body">

            <div class="filter-item">
                <div class="filter-title">
                    <i class="fa fa-group"></i>
                    Types
                </div>

                {{#each contactableTypes2}}
                    <button type="button" class="typeSelect {{typeOptionClass .}}">{{name}}</button>
                {{/each}}
            </div>

            {{#if isSelectedType 'Employee'}}
                <div class="filter-item">
                    <div class="filter-title">
                        Status
                    </div>

                    {{>lookupFilterTemplate lookUpCode=10 callback=candidateeStatusChanged multi=false}}
                </div>
            {{/if}}

            <div class="filter-item">
                <div class="filter-title">
                    <i class="fa fa-eye"></i>
                    Visibility
                </div>

                <button id="show-inactives" type="button" class="{{showInactives}}">Inactives</button>
            </div>

            <div class="filter-item">
                <div class="filter-title">
                    <i class="fa fa-calendar"></i>
                    Creation date
                </div>

                <button type="button" class="{{recentOptionClass recentOptions.day}}" style="margin-bottom: 3px" id="recent-day">Today</button>
                <button type="button" class="{{recentOptionClass recentOptions.week}}" style="margin-bottom: 3px" id="recent-week">This week</button>
                <button type="button" class="{{recentOptionClass recentOptions.month}}" style="margin-bottom: 3px" id="recent-month">This month</button>
                <button type="button" class="{{recentOptionClass recentOptions.year}}" style="margin-bottom: 3px" id="recent-year">This year</button>
            </div>

            <div class="filter-item">
                <div class="filter-title">
                    <i class="fa fa-tags"></i>
                    Tags
                </div>

                <div class="input-group" style="margin-bottom: 10px">
                    <input id="new-tag" type="text" class="form-control" placeholder="E.g. javascript, sales">
                    <span class="input-group-btn">
                      <button class="add-tag btn btn-default" type="button"><span class="fa fa-plus"></span></button>
                    </span>
                </div>

                {{#objectProperty property=tags}}
                    <button type="button" class="tag btn btn-xs btn-info">
                        <span >{{value}}</span>
                        <i class="remove-tag fa fa-times"></i>
                    </button>
                {{/objectProperty}}
            </div>

            <div class="filter-item">
                <div class="filter-title">
                    <i class="fa fa-map-marker"></i>
                    Location
                </div>

                <div class="input-group">
                    {{#objectProperty property=query.location}}
                        <input type="text" class="form-control" placeholder="E.g. city: San Francisco" value="{{value}}">
                    {{/objectProperty}}
                    <span class="input-group-btn">
                      <button class="add-tag btn btn-default" type="button"><span class="fa fa-map-marker"></span></button>
                    </span>
                </div>
            </div>
        </div>

    </div>
</template>

<template name="contactablesList">
    <div style="min-height: 550px">
        <!--{{> contactablesListSearch }}-->

        {{#each contactables}}
            {{> contactablesListItem }}
        {{else}}
            {{#if info.isFiltering.value }}
                <div class="v-wrapper">
                    <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                        <i class="icon-connection-1 text-large"></i>
                        <h1>
                            No records Found
                        </h1>
                    </div><!-- /.v-wrapper-cell -->
                </div>
            {{else}}
                <div class="v-wrapper">
                    <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                        <i class="icon-connection-1 text-large"></i>
                        <!--<h1>You currently have no-->
                            <!--ko text:name-->
                            <!--/ko-->
                        <!--</h1>-->
                        <!--ko if:name()=='contactable'-->
                        <!--<p class="lead">A contactable is an Employee, Customer or Contact.</p>-->
                        <!-- /ko -->
                        <!--ko foreach: contactableTypes-->
                        <a href="#" data-bind="attr: { href: '/contactableAdd/'+name() }, text: 'New ' + name()"></a>
                        <span class="bullet-spacer" data-bind="visible: $index()< $parent.contactableTypes().length-1">·</span>
                        <!-- /ko -->
                    </div><!-- /.v-wrapper-cell -->
                </div>
            {{/if}}
        {{/each}}
    </div>
</template>

<template name="contactablesListItem">
    <div class="table-item magic">
        <div class="row ">
            <div class="col-sm-4">
                <div class="table-item-cell">
                    <div class="table-item-cell-container">

                        <div class="table-item-title">
                            <a href="/contactable/{{_id}}">
                                <div class="thumb">
                                    {{#if pictureFileId }}
                                    {{#with pictureUrl pictureFileId}}
                                    <a href="#">
                                        <img src="{{.}}">
                                    </a>
                                    {{/with}}
                                    {{else}}
                                    {{#if organization }}

                                        <i class="icon-buildings-1" style="display: block; margin-top: 10px;"></i>

                                    {{/if}}
                                    {{#if person }}

                                        <i class="icon-profile-business-man" style="display: block; margin-top: 10px;"></i>

                                    {{/if}}
                                    {{/if}}
                                </div>
                                {{displayName}}</a>
                            <br/>
                            <strong class="text text-muted text-small">{{displayObjType}}</strong>
                        </div>
                    </div>
                    <!-- /.table-item-cell-container -->
                </div>
                <!-- /.table-item-cell -->
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-6">
                <div class="table-item-cell">
                    <div class="table-item-cell-container text-muted">
                        {{#if Customer}}
                            {{> customerInformation }}
                        {{/if}}
                        {{#if Employee}}
                            {{> employeeInformation }}
                        {{/if}}
                        {{#if Contact}}
                            {{> contactInformation }}
                        {{/if}}
                    </div>
                    <!-- /.table-item-cell-container -->
                </div>
                <!-- /.table-item-cell -->
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-2">
                <div class="table-item-cell">
                    <div class="table-item-cell-container date">
                        {{#formattedDate value=dateCreated format='fromNow'}}
                            <span>{{date}}</span><br>
                        {{/formattedDate}}
                        {{#if searchKey }}
                            <i class="glyphicon glyphicon-search"></i>
                            {{searchKey}}
                        {{/if}}
                        {{#if contactMethods}}
                            <div class="btn dropdown" id="contact-Methods-dropdown-{{_id}}">
                                <a href="#" data-toggle="dropdown" data-target="#contact-Methods-dropdown-{{_id}}" class="dropdown-toggle">
                                    <!--<i class="fa fa-mobile-phone"></i>-->
                                    <span class="text"> Contact <i class="fa fa-caret-down"></i></span>
                                </a>

                                <ul class="dropdown-menu">
                                    {{#each contactMethods}}
                                        <li>
                                            <a href="{{contactMethodTypePrefix typeEnum}}{{value}}"><i class="{{contactMethodTypeIcon typeEnum}}"></i> {{value}}</a>
                                        </li>
                                    {{/each}}
                                </ul>

                            </div>
                        {{/if}}
                    </div>
                    <!-- /.table-item-cell-container -->
                </div>
                <!-- /.table-item-cell -->
            </div>
            <!-- /.col-sm-3 -->
            {{#if isESSearch}}
                <div class="col-xs-12">
                    <div class="col-xs-10">
                        <!--<small class="text-muted"> Properties matched </small>-->
                        <div> 
                            {{#each _match.properties}}
                                <span class="label label-default" style="margin-right: 3px"> {{.}}</span>
                            {{/each}}
                            <br>
                            {{#each _match.contexts}}
                                {{> esContextMatch}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-xs-offset-10" >
                        <small class="text-muted"> Score </small>
                        <div class="progress" style="height: 6px;">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{_match.score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{_match.score}}%;">
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.table-item -->
</template>

<template name="esContextMatch">
    <span class="text-muted separatedLinks contextText"></span>
</template>

<template name="customerInformation">
    {{#if location.displayName}}
        <i class="icon-map-marker-1"></i>
        {{location.displayName}}
    {{/if}}
    <span class="badge">
        {{lookUpName Customer.status}}
    </span>
</template>

<template name="employeeInformation">
    {{#if placementInfo}}
        {{#with placementInfo}}
            <i class="icon icon-check-list"></i>
            <strong> <a href="/job/{{job}}"> {{jobTitle}} </a></strong> {{#if customerName}} at <strong> <a href="/contactable/{{customer}}"> {{customerName}} </a></strong> {{/if}}
    {{/with}}
    {{else}}
        {{#if person}}
            <i class="icon-briefcase"></i>
            {{person.jobTitle}}
        {{/if}}
    {{/if}}
    <br/>
    {{#if location.displayName}}
        <i class="icon-map-marker-1"></i>
        {{location.displayName}}
    {{/if}}
    <span class="badge">
        {{lookUpName Employee.status}}
    </span>
</template>

<template name="contactInformation">
    {{#if Contact.customer}}
        <i class="icon-building-2"></i>
        <a href="/contactable/{{Contact.customer}}">
            <strong>{{Contact.customerName}}</strong>
        </a>
    {{/if}}
    <br/>
    <span class="badge">
        {{lookUpName Contact.status}}
    </span>
</template>

<template name="contactablesListSearch">
    <div class="actions-head">
        <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">

                    <div class="pull-left suffix-5">
                        <!-- Single button -->
                        <div class="btn-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" title="Add">
                                    <span class="fa fa-plus"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" data-bind="foreach: contactableTypes">
                                    {{#each contactableTypes}}
                                    <li><a href="/contactableAdd/{{name}}">Add {{name}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>

                            <a type="button" title="Create from resume" class="btn btn-default" href="/resumeparser"><i class="fa fa-cloud-upload"></i></a>

                        </div>
                    </div>

                    <div class="input-group">
                        {{#objectProperty property=searchString}}
                        <input type="text" class="form-control" placeholder="Search Contacts" value="{{value}}">
                        {{/objectProperty}}
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                </div><!-- /.col-lg-5 -->
            </div><!-- /.row -->
    </div>
</template>