<template name="contactables">
    <div class="contactables-page">
        <div id="content">
            <div id="content-header" class="mini">
                <h1>
                    <strong data-bind="text: entities().length"></strong>
                    <span data-bind="text:objName "></span>
                </h1>
            </div>
            <div id="breadcrumb">
                <a href="#" title="Go to Home" class="tip-bottom">Home</a>
                <a href="#" class="current">Contactables</a>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-push-8 col-lg-push-9 col-lg-3">
                        <div data-bind="foreach: contactableTypes">
                            <a class="btn btn-success btn-md btn-block btn-create" data-toggle="modal" data-bind="click: function () { Composer.showModal('addContactable', $data.objName()); }, text: 'Add ' + objName()"></a>
                        </div>
                        <br>
                        <sidebar>
                            <div class="box-2">
                                <h4 class="bottom-20">
                                    <strong>Filters</strong>
                                </h4>
                                <form role="form">
                                    <div class="panel-group bottom-20" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        <strong>Mode</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" data-bind="checked: includeInacives">Include inactives
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" data-bind="checked: onlyRecent">Only recent
                                                            <select data-bind="options: timeLimits, optionsText: 'name', value: selectedLimit, optionsValue: 'time'"></select>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                        <strong>Tags</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        <!-- ko foreach: tags -->
                                                        <button type="button" class="btn btn-xs btn-primary">
                                                            <span data-bind="text: $data "></span>
                                                        </button>
                                                        <a style="margin-left: 4px; min-width: 7px; ">
                                                            <i class="icon icon-close removeTag "></i>
                                                        </a>
                                                        <!-- /ko -->
                                                    </p>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter tags here..." data-bind="value:tag">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" type="button" data-bind="click: addTag">Add</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-2 -->
                        </sidebar>

                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">

                        <!-- Entities list -->
                        <div>
                            {{#if loading}}
                            <div id="lists">Loading...</div>
                            {{else}}

                            <div class="table-items-box">
                                <div class="table-item search-bar">
                                    <div class="table-item-cell">
                                        <div class="row">
                                            <div class="col-sm-8 col-md-7 col-lg-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Search contactable" data-bind="value: searchString, valueUpdate: 'afterkeydown'" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="button">
                                                            <i class="fa fa-search"></i>Search</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- /.col-lg-5 -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.table-item-cell -->
                                </div>
                                <!-- /.table-item -->

                                <!-- ko foreach: entities-->
                                <div class="table-item magic">
                                    <div class="row ">
                                        <div class="col-sm-4">
                                            <div class="table-item-cell">
                                                <div class="table-item-cell-container">
                                                    <div class="table-item-title">
                                                        <i data-bind="attr: { class: helper.getEntityIcon(ko.toJS($data))}"></i>
                                                        <a data-bind="text: displayName, attr:{href: '/contactable/'+_id()}"></a>
                                                    </div>
                                                </div>
                                                <!-- /.table-item-cell-container -->
                                            </div>
                                            <!-- /.table-item-cell -->
                                        </div>
                                        <!-- /.col-sm-3 -->
                                        <div class="col-sm-6">
                                            <div class="table-item-cell">
                                                <div class="table-item-cell-container magic-content">
                                                    <a class="btn btn-sm btn-default tip-bottom" href="#" data-bind="attr: { title: $data.objNameArray()[0] + ' info'}">
                                                        <i class="fa fa-info"></i>
                                                    </a>
                                                    <a class="btn btn-sm btn-default tip-bottom" title="Phone No." href="#">
                                                        <i class="fa fa-phone"></i>555.222.333</a>
                                                    <a class="btn btn-sm btn-default tip-bottom" title="Email" href="#">
                                                        <i class="fa fa-envelope-o"></i>gregg@tempworks.com</a>
                                                </div>
                                                <!-- /.table-item-cell-container -->
                                            </div>
                                            <!-- /.table-item-cell -->
                                        </div>
                                        <!-- /.col-sm-4 -->
                                        <div class="col-sm-2">
                                            <div class="table-item-cell">
                                                <div class="table-item-cell-container date">
                                                    <span data-bind="text: moment(createdAt()).fromNow()"></span>
                                                </div>
                                                <!-- /.table-item-cell-container -->
                                            </div>
                                            <!-- /.table-item-cell -->
                                        </div>
                                        <!-- /.col-sm-3 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.table-item -->
                                <!-- /ko -->
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>
</template>