<template name="contactables">
    <div class="contactables-page">
        <div id="content">
            <div id="content-header" class="mini">
                <h1>
                    <strong data-bind="text: entities().length"></strong>
                    <span data-bind="text:name "></span>
                </h1>
            </div>
            <div id="breadcrumb">
                <a href="#" title="Go to Home" class="tip-bottom">Home</a>
                <a href="#" class="current">Contactables</a>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-push-8 col-lg-push-8 col-lg-4">
                        <sidebar>
                            <div class="box-2">
                                <h4 class="bottom-20">
                                    <strong>Filters</strong>
                                </h4>
                                <form role="form">
                                    <div class="panel-group bottom-20">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        <strong>Mode</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" data-bind="checked: includeInacives">Include inactives
                                                        </label>
                                                    </div>

                                                    <div class="checkbox">
                                                        <label >
                                                            <input type="checkbox" data-bind="checked: onlyRecent">Only recent
                                                        </label>
                                                    </div>
                                                    <select data-bind="options: timeLimits, optionsText: 'name', value: selectedLimit, optionsValue: 'time'" class="form-control"></select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                        <strong>Tags</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        <!-- ko foreach: tags -->
                                                        <button type="button" class="btn btn-xs btn-primary">
                                                            <span data-bind="text: $data "></span>
                                                            <i class="fa fa-times" data-bind="click: $root.removeTag"></i>
                                                        </button>
                                                        <!-- /ko -->
                                                    </p>
                                                    <div class="input-group">
                                                        <input id="tag-filter" type="text" class="form-control" placeholder="Enter tags here..." data-bind="value:tag, valueUpdate: 'afterkeydown'">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" type="button" data-bind="click: addTag">Add</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-2 -->
                        </sidebar>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">

                        <!-- Entities list -->
                        <div>
                            <div class="actions-head">
                                <div class="row">
                                    <div class="col-sm-8 col-md-12 col-lg-8">
                                        <!-- Single button -->
                                        <div class="btn-group pull-left suffix-5">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                                <span class="fa fa-plus"></span> Add
                                            </button>
                                            <ul class="dropdown-menu" role="menu" data-bind="foreach: contactableTypes">
                                                <li><a href="#" data-bind="attr: { href: '/contactableAdd/'+name() }, text: 'Add ' + name()"></a></li>
                                            </ul>
                                        </div>
                                        <!--<a class="btn btn-success pull-left suffix-10" href="#"><i class="fa fa-cloud-download"></i> Import</a>-->
                                        <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search contactable" data-bind="value: searchString, valueUpdate: 'afterkeydown'"/>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">
                                                        <i class="fa fa-search"></i> Search
                                                    </button>
                                                </span>
                                        </div>
                                    </div><!-- /.col-lg-5 -->
                                </div><!-- /.row -->
                            </div>
                            <!--ko if: entities().length > 0-->
                                <!-- ko foreach: entities-->
                                    <div class="table-item magic">
                                        <div class="row ">
                                            <div class="col-sm-6">
                                                <div class="table-item-cell">
                                                    <div class="table-item-cell-container">
                                                        <div class="thumb">
                                                            <!-- ko with: $root.filesCollection.getThumbnailUrl($data.pictureFileId())-->
                                                            <!-- ko if: ready -->
                                                            <!-- ko if: !picture() && $parent.Customer -->
                                                            <a href="#">
                                                                <i class="icon-building-1"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko if: !picture() && !$parent.Customer -->
                                                            <a href="#">
                                                                <i class="icon-profile-man"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <a href="#">
                                                                <img data-bind="attr: {src: picture }">
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- /ko -->
                                                        </div>
                                                        <div class="table-item-title">
                                                            <a data-bind="text: displayName, attr:{href: '/contactable/'+_id()}"></a>
                                                            <br/>
                                                            <i data-bind="attr: { class: helper.getEntityIcon(ko.toJS($data))}"></i>
                                                        </div>
                                                    </div>
                                                    <!-- /.table-item-cell-container -->
                                                </div>
                                                <!-- /.table-item-cell -->
                                            </div>
                                            <!-- /.col-sm-3 -->
                                            <div class="col-sm-4">
                                                <div class="table-item-cell">
                                                    <div class="table-item-cell-container magic-content">
                                                        <a class="btn btn-default btn-sm tip-bottom" title="Send Message" data-bind="click: function () { Composer.showModal( 'sendMessage', $data._id()); } ">
                                                            <i class="fa fa-comment-o"></i>
                                                            Send message
                                                        </a>
                                                        <!--<a class="btn btn-sm btn-default tip-bottom" title="Email" href="#">-->
                                                        <!--<i class="fa fa-envelope-o"></i>gregg@tempworks.com</a>-->
                                                    </div>
                                                    <!-- /.table-item-cell-container -->
                                                </div>
                                                <!-- /.table-item-cell -->
                                            </div>
                                            <!-- /.col-sm-4 -->
                                            <div class="col-sm-2">
                                                <div class="table-item-cell">
                                                    <div class="table-item-cell-container date">
                                                        <!-- ko if: $data.createdAt -->
                                                        <span data-bind="text: moment(createdAt()).fromNow()"></span><br>
                                                        <!-- /ko -->
                                                    </div>
                                                    <!-- /.table-item-cell-container -->
                                                </div>
                                                <!-- /.table-item-cell -->
                                            </div>
                                            <!-- /.col-sm-3 -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.table-item -->
                                <!-- /ko -->
                            <!-- /ko -->
                            <!--ko ifnot: entities().length > 0-->
                                <!--ko ifnot:isFilering-->
                                    <div class="v-wrapper">
                                        <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                                            <i class="icon-connection-1 text-large"></i>
                                            <h1>You currently have no
                                            <!--ko text:name-->
                                                <!--/ko-->
                                            </h1>
                                            <!--ko if:name()=='contactable'-->
                                                <p class="lead">A contactable is an Employee, Customer or Contact.</p>
                                            <!-- /ko -->
                                            <!--ko foreach: contactableTypes-->
                                                <a href="#" data-bind="attr: { href: '/contactableAdd/'+name() }, text: 'New ' + name()"></a>
                                                <span class="bullet-spacer" data-bind="visible: $index()< $parent.contactableTypes().length-1">·</span>
                                            <!-- /ko -->
                                        </div><!-- /.v-wrapper-cell -->
                                    </div>
                                <!-- /ko -->
                                <!--ko if:isFilering-->
                                    <div class="v-wrapper">
                                        <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                                            <i class="icon-connection-1 text-large"></i>
                                            <h1>No <!--ko text:name-->
                                                <!--/ko--> Found
                                            </h1>

                                        </div><!-- /.v-wrapper-cell -->
                                    </div>
                                <!-- /ko -->
                            <!-- /ko -->
                            <!--infinite scroll-->
                            <div data-bind="onScrollBottom:showMore"></div>
                        </div>
                    </div>
                </div>
                <!--/ko-->
            </div>
        </div>
    </div>
</template>