<template name="callList">
    <div class="network-content nicer-filters" id="content">
        <div class="row">

            <div class="col-md-3 col-lg-3" id="column-filters">
                <div class="page-title">
                    <h1>Calls</h1>
                </div>

                <div class="filter">
                    <div class="filter-list">
                        <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
                            <strong><i class="fa fa-filter"></i></strong>
                        </a>
                        <div class="filter-item">
                            <div class="filter-title" id="filtersJobsTour">
                                {{_ "Type"}}
                            </div>

                            {{#each callTypeOptions}}
                                <button class="btn btn-sm {{isSelectedClass}} type-filter" style="margin-bottom: 3px">
                                    {{displayName}}
                                </button>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="list-container">
                    <div class="list-holder">
                        <div class="list-actions">
                            <div class="list-actions-cell search-list">
                                <div class="input-group">
                                    <span class="prop-input">
                                        <input id="searchString" class="form-control" placeholder= {{_ "Search"}}>
                                        <span class="text text-danger"></span>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-search" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- /.search-list -->
                            <div class="clearfix">
                                {{>fastPagination name="callList" containerClass="magic-pager pull-right"}}
                            </div>
                        </div>
                        <!-- .list-actions -->

                        <div class="list-item-section">
                            <ul class="list-type-7 activity-feed">
                                {{#each activities}}
                                    <li>
                                        <div class="left-part">
                                            <!-- Note information -->

                                            <a class="list-type-7-icon note-link" id="Nah32dYQnnisnQxhv"
                                               href="{{#if voiceMailUrl}}{{voiceMailUrl}}{{else}}#{{/if}}"
                                               target="_blank">
                                                {{#if incoming}}
                                                    {{#if voiceMail}}
                                                        {{#if voiceMailUrl}}
                                                            <a target="_blank" href="{{voiceMailUrl}}">
                                                                <i class="icon icon-tape" style="color: green"></i>
                                                            </a>
                                                        {{else}}
                                                            <i class="icon icon-call-delete" style="color: red"></i>
                                                        {{/if}}
                                                    {{else}}
                                                        <i class="icon icon-call-in" style="color: orange"></i>
                                                    {{/if}}
                                                {{else}}
                                                    <i class="icon icon-call-out" style="color: green"></i>
                                                {{/if}}
                                            </a>

                                            <div class="list-type-7-title">

                                                <a class="note-link"
                                                   href="{{#if contactableId }}/contactable/{{contactableId}}{{/if}}">
                                                    {{#if contactableName }}
                                                        {{contactableName}}
                                                    {{else}}
                                                        {{phone}}
                                                    {{/if}}
                                                </a>
                                                {{#if duration}}
                                                    <span class="desc"> - {{getDuration}}</span>
                                                {{/if}}
                                            </div>


                                        </div>
                                        <!-- /.left-part -->
                                        <div class="right-part"><span
                                                class="date">{{formattedDate dateCreated 'llll'}}</span></div>
                                    </li>
                                {{/each}}
                            </ul>
                            <!-- /.list-type-7 -->
                        </div>
                        <!-- /.list-item-section -->

                    </div>
                    <!-- /.list-holder -->
                </div>
                <!-- /.list-container -->
            </div>
            <!-- /.col-md-6 -->

        </div>
        <!-- /.row -->

    </div>
</template>
