<template name="originData">
    <div class="text-muted">
        <span>Created by </span>
        {{#if displayUserName userId}}
            <strong> {{displayUserName userId}} </strong>
        {{else}}
            <strong> System </strong>
        {{/if}}
        <span> in hierarchy </span>
        <strong> {{hierName}} </strong>
        <span> at </span>
        {{#formattedDate value=dateCreated format='lll'}}
            <strong> {{date}} </strong>
        {{/formattedDate}}
    </div>
</template>
