<template name="addWorkFlowPlacementConfirm">
    <div id="content" class="content-gray">
        <div class="container-fluid" style="padding:0">

            <div class="add-box">
                <div class="box-type-1">
                    <div class="add-box-head">
                        <a class="btn btn-default pull-left goBack" href="/workFlows"  style="position: absolute; left: 20px;"><i class="fa fa-long-arrow-left"></i> {{_ "Go Back"}}</a>
                    </div>

                        <div class="add-box-head">
                           <div class="add-item-icon"><i class="glyphicon glyphicon-random"></i></div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3>Details:</h3></div>
                                    <div class="panel-body no-padding">
                                        <div style="margin-right: 60px;margin-left:60px">
                                            {{#with job}}
                                                <h4>Job:</h4>
                                                <div class="row" style="margin-bottom: 10px">
                                                    <div class="col-md-1">
                                                        <a class="item-icon item-icon-jobs" href="/job/{{_id}}" ><i class="icon-briefcase-2"></i></a>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h4>
                                                            {{displayName}}
                                                        </h4>
                                                    </div>
                                                </div>
                                            {{/with}}
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-8 col-md-offset-2">
                                <!--<div class="box-type-3">-->
                                <!--<div class="box-type-2-content">-->
                                <!---->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="box-type-2">
                                    <ul class="list-type-7" style="padding-right: 60px">
                                        {{#each placementsByJob}}
                                            <li class="margin-top-15">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <a class="item-icon item-icon-network" href="/contactable/{{employeeId}}" >
                                                            <i class="icon-profile-business-man"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h4>
                                                            {{employeeDisplayName}}
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <h5>
                                                            <div class="margin-top-15">
                                                                {{#if response}}
                                                                    <span class="label {{getResponseClass}}">{{getResponse}}</span>
                                                                {{else}}
                                                                    <span class="label label-default">Not called</span>
                                                                {{/if}}
                                                            </div>
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="wysiwyg-text-align-left margin-top-15" >
                                                    {{#if phone}}
                                                        <a href="callto:{{phone}}"><span class="round-icon-container"><i class="fa fa-phone"></i></span> {{phone}}</a>
                                                    {{else}}
                                                        <span class="wysiwyg-color-red" title="This employee will be skipped from the work flow">No phone</span>
                                                    {{/if}}
                                                </div>
                                            </li>

                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                            <div class="form-group text-center top-30">
                                <button id="saveWorkflow" class="btn btn-success btn-lg" disabled="{{hasNoPlacement}}">Start</button>
                                {{#if hasNoPlacement}}
                                    <div class="form-group has-error has-feedback">
                                        <label class="control-label" for="inputError">
                                            No placement, please select a job with assigned placements
                                        </label>
                                    </div>
                                {{/if}}
                            </div>
                </div>
            </div>
        </div>
    </div>

</template>