<template name="tasks">
    <div id="content">
        <div id="content-header" class="mini">
            <h1>
                <strong data-bind="text: tasks().length"></strong>
                <span>Tasks</span>
            </h1>
        </div>
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Home</a>
            <a href="/tasks" class="current">tasks</a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-push-8 col-lg-push-9 col-lg-3">

                    <a class="btn btn-success btn-md btn-block btn-create" data-bind="click:add">Add Task</a>
                    <sidebar>
                        <div class="box-2">
                            <form role="form">
                                <h4 class="bottom-20">
                                    <strong>Filters</strong>
                                </h4>

                                <form role="form">

                                    <div class="panel-group bottom-20" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#taskStatus">
                                                        <strong>Status</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="taskStatus" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <button type="button" class="btn btn-xs btn-tertiary">Active</button>
                                                    <button type="button" class="btn btn-xs btn-success">Done</button>
                                                    <button type="button" class="btn btn-xs btn-warning">Due</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#taskOwner">
                                                        <strong>All Owners</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="taskOwner" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <select class="form-control">
                                                        <option>Select Owner</option>
                                                        <option>Mike Arnatutovici</option>
                                                        <option>Emma P.</option>
                                                        <option>Tom Ford</option>
                                                        <option>Penny Lim</option>
                                                        <option>Paul C.</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#taskDueDate">
                                                        <strong>Due Date</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="taskDueDate" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Today
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Tomorrow
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Next 7 days
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Overdue
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Due Date
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                        </div>
                        <!-- /.box-2 -->
                    </sidebar>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">

                    <!-- Entities list -->
                    <div class="table-items-box">
                        <div class="table-item search-bar">
                            <div class="table-item-cell">
                                <div class="row">
                                    <div class="col-sm-8 col-md-7 col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search Task">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fa fa-search"></i>Search</button>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-5 -->
                                    <div class="col-md-5 col-lg-6 text-right">
                                        <strong data-bind="text: tasks().length+' task'+ (tasks().length > 1 ? 's':'')"></strong>&nbsp;due date</div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.table-item-cell -->
                        </div>

                        <!-- ko foreach: tasks -->

                        <div class="table-item magic">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="table-item-cell">
                                        <div class="table-item-cell-container">
                                            <div class="table-item-title">
                                                <a href="/tasks">
                                                    <span data-bind="text: $data.note"></span>
                                                </a>
                                            </div>
                                            <div class="task-author">
                                                by
                                                <a href="#" data-bind="attr:{href:'/contactable/'+userId()}">
                                                    <span data-bind="text: user.username"></span>
                                                </a>
                                                to
                                                <i class="fa fa-long-arrow-right"></i>
                                                <span data-bind="foreach: assignedUsers">
                                                    <a href="#" data-bind="attr:{href:'/contactable/'+_id()}">
                                                        <span data-bind="text: username"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- /.table-item-cell-container -->
                                    </div>
                                    <!-- /.table-item-cell -->
                                </div>
                                <!-- /.col-sm-3 -->
                                <div class="col-sm-2">
                                    <div class="table-item-cell">
                                        <div data-bind="template: {name: 'showTaskState', data: state}">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="table-item-cell">
                                        <div class="table-item-cell-container magic-content text-small">
                                            <a class="btn btn-xs btn-success text-small" href="#" data-bind="click: $parent.edit">
                                                <i class="fa fa-pencil"></i>Edit</a>
                                            <a class="btn btn-xs btn-danger text-small " href="#" data-bind="click: $parent.remove">
                                                <i class="fa fa-times "></i>Delete</a>
                                        </div>
                                        <!-- /.table-item-cell-container -->
                                    </div>
                                    <!-- /.table-item-cell -->
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-3">
                                    <div class="table-item-cell">
                                        <div class="table-item-cell-container">
                                            <div data-bind="template:{name:'showTaskDate', data:{state:state,begin:begin,end:end,completed: $data.completed}}">

                                            </div>
                                            <!-- /.table-item-cell-container -->
                                        </div>
                                        <!-- /.table-item-cell -->
                                    </div>
                                    <!-- /.col-sm-3 -->
                                </div>

                                <!-- /.col-lg-4 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.table-item -->
                        <!-- /ko -->
                    </div>

                </div>
                <div id="showTaskState" data-bind="bind:false" style="display: none">
                    <div class="table-item-cell-container text-small" data-bind="css: helper.getTaskStateCSS($data)">
                        <span>
                            <i data-bind="css: helper.getTaskStateIcon($data)"></i>&nbsp;
                            <span data-bind="text: $data"></span>
                        </span>
                        <a class="btn btn-xs btn-primary text-small magic-content" href="#" data-bind="visible: $data==Enums.taskState.pending, click: function(){$root.complete($parent);}">
                            <i class="fa fa-check"></i>Complete</a>
                    </div>
                </div>
                <div id="showTaskDate" data-bind="bind:false" style="display: none">
                    <div class="date">
                        <i class="fa fa-calendar" data-bind="css: helper.getTaskStateCSS($data.state())"></i>
                        <span data-bind="visible: $data.state()==Enums.taskState.pending">
                            <span data-bind="css: helper.getTaskStateCSS($data.state())">Due Date:</span>
                            <span data-bind="text: moment(end()).format('MMM Do YYYY, h:mm:ss a')"></span>
                        </span>
                        <span data-bind="visible: $data.state()==Enums.taskState.future">
                            <span data-bind="css: helper.getTaskStateCSS($data.state())">Starts:</span>
                            <span data-bind="text: moment(begin()).format('MMM Do YYYY, h:mm:ss a')"></span>
                        </span>
                        <span data-bind="visible: $data.state()==Enums.taskState.complited">
                            <span data-bind="css: helper.getTaskStateCSS($data.state())">completed:</span>
                            <!--ko if: completed-->
                            <span data-bind="text: moment(completed()).format('MMM Do YYYY, h:mm:ss a')"></span>
                            <!--/ko-->
                        </span>
                        <span data-bind="visible: $data.state()==Enums.taskState.closed">
                            <span data-bind="css: helper.getTaskStateCSS($data.state())">Ended:</span>
                            <span data-bind="text: moment(end()).format('MMM Do YYYY, h:mm:ss a')"></span>

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>