<template name="contactableAssignmentsBox">
    {{#if hasAssignments}}
        <div class="box">
            <div class="box-header-2">
                <div class="box-title">Assignments</div>
            </div>
            <div class="box-content-md">
                <ul class="list-3 stripped has-thumb">
                    {{#each assignments}}
                        <li class="list-3-item">
                            <div class="list-thumb"><i class="icon-check-list"></i></div>
                            <div class="list-3-content list-magic">
                                <div class="list-3-content-wrap">
                                    <div class="list-3-actions">
                                    </div>
                                    <a href="/contactable/{{customer}}"> <div class="list-3-item-meta-top">{{customerName}}</div> </a>
                                    <h4 class="list-3-item-title"><a href="/job/{{job}}">{{jobTitle}}</a></h4>
                                </div>
                                <!-- /.list-3-content-wrap -->
                            </div>
                        </li>
                    {{else}}
                    <div class="box-v-msg">
                        <div class="box-v-msg-content">
                            <i class="icon-check-list"></i>
                            <p>No assignments for this employee yet<br>
                            </p>
                        </div><!-- /.box-v-msg-content -->
                    </div>
                    {{/each}}
                </ul>
            </div>
            <!-- /.box-content-md -->

        </div>
    {{/if}}
</template>