<template name="contactablePosts">
    <div>
        <div class="row ">
            <div class="col-lg-12">
                <div class="box ">
                    <div class="box-header-2 ">
                        <div class="box-title ">
                            <i class="icon-list-4 "></i>
                            Posts
                        </div>
                    </div>
                    <div class="box-content-md " data-bind="foreach: posts">
                        <div class="comment " data-bind="with: helper.getUserInformation($data.userId())">
                            <!-- ko if: $data.ready -->
                            <!-- ko if: $data.picture -->
                            <div class="comment-thumb">
                                <img height="70px" width="70px" data-bind="attr: {src: picture}" alt="gigi">
                            </div>
                            <!-- /ko -->
                            <div class="comment-content ">
                                <div class="comment-text ">
                                    <div class="comment-info ">
                                        <a href="# ">
                                            <!-- ko if: $data.username -->
                                            <strong data-bind="text: username">
                                            </strong>
                                            <!-- /ko -->
                                            <!-- ko if: !$data.username && $data.email -->
                                            <strong data-bind="text: email"></strong>
                                            <!-- /ko -->
                                        </a>
                                        <span class="pipe">|</span>
                                        <span data-bind="text: moment($parent.createdAt()).format('LL')"></span>
                                    </div>
                                    <p data-bind="text: $parent.content">
                                    </p>
                                </div>
                            </div>
                            <!-- /.comment-content -->
                            <!-- /ko -->
                        </div>
                        <!-- /.comment -->
                        <!--
								<a class="btn btn-default btn-block btn-md " href="# ">View All Posts
								<span class="custom-badge-1 ">20</span>
								</a>
								-->
                    </div>
                    <!-- /.box-content-md -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-lg-6 -->
            <!--
					<div class="col-lg-6 ">
					<div class="box ">
	-->
            <!--
											<div class="box-header-2 ">
					<div class="box-title ">
						<i class="icon-check-list "></i>Tasks</div>
				</div>
				<div class="box-content-md ">
				
				</div>
				-->
            <!-- /.box-content-md -->
            <!--						</div>-->
            <!-- /.box -->
            <!--					</div>-->
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
</template>