<!-- Details view layout -->
<template name="contactable">
    <div id="content" class="details network-content">
        {{#with contactable}}
            <div class="row">
                <div class="col-md-3">

                    <div class="sidebar">

                        <div class="go-back goBack">
                            <a href="#"><i class="fa fa-chevron-left"></i> {{_ "Back"}}</a>
                        </div>

                        {{>contactable_header}}

                        {{>contactable_nav}}
                        {{>contactable_actions}}
                    </div><!-- /.sidebar -->

                </div>
                <div class="col-md-9">
                    <div class="box-type-1">

                        <div class="notice-msg-container">
                            <div class="notice-msg {{#if statusNoteEditMode}}editing{{/if}}">
                                <div class="notice-msg-title">
                                    <i class="fa fa-file-text-o"></i>
                                    {{_ "Status note"}}
                                    <span class="left-decoration"></span>
                                    <span class="right-decoration"></span>
                                </div>
                                <div class="notice-msg-content">
                                    <div class="input-group">
                                        {{#if statusNoteEditMode}}
                                            <input class="form-control input-sm" type="text" name="statusNote" value="{{contactableStatusNote}}">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm" id="saveStatusNote">{{_ "Save"}}</button>
                                            </span>
                                        {{else}}
                                            <span>{{contactableStatusNote}}</span>
                                            <a class="action-btn" id="edit-mode-status-note" href="#"><i class="fa fa-pencil"></i></a>
                                        {{/if}}
                                    </div>
                                    {{#if statusNoteEditMode}}
                                        <button type="button" class="btn btn-link btn-sm" id="cancelStatusNote">{{_ "Cancel"}}</button>
                                    {{/if}}
                                </div>
                            </div><!-- /.notice-msg -->
                        </div><!-- /.notice-msg-container -->

                        <div class="details-view-content">
                            <div class="tab-pane active">
                                {{> UI.dynamic template=currentTemplate  data=. }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {{/with}}
    </div>
</template>

<!-- Headers -->

<template name="contactable_header">

    <div class="head">
        {{#if pictureFileId}}
            <div class="profile-pic">
                <a id="edit-pic" title="Click to edit" class="pointer">
                    <img class="" src="{{pictureUrl}}" style="max-height: 48px;max-width: 48px;">
                </a>
            </div>
        {{else}}
            <div class="item-icon item-icon-network item-icon-lg">
                <div id="edit-pic" title="Click to edit" style="cursor: pointer">
                    {{#if person}}
                        <i class="icon-profile-business-man"></i>
                    {{/if}}
                    {{#if organization}}
                        <i class="icon-buildings-1"></i>
                    {{/if}}
                </div>
            </div>
        {{/if}}

        <h1 class="title">{{_ displayName}}</h1>

        <div class="desc">
            {{#if person}}
                {{#if person.jobTitle}}
                    {{_ person.jobTitle}}
                {{/if}}
            {{/if}}

            {{#if Contact.clientName}}
                @&nbsp;<a href="/contactable/{{Contact.client}}">{{_ Contact.clientName}}</a>
            {{/if}}

            {{#if Client.department}}<br>{{_ Client.department}}{{/if}}
        </div>
    </div>

    {{#with mainContactMethods}}
        <ul class="list-type-3">

            <a class="action-btn" style="float:right" id="edit-mode-contactMethods" href="#"><i class="fa fa-pencil"></i></a>
            {{#if editingContact}}
                {{#autoForm schema="schemaContactMethods" id="updateContactMethod" doc=contactMethods}}
                    {{#if phone.value}}
                        <li>
                            <div class="form-group {{#if afFieldIsInvalid name='phone'}}has-error{{/if}}">
                                <span class="round-icon-container"><i class="fa fa-phone"></i></span>
                                {{> afFieldInput  name='phone' id="editing-phone" style="width:80%" type="text" class="form-control"}}
                                {{#if afFieldIsInvalid name='phone'}}
                                    <span class="help-block">{{afFieldMessage name='phone'}}</span>
                                {{/if}}
                            </div>
                        </li>
                    {{/if}}
                    {{#if email.value}}
                        <li>
                            <div class="form-group {{#if afFieldIsInvalid name='email'}}has-error{{/if}}">
                                <span class="round-icon-container"><i class="fa fa-envelope-o"></i></span>

                                {{> afFieldInput name='email' id="editing-email" style="width:80%" type="text" class="form-control"}}
                                {{#if afFieldIsInvalid name='email'}}
                                    <span class="help-block">{{afFieldMessage name='email'}}</span>
                                {{/if}}
                            </div>
                        </li>
                    {{/if}}
                    <button id="save-contactMethod" class="btn btn-primary">Save</button>
                {{/autoForm}}
            {{else}}
                {{#if phone.value}}
                     <li><a href="{{contactMethodTypePrefix phone.type}}{{phone.value}}"><span class="round-icon-container"><i class="fa fa-phone"></i></span> {{phone.value}}</a></li>
                {{/if}}
                {{#if email.value}}
                    <li><a href="mailto:{{email.value}}"><span class="round-icon-container"><i class="fa fa-envelope-o"></i></span> {{email.value}}</a></li>
                {{/if}}
            {{/if}}
        </ul>
    {{/with}}

    <input id="edit-picture" style="visibility:hidden; display: none" name="files" type="file" class="fileUploader"/>


    <h1 class="profile-name">
        {{#if isAppCenterUser}}
            <small><span class="label label-info">{{_ "Applicant Center user"}}</span></small>
        {{/if}}
    </h1>
    <p class="profile-address">

        {{#if location}}
            <i class="fa fa-map-marker"></i>
            <span>{{getLocationDisplayName}}</span>
        {{/if}}
    </p>
</template>

<template name="contactable_notes">
    {{> notesTab}}
</template>

<template name="contactable_documents">

    {{> contactableDocumentsAdd entity=. collection="ContactablesFS"}}
    {{> contactableDocumentsList entity=. collection="ContactablesFS"}}
</template>

<template name="contactable_jobs">
    {{> jobsBox}}
</template>

<template name="contactable_contacts">
    {{> contactableContactsBox}}
</template>

<template name="contactable_tasks">
    {{> tasksBox}}
</template>

<template name="contactable_details">
    <div class="box-type-1-content">
        {{> contactableDetailBox}}
        {{>entityActivities}}
        {{> contactableContactMethodsBox}}

        {{#if Contact}}
            {{> contactClientInfo client=Contact.client path='Contact.client' collection=collection}}
        {{/if}}
        {{>addressList}}
        {{> contactable_contacts}}
        {{>tagsBox}}
        {{>hotListMembershipsBox}}






    </div>
</template>

<template name="hotListMembershipsBox">

    <section class="box-type-2">
        <div class="box-type-2-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="box-options">
                        <a class="action-btn" id="edit-mode" href="#"><i class="fa fa-pencil"></i></a>
                    </div>
                    <h3>{{_ "Hotlists"}}</h3>
                </div><!-- /.col-md-2 -->
                <div class="col-md-10">
                    {{#if editHotlistMode}}
                            <div class="input-group" style="margin-bottom: 10px">
                                {{>asyncSelect query=getHotList placeholder="Search hotlist" onChange=hotListChanged width='100%'}}
                                <span class="input-group-btn">
                                   <button class="add-hotList btn btn-default" type="button"><span class="fa fa-plus"></span></button>
                                </span>
                            </div>



                    {{/if}}
                    {{#if hotListMemberships}}
                        <div class="row">
                            {{#each hotListMemberships}}
                                <div class="col-md-6">
                                    <div class="card-item">
                                        {{#if editHotlistMode}}
                                           <div class="card-options">
                                                <a class="remove-tag removeHotList pointer"><i class="fa fa-times"></i></a>
                                           </div>
                                        {{/if}}

                                        <a class="item-icon item-icon-hotlist item-icon-sm" href="/hotlist/{{_id}}">
                                            <i class="icon-list-4"></i>
                                        </a>
                                        <div class="card-title">
                                            <a href="/hotlist/{{_id}}">{{displayName}} </a>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}

                    <div class="row">
                        {{#with recentHotList}}
                            <button type="button" class="btn btn-success addHotList" title="Add">
                                <span class="fa fa-plus"></span> {{_ "Add"}}: {{hotListDisplayName}}
                            </button>
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<template name="contactable_HRConcourse">
    {{>HRConcourse entity=.}}
    {{>contactablePlacementsBox}}
</template>

<template name="contactable_placements">
    {{> placementsBox}}
</template>

<template name="contactable_actions">
    {{#unless Employee}}
        {{#if Contact}}
            <a id="makeEmployee" class="btn-custom-1 btn-block pointer">
                <i class="fa fa-exchange"></i>&nbsp;
                <span style="white-space: normal;"> {{_ "Make into an Employee"}}</span>
            </a>
        {{/if}}
    {{/unless}}
    {{#unless Contact}}
        {{#if Employee}}
            <a id="makeContact" class="btn-custom-1 btn-block pointer">
                <i class="fa fa-exchange"></i>&nbsp;
                <span style="white-space: normal;">{{_ "Make into a Contact"}}</span>
            </a>
        {{/if}}
    {{/unless}}
    {{#if Employee}}
        <a id="generate-resume" class="btn-custom-1 btn-block pointer">
            <i class="fa fa-file"></i>&nbsp;
            {{_ "Build resume/CV"}}
        </a>
        <a id="download-generated-resume" target="_blank"
           download="{{person.firstName}}-{{person.lastName}}-Resume.pdf" style="display: none"></a>

        <!-- Applicant Center user status -->
        {{#unless isAppCenterUser}}
            <a id="sendAppCenterInvite" class="btn-custom-1 btn-block pointer">
                <i class="fa fa-envelope"></i>&nbsp;
                {{#unless alreadyInvited}}
                    <span style="white-space: normal;">{{_ "Invite to App Center"}}</span>
                    {{else}}
                    <span style="white-space: normal;">{{_ "Resend AC invitation"}}</span>
                {{/unless}}
            </a>
        {{/unless}}
    {{/if}}

    {{#if hasEmailAddress}}
        <a id="sendEmailTemplate" class="btn btn-custom-1 btn-block pointer"><i class="fa fa-envelope"></i>&nbsp;{{_ "Send email template"}}</a>
    {{/if}}
</template>

<!--<template name="contactable_activities">-->
    <!--{{> contactableActivities}}-->
<!--</template>-->

<!-- Loading screen -->

<template name="loadingContactable">
    <div id="content">
        <div id="content-header" class="mini">
            <div class="profile-content-header">
                <h1>{{_ "Loading"}}</h1>
            </div>
        </div>
        <!--<div id="breadcrumb">-->
        <!--<a href="/" title="" class="tip-bottom" data-original-title="Go to Home"><i class="fa fa-home"></i> Home</a>-->
        <!--</div>-->
        <div class="container-fluid" style="background-color: #F6F6F6;">
            <div class="page-loader" style="height: 748px; background-color: #FFF;border: solid 1px #DFDFDF;">
            </div>
        </div>
    </div>
</template>


<template name="contactable_nav">
    {{> detailNav tabs=tabs route="contactable" entityId=_id}}
</template>

<template name="link">
</template>


<template name="contactableFromOtherHier">
    <div id="content">
        <div id="content-header" class="mini">
            <div class="profile-content-header">
                <h1>{{_ "NotFound"}}</h1>
            </div>
        </div>
        <div class="box-type-1">

            <div class="notice-msg-container" style="padding: 10px; text-align: center">
                <h5>This record belongs to hierarchy <strong>{{getHierName}}</strong> and is not visible to your current hierarchy</h5>
            </div>
        </div>
    </div>

</template>
