<template name="contactable">
    <div class="contactable-page-details">
        <div id="content">
            {{displayObjType}}
            {{#with contactable}}
                <div id="content-header" class="mini">
                    <div class="profile-content-header" style="padding: 15px 20px;">
                        {{>contactable_header}}
                    </div>
                </div>
                <!-- /.content-header -->

                <div id="breadcrumb" style="margin-bottom: 0px;">
                    <a href="/" title="Go to Home" class="tip-bottom">Home</a>
                    <a href="/contactables" class="current">{{displayObjType}}</a>
                </div>
                <div class="container-fluid contactable-content">
                    <div class="row">
                        <!-- Left Column -->
                        <div class="col-sm-12 col-lg-12 contactable-left-col">
                            {{>all_tabs contactable=. documentCount=documentCount jobCount=jobCount noteCount=noteCount}}
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            {{/with}}
        </div><!-- /.content -->
    </div>
</template>

<!-- Headers -->
<template name="contactable_header">
    {{#if pictureFileId}}
        <div class="profile-pic">
            <div class="thumb thumb-md profile-pic-photo"  style="cursor: pointer;">
                <a id="edit-pic" title="Click to Edit" class="pointer">
                    <img class="" src="{{pictureUrl}}" style="max-height: 40px;max-width: 40px;">
                </a>
            </div>
        </div>
    {{else}}
        <div class="profile-pic">
            <div id="edit-pic" class="profile-pic-icon" title="Click to Edit" style="cursor: pointer">
                {{#if person}}
                    <i class="icon-profile-business-man"></i>
                {{/if}}
                {{#if organization}}
                    <i class="icon-buildings-1"></i>
                {{/if}}
            </div>
        </div>
    {{/if}}
    <input id="edit-picture" style="visibility:hidden; display: none" name="files" type="file" class="fileUploader"/>


    <h1 class="profile-name">
        <strong>
            {{displayName}}

            {{#if person}}
                {{#if person.jobTitle}}
                    <small>— {{person.jobTitle}}</small>
                {{/if}}
            {{/if}}

            {{#if Contact.customerName}}
                <br>
                <small>
                    <a href="/contactable/{{Contact.customer}}">
                        <strong class="text text-muted" style="font-size: 25px; color: #A29E9E">
                            {{Contact.customerName}}
                            <i class="fa fa-external-link" style="font-size: 14px"></i>
                        </strong>
                    </a>
                </small>
            {{/if}}

            {{#if Customer.department}}
                <small>{{Customer.department}}</small>
            {{/if}}
        </strong>
        <small class="pull-right" style="max-width: 40%;"> {{statusNote}} </small>
        <br>
        <!--<div style="margin-top: 28px;" class="pull-right">-->
            <!--{{#unless Employee}}-->
                <!--{{#if Contact}}-->
                    <!--<button id="makeEmployee" class="btn btn-sm btn-info">-->
                        <!--Make Employee-->
                    <!--</button>-->
                <!--{{/if}}-->
            <!--{{/unless}}-->
            <!--{{#unless Contact}}-->
                <!--{{#if Employee}}-->
                    <!--<button id="makeContact" class="btn btn-sm btn-info">-->
                        <!--Make Contact-->
                    <!--</button>-->
                <!--{{/if}}-->
            <!--{{/unless}}-->
        <!--</div>-->
    </h1>
    <p class="profile-address">

        {{#if location}}
            <i class="fa fa-map-marker"></i>
            <span>{{location.displayName}}</span>
        {{else}}
            <!--<a class="addLocation pointer"><em class="text-muted"> Click here to add an address </em></a>-->
        {{/if}}
    </p>

    <div class="profile-btns">
        {{#with mainContactMethods}}
            {{#if phone.value}}
                <a class="btn btn-default btn-custom-with-circle" href="callto:{{phone.value}}">
                    <span class="btn-round"><i class="fa fa-phone"></i></span>
                    {{phone.value}}
                </a>
            {{/if}}
            {{#if email.value}}
                <a class="btn btn-default btn-custom-with-circle" href="mailto:{{email.value}}">
                    <span class="btn-round"><i class="fa fa-envelope"></i></span>
                    {{email.value}}
                </a>
            {{/if}}
        {{/with}}
    </div>
</template>

<template name="all_tabs">
    <ul class="nav nav-pills bottom-20">
        <li class="{{isActive 'details'}}"><a href="#details">Detail</a></li>
        <li class="{{isActive 'notes'}}"><a href="#notes">Notes <span class="custom-badge-2">{{noteCount}}</span></a></li>
        <li class="{{isActive 'documents'}}"><a href="#documents">Documents <span class="custom-badge-2">{{documentCount}}</span></a></li>
        <li class="{{isActive 'tasks'}}"><a href="#tasks">Tasks</a></li>
        <li class="{{isActive 'location'}}"><a href="#location">Location</a></li>
        {{#if ../Customer}}
            <li class="{{isActive 'jobs'}}"><a href="#jobs">Jobs <span class="custom-badge-2">{{jobCount}}</span></a></li>
            <li class="{{isActive 'placements'}}"><a href="#placements">Placements</a></li>
            <li class="{{isActive 'contacts'}}"><a href="#contacts">Contacts</a></li>
        {{/if}}


        {{#if ../Employee}}
            <li class="{{isActive 'placements'}}"><a href="#placements">Placements</a></li>
            <li class="{{isActive 'hrconcourse'}}"><a href="#hrconcourse">Onboarding</a></li>
        {{/if}}
        <li class="{{isActive 'actions'}}"><a href="#actions">Actions</a></li>
        <li class="{{isActive 'activities'}}"><a href="#activities">Activities</a></li>
    </ul>

    <div class="tab-content">
        <!-- Notes Tab -->
        <div class="tab-pane {{isActive 'notes'}}" id="profile-notes">
            {{> notesItem ..}}
        </div>
        <div class="tab-pane {{isActive 'location'}}" id="profile-location">
            {{>contactableLocationBox ..}}
        </div>
        <!-- Documents Tab -->
        <div class="tab-pane {{isActive 'documents'}}" id="profile-documents">
            {{> contactableDocumentsAdd entity=contactable collection="ContactablesFS"}}
            {{> contactableDocumentsList entity=contactable collection="ContactablesFS"}}
        </div><!-- /.profile-documents -->
        <div class="tab-pane {{isActive 'jobs'}}" id="profile-jobs">
            {{>customerJobs}}
        </div><!-- /.profile-documents -->
        <div class="tab-pane {{isActive 'contacts'}}" id="profile-customerContacts">
            <!-- Contacts -->
            {{#if ../Customer}}{{>contactableContactsBox ..}}{{/if}}
        </div>
        <div class="tab-pane {{isActive 'tasks'}}" id="profile-tasks">
            {{>tasksBox}}
        </div><!-- /.profile-documents -->
        <div class="tab-pane {{isActive 'details'}}" id="profile-details">
            <div class="col-md-6">
                {{>contactableDetailBox ..}}

                {{>contactableContactMethodsBox ..}}
            </div>
            <div class="col-md-6">


                <!-- Tags -->
                {{>tagsBox ..}}
                <!--Customer-->
                {{#if Contact}}
                {{>customerInfo .. customer=Contact.customer path='Contact.customer' collection=ContactablesCollection}}
                {{/if}}


            </div>
        </div>
        <div class="tab-pane {{isActive 'hrconcourse'}}" id="profile-hrConcourse">
            {{#if ../Employee}}
            {{>applicantCenter entity=contactable}}
            <!-- Placements -->
            {{>contactablePlacementsBox ..}}
            {{/if}}
        </div><!-- /.profile-documents -->
        <div class="tab-pane {{isActive 'placements'}}" id="profile-placements">{{>placementsBox }}</div>
        <div class="tab-pane {{isActive 'actions'}}" id="profile-actions">
                {{#unless ../Employee}}
                {{#if ../Contact}}
                <button id="Employee" class="btn btn-sm btn-info">
                    Make Employee
                </button>
                {{/if}}
                {{/unless}}
                {{#unless ../Contact}}
                {{#if ../Employee}}
                <button id="makeContact" class="btn btn-sm btn-info">
                    Make Contact
                </button>
                {{/if}}
                {{/unless}}
        </div>
        <div class="tab-pane {{isActive 'activities'}}" id="profile-activities">{{>contactableActivity }}</div>
    </div>
</template>


<template name="loadingContactable">
    <div id="content">
        <div id="content-header" class="mini">
            <h1>Loading</h1>
        </div>
        <div id="breadcrumb">
            <a href="/" title="" class="tip-bottom" data-original-title="Go to Home"><i class="fa fa-home"></i> Home</a>
        </div>
        <div class="container-fluid">

            <div class="page-loader" style="height: 748px;">

            </div><!-- /.page-loader -->

        </div><!-- /.container-fluid -->

    </div>
</template>