<template name="customerJobs">
    <div class="box">
        <div class="box-header-2">
            <div class="box-title ">
                <i class="icon icon-briefcase"></i>Jobs</div>
            <!--<div class="pull-right">-->
                <!--<i style="cursor: pointer" class="glyphicon glyphicon-plus" data-toggle="modal" data-bind="click: function () { Composer.showModal('addJob', {objName: $data.objName, customer: $data._id()}); }"></i>-->
            <!--</div>-->
        </div>
        <div data-bind="foreach: $data.Customer.jobsInfo">
            <div class="table-item magic">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="table-item-cell">
                            <div class="table-item-cell-container">
                                <div class="table-item-title">
                                    <a href="#" data-bind="attr:{href: '/job/'+_id()}">
                                        <span data-bind="text: $data.publicJobTitle"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /.table-item-cell-container -->
                        </div>
                        <!-- /.table-item-cell -->
                    </div>
                    <!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="table-item-cell">
                            <!--ko if: $data.candidates-->
                            <div class="table-item-cell-container magic-content text-small">
                                <br>
                                <strong>
                                    <span data-bind="text: $data.candidates().length"></span>
                                </strong>Candidates
                            </div>
                            <!-- /.table-item-cell-container -->
                            <!-- /ko -->
                        </div>
                        <!-- /.table-item-cell -->
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-3">
                        <div class="table-item-cell">
                            <div class="table-item-cell-container">
                                <!--ko if: $data.createdAt-->
                                <div class="date">
                                    <span data-bind="text: moment(createdAt()).fromNow()"></span>
                                </div>
                                <!-- /ko -->
                            </div>
                            <!-- /.table-item-cell-container -->
                        </div>
                        <!-- /.table-item-cell -->
                    </div>
                    <!-- /.col-sm-3 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.table-item -->
        </div>
    </div>
</template>