<template name="entityActivities">
    <section class="box-type-2">
        <div class="box-type-2-content">

            <div class="row">
                <div style="text-align: right; height: 60px">
                    <div class="col-md-6" style="text-align:left"><h3>Activities</h3></div>
                    <div class="col-md-6" style="margin-top:-15px">{{>fastPagination name="entityActivities"}}</div>
                </div>
                <ul class="list-type-7 activity-feed" style="padding-top: 0">

                    {{#each activities}}
                        <li>
                            {{> Template.dynamic template=getTemplateForActivity}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>
</template>

<template name="contactableEditActivity">
    <div class="left-part">
        <a class="list-type-7-icon" href="#"><i class="icon icon-pencil-2"></i></a>
        <div class="list-type-7-title">{{displayUserName this.userId}} {{#if data.added}}added a {{else}} edited the {{/if}} {{data.fieldDisplayName}} {{data.newValue}}</div>
    </div>
    {{>entityActivityDate}}
</template>
<template name="entityCreatedActivity">
    <div class="left-part">
        <a class="list-type-7-icon" href="#"><i class="fa fa-user-plus"></i></a>
        <div class="list-type-7-title">Entity created</div>
    </div>
    {{>entityActivityDate}}
</template>
<template name="entityJobAddActivity">
    <div class="left-part">
        <a class="list-type-7-icon" href="#"><i class="icon icon-briefcase"></i></a>
        <div class="list-type-7-title">Job <a href="/job/{{this.entityId}}">{{data.publicJobTitle}}</a> created</div>
    </div>
    {{>entityActivityDate}}
</template>
<template name="entityNoteAddActivity">
    <div class="left-part">
        <a class="list-type-7-icon" href="#"><i class="icon icon-pencil-3"></i></a>
        <div class="list-type-7-title">{{displayUserName this.userId}} added a <a class="pointer note-link">note</a></div>
    </div>
    {{>entityActivityDate}}
</template>
<template name="entityTaskAddActivity">
    <div class="left-part">
        <a class="list-type-7-icon" href="#"><i class="icon icon-check-4"></i></a>
        <div class="list-type-7-title">{{displayUserName this.userId}} added a <a class="pointer task-link">task</a></div>
    </div>
    {{>entityActivityDate}}
</template>
<template name="entityFileAddActivity">
    <div class="left-part">
        <a class="list-type-7-icon" href="#"><i class="icon icon-file-upload"></i></a>
        <div class="list-type-7-title">{{displayUserName this.userId}} added a file "{{getFileName this.entityId}}"</div>
    </div>
    {{>entityActivityDate}}
</template>

<template name="entityPlacementAddActivity">
    <div class="left-part">
        <a class="list-type-7-icon" href="#"><i class="icon icon-suitcase-1"></i></a>
        <div class="list-type-7-title">{{displayUserName this.userId}} assigned this employee to <a href="/job/{{data.job}}">{{getJobName data.job}}</a></div>
    </div>
    {{>entityActivityDate}}
</template>

<template name="entityActivityDate">
    <div class="right-part">{{formattedDate data.dateCreated 'fromNow'}}</div>
</template>