<template name="jobsBox">
    <div class="row">
        <div class="col-md-3 col-lg-3" id="column-filters">
            {{> jobFilters }}
        </div>
        <div class="col-md-9" id="column-list">
            <div class="list-container">
                <div class="list-holder">

                    <div class="list-actions">
                        {{>jobListSearch}}
                    </div>

                    {{>jobListHeader}}

                    {{#if isSearching}}
                        searching
                    {{else}}
                        {{> jobList }}
                    {{/if}}

                    <div class="list-actions last">
                        {{#if listIsLoading}}
                            loading
                        {{else}}
                            {{#unless isESSearch}}
                                {{>fastPagination name="jobs" useKeys="true" containerClass="magic-pager"}}
                            {{/unless}}
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<template name="jobListHeader">
    {{#if listViewMode}}
        <div class="list-header jobs-list-header simple-view">
            <div class="list-header-cell jobs-list-header-title">{{_ "Title"}}</div>
            <div class="list-header-cell jobs-list-header-placements">{{_ "Placements"}}</div>
            <div class="list-header-cell jobs-list-header-owner">{{_ "Owner"}}</div>
            <div class="list-header-cell jobs-list-header-time">{{_ "Date"}}</div>
        </div>
        <!-- /.list-header -->
    {{else}}
        <div class="list-header jobs-list-header">
            <div class="list-header-cell jobs-list-header-title">{{_ "Title"}}</div>
            <div class="list-header-cell jobs-list-header-placements">{{_ "Placements"}}</div>
            <div class="list-header-cell jobs-list-header-status">{{_ "Status"}}</div>
            <div class="list-header-cell jobs-list-header-code">{{_ "Code"}}</div>
            <div class="list-header-cell jobs-list-header-owner">{{_ "Owner"}}</div>
            <div class="list-header-cell jobs-list-header-time">{{_ "Date"}}</div>
        </div>
    {{/if}}
</template>

<template name="jobListSearch">
    {{#if showAddButton}}
        <div class="list-actions-cell btn-add-to-list">
            <div class="btn-group">
                <button type="button" class="btn btn-success addJob" title="Add">
                    <span class="fa fa-plus"></span>
                </button>
            </div>
        </div>
        <!-- /.btn-add-to-list -->
    {{/if}}

    <div class="list-actions-cell search-list">
        <div class="input-group">
            <span class="prop-input">
                {{#objectProperty property=searchString}}
                    <input id="searchString" type="text" class="form-control" placeholder="Search jobs" value="{{value}}">
                {{/objectProperty}}
                <span class="text text-danger"></span>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
    <!-- /.search-list -->

    <div class="list-actions-cell view-mode-list">
        {{#if listViewMode}}
            <a href="#"><i id="detail-view" class="fa fa-th-list"></i></a>
            <a class="active" href="#"><i class="fa fa-bars"></i></a>
        {{else}}
            <a class="active" href="#"><i class="fa fa-th-list"></i></a>
            <a href="#"><i id="list-view" class="fa fa-bars"></i></a>
        {{/if}}
        <a id="toggle-filters" href="#" data-view="normal"><i class="fa fa-desktop"></i></a>
    </div>
    <!-- /.view-mode-list -->

    <div class="list-actions-cell order-list">
        {{> jobListSort}}
    </div>
    <!-- ./order-list -->

    {{#if listIsLoading}}
        loading
    {{else}}
        {{#unless isESSearch}}
            {{#if initialized}}
                {{>fastPagination name="jobs" useKeys="true" containerClass="magic-pager"}}
            {{/if}}
        {{/unless}}
    {{/if}}
</template>

<template name="jobListSort">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{_ "Sort"}}
            {{#with selectedSort}}
                <strong>{{displayName}}</strong>
                {{#if isAscSort .}}
                    <i class="fa fa-sort-amount-asc"> </i>
                {{else}}
                    <i class="fa fa-sort-amount-desc"> </i>
                {{/if}}
            {{/with}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#each sortFields}}
                <li>
                    <a class="sort-field" href="#">
                        {{displayName}}
                        {{#if isFieldSelected .}}
                            {{#if isAscSort .}}
                                <i class="fa fa-sort-amount-asc"> </i>
                            {{else}}
                                <i class="fa fa-sort-amount-desc"> </i>
                            {{/if}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="jobFilters">

    <div class="page-title">
        {{#with information}}
            <h1><span>{{jobsCount.value}}</span> {{_ "jobs"}}</h1>
        {{/with}}
    </div>


    <div class="filter">
        <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
            <strong><i class="fa fa-filter"></i></strong>
        </a>
        <div class="filter-list" id="filter-body">
            {{> filter_entityType title="Job type" types=jobTypes selected=query.objType}}

            {{> filter_lookUp title="Process status" code=3 lookUpValue=query.status multi=true}}

            {{> filter_lookUp title="Active status" code=13 lookUpValue=query.activeStatus multi=true}}


            {{> filter_createdBy showMineOnly=query.mineOnly}}

            {{> filter_tags tags=query.tags}}

            {{> filter_location location=query.location}}
        </div>
    </div>
</template>

<template name="jobList">
{{#if isLoading}}
        <div style="height: 280px;"></div>
{{else}}
        <div class="list-item-section {{#if listViewMode}}simple-view{{/if}}">
            {{#each jobs}}
                {{> jobListItem }}
            {{else}}
                {{#if info.isFiltering.value }}
                    <div class="v-wrapper">
                        <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                            <i class="icon-connection-1 text-large"></i>

                            <h1>No records Found</h1>
                        </div>
                    </div>
                {{else}}
                    <div class="v-wrapper">
                        <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                            <i class="icon-connection-1 text-large"></i>
                            <a href="#" data-bind="attr: { href: '/jobAdd/'+name() }, text: 'New ' + name()"></a>
                            <span class="bullet-spacer"
                                  data-bind="visible: $index()< $parent.jobTypes().length-1">·</span>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
{{/if}}
</template>

<template name="jobListItem">
    {{#if listViewMode}}
        <div class="list-item jobs-list-item">
            <div class="list-item-cell jobs-list-item-title">
                <div class="item-title single">
                    <a href="/job/{{_id}}">{{displayName}}</a> <span class="item-title-more">&#8212; <a
                        href="/contactable/{{client}}">{{clientDisplayName}}</a></span>

                    <span class="item-label prefix-10">{{lookUpName status}}</span>
                    <span class="item-label" data-status="{{lookUpName activeStatus}}">{{lookUpName activeStatus}}</span>
                    <span class="item-label">{{displaySearchKey _id}}</span>
                </div>
            </div>
            <div class="list-item-details jobs-list-item-details">
                <div class="list-item-cell jobs-list-item-placements">
                    <span class="hidden-xs"><span class="btn-round-placeholder">{{countPlacements}}</span></span>
                    <span class="visible-xs"><strong>{{countPlacements}}</strong> Placements</span>
                </div>
                <div class="list-item-cell jobs-list-item-owner">{{displayUserName userId}}</div>
                <div class="list-item-cell jobs-list-item-time">
                    {{formattedDate dateCreated "fromNow"}}
                </div>
            </div>
            <!-- /.list-item-cell -->
        </div>
        <!-- /.jobs-list-item -->
    {{else}}
        <div class="list-item jobs-list-item">
            <div class="list-item-cell list-item-icon">
                <a class="item-icon item-icon-jobs" href="/job/{{_id}}"><i class="icon-briefcase-2"></i></a>
            </div>
            <div class="list-item-cell jobs-list-item-title">
                <div class="item-title"><a href="/job/{{_id}}">{{displayName}}</a></div>
                <div class="item-subtitle"><a href="/contactable/{{client}}">{{clientDisplayName}} {{#if departmentName}}
                    &#8212; {{departmentName}}{{/if}}</a></div>
            </div>
            <div class="list-item-details jobs-list-item-details">
                <div class="list-item-cell jobs-list-item-placements">
                    <span class="hidden-xs"><a href="/job/{{_id}}/placements"><span>{{countPlacements}}
                        /{{countRequired}}</span></a></span>
                    <span class="visible-xs"><strong>{{countPlacements}}1</strong> Placement</span>
                </div>
                <div class="list-item-cell jobs-list-item-status">
                    {{> jobInformation }}
                </div>
                <div class="list-item-cell jobs-list-item-code ">{{displaySearchKey _id}}</div>
                <div class="list-item-cell jobs-list-item-owner">{{displayUserName userId}}</div>
                <div class="list-item-cell jobs-list-item-time">
                    {{formattedDate dateCreated "fromNow"}}
                </div>
                <div class="list-item-cell item-overflow jobs-item-overflow">
                    <a href="#">
                        <span class="ico-more">
                          <span class="dot-1"></span>
                          <span class="dot-2"></span>
                          <span class="dot-3"></span>
                        </span>
                    </a>
                </div>
            </div>
            <!-- /.list-item-cell -->
        </div>
        <!-- /.jobs-list-item -->
    {{/if}}
</template>

<template name="jobInformation">
    <span class="item-label">{{lookUpName status}}</span> <span class="item-label"
                                                                data-status="{{lookUpName activeStatus}}">{{lookUpName activeStatus}}</span>
    {{#if location.displayName}}
        <button class="btn-round" type="button"
                data-container="body" data-toggle="popover" data-placement="top" data-html="true"
                data-content='{{location.displayName}}' data-init="off">
            <i class="fa fa-map-marker"></i>
        </button>
    {{/if}}
</template>