/* Iron router progresss */

#iron-router-progress {
    background-color: rgba(66, 139, 202, 0.78);
    box-shadow: 0 0 5px rgba(66, 139, 202, 0.78);
}
#iron-router-progress.spinner:before {
    border-color: <COLOR>;
    display: none
}
.job-editable-property .display-property-label {
    width: 80px;
}
.job-editable-property .form-group {
    margin: 0;
}
.job-editable-property .form-group > i {
    line-height: 2;
}
.job-editable-property .form-group .control-label {
    line-height: 2;
    width: 80px;
}