/* Iron router progresss */

#iron-router-progress {
    background-color: rgba(66, 139, 202, 0.78);
    box-shadow: 0 0 5px rgba(66, 139, 202, 0.78);
}
#iron-router-progress.spinner:before {
    display: none
}
.job-editable-property .display-property-label {
    width: 80px;
}
.job-editable-property .form-group {
    margin: 0;
}
.job-editable-property .form-group > i {
    line-height: 2;
}
.job-editable-property .form-group .control-label {
    line-height: 2;
    width: 80px;
}
.messages-list {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    background: #fff;
}
.map {
    max-width: 90%;
    height: 500px;
    margin: 10px auto;
}
.messages-list li {
    padding: 10px 20px 10px 45px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}
#user-nav > ul > li.btn.dropdown.open > ul{
    width: auto;
    padding: 3px;
}
.nav-stacked>li+li{
    margin: 0
}

/*************** SidePanel ****************/

@media (max-width: 768px) {
    .spanel-menu{
        position: fixed;
        left: -100%
    }
    .spanel-menu.in{
        left: 0
    }
    .spanel-menu.in.animating{
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: slidein;
        -webkit-animation-name: slidein;
    }
    .spanel-menu.animating{
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: slideout;
        -webkit-animation-name: slideout;
    }
}

@-moz-keyframes slidein {
    from {
        left:-200px;
    }
    to {
        left:0%;
    }
}

@-webkit-keyframes slidein {
    from {
        left:-200px;
    }
    to {
        left:0%;
    }
}

@-moz-keyframes slideout {
    from {
        left:0;
    }
    to {
        left:-200px;
    }
}

@-webkit-keyframes slideout {
    from {
        left:0;
    }
    to {
        left:-200px;
    }
}
@media (max-width: 768px) {
    body{
        position: absolute;
        width: 100%;
        left:0px
    }
    body.in{
        left:200px
    }



    body.in.animating{
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: bodyslideout;
        -webkit-animation-name: bodyslideout;
    }
    body.animating{
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: bodyslidein;
        -webkit-animation-name: bodyslidein;
    }
}


@-moz-keyframes bodyslidein {
    from {
        left:200px;
    }
    to {
        left:0;
    }
}

@-webkit-keyframes bodyslidein {
    from {
        left:200px;
    }
    to {
        left:0;
    }
}

@-moz-keyframes bodyslideout {
    from {
        left:0;
    }
    to {
        left:200px;
    }
}

@-webkit-keyframes bodyslideout {
    from {
        left:0;
    }
    to {
        left:200px
    }
}
/*************** End ****************/

.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Header */
@media (max-width: 768px) {
    body[data-color="enterprise-dark"] #header h1{
        height: 30px;
    }
    #user-nav {
        top: 7px;
        width: initial;
        left: 0;
    }
    #header{
        height: 50px;
    }
}
@media (min-width: 768px) {
    #content > *{
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0.1;
        /*background-color: #fff;*/
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.thumb.thumb-md{
    height:70px;
    width:70px;
}
.thumb.thumb-md > a > img{
    max-height:70px;
    max-width:70px;
    width: auto;
    height: auto
}

.thumb.thumb-md > img{
    max-height:70px;
    max-width:70px;
    width: auto;
    height: auto;
}

.thumb-lg{
    height:100px;
    width:100px;
}
.thumb.thumb-lg > a > img{
    max-height:100px;
    max-width:100px;
    width: auto;
    height: auto
}

.thumb.thumb-lg > img{
    max-height:100px;
    max-width:100px;
    width: auto;
    height: auto;
}

.thumb > img{
    max-height:50px;
    max-width:50px;
    width: auto;
    height: auto;
}

.thumb > a > img{
max-height:50px;
    max-width:50px;
    width: auto;
    height: auto;
}


.drop-zone {
    height: 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(184, 184, 184);
    text-align: center;
    padding-top: 20px;
    font-size: x-large;
    color: grey;
    background-color: rgb(224, 224, 224);
}
.drop-zone.drop-zone-hover {
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(184, 184, 184);
    text-align: center;
    padding-top: 20px;
    font-size: x-large;
    color: grey;
    background-color: rgb(224, 224, 224);
}

@media (max-width: 1199px) {
    .drop-zone {
        display: none;
    }
}

.document-actions {
    position: absolute;
    right: 15px;
}
body[data-color="enterprise-dark"].flat #sidebar > ul > li.submenu.open{
    background-color: #363636;

}
body[data-color="enterprise-dark"].flat #sidebar > ul > li.submenu.open > a{
    color: rgba(255, 255, 255, 0.55);
}
.document-actions button {
    background-color: rgba(255, 255, 255, 0.85);
}

.document-filter {
    margin: 5px;
    padding: 5px;
    background-color: #808080;
    border-radius: 3px;
}


.document-thumbnail {
    min-height: 200px;
}

@media (min-width: 1200px) {
    .document-thumbnail .thumb{
        height: 150px;
        width:100%;
    }

    .document-thumbnail .thumb.thumb-lg > a > img{
        max-height: 150px !important;
        max-width:100% !important;
        width: auto;
        height: auto;
    }

    .document-thumbnail .document-details {
        display: none;
    }

    .document-thumbnail .document-name{
        display: none;
    }

    .document-thumbnail{
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
    }

    /*hover*/

    .document-thumbnail:hover {
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
    }

    .document-thumbnail:hover .thumb{
        height: 100px;
        width: 40%;
    }

    .document-thumbnail:hover .thumb.thumb-lg > a > img{
        max-height: 100px !important;
        max-width: 100% !important;
        height: auto;
        width: auto;
    }

    .document-thumbnail:hover .document-details {
        display: block;
    }

    .document-thumbnail:hover .document-name{
        display: block;
    }
}

@media (max-width: 1199px) {
    .document-thumbnail {
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
    }

    .document-thumbnail.thumb{
        height: 100px;
        width: 40%;
    }

    .document-thumbnail.thumb.thumb-lg > a > img{
        max-height: 100px !important;
        max-width: 100% !important;
        height: auto;
        width: auto;
    }

    .document-thumbnail.document-details {
        display: block;
    }

    .document-thumbnail.document-name{
        display: block;
    }
}

.postAdd textarea{
    max-width: 100%;
    margin-bottom:5px
}

.ex-front #loginbox{
    height: 284px;
}

/*input errors*/
.form-group.error > input{
    color: #F00;
    border-color: #FF0000;
}
.form-group.error > span{
    color: #F00;
}