/* Iron router progresss */

#iron-router-progress {
    background-color: rgba(66, 139, 202, 0.78);
    box-shadow: 0 0 5px rgba(66, 139, 202, 0.78);
}
#iron-router-progress.spinner:before {
    display: none
}
.job-editable-property .display-property-label {
    width: 80px;
}
.job-editable-property .form-group {
    margin: 0;
}
.job-editable-property .form-group > i {
    line-height: 2;
}
.job-editable-property .form-group .control-label {
    line-height: 2;
    width: 80px;
}
.messages-list {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    background: #fff;
}
.map {
    max-width: 500px;
    height: 500px;
    margin: 10px auto;
}
.messages-list li {
    padding: 10px 20px 10px 45px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}
#user-nav > ul > li.btn.dropdown.open > ul{
    width: auto;
    padding: 3px;
}
.nav-stacked>li+li{
    margin: 0
}
/*************** SidePanel ****************/

@media (max-width: 768px) {
    .spanel-menu{
        position: fixed;
        left: -100%
    }
    .spanel-menu.in{
        left: 0
    }
    .spanel-menu.in.animating{
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: slidein;
        -webkit-animation-name: slidein;
    }
    .spanel-menu.animating{
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: slideout;
        -webkit-animation-name: slideout;
    }
}

@-moz-keyframes slidein {
    from {
        left:-200px;
    }
    to {
        left:0%;
    }
}

@-webkit-keyframes slidein {
    from {
        left:-200px;
    }
    to {
        left:0%;
    }
}

@-moz-keyframes slideout {
    from {
        left:0;
    }
    to {
        left:-200px;
    }
}

@-webkit-keyframes slideout {
    from {
        left:0;
    }
    to {
        left:-200px;
    }
}
@media (max-width: 768px) {
    body{
        position: absolute;
        width: 100%;
        left:0px
    }
    body.in{
        left:200px
    }



    body.in.animating{
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: bodyslideout;
        -webkit-animation-name: bodyslideout;
    }
    body.animating{
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-name: bodyslidein;
        -webkit-animation-name: bodyslidein;
    }
}


@-moz-keyframes bodyslidein {
    from {
        left:200px;
    }
    to {
        left:0;
    }
}

@-webkit-keyframes bodyslidein {
    from {
        left:200px;
    }
    to {
        left:0;
    }
}

@-moz-keyframes bodyslideout {
    from {
        left:0;
    }
    to {
        left:200px;
    }
}

@-webkit-keyframes bodyslideout {
    from {
        left:0;
    }
    to {
        left:200px
    }
}