/* Iron router progresss */

#iron-router-progress {
    background-color: rgba(66, 139, 202, 0.78);
    box-shadow: 0 0 5px rgba(66, 139, 202, 0.78);
}
#iron-router-progress.spinner:before {
    border-color: <COLOR>;
    display: none
}
.job-editable-property .display-property-label {
    width: 80px;
}
.job-editable-property .form-group {
    margin: 0;
}
.job-editable-property .form-group > i {
    line-height: 2;
}
.job-editable-property .form-group .control-label {
    line-height: 2;
    width: 80px;
}
.messages-list {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    background: #fff;
}
.map {
    max-width: 500px;
    height: 500px;
    margin: 10px auto;
}
.messages-list li {
    padding: 10px 20px 10px 45px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}
#user-nav > ul > li.btn.dropdown.open > ul{
    width: auto;
    padding: 3px;
}
.nav-stacked>li+li{
    margin: 0
}