@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,700,400);
body {
  font-family: 'Roboto', sans-serif;
}
.text-danger {
  color: #ea1111;
}
.time-text {
  color: #ccc;
  margin-left: 10px;
  font-size: 10px;
}
#sidebar .navbar li .i-container {
  background: #3f4545;
  color: #aaa;
}
#sidebar .navbar li.dashboard.active .i-container,
#sidebar .navbar li.dashboard a:hover .i-container {
  background-image: -webkit-linear-gradient(top, #d2d4d6 0%, #8c8f93 100%);
  background-image: -o-linear-gradient(top, #d2d4d6 0%, #8c8f93 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d2d4d6), to(#8c8f93));
  background-image: -webkit-linear-gradient(top, #d2d4d6, 0%, #8c8f93, 100%);
  background-image: -moz-linear-gradient(top, #d2d4d6 0%, #8c8f93 100%);
  background-image: linear-gradient(to bottom, #d2d4d6 0%, #8c8f93 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd2d4d6', endColorstr='#ff8c8f93', GradientType=0);
  color: #ffffff;
}
#sidebar .navbar li.contactables.active .i-container,
#sidebar .navbar li.contactables a:hover .i-container {
  background-image: -webkit-linear-gradient(top, #1bd3fd 0%, #1bbbfa 100%);
  background-image: -o-linear-gradient(top, #1bd3fd 0%, #1bbbfa 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1bd3fd), to(#1bbbfa));
  background-image: -webkit-linear-gradient(top, #1bd3fd, 0%, #1bbbfa, 100%);
  background-image: -moz-linear-gradient(top, #1bd3fd 0%, #1bbbfa 100%);
  background-image: linear-gradient(to bottom, #1bd3fd 0%, #1bbbfa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1bd3fd', endColorstr='#ff1bbbfa', GradientType=0);
  color: #ffffff !important;
}
#sidebar .navbar li.jobs.active .i-container,
#sidebar .navbar li.jobs a:hover .i-container {
  background-image: -webkit-linear-gradient(top, #78f061 0%, #09d316 100%);
  background-image: -o-linear-gradient(top, #78f061 0%, #09d316 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#78f061), to(#09d316));
  background-image: -webkit-linear-gradient(top, #78f061, 0%, #09d316, 100%);
  background-image: -moz-linear-gradient(top, #78f061 0%, #09d316 100%);
  background-image: linear-gradient(to bottom, #78f061 0%, #09d316 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff78f061', endColorstr='#ff09d316', GradientType=0);
  color: #333333;
}
#sidebar .navbar li.placements.active .i-container,
#sidebar .navbar li.placements a:hover .i-container {
  background-image: -webkit-linear-gradient(top, #4ce7ec 0%, #13c1cb 100%);
  background-image: -o-linear-gradient(top, #4ce7ec 0%, #13c1cb 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4ce7ec), to(#13c1cb));
  background-image: -webkit-linear-gradient(top, #4ce7ec, 0%, #13c1cb, 100%);
  background-image: -moz-linear-gradient(top, #4ce7ec 0%, #13c1cb 100%);
  background-image: linear-gradient(to bottom, #4ce7ec 0%, #13c1cb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4ce7ec', endColorstr='#ff13c1cb', GradientType=0);
  color: #ffffff;
}
#sidebar .navbar li.tasks.active .i-container,
#sidebar .navbar li.tasks a:hover .i-container {
  background-image: -webkit-linear-gradient(top, #ff5e3c 0%, #ff2c66 100%);
  background-image: -o-linear-gradient(top, #ff5e3c 0%, #ff2c66 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ff5e3c), to(#ff2c66));
  background-image: -webkit-linear-gradient(top, #ff5e3c, 0%, #ff2c66, 100%);
  background-image: -moz-linear-gradient(top, #ff5e3c 0%, #ff2c66 100%);
  background-image: linear-gradient(to bottom, #ff5e3c 0%, #ff2c66 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5e3c', endColorstr='#ffff2c66', GradientType=0);
  color: #ffffff;
}
#sidebar .navbar li.hotlists.active .i-container,
#sidebar .navbar li.hotlists a:hover .i-container {
    background-image: -webkit-linear-gradient(top, #ff5e3c 0%, #B85D11 100%);
    background-image: -o-linear-gradient(top, #ff5e3c 0%, #B85D11 100%);
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ff5e3c), to(#B85D11));
    background-image: -webkit-linear-gradient(top, #ff5e3c, 0%, #B85D11, 100%);
    background-image: -moz-linear-gradient(top, #ff5e3c 0%, #B85D11 100%);
    background-image: linear-gradient(to bottom, #ff5e3c 0%, #B85D11 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5e3c', endColorstr='#ffB85D11', GradientType=0);
    color: #ffffff;
}

#sidebar .navbar li.notes.active .i-container,
#sidebar .navbar li.notes a:hover .i-container {
  background-image: -webkit-linear-gradient(top, #ffdb49 0%, #ffce07 100%);
  background-image: -o-linear-gradient(top, #ffdb49 0%, #ffce07 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffdb49), to(#ffce07));
  background-image: -webkit-linear-gradient(top, #ffdb49, 0%, #ffce07, 100%);
  background-image: -moz-linear-gradient(top, #ffdb49 0%, #ffce07 100%);
  background-image: linear-gradient(to bottom, #ffdb49 0%, #ffce07 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffdb49', endColorstr='#ffffce07', GradientType=0);
  color: #333333;
}
.jobs i:before,
.notes i,
.contactables i:before {
  color: inherit;
}
.magic-pager .pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 70px;
}
.magic-pager .pagination > li > a,
.magic-pager .pagination > li > span {
  font-weight: 300;
  border: 0;
  background: transparent;
  color: #777777;
  padding: 26px 5px 20px 5px;
  font-size: 16px;
  cursor: pointer;
  line-height: normal;
  height: 70px;
}
.magic-pager .pagination > li.active > a,
.magic-pager .pagination > li > a:hover {
  color: #333333;
  background: none;
}
.magic-pager .pagination > li.active > a {
  font-weight: 700;
}
.magic-pager .pagination > li > a.previous-page,
.magic-pager .pagination > li > a.next-page {
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
.page-title {
  border-bottom: 5px solid #e5e5e5;
  padding-bottom: 10px;
}
.page-title h1 {
  font-size: 36px;
  font-weight: 300;
  color: #333333;
}
.page-title h1 span {
  color: #e44aca;
}
@media (min-width: 992px) {
  .page-title {
    margin-left: 30px;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .page-title h1 {
    font-size: 44px;
    line-height: 42px;
    letter-spacing: -0.25px;
    margin: 0;
  }
}
.nicer-filters #breadcrumb {
  margin: 0;
  border-top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nicer-filters .filter {
  border: 0;
  margin: 0;
  padding: 20px 0px 20px 30px;
  background: none;
}
.nicer-filters .filter .filter-list {
  padding: 0;
}
.nicer-filters .filter .filter-list .filter-item {
  border-top: 1px solid #e4e4e4;
  padding-top: 10px;
  padding-bottom: 15px;
}
.nicer-filters .filter .filter-list .filter-item .filter-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
}
.nicer-filters .filter .filter-list .filter-item .filter-title i {
  margin-right: 4px;
}
.nicer-filters .filter .filter-list .filter-item .btn.btn-sm.btn-default {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  padding-top: 5px;
  padding-bottom: 4px;
  border-color: #dbdbdb;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
.nicer-filters .filter .filter-list .filter-item .btn.btn-sm.btn-primary {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}
@media (min-width: 1200px) {
  .nicer-filters .filter {
    padding-top: 0;
  }
  .nicer-filters a.filter-toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .nicer-filters .filter {
    padding: 20px;
  }
  .nicer-filters .filter .filter-toggle {
    display: block;
    text-align: center;
    border: 0;
    background-color: #ddd;
    margin: 0 -10px 0 -10px;
  }
  .nicer-filters .filter .filter-list .filter-item {
    border-top-color: #ccc;
  }
}
@media (max-width: 992px) {
  .nicer-filters .filter-toogle {
    margin: 0;
  }
  .nicer-filters .filter {
    text-align: left;
  }
}
.item-label {
  margin-right: 4px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #f5f5f5;
  padding: 3px 7px;
  font-size: 11px;
  font-weight: 700;
}
span[data-status="Inactive"] {
  color: #ea1111;
}
.item-label-2 {
  margin-left: 3px;
  font-size: 12px;
  color: #ffffff;
  background-color: #3f4545;
  padding: 2px 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  white-space: nowrap;
}
.label-future {
  background-color: #1bc5fb;
}
.label-completed {
  background-color: #35cf59;
}
.label-overDue {
  background-color: #e11d21;
}
.label-pending {
  background-color: #ffd011;
  color: #333333;
}
.item-icon {
  display: block;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  padding-top: 7px;
  text-align: center;
}
.item-icon i {
  font-size: 20px;
}
.item-icon:hover,
.item-icon:active,
.item-icon:visited {
  color: #ffffff;
}
.item-icon-network {
  background-image: -webkit-linear-gradient(top, #1bd3fd 0%, #1bbbfa 100%);
  background-image: -o-linear-gradient(top, #1bd3fd 0%, #1bbbfa 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1bd3fd), to(#1bbbfa));
  background-image: -webkit-linear-gradient(top, #1bd3fd, 0%, #1bbbfa, 100%);
  background-image: -moz-linear-gradient(top, #1bd3fd 0%, #1bbbfa 100%);
  background-image: linear-gradient(to bottom, #1bd3fd 0%, #1bbbfa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1bd3fd', endColorstr='#ff1bbbfa', GradientType=0);
}
.item-icon-jobs {
  background-image: -webkit-linear-gradient(top, #78f061 0%, #09d316 100%);
  background-image: -o-linear-gradient(top, #78f061 0%, #09d316 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#78f061), to(#09d316));
  background-image: -webkit-linear-gradient(top, #78f061, 0%, #09d316, 100%);
  background-image: -moz-linear-gradient(top, #78f061 0%, #09d316 100%);
  background-image: linear-gradient(to bottom, #78f061 0%, #09d316 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff78f061', endColorstr='#ff09d316', GradientType=0);
}
.item-icon-placements {
  background-image: -webkit-linear-gradient(top, #4ce7ec 0%, #13c1cb 100%);
  background-image: -o-linear-gradient(top, #4ce7ec 0%, #13c1cb 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4ce7ec), to(#13c1cb));
  background-image: -webkit-linear-gradient(top, #4ce7ec, 0%, #13c1cb, 100%);
  background-image: -moz-linear-gradient(top, #4ce7ec 0%, #13c1cb 100%);
  background-image: linear-gradient(to bottom, #4ce7ec 0%, #13c1cb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4ce7ec', endColorstr='#ff13c1cb', GradientType=0);
}
.item-icon-tasks {
  background-image: -webkit-linear-gradient(top, #ff5e3c 0%, #ff2c66 100%);
  background-image: -o-linear-gradient(top, #ff5e3c 0%, #ff2c66 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ff5e3c), to(#ff2c66));
  background-image: -webkit-linear-gradient(top, #ff5e3c, 0%, #ff2c66, 100%);
  background-image: -moz-linear-gradient(top, #ff5e3c 0%, #ff2c66 100%);
  background-image: linear-gradient(to bottom, #ff5e3c 0%, #ff2c66 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5e3c', endColorstr='#ffff2c66', GradientType=0);
  padding-top: 3px;
  padding-left: 2px;
}
.item-icon-hotlists {
    background-image: -webkit-linear-gradient(top, #ff5e3c 0%, #ff2c66 100%);
    background-image: -o-linear-gradient(top, #ff5e3c 0%, #ff2c66 100%);
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ff5e3c), to(#ff2c66));
    background-image: -webkit-linear-gradient(top, #ff5e3c, 0%, #ff2c66, 100%);
    background-image: -moz-linear-gradient(top, #ff5e3c 0%, #ff2c66 100%);
    background-image: linear-gradient(to bottom, #ff5e3c 0%, #ff2c66 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5e3c', endColorstr='#ffff2c66', GradientType=0);
    padding-top: 3px;
    padding-left: 2px;
}
.item-icon-notes {
  color: #333333;
  background-image: -webkit-linear-gradient(top, #ffdb49 0%, #ffce07 100%);
  background-image: -o-linear-gradient(top, #ffdb49 0%, #ffce07 100%);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffdb49), to(#ffce07));
  background-image: -webkit-linear-gradient(top, #ffdb49, 0%, #ffce07, 100%);
  background-image: -moz-linear-gradient(top, #ffdb49 0%, #ffce07 100%);
  background-image: linear-gradient(to bottom, #ffdb49 0%, #ffce07 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffdb49', endColorstr='#ffffce07', GradientType=0);
}
.ico-tasks {
  width: 34px;
  height: 34px;
  display: block;
  background: url("../svgs/icon-task.svg") no-repeat;
}
.ico-more {
  display: block;
  width: 4px;
  height: 20px;
}
.ico-more span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #b3b3b3;
  margin-bottom: 2px;
}
.network-content {
  background-color: #f4f4f4!important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
@media (max-width: 767px) {
  .network-content {
    padding: 10px;
  }
}
@media (min-width: 1200px) {
  .list-holder {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
  }
}
.list-interactive-msg {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 12px;
}
.list-interactive-msg:before,
.list-interactive-msg:after {
  content: " ";
  display: table;
}
.list-interactive-msg:after {
  clear: both;
}
.list-interactive-msg:before,
.list-interactive-msg:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.list-interactive-msg:after {
  clear: both;
}
.list-interactive-msg .text {
  font-size: 24px;
  font-weight: 300;
}
.list-interactive-msg .text-info {
  font-size: 16px;
  color: #777;
}
.list-interactive-msg .list-interactive-msg-options {
  border-top: 1px solid #eeeeee;
  padding-top: 15px;
  margin-top: 15px;
}
.list-interactive-msg .btn i {
  font-size: 17px;
}
.item-title {
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: -2px;
}
.item-title a {
  color: #333333;
}
.item-title .item-title-more {
  font-size: 11px;
  color: #777777;
  font-weight: 300;
}
.item-title.single {
  margin-top: 10px;
}
.item-subtitle {
  font-size: 12px;
  color: #777777;
}
.item-subtitle a {
  color: #777777;
}
.item-subtitle-more {
  margin-top: 7px;
  font-size: 10px;
  color: #ccc;
}
@media (max-width: 767px) {
  .item-title {
    margin-right: 60px;
  }
  .item-subtitle-more {
    margin-left: 46px;
  }
}
.network-list-item-owner {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn-round-placeholder {
  width: 25px;
  display: block;
  text-align: center;
}
.btn-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  margin-right: 5px;
  background: #f5f5f5;
  width: 25px;
  height: 25px;
  display: block;
  line-height: 20px;
  margin-bottom: 2px;
  font-size: 13px;
  text-align: center;
  color: #777777;
}
.btn-round span {
  display: block;
  padding-top: 3px;
}
.btn-round:hover {
  background-color: #09d316;
  color: #ffffff;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .btn-round {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin-right: 7px;
    background: none;
    width: auto;
    height: auto;
    font-size: 14px;
  }
  .btn-round:hover {
    background: none;
    color: #777777;
  }
}
.list-actions {
  background-color: #878787;
}
.list-actions:before,
.list-actions:after {
  content: " ";
  display: table;
}
.list-actions:after {
  clear: both;
}
.list-actions:before,
.list-actions:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.list-actions:after {
  clear: both;
}
.list-actions .list-actions-cell {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 12px;
}
.list-actions .search-list {
  max-width: 230px;
}
.list-actions .search-list input.form-control {
  border-color: #7d7d7d;
}
.list-actions .search-list .btn-search {
  color: #ffffff;
  background-color: #5b5b5b;
}
.list-actions .view-mode-list {
  margin-top: 8px;
}
.list-actions .view-mode-list a {
  color: #c1c1c1;
  margin-right: 7px;
  font-size: 1.47em;
}
.list-actions .view-mode-list a.active {
  color: #ffffff;
}
.list-actions .order-list .btn {
  border: 0;
  background: none;
  color: #c1c1c1;
  padding-left: 0;
  padding-right: 0;
}
.list-actions .order-list .btn-group,
.list-actions .order-list .btn-group:hover,
.list-actions .order-list .btn-group:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.list-actions .order-list .btn-group.open .dropdown-toggle,
.list-actions .order-list .btn-group .dropdown-toggle:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #ffffff;
}
.list-actions .order-list .dropdown-menu {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.list-actions .order-list .dropdown-menu a {
  color: #777777;
}
@media (min-width: 768px) {
  .list-actions .magic-pager {
    float: right;
    width: auto!important;
    padding-top: 0;
    padding-bottom: 0;
    height: 70px;
  }
  .list-actions .magic-pager .pagination > li > a,
  .list-actions .magic-pager .pagination > li > span {
    color: #c1c1c1;
  }
  .list-actions .magic-pager .disabled {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    background: none;
  }
  .list-actions .magic-pager .disabled a {
    color: #c1c1c1!important;
  }
  .list-actions .magic-pager .pagination > li.active > a,
  .list-actions .magic-pager .pagination > li > a:hover {
    color: #ffffff;
  }
  .list-actions .magic-pager .pagination > li:first-child > a,
  .list-actions .magic-pager .pagination > li:first-child > span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .list-actions .magic-pager .pagination > li:last-child > a,
  .list-actions .magic-pager .pagination > li:last-child > span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .list-actions .magic-pager .pagination > li > a.previous-page,
  .list-actions .magic-pager .pagination > li > a.next-page {
    color: #ffffff;
  }
  .list-actions .magic-pager .pagination > li > a.previous-page {
    border-left: 1px solid #939393;
    border-right: 1px solid #939393;
    margin-right: 12px;
  }
  .list-actions .magic-pager .pagination > li > a.next-page {
    border-left: 1px solid #939393;
    margin-left: 12px;
  }
  .list-actions .magic-pager .pagination > li > a.previous-page:hover,
  .list-actions .magic-pager .pagination > li > a.next-page:hover {
    background-color: #7e7e7e;
  }
}
@media (max-width: 767px) {
  .list-actions {
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  }
  .list-actions .view-mode-list,
  .list-actions .order-list,
  .list-actions .magic-pager {
    display: none;
  }
  .list-actions.last {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .list-actions.last .magic-pager {
    display: block;
    float: none;
    background: none;
  }
}
@media (min-width: 1420px) {
  .list-actions .search-list {
    max-width: 350px;
  }
  .list-actions .list-actions-cell {
    margin-left: 20px;
  }
  .list-actions .magic-pager .pagination > li > a.previous-page,
  .list-actions .magic-pager .pagination > li > a.next-page {
    padding-left: 20px;
    padding-right: 20px;
  }
  .list-actions .magic-pager .pagination > li > a.previous-page {
    margin-right: 20px;
  }
  .list-actions .magic-pager .pagination > li > a.next-page {
    margin-left: 20px;
  }
}
@media (min-width: 768px) {
  .list-actions.last {
    background: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .list-actions.last:before,
  .list-actions.last:after {
    content: " ";
    display: table;
  }
  .list-actions.last:after {
    clear: both;
  }
  .list-actions.last:before,
  .list-actions.last:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

  }
  .list-actions.last:after {
    clear: both;
  }
  .list-actions.last .magic-pager {
    float: right;
  }
  .list-actions.last .pagination > li > a,
  .list-actions.last .pagination > li > span {
    color: #777777;
  }
  .list-actions.last .pagination > li.active > a,
  .list-actions.last .pagination > li > a:hover {
    color: #333333;
  }
  .list-actions.last .pagination > li > a.previous-page {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }
  .list-actions.last .pagination > li > a.next-page {
    border-left: 1px solid #eeeeee;
  }
  .list-actions.last .pagination > li > a.previous-page,
  .list-actions.last .pagination > li > a.next-page {
    color: #777777;
  }
  .list-actions.last .pagination > li > a.previous-page:hover,
  .list-actions.last .pagination > li > a.next-page:hover {
    color: #333333;
    background-color: #f5f5f5;
  }
}
@media (max-width: 767px) {
  .list-header,
  .list-header-actions,
  .list-interactive-msg {
    display: none;
  }
}
@media (min-width: 768px) {
  .list-header {
    width: 100%;
    background-color: #fafafa;
    border-bottom: 2px solid #eeeeee;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .list-header-cell {
    padding: 10px 0;
    margin-left: 12px;
    font-size: 14px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  [class*="-list-header-title"],
  [class*="-list-header-checkbox"] {
    display: -webkit-block;
    display: -moz-block;
    display: -ms-blockbox;
    display: -ms-block;
    display: block;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
  }
}
@media (min-width: 1400px) {
  .list-header-cell {
    margin-left: 20px;
  }
  [class*="-list-header-time"] {
    margin-right: 40px;
  }
}
@media (max-width: 767px) {
  .list-item {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    position: relative;
    padding: 20px 15px 0 15px;
  }
  .list-item .list-item-icon {
    float: left;
    margin-right: 10px;
  }
  .list-item-details {
    font-size: 12px;
    color: #777777;
    background-color: #f6f6f6;
    margin: 15px -15px 0 -15px;
    padding: 5px 10px;
    border-top: 1px solid #e5e5e5;
  }
  .list-item-details:before,
  .list-item-details:after {
    content: " ";
    display: table;
  }
  .list-item-details:after {
    clear: both;
  }
  .list-item-details:before,
  .list-item-details:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

  }
  .list-item-details:after {
    clear: both;
  }
  .list-item-details .list-item-cell {
    float: left;
  }
  .list-item-details .item-label {
    background-color: #ffffff;
  }
  .list-item-details [class*="-list-item-code"] {
    display: none;
  }
  .list-item-details .item-overflow {
    float: right;
  }
  .list-item-details .item-overflow a {
    float: right;
  }
  .list-item-details [class*="-list-item-time"] {
    position: absolute;
    right: 15px;
    top: 20px;
    width: auto!important;
    color: #cbcbcb;
  }
  .list-item-details .item-overflow .ico-more {
    width: 20px;
    padding-top: 7px;
  }
  .list-item-details .item-overflow .ico-more span {
    float: left;
    margin-bottom: 0;
    margin-right: 2px;
  }
  .list-item-more {
    margin: 0px -15px 0 -15px;
    border-top: 1px solid #e5e5e5;
    color: #777777;
    background-color: #f8f8f8;
  }
  .list-item-more a {
    color: #333333;
  }
  .list-item-more .list-item-more-entry {
    padding: 5px;
  }
  .list-item-more .list-item-more-entry:before,
  .list-item-more .list-item-more-entry:after {
    content: " ";
    display: table;
  }
  .list-item-more .list-item-more-entry:after {
    clear: both;
  }
  .list-item-more .list-item-more-entry:before,
  .list-item-more .list-item-more-entry:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

  }
  .list-item-more .list-item-more-entry:after {
    clear: both;
  }
  .list-item-more .list-item-more-entry .list-item-more-entry-content {
    position: relative;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 11px;
    padding: 5px 15px 5px 30px;
  }
  .list-item-more .list-item-more-entry .list-item-more-entry-content:before,
  .list-item-more .list-item-more-entry .list-item-more-entry-content:after {
    content: " ";
    display: table;
  }
  .list-item-more .list-item-more-entry .list-item-more-entry-content:after {
    clear: both;
  }
  .list-item-more .list-item-more-entry .list-item-more-entry-content:before,
  .list-item-more .list-item-more-entry .list-item-more-entry-content:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

  }
  .list-item-more .list-item-more-entry .list-item-more-entry-content:after {
    clear: both;
  }
  .list-item-more .list-item-more-entry .list-item-more-entry-content .time {
    float: right;
    color: #b3b3b3;
  }
  .list-item-more .list-item-more-entry .list-item-more-entry-content .list-item-more-ico {
    border-right: 2px solid #ffffff;
    text-align: center;
    font-size: 16px;
    padding-top: 4px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.list-item.selected {
  background-color: #fefbe8;
}
@media (min-width: 768px) {
  .list-item {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    flex-flow: row wrap;
  }
  .list-item:hover {
    background-color: #f7fdff;
  }
  .list-item .list-item-cell {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 12px;
  }
  .list-item .list-item-checkbox input {
    margin-top: 10px;
  }
  .list-item .list-item-details {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #777777;
    padding: 0;
    font-size: 12px;
  }
  .list-item .list-item-details .list-item-cell {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    align-items: center;
  }
  .list-item .list-item-details .item-overflow {
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    padding-right: 20px;
  }
  .list-item .list-item-details .item-overflow a {
    display: block;
    width: 5px;
    height: 20px;
  }
  .list-item .list-item-more {
    -webkit-flex: 100%;
    -moz-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    margin-top: -5px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #777777;
  }
  .list-item .list-item-more a {
    color: #333333;
  }
  .list-item .list-item-more .list-item-more-entry:before,
  .list-item .list-item-more .list-item-more-entry:after {
    content: " ";
    display: table;
  }
  .list-item .list-item-more .list-item-more-entry:after {
    clear: both;
  }
  .list-item .list-item-more .list-item-more-entry:before,
  .list-item .list-item-more .list-item-more-entry:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

  }
  .list-item .list-item-more .list-item-more-entry:after {
    clear: both;
  }
  .list-item .list-item-more .list-item-more-entry .list-item-more-entry-content {
    position: relative;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 11px;
    padding: 5px 15px 5px 40px;
    background-color: #f8f8f8;
  }
  .list-item .list-item-more .list-item-more-entry .list-item-more-entry-content:before,
  .list-item .list-item-more .list-item-more-entry .list-item-more-entry-content:after {
    content: " ";
    display: table;
  }
  .list-item .list-item-more .list-item-more-entry .list-item-more-entry-content:after {
    clear: both;
  }
  .list-item .list-item-more .list-item-more-entry .list-item-more-entry-content:before,
  .list-item .list-item-more .list-item-more-entry .list-item-more-entry-content:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

  }
  .list-item .list-item-more .list-item-more-entry .list-item-more-entry-content:after {
    clear: both;
  }
  .list-item .list-item-more .list-item-more-entry .list-item-more-entry-content .time {
    float: right;
    color: #b3b3b3;
  }
  .list-item .list-item-more .list-item-more-entry .list-item-more-entry-content .list-item-more-ico {
    border-right: 2px solid #ffffff;
    text-align: center;
    font-size: 16px;
    padding-top: 4px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media (min-width: 1400px) {
  .list-item .list-item-cell {
    margin-left: 20px;
  }
  .list-item .list-item-details {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .network-list-header-title {
    width: 19%;
    margin-right: 48px;
  }
  .network-list-header-contact,
  .network-list-header-type,
  .network-list-header-code,
  .network-list-header-time {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .network-list-header-status,
  .network-list-header-owner {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .network-list-header-time {
    margin-right: 37px;
  }
  .network-list-header.simple-view .network-list-header-title {
    width: 30%;
    margin-right: 0;
  }
  .network-list-header.simple-view .network-list-header-owner {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .network-list-header.simple-view .network-list-header-time {
    margin-right: 0;
  }
}
@media (min-width: 1400px) {
  .network-list-header .network-list-header-cell {
    margin-left: 20px;
  }
  .network-list-header .network-list-header-title {
    margin-right: 56px;
  }
  .network-list-header .network-list-item-cell {
    margin-left: 20px;
  }
  .network-list-header .network-list-header-time {
    margin-right: 46px;
  }
}
.network-list-item .network-list-item-contact {
  display: none;
}
@media (max-width: 767px) {
  .network-list-item-title {
    padding-right: 60px;
  }
  .network-list-item-type {
    width: 33%;
  }
  .network-list-item-owner {
    width: 33%;
    text-align: center;
  }
  .network-item-overflow {
    width: 33%;
    text-align: right;
  }
  .network-list-item-checkbox,
  .network-list-item-code,
  .network-list-item-status {
    display: none ;
  }
}
@media (min-width: 768px) {
  .network-list-item .network-list-item-title {
    width: 19%;
  }
  .network-list-item .network-list-item-details .network-list-item-owner {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    width: 30%;
  }
  .network-list-item .network-list-item-details .network-list-item-status {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .network-list-item .network-list-item-details .network-list-item-contact {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .network-list-item .list-item-more {
    margin-left: 86px;
  }
  .simple-view .network-list-item-title {
    width: 30%;
  }
  .simple-view .network-list-item-details .network-list-item-owner {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .network-list-item .network-list-item-details .network-list-item-code {
    display: none;
  }
  .simple-view .network-list-item-details .network-list-item-code {
    display: block;
  }
}
@media (min-width: 1400px) {
  .network-list-item .list-item-more {
    margin-left: 111px;
  }
}
@media (max-width: 767px) {
  .jobs-list-item .list-item-details .list-item-cell {
    width: 30%;
  }
  .jobs-list-item .list-item-details .item-overflow {
    width: 10%;
  }
  .jobs-list-item .list-item-details .jobs-list-item-placements {
    font-size: 11px;
    margin-top: 2px;
  }
  .jobs-list-item .list-item-details .jobs-list-item-owner {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .jobs-list-header .jobs-list-header-title {
    width: 25%;
    margin-right: 52px;
  }
  .jobs-list-header .jobs-list-header-status,
  .jobs-list-header .jobs-list-header-owner {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .jobs-list-item .jobs-list-item-title {
    width: 25%;
  }
  .jobs-list-item .list-item-details .jobs-list-item-status,
  .jobs-list-item .list-item-details .jobs-list-item-owner {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .simple-view .jobs-list-header-title,
  .simple-view .jobs-list-header-time {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
    .hotlists-list-item .list-item-details .list-item-cell {
        width: 30%;
    }
    .hotlists-list-item .list-item-details .item-overflow {
        width: 10%;
    }
    .hotlists-list-item .list-item-details .hotlists-list-item-hotlists {
        font-size: 11px;
        margin-top: 2px;
    }
    .hotlists-list-item .list-item-details .hotlists-list-item-owner {
        text-align: center;
    }
}
@media (min-width: 768px) {
    .hotlists-list-header .hotlists-list-header-title {
        width: 30%;
        margin-right: 52px;
    }
    .hotlists-list-header .hotlists-list-header-status,
    .hotlists-list-header .hotlists-list-header-owner {
        -webkit-flex: 2;
        -moz-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }
    .hotlists-list-item .hotlists-list-item-title {
        width: 30%;
    }
    .hotlists-list-item .list-item-details .hotlists-list-item-status,
    .hotlists-list-item .list-item-details .hotlists-list-item-owner {
        -webkit-flex: 2;
        -moz-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }
    .simple-view .hotlists-list-header-title {
        width: 50%;
        margin-right: 0;
    }
    .simple-view .hotlists-list-header-time {
        margin-right: 0;
    }
    .simple-view .hotlists-list-item .hotlists-list-item-title {
        width: 50%;
    }
    .simple-view .item-subtitle,
    .simple-view .item-subtitle a {
        color: #d5d5d5;
        font-size: 11px;
    }
}
@media (max-width: 767px) {
  .placements-list-item .list-item-details .list-item-cell {
    width: 30%;
  }
  .placements-list-item .list-item-details .item-overflow {
    width: 10%;
  }
  .placements-list-item .list-item-details .placements-list-item-placements {
    font-size: 11px;
    margin-top: 2px;
  }
  .placements-list-item .list-item-details .placements-list-item-owner {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .placements-list-header .placements-list-header-title {
    width: 30%;
    margin-right: 52px;
  }
  .placements-list-header .placements-list-header-status,
  .placements-list-header .placements-list-header-owner {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .placements-list-item .placements-list-item-title {
    width: 30%;
  }
  .placements-list-item .list-item-details .placements-list-item-status,
  .placements-list-item .list-item-details .placements-list-item-owner {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .simple-view .placements-list-header-title {
    width: 50%;
    margin-right: 0;
  }
  .simple-view .placements-list-header-time {
    margin-right: 0;
  }
  .simple-view .placements-list-item .placements-list-item-title {
    width: 50%;
  }
  .simple-view .item-subtitle,
  .simple-view .item-subtitle a {
    color: #d5d5d5;
    font-size: 11px;
  }
}
.tasks-list-item .btn-users {
  display: none;
  border: 0;
  margin-left: 7px;
  background: none;
  cursor: pointer;
  color: #ccc;
  font-size: 17px;
  position: absolute;
  right: 20px;
  top: 22px;
}
@media (min-width: 1200px) {
  .tasks-list-item .btn-users {
    display: block;
  }
}
@media (max-width: 767px) {
  .tasks-list-item .item-subtitle .time-text {
    display: block;
    margin-left: 45px;
    margin-top: 6px;
  }
  .tasks-list-item .list-item-details .tasks-list-item-startdate {
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .tasks-list-item .list-item-details .tasks-list-item-startdate span {
    display: inline-block !important;
  }
  .tasks-list-item .list-item-details .list-item-cell {
    width: 100%;
  }
  .tasks-list-item .list-item-details .item-overflow {
    width: 10%;
    margin-top: -10px;
  }
}
@media (min-width: 768px) {
  .tasks-list-header .tasks-list-header-title {
    width: 35%;
    margin-right: 52px;
  }
  .tasks-list-header .tasks-list-header-status {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin-right: 40px;
  }
  .tasks-list-item .tasks-list-item-title {
    width: 35%;
  }
  .tasks-list-item .list-item-details .tasks-list-item-status {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    position: relative;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .notes-list-item .item-title.single {
    margin-top: 0;
  }
  .notes-list-item .list-item-details {
    margin-top: 25px;
  }
  .notes-list-item .list-item-details .list-item-cell {
    width: 30%;
  }
  .notes-list-item .list-item-details .item-overflow {
    width: 10%;
  }
}
@media (min-width: 768px) {
  .notes-list-header .notes-list-header-title {
    width: 35%;
    margin-right: 52px;
  }
  .notes-list-header .notes-list-header-owner {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .notes-list-item .notes-list-item-title {
    width: 35%;
  }
  .notes-list-item .list-item-details .notes-list-item-owner {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
