<template name="dashboard">

    <div class="network-content nicer-filters" id="content">
        <div class="row">

            <div class="col-md-3">

                <aside class="sidebar">

                    <div class="page-title-2">
                        <h1 class="welcome">
                            {{_ "Hi"}}&nbsp;
                            {{getUserDisplayName}},
                        </h1>
                    </div>

                    <div class="btn-group dropup btn-add-global">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="plus">+</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/contactableAdd/Contact">{{_ "Add Contact"}}</a></li>
                            <li><a href="/contactableAdd/Employee">{{_ "Add Employee"}}</a></li>
                            <li><a href="/contactableAdd/Client">{{_ "Add Client"}}</a></li>
                            <li class="divider"></li>
                            <li><a class="addTaskDashboard">{{_ "Add Task"}}</a></li>
                            <li class="divider"></li>
                            <li><a href="/hotListAdd/hotList">{{_ "Add HotList"}}</a></li>
                            {{#unless checkNoNotes}}
                                <li class="divider"></li>
                                <li><a class="addDashboardNote">{{_ "Add note"}}</a></li>
                            {{/unless}}
                        </ul>
                    </div>

                    <div class="sidebar-right">
                        {{> agendaBox}}
                        {{> dashboardNotes}}
                    </div><!-- /.sidebar-right -->

                </aside><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->


            <div class="col-md-9">
                <div class="list-container">
                    <div class="list-holder">
                        <div class="list-actions">
                            <div class="list-actions-cell search-list">
                                <div class="input-group">
                                    <span class="prop-input">
                                        <input id="searchString" class="form-control" placeholder= {{_ "Search activity"}}>
                                        <span class="text text-danger"></span>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-search" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div><!-- /.search-list -->
                            <!--<div class="list-actions-cell view-mode-list">-->
                                <!--{{#if listViewMode}}-->
                            <!--<i id="detail-view" class="fa fa-th-list pointer" style="opacity: 0.4"></i>-->
                            <!--<i class="fa fa-bars pointer"></i>-->
                                <!--{{else}}-->
                            <!--<i class="fa fa-th-large pointer"></i>-->
                            <!--<i id="list-view" class="fa fa-bars pointer" style="opacity: 0.4"></i>-->
                                <!--{{/if}}-->
                            <!--</div>&lt;!&ndash; /.view-mode-list &ndash;&gt;-->

                            <div class="list-actions-cell order-list filter-list">
                                <div class="btn-group" id="activityFilter">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">{{_ "All activity"}} <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-custom-1">
                                        <li class="head">
                                            <input class="activityFilter-option" id="feed-all" name="activityFilter[]" type="checkbox" checked="" value="all"> <label for="feed-all">{{_ "All activity"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-network" name="activityFilter[]" type="checkbox" checked="" value="{{getTypeContactable}}"> <label for="feed-network">{{_ "Network"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-jobs" name="activityFilter[]" type="checkbox" checked="" value="{{getTypeJobs}}"> <label for="feed-jobs">{{_ "Jobs"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-notes" name="activityFilter[]" type="checkbox" checked="" value="{{getTypeNotes}}"> <label for="feed-notes">{{_ "Notes"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-tasks" name="activityFilter[]" type="checkbox" checked="" value="{{getTypeTasks}}"> <label for="feed-tasks">{{_ "Tasks"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-placements" name="activityFilter[]" type="checkbox" checked="" value="{{getTypePlacements}}"> <label for="feed-placements">{{_ "Placements"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-files" name="activityFilter[]" type="checkbox" checked="" value="{{getTypeFiles}}"> <label for="feed-files">{{_ "Files"}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .list-actions -->

                        <div class="list-item-section">
                            <ul class="list-type-7 activity-feed">
                                {{#if listViewMode}}
                                    {{#if isReady}}
                                        {{#each activities}}
                                            {{#with getCtx}}
                                                {{> Template.dynamic template=getTemplateForActivity}}
                                            {{/with}}
                                        {{/each}}
                                    {{/if}}
                                {{else}}
                                    <section class="timeline">
                                        <div class="activity-container scroll-container">
                                            {{#if isReady}}
                                                {{#each activities}}
                                                    {{#with getCtx}}
                                                        {{> Template.dynamic template=getTemplateForActivity}}
                                                    {{/with}}
                                                {{/each}}
                                            {{/if}}
                                        </div>
                                    </section>
                                {{/if}}
                            </ul><!-- /.list-type-7 -->
                            {{#if moreResults}}
                                <div class="infinite-scroll-loader" data-visible="false" style="display: none;">
                                    <span>{{_ "Loading"}}</span>
                                    <div class="loader"></div>
                                </div>
                            {{/if}}
                        </div><!-- /.list-item-section -->

                    </div><!-- /.list-holder -->
                </div><!-- /.list-container -->
            </div><!-- /.col-md-6 -->



        </div><!-- /.row -->

    </div>
</template>
