<template name="dashboard">

    <div class="network-content nicer-filters" id="content">
        <div class="row">

            <div class="col-md-3">

                <aside class="sidebar">

                    <div class="page-title-2">
                        <h1 class="welcome">
                            {{_ "Hi"}}&nbsp;
                            {{getUserDisplayName}},
                        </h1>
                    </div>

                    <!--{{#if getLeadTrackers}}-->
                        <!--<section class="box-type-3">-->
                            <!--<header>-->
                                <!--<a class="more" href="/leaderboards">{{_ "View reports"}}</a>-->
                                <!--<div class="title">{{_ "In the last 30 days"}}</div>-->
                            <!--</header>-->
                            <!--<div class="box-body">-->
                                <!--<ul class="list-type-6">-->
                                    <!--{{#each getLeadTrackers}}-->
                                        <!--<li><span class="hightlight-1">{{counter}}</span> {{_ displayName}}</li>-->
                                    <!--{{/each}}-->
                                <!--</ul>-->
                            <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                        <!--</section>&lt;!&ndash; /.box-type-3 &ndash;&gt;-->
                    <!--{{/if}}-->

                    <!--{{#if getTeamMembersTrackers}}-->
                        <!--<section class="box-type-3">-->
                            <!--<header>-->
                                <!--<a class="more" href="/leaderboards">{{_ "View reports"}}</a>-->
                                <!--<div class="title">{{_ "Team Deal Load"}}</div>-->
                            <!--</header>-->
                            <!--<div class="box-body">-->
                                <!--<ul class="list-type-6">-->
                                    <!--{{#each getTeamMembersTrackers}}-->
                                        <!--<li><span class="hightlight-1">{{counter}}</span> {{displayName}}</li>-->
                                    <!--{{/each}}-->
                                <!--</ul>-->
                                <!--<a href="#"></a>-->
                            <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                        <!--</section>&lt;!&ndash; /.box-type-3 &ndash;&gt;-->
                    <!--{{/if}}-->

                    <div >
                        <div class="sidebar-right">
                            {{> agendaBox}}
                                {{>dashboard_filters}}

                            {{> dashboardNotes}}
                        </div><!-- /.sidebar-right -->
                    </div><!-- /.col-md-3 -->


                </aside><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->


            <div class="col-md-9">
                <div class="list-container">
                    <div class="list-holder">
                        <div class="list-actions">
                            <div class="list-actions-cell search-list">
                                <div class="input-group">
                                    <span class="prop-input">
                                        <input id="searchString" class="form-control" placeholder= {{_ "Search activity"}}>
                                        <span class="text text-danger"></span>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-search" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div><!-- /.search-list -->
                            <!--<div class="list-actions-cell view-mode-list">-->
                                <!--{{#if listViewMode}}-->
                            <!--<i id="detail-view" class="fa fa-th-list pointer" style="opacity: 0.4"></i>-->
                            <!--<i class="fa fa-bars pointer"></i>-->
                                <!--{{else}}-->
                            <!--<i class="fa fa-th-large pointer"></i>-->
                            <!--<i id="list-view" class="fa fa-bars pointer" style="opacity: 0.4"></i>-->
                                <!--{{/if}}-->
                            <!--</div>&lt;!&ndash; /.view-mode-list &ndash;&gt;-->

                            <div class="list-actions-cell order-list filter-list">
                                <div class="btn-group" id="activityFilter">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">{{_ "All activity"}} <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-custom-1">
                                        <li class="head">
                                            <input class="activityFilter-option" id="feed-all" name="activityFilter[]" type="checkbox" checked="" value="all"> <label for="feed-all">{{_ "All activity"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-network" name="activityFilter[]" type="checkbox" checked="" value="{{getTypeContactable}}"> <label for="feed-network">{{_ "Network"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-jobs" name="activityFilter[]" type="checkbox" checked="" value="{{getTypeJobs}}"> <label for="feed-jobs">{{_ "Jobs"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-notes" name="activityFilter[]" type="checkbox" checked="" value="{{getTypeNotes}}"> <label for="feed-notes">{{_ "Notes"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-tasks" name="activityFilter[]" type="checkbox" checked="" value="{{getTypeTasks}}"> <label for="feed-tasks">{{_ "Tasks"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-placements" name="activityFilter[]" type="checkbox" checked="" value="{{getTypePlacements}}"> <label for="feed-placements">{{_ "Placements"}}</label>
                                        </li>
                                        <li>
                                            <input class="activityFilter-option" id="feed-files" name="activityFilter[]" type="checkbox" checked="" value="{{getTypeFiles}}"> <label for="feed-files">{{_ "Files"}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .list-actions -->

                        <div class="list-item-section">
                            <ul class="list-type-7 activity-feed">
                                {{#if listViewMode}}
                                    <!--{{#if isReady}}-->
                                        {{#each activities}}
                                            {{#with getCtx}}
                                                {{> Template.dynamic template=getTemplateForActivity}}
                                            {{/with}}
                                        {{/each}}
                                    <!--{{/if}}-->
                                {{else}}
                                    <section class="timeline">
                                        <div class="activity-container scroll-container">
                                            <!--{{#if isReady}}-->
                                                {{#each activities}}
                                                    {{#with getCtx}}
                                                        {{> Template.dynamic template=getTemplateForActivity}}
                                                    {{/with}}
                                                {{/each}}
                                            <!--{{/if}}-->
                                        </div>
                                    </section>
                                {{/if}}
                            </ul><!-- /.list-type-7 -->
                            {{#if moreResults}}
                                <div class="infinite-scroll-loader" data-visible="false" style="display: none;">
                                    <span>{{_ "Loading"}}</span>
                                    <div class="loader"></div>
                                </div>
                            {{/if}}
                        </div><!-- /.list-item-section -->

                    </div><!-- /.list-holder -->
                </div><!-- /.list-container -->
            </div><!-- /.col-md-6 -->

        </div><!-- /.row -->

    </div>
</template>

<template name="dashboard_filters">

    <div class="nicer-filters">
    <div class="filter">
    <div class="filter-list">

        <div class="filter-item">
            <div class="filter-title">
                <i class="fa fa-user"></i>
                {{_ 'user'}}
            </div>
                <span class="prop-input">
                    <select class="form-control">
                        <option value="">--{{_ "select"}}--</option>
                        {{#each users}}
                            <option value="{{_id}}">{{displayUserName _id}}</option>
                        {{/each}}
                    </select>
                    <span class="text text-danger"></span>

            </span>
        </div>
    </div>
    </div>
    </div>
</template>
