
<template name="dashboard">
    <div id="content">
        <div class="hidden-xs">
            <!-- Title -->
            <div id="content-header" class="mini">
                <h1>{{_ "Dashboard"}}</h1>
            </div>

            <!-- Breadcrumb -->
            <div id="breadcrumb">
                <a href="/" title="Go to Home" class="tip-bottom">
                    <i class="fa fa-home"></i>{{_ "Home"}}
                </a>
                <a href="/" class="current">{{_ "Dashboard"}}</a>
            </div>
        </div>

        <!-- Content box -->
        <div class="container-fluid">
            <div class="row">
                <!-- Search bar -->
                <div class="col-xs-9">
                    <div class="input-group">
                        <input id="searchString" class="form-control" placeholder= {{_ "Search activity"}}>
                        <a class="input-group-addon btn btn-primary"><i class="fa fa-search"></i></a>
                    </div>
                </div>

                <!-- List / Detail view modes -->
                <div class="col-xs-3">
                    <span class="pointer" style="font-size: 20px;">
                        {{#if listViewMode}}
                            <i id="detail-view" class="fa fa-th-large" style="opacity: 0.4"></i>
                            <i class="fa fa-bars"></i>
                        {{else}}
                            <i class="fa fa-th-large"></i>
                            <i id="list-view" class="fa fa-bars" style="opacity: 0.4"></i>
                        {{/if}}
                    </span>
                </div>
            </div>

            <!-- Activity list -->
            <div class="row margin-top-15">
                <div class="col-md-12">
                    {{>fastPagination name="activities" loadingTemplate='loadingActivities' container='body' content='#content'}}

                    {{#if listViewMode}}
                        <table class="table table-striped">
                            <tbody>
                            {{#if isReady}}
                                {{#each activities}}
                                    <tr>
                                        <td>
                                            {{#with getCtx}}
                                                {{> Template.dynamic template=getTemplateForActivity}}
                                            {{/with}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/if}}
                            </tbody>
                        </table>
                    {{else}}
                        <section class="timeline">
                            <div class="activity-container scroll-container">
                                {{#if isReady}}
                                    {{#each activities}}
                                        {{#with getCtx}}
                                            {{> Template.dynamic template=getTemplateForActivity}}
                                        {{/with}}
                                    {{/each}}
                                {{/if}}
                            </div>
                        </section>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>
</template>