<template name="users">
    <div name="usersVM">

        <div id="content-header">
            <h1>User management</h1>
        </div>
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Management</a>
            <a href="#" class="current">Users</a>
        </div>

        <button class="btn btn-link" data-bind="click: function () { Composer.showModal('addUser', 'addUserModal'); }">Create user</button>

        <div class=" container-fluid ">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Creation date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: users ">
                    <tr>
                        <td>
                            <!-- ko if: $data.username -->
                            <span data-bind="text: username "></span>
                            <!-- /ko -->
                            <!-- ko if: !$data.username -->
                            <span>External</span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <ul data-bind="foreach: emails ">
                                <li>
                                    <span data-bind="text: address "></span>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <!-- ko if: $data.roles -->
                            <ul data-bind="foreach: roles">
                                <li>
                                    <span data-bind="text: $data "></span>
                                    <button class="btn btn-link" data-bind="click: function () {  $root.removeGroup($data,$parent);}">Remove</button>
                                </li>
                            </ul>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span data-bind="text: createdAt "></span>
                        </td>
                        <td>
                            <!-- <span class="btn btn-sm btn-success ">edit</span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>