<template name="users">
    <div name="usersVM">

        <div id="content-header">
            <h1>User management</h1>
        </div>
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Management</a>
            <a href="/users" class="current">Users</a>
        </div>

        <button class="btn btn-link addUser">Add user</button>
        <div class="container-fluid">
            <div class="table-items-box">
                {{#each users}}
                   <div class="table-item" data-bind="css:{'odd': $index() % 2 == 0, 'even': $index() % 2 == 1}">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="table-item-cell">
                                <strong>{{username}}</strong>
                            </div>
                            <!-- /.table-item-cell -->
                        </div>
                        <!-- /.col-md-2-->
                        <div class="col-sm-3">

                            <div class="table-item-cell" data-bind="foreach: $data.emails">
                                {{#each emails}}
                                    <i class="fa fa-envelope-o"></i>&nbsp;
                                    <a href="mailto:{{address}}">{{address}}</a>
                                {{/each}}
                            </div>
                            <!-- /.table-item-cell -->
                        </div>
                        <!-- /.col-md-2-->
                        <div class="col-sm-3  text-small">
                            Created: <span class="table-item-cell">
                            {{#formattedDate value=createdAt}}
                                {{date}}
                            {{/formattedDate}}
                            </span>
                        </div>

                        <div class="col-xs-6 col-sm-1">
                            <div class="table-item-cell">
                                <a id="resend-email" class="pointer"> Resend invitation </a>
                            </div>
                        </div>
                        <!-- /.col-md-4-->
                        <!--<div class="col-sm-3">-->
                            <!--<div class="table-item-cell" data-bind="foreach: $data.roles">-->
                                <!--<div class="btn btn-default btn-xs">-->
                                    <!--<span data-bind="text: $data "></span>-->
                                    <!--<a data-bind="click: function () {  $root.removeGroup($data,$parent);}">-->
                                        <!--<i class="fa fa-times"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <!-- /.row -->
                </div>
                {{/each}}
                <!-- /.table-item -->
            </div>
            <!-- /.table-items-box -->

        </div>
    </div>
</template>