<template name="users">
    <div name="usersVM">

        <div id="content-header">
            <h1>User management</h1>
        </div>
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Management</a>
            <a href="#" class="current">Users</a>
        </div>

        <button class="btn btn-link" data-bind="click: function () { Composer.showModal('addUser', 'addUserModal'); }">Add user</button>
        <div class="container-fluid">
            <div class="table-items-box" data-bind="foreach: users">
                <div class="table-item" data-bind="css:{'odd': $index() % 2 == 0, 'even': $index() % 2 == 1}">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="table-item-cell">
                                <strong data-bind="text: username"></strong>
                            </div>
                            <!-- /.table-item-cell -->
                        </div>
                        <!-- /.col-md-2-->
                        <div class="col-sm-3">
                            <div class="table-item-cell" data-bind="foreach: $data.emails">

                                <i class="fa fa-envelope-o"></i>&nbsp;
                                <a data-bind="text: $data.address, attr:{ href:'mailto:'+ $data.address}"></a>
                            </div>
                            <!-- /.table-item-cell -->
                        </div>
                        <!-- /.col-md-2-->
                        <div class="col-sm-3  text-small">
                            Created: <div class="table-item-cell" data-bind="text: createdAt ">

                            </div>
                        </div>
                        <!-- /.col-md-4-->
                        <div class="col-sm-3">
                            <div class="table-item-cell" data-bind="foreach: $data.roles">
                                <div class="btn btn-default btn-xs">
                                    <span data-bind="text: $data "></span>
                                    <a data-bind="click: function () {  $root.removeGroup($data,$parent);}">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.table-item -->
            </div>
            <!-- /.table-items-box -->

        </div>
    </div>
</template>