<template name="addEditTask">
    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h4>Task</h4>
                </div>
                <div class="modal-body">
                    <div>
                        {{#with task}}
                            <fieldset>
                                <div class="form-group {{hasError 'msg'}}">
                                    <label class="control-label">Note:</label>
                                    <textarea id="note-input" value="{{msg}}" class="form-control msg input-lg"
                                              rows="3" placeholder="Add note here..."></textarea>
                                    <span>{{error.msg}}</span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group begin">
                                    <label class="control-label">Begin:</label>
                                    <br/>
                                    {{#dateTimePicker value=begin options=datepickerOptions}}
                                    {{/dateTimePicker}}
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group end">
                                    <label class="control-label">End:</label>
                                    <br/>
                                    {{#dateTimePicker value=end options=datepickerOptions}}
                                    {{/dateTimePicker}}
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group {{hasError 'assign'}}">
                                    <label class="control-label">Assign:</label>
                                    <select class="form-control assign" >
                                        {{#each users}}
                                            <option value="{{_id}}" selected="{{isSelected}}">{{displayUserName _id}}</option>
                                        {{/each}}
                                    </select>
                                    <span>{{error.assign}}</span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="checkbox">
                                    <label>
                                        <input class="isCompleted" type="checkbox" checked="{{completed}}" />Completed
                                    </label>
                                </div>
                            </fieldset>
                            <fieldset>
                                {{#if completed}}
                                    <div class="form-group completed">
                                        <label class="control-label">Date completed:</label>
                                        <br/>
                                        {{#dateTimePicker value=completed options=datepickerOptions}}
                                        {{/dateTimePicker}}
                                    </div>
                                {{/if}}
                            </fieldset>
                            <fieldset>

                                <div style="padding: 11px 0px;">
                                    Linked Entities:
                                    {{#each linkedEntities}}
                                        {{#with getEntity .}}
                                            <button type="button" class="tag btn btn-xs btn-primary">
                                            <span>
                                                {{displayName}}
                                            </span>
                                                <i class="remove-link fa fa-times"></i>
                                            </button>
                                        {{/with}}
                                    {{/each}}
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <select class="form-control" id="taskTypeSelect" title="Select the type of entity that you want to link to the msg">
                                                <option value="">--type--</option>
                                                {{#each types}}
                                                    <option value="{{value}}">{{displayName}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                            <select class="form-control" id="taskEntitySelect" title="Select the entity that you want to link">
                                                <option value="">--select--</option>
                                                {{#each entities}}
                                                    <option value="{{_id}}">{{displayName}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <button id="taskLinkEntity" class="btn btn-sm btn-primary">Link</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        {{/with}}
                    </div>
                </div>
                <div class="modal-footer">
                    {{#if isEditing}}
                        {{#if task.inactive}}
                            <a class="btn btn-info pull-left archive">
                                Recover
                            </a>
                        {{else}}
                            <a class="btn btn-danger pull-left archive">
                                Archive
                            </a>
                        {{/if}}
                        <a class="btn btn-info pull-left push-oneweek">
                            Push one week
                        </a>
                    {{/if}}

                    <a class="btn btn-success accept">Save</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</template>