<template name="addEditTask">
    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h4>Task</h4>
                </div>
                <div class="modal-body">
                    <div>
                        {{#with task}}
                            <fieldset>
                                <div class="form-group {{hasError 'msg'}}">
                                    <label class="control-label">Note:</label>
                                    <textarea id="note-input" value="{{msg}}" class="form-control msg input-lg"
                                              rows="3" placeholder="Add note here..."></textarea>
                                    <span>{{error.msg}}</span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group begin">
                                    <label class="control-label">Begin:</label>
                                    <br/>
                                    {{#dateTimePicker value=begin options=datepickerOptions}}
                                    {{/dateTimePicker}}
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group end">
                                    <label class="control-label">End:</label>
                                    <br/>
                                    {{#dateTimePicker value=end options=datepickerOptions}}
                                    {{/dateTimePicker}}
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group {{hasError 'assign'}}">
                                    <label class="control-label">Assign:</label>
                                    <select class="form-control assign" >
                                        {{#each users}}
                                            <option value="{{_id}}" selected="{{isSelected}}">{{displayUserName _id}}</option>
                                        {{/each}}
                                    </select>
                                    <span>{{error.assign}}</span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="checkbox">
                                    <label>
                                        <input class="isCompleted" type="checkbox" checked="{{completed}}" />Completed
                                    </label>
                                </div>
                            </fieldset>
                            <fieldset>
                                {{#if completed}}
                                    <div class="form-group completed">
                                        <label class="control-label">Date completed:</label>
                                        <br/>
                                        {{#dateTimePicker value=completed options=datepickerOptions}}
                                        {{/dateTimePicker}}
                                    </div>
                                {{/if}}
                            </fieldset>

                        {{/with}}
                    </div>
                </div>
                <div class="modal-footer">
                    {{#if isEditing}}
                        {{#if task.inactive}}
                            <a class="btn btn-info pull-left archive">
                                Recover
                            </a>
                        {{else}}
                            <a class="btn btn-danger pull-left archive">
                                Archive
                            </a>
                        {{/if}}
                        <a class="btn btn-info pull-left push-oneweek">
                            Push one week
                        </a>
                    {{/if}}

                    <a class="btn btn-success accept" data-dismiss="modal" disabled="{{addDisabled}}">Save {{objTypeName}}</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</template>