
<template name="addEditTask">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{_ "Close"}}</span></button>
                    <h4>{{_ "Task"}}</h4>
                </div>

                {{#autoForm schema="TaskSchema" id="addEditTaskForm" doc=task}}
                    <!-- Body -->
                    <div class="modal-body" style="overflow: auto; max-height: 80vh;">
                        <fieldset>
                            <!-- Task Message -->
                            <div class="form-group {{#if afFieldIsInvalid name='msg'}}has-error{{/if}}">
                                <label class="control-label">{{_ "Task"}}</label>
                                {{> afFieldInput name='msg' rows=6 placeholder=msgPlaceholder }}
                                {{#if afFieldIsInvalid name='msg'}}
                                    <span class="help-block">{{afFieldMessage name='msg'}}</span>
                                {{/if}}
                            </div>

                            <!-- Begin Date -->
                            <div class="form-group {{#if afFieldIsInvalid name='begin'}}has-error{{/if}}">
                                <label class="control-label">{{_ "Begin"}}</label>
                                {{> afDateTimePicker name='begin' value=beginDate placeholder="Begin Date" format="D, MM dd, yyyy hh:ii" startView="year" }}
                            </div>

                            <!-- Show/Hide Advanced options -->
                            <div class="collapsed-btn-group">
                                <button class="btn btn-sm btn-link" type="button" data-toggle="collapse" data-target="#advanced-info">
                                    <span class="fa {{#if showAdvanced}}fa-minus{{else}}fa-plus{{/if}}"></span> {{_ "Advanced"}}
                                </button>
                            </div>
                            <br>

                            <div id="advanced-info" class="collapse">
                                <!-- End Date -->
                                <div class="form-group {{#if afFieldIsInvalid name='end'}}has-error{{/if}}">
                                    <label class="control-label">{{_ "End"}}</label>
                                    {{> afDateTimePicker name='end' value=endDate placeholder="End Date" format="D, MM dd, yyyy hh:ii" startView="year" }}
                                </div>

                                <!-- Assigned User -->
                                <div class="form-group {{#if afFieldIsInvalid name='assign'}}has-error{{/if}}">
                                    <label class="control-label">{{_ "Assign"}}</label>
                                    {{> afFieldInput name='assign' options=users value=assignedUser }}
                                    {{#if afFieldIsInvalid name='assign'}}
                                        <span class="help-block">{{afFieldMessage name='assign'}}</span>
                                    {{/if}}
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input class="isCompleted" type="checkbox" checked="{{showCompleted}}"/>{{_ "Completed"}}
                                    </label>
                                </div>

                                {{#if showCompleted}}
                                    <!-- Begin Date -->
                                    <div class="form-group {{#if afFieldIsInvalid name='completed'}}has-error{{/if}}">
                                        <label class="control-label">{{_ "Date completed"}}</label>
                                        {{> afDateTimePicker name='completed' value=completedDate placeholder="Completed Date" format="D, MM dd, yyyy hh:ii" startView="year" }}
                                    </div>
                                {{/if}}
                            </div>
                        </fieldset>
                    </div>

                    <!-- Footer -->
                    <div class="modal-footer">
                        {{#unless isSubmitting}}
                            <!-- Error message -->
                            {{#if error}}
                                <div class="alert-box alert-danger" style="margin-bottom: 15px;">
                                    {{error}}
                                </div>
                            {{/if}}

                            {{#if notAddTask}}
                                {{#if task.inactive}}
                                    <a class="btn btn-info pull-left recover">
                                        {{_ "Recover"}}
                                    </a>
                                {{else}}
                                    <a class="btn btn-danger pull-left archive">
                                        {{_ "Archive"}}
                                    </a>
                                {{/if}}
                                {{#if endDate}}
                                <a class="btn btn-info pull-left pushOneDay">
                                    {{_ "Push 1 day"}}
                                </a>
                                <a class="btn btn-info pull-left pushOneWeek">
                                    {{_ "week"}}
                                </a>
                                <a class="btn btn-info pull-left pushOneMonth">
                                    {{_ "month"}}
                                </a>
                                {{/if}}
                            {{/if}}

                            <!-- Save/Cancel buttons -->
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "Close"}}</button>
                            <button type="submit" class="btn btn-primary">{{_ "Save"}}</button>
                        {{else}}
                            <!-- Submitting feedback -->
                            <div class="col-md-10 col-md-offset-1">
                                <div class="progress progress-striped active">
                                    <div style="width: 100%;" class="progress-bar progress-bar-info">{{_ "Saving"}}...</div>
                                </div>
                            </div>
                        {{/unless}}
                    </div>
                {{/autoForm}}

            </div>
        </div>
    </div>
</template>
