<template name="addTask">
    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" name="addTagModal">
        <div class="modal-dialog" style="width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>

                    <h4>Add Taks</h4>
                </div>
                <div class="modal-body">
                    <div data-bind="with: task">
                        <fieldset>
                            <div class="form-group" data-bind="css:{'has-error': begin.isModified() && ! begin.isValid()}">
                                <label class="control-label">begin:</label>
                                <br/>
                                <div data-bind="dateTimePicker: { date: begin }">
                                    <div data-pick="date"></div>
                                    <div data-pick="time"></div>
                                </div>
                                <span class="text-danger" data-bind="validationMessage: begin"></span>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group" data-bind="css:{'has-error': end.isModified() && ! end.isValid()}">
                                <label class="control-label">end:</label>
                                <br/>
                                <div data-bind="dateTimePicker: { date: end }">
                                    <div data-pick="date"></div>
                                    <div data-pick="time"></div>
                                </div>
                                <span class="text-danger" data-bind="validationMessage: end"></span>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label class="control-label">note:</label>
                            <input class="form-control" data-bind="value: note" />
                        </fieldset>
                        <fieldset>
                            <div class="form-group" data-bind="css:{'has-error': assign.isModified() && ! assign.isValid()}">
                                <label class="control-label">assign:</label>
                                <select class="form-control" data-bind="options: $parent.users, optionsText: 'username', optionsValue: '_id', selectedOptions: assign" multiple />
                                <span class="text-danger" data-bind="validationMessage: assign"></span>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-bind="click:add" class="btn btn-success">Add</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</template>