<template name="addEditTask">
    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h4>Task</h4>
                </div>
                <div class="modal-body">
                    <div>
                        {{#with task}}

                            <fieldset>
                                <div class="form-group begin">
                                    <label class="control-label">Begin:</label>
                                    <br/>
                                    {{#dateTimePicker value=begin}}
                                    {{/dateTimePicker}}
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group end">
                                    <label class="control-label">End:</label>
                                    <br/>
                                    {{#dateTimePicker value=end}}
                                    {{/dateTimePicker}}
                                </div>
                            </fieldset>
                            <fieldset>
                                <label class="control-label">Note:</label>
                                <input class="form-control note" value="{{note}}"/>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="control-label">Assign:</label>
                                    <select class="form-control assign" multiple>
                                        {{#each users}}
                                            <option value="{{_id}}" selected="{{isSelected}}">{{username}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="checkbox">
                                    <label>
                                        <input class="isCompleted" type="checkbox" checked="{{isCompleted}}" />Completed
                                    </label>
                                </div>
                            </fieldset>
                            <fieldset>
                                {{#if completed}}
                                    <div class="form-group completed">
                                        <label class="control-label">Date completed:</label>
                                        <br/>
                                        {{#dateTimePicker value=completed}}
                                        {{/dateTimePicker}}
                                    </div>
                                {{/if}}
                            </fieldset>
                        {{/with}}
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success accept">Save</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</template>