<template name="docCenterManagement">
    <div id="content" class="lookUps">
        <div id="content-header" class="mini">
            <h1>HRConcourse management</h1>
        </div>


        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Management</a>
            <a href="/management/hrConcourse" class="current">hrConcourse</a>
        </div>

        <div class="container-fluid">
            <div class="">
                <!-- Header -->
                <div>
                    {{#with isRegistered}}
                        Your credentials:
                        <div>UserName: {{this.userName}}</div>
                        <div>
                            Password:
                            {{#if showPass}}
                                {{this.password}}
                            {{else}}
                                <a id="showPass" class="pointer">Show Password</a>
                            {{/if}}
                        </div>
                        <a href="http://hrconcourse.aidacreative.com/" target="_blank">Click here to open HRConcourse and design documents</a>

                    {{else}}
                        <div class="alert alert-warning" role="alert">
                            You have not configured hrConcourse
                            <button id="activateDocCenter" class="btn btn-primary" disabled="{{isActivating}}">Activate</button>
                        </div>

                    {{/with}}
                </div>

            </div>
        </div>
    </div>
</template>