<template name="emailTemplate">
    <div id="content">
        <!-- Header -->
        <div id="content-header" class="mini">
            <h1>{{_ "Email template management"}}</h1>
        </div>

        <!-- Breadcrumb -->
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">{{_ "Management"}}</a>
            <a href="/emailTemplates">{{_ "Email Templates"}}</a>
            <a href="#" class="current">{{categoryName}} Template</a>
        </div>

        <!-- Page content -->
        <div class="container-fluid">

            <!-- Template properties -->
            <div>
                <!-- Template name -->
                <div class="form-group">
                    <span>{{_ "Name"}}:</span>
                    <input id="name-input" class="form-control templateName" placeholder= {{_ "Name"}} value="{{templateName}}">
                    <span class="label label-danger">{{errorName}}</span>
                </div>
                <!-- Template subject -->
                <div class="form-group">
                    <span>{{_ "Subject"}}:</span>
                    <input id="subject-input" class="form-control templateSubject" placeholder= {{_ "Subject"}} value="{{templateSubject}}">
                    <span class="label label-danger">{{errorSubject}}</span>
                </div>
            </div>
            <hr>

            <!-- Template editor -->
            <div>
                <div style="display: {{#if editMode}} block {{else}} none {{/if}}">
                    <!-- Merge fields -->
                    <div class="pull-right" style="margin-bottom: 7px;">
                        <select id="mergeFields" style="width: 250px; margin-right: 10px;">
                            <option></option>
                            {{#each mergeFields}}
                                <option class="mergeField pointer" value="{{value}}">
                                    {{name}}
                                </option>
                            {{/each}}
                        </select>
                        <button id="addMergeField" class="btn btn-md btn-primary">
                            <i class="fa fa-plus"></i>
                            Insert
                        </button>
                    </div>

                    <!-- HTML editor -->
                    {{>wysihtml editorContext}}
                </div>
                <div style="min-height:446px;display: {{#if editMode}} none {{else}} block {{/if}}">
                    {{{preview}}}
                </div>
            </div>
            <hr>

            <div class="clearfix">
                <div class="pull-right">
                    <button id="preview" class="btn {{#if editMode}} btn-default {{else}} btn-success {{/if}}">{{#if editMode}} {{_ "Preview"}}  {{else}} {{_ "Edit"}} {{/if}}</button>
                    <button id="add" class="btn btn-primary {{#if isSaving}}disabled{{/if}}">{{_ "Save"}}</button>
                </div>
            </div>
        </div>

    </div>
</template>
