<template name="emailTemplate">
    <div id="content">
        <div id="content-header" class="mini">
            <h1>{{_ "Email template management"}}</h1>
        </div>
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">{{_ "Management"}}</a>
            <a href="/emailTemplates" class="current">{{_ "Email Templates"}}</a>
        </div>
        <div class="container-fluid">
            <div class="form-group">
                <span>{{_ "Name"}}:</span>
                <input id="name-input" class="form-control templateName" placeholder= {{_ "Name"}} value="{{templateName}}">
                <span class="label label-danger">{{errorName}}</span>
            </div>
            <div class="form-group">
                <span>{{_ "Subject"}}:</span>
                <input id="subject-input" class="form-control templateSubject" placeholder= {{_ "Subject"}} value="{{templateSubject}}">
                <span class="label label-danger">{{errorSubject}}</span>
            </div>
            <div class="form-group">
                <span>{{_ "Category"}}:</span>
                <select class="form-control" id="category" multiple>
                    {{#each categoryTypes}}
                        <option value="{{code}}" selected="{{isCategorySelected}}">{{_ name}}</option>
                    {{/each}}
                </select>
            </div>
            <hr>
            <div>

                <div style="display: {{#if editMode}} block {{else}} none {{/if}}">
                    <div class="pull-right" style="margin-bottom: 7px;margin-right: 4%">
                        <select id="mergeFields">
                            <option></option>
                            {{#each mergeField}}
                                <option class="mergeField pointer" value="{{_id}}">
                                    {{displayName}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                    {{#with editorContext}}
                        {{#htmlEditor}}
                        {{/htmlEditor}}
                    {{/with}}
                </div>
                <div style="min-height:446px;display: {{#if editMode}} none {{else}} block {{/if}}">
                    {{{preview}}}
                </div>
            </div>
            <hr>

            <div class="clearfix">
                <div class="pull-right">
                    <button id="preview" class="btn {{#if editMode}} btn-default {{else}} btn-success {{/if}}">{{#if editMode}} {{_ "Preview"}}  {{else}} {{_ "Edit"}} {{/if}}</button>
                    <button id="add" class="btn btn-primary">{{_ "Save"}}</button>
                </div>
            </div>
        </div>

    </div>
</template>