<template name="taskCalendar">
    <div id="content" class="network-content nicer-filters">
        <div class="row">
            <div class="col-md-3 col-lg-3" id="column-filters">
                <div class="page-title">
                    <h1><span>{{taskCount}}</span> tasks</h1>
                </div>
                <div class="filter">
                    <div class="filter-item">
                        <div class="filter-title">
                            <i class="fa fa-user"></i>
                            Created by
                        </div>

                        <button id="show-mineOnly" type="button" class="{{showMineOnly}}">Mine Only</button>
                    </div>
                </div>

            </div>
            <div class="col-md-9" id="column-list">
                <div class="list-container">
                    <div class="list-holder">

                        <div class="col-lg-5 col-md-5" style="margin-bottom: 5%; margin-left: 2%">
                            {{> fullcalendar options  }}
                        </div>

                    </div>
                </div>




            </div>
        </div>



    </div>


</template>




