<template name="notesTab">
    <div class="record">
        {{> notesTabAdd}}
    </div>

    {{> notesTabList}}
</template>

<template name="notesTabAdd">

    {{#autoForm id="AddNoteRecord" schema="NoteSchema" resetOnSuccess=true}}
        <div class="add-note on-focus">
            <div class="add-note-header">
                <div class="item-icon item-icon-xs item-icon-notes"><i class="icon icon-pencil-3"></i></div> <div class="title">{{_ "Add Note"}}</div>
            </div><!-- /.add-note-header -->

            <div class="add-note-textarea">
                {{> afQuickField name='msg' rows=3 placeholder='Write your note here ...' label=false style='box-shadow: none;'}}
            </div>

            <div class="add-note-options">
                {{> afFieldInput name='links' type='linkInput'}}
            </div>

            <div class="add-note-actions">
                <div class="add-note-actions-cell">
                    <button class="btn btn-success {{addDisabled}}" type="submit">{{_ "Save note"}}</button>
                </div>

                {{#if isContactableNote}}
                    {{#unless userNumbers}}
                        <div class="add-note-actions-cell">
                            <a href="/management/twilioManagement"><i class="fa fa-mobile"></i> {{_ "Enable SMS/Texting"}}</a>
                        </div>
                    {{else}}
                        {{#unless mobileNumbers}}
                            <div class="add-note-actions-cell">
                                <small class="text-muted"> {{_ "This record has no mobile phone, so SMS/text is not possible"}}</small>
                            </div>
                        {{else}}
                            <div style="margin-left: 126px">
                                {{> afQuickField name="sendAsSMS" id="sendAsSMS"}}
                            </div>
                            {{#if ischeckedSMS}}
                                {{> afFormGroup name="userNumber" value=defaultUserNumber options=userNumbers}}
                                {{> afFormGroup name="contactableNumber" value=defaultMobileNumber options=mobileNumbers}}
                            {{/if}}

                        {{/unless}}
                    {{/unless}}

                    <!-- Display note to employee -->
                    <div class="add-note-actions-cell last">
                        <div class="checkbox">
                            {{> afFieldInput name='displayToEmployee' type='afSimpleCheckbox'}}
                        </div>
                    </div>
                {{/if}}

                {{#if isHotListNote}}
                    {{#unless userNumbers}}
                        <small class="text-muted"><a href="/management/twilioManagement">{{_ "Enable SMS/Texting"}}</a></small>
                    {{else}}
                        <div style="margin-left: 126px">
                            {{> afQuickField name="sendAsSMS" id="sendAsSMS"}}
                        </div>
                        {{> afQuickField name="hotListFirstName"}}

                        {{#if ischeckedSMS}}
                            {{> afFormGroup name="userNumber" value=defaultUserNumber options=userNumbers}}
                        {{/if}}
                    {{/unless}}
                {{/if}}

            </div><!-- /.add-note-actions -->
        </div>
    {{/autoForm}}
</template>

<template name="notesTabList">
    <div class="record-list-pagination">

    </div>

    <div class="list-actions">

        <div class="list-actions-cell search-list">
            <div class="input-group">
                    <span>
                        {{#objectProperty property=query.searchString}}
                            <input type="text" id="searchString" name="searchString" value="{{value}}" class="form-control" placeholder= {{_ "Search notes"}}>
                        {{/objectProperty}}
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </div><!-- /.search-list -->

        {{> fastPagination name="notes" useKeys="true" containerClass="magic-pager"}}

        <!-- /.list-actions-cell -->
    </div><!-- .list-actions -->

    {{#if isLoading}}
        <div style="min-height: 350px; background: url('/img/spinner.gif') no-repeat center;"></div>
    {{else}}
        {{#if hasItems}}
            <div class="list-header notes-list-header">
                <div class="list-header-cell notes-list-header-title">{{_ "Title"}}</div>
                <div class="list-header-cell notes-list-header-linked">{{_ "Linked"}}</div>
                <div class="list-header-cell notes-list-header-edit">{{_ "Last Edit"}}</div>
            </div><!-- /.list-header -->

            <div class="list-item-section">
                {{#each items}}
                    {{> notesTabItem}}
                {{/each}}
            </div>
        {{/if}}
    {{/if}}

</template>

<template name="notesTabItem">
    <li >
        {{#with getCtx}}
            {{>noteItem noteRecord}}
        {{/with}}
    </li>
</template>

<template name="notesTabEditItem">
    {{#autoForm id=formId schema="NoteSchema" doc=doc collection="Notes" type="update"}}
        {{> afQuickField name='msg' rows=3}}
        <br/>

        <div class="pull-right">
            <span class="btn btn-default cancelNoteRecordChanges"> {{_ "Cancel"}} </span>
            <button class="btn btn-success"> {{_ "Save"}}</button>
        </div>
    {{/autoForm}}
</template>

<template name="linksAutoForm">
    <div data-schema-key="{{name}}">
        <div class="add-note-options-head"><i class="fa fa-link"></i> {{_ "Linked to this note"}}:</div>
        <div class="add-note-options-body">
            {{#each links}}

                   <div class="label-4">
                        <i class="icon-holder icon-profile-business-man"></i> {{_ displayName}}
                        <button class="btn-remove" href="#"><i class="fa fa-times-circle"></i></button>
                    </div>

            {{/each}}
            <a class="btn-custom-3" id="toggleAddNoteModal"><i class="fa fa-plus"></i> {{_ "Link item"}}</a>
        </div><!-- /.add-note-options-body -->
    </div>
</template>