<template name="extras">
  <div id="content" class="network-content" style="height:95%">
      <div class="row">
          <div class="col-md-11">
              <div class="page-title">
                  <h1>{{_ "Extras"}}</h1>
              </div>
          </div>

      </div>


      <div class="row" style="margin-top:20px">
          <div class="col-md-6 col-md-offset-3 settingIconsRow">
              <!-- Hotlists -->
              <div class="col-md-3">
                  <a href="/hotlists" class="settingButton">
                      <i class="fa fa-list-ul"></i>
                      <span class="title">{{_ "Hot Lists"}}</span>
                  </a>
              </div>

              <!-- Calendar -->
              <div class="col-md-3">
                  <a href="/calendar" class="settingButton">
                      <i class="fa fa-calendar"></i>
                      <span class="title">{{_ "Calendar"}}</span>
                  </a>
              </div>

              <!-- Past Job Leadas -->
              <div class="col-md-3">
                  <a href="pastJobLeads" class="settingButton">
                      <i class="fa fa-line-chart"></i>
                      <span class="title">{{_ "Past Job Leads"}}</span>
                  </a>
              </div>

              <!-- Leaderboard -->
              <div class="col-md-3">
                  <a href="/leaderboards" class="settingButton">
                      <i class="fa icon icon-cross-shield"></i>
                      <span class="title">{{_ "Leaderboard"}}</span>
                  </a>
              </div>

              <!-- Workflows -->
              <div class="col-md-3">
                  <a href="/workFlows" class="settingButton">
                      <i class="fa fa-random"></i>
                      <span class="title">{{_ "Call-em"}}</span>
                  </a>
              </div>

              <!-- Time Entry -->
              <!--<div class="col-md-3">-->
                  <!--<a href="/timeEntry" class="settingButton">-->
                      <!--<i class="fa icon icon-clock-3"></i>-->
                      <!--<span class="title">{{_ "Time Entry (Beta)"}}</span>-->
                  <!--</a>-->
              <!--</div>-->
          </div>
      </div>
  </div>
</template>