<template name="clickFunnel">
    <div id="content" class="lookUps">
        <div id="content-header" class="mini">
            <h1>Hierarchy Mail</h1>
        </div>
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Management</a>
            <a href="management/clickFunnel" class="current">Click Funnel</a>
        </div>
        <div class="container-fluid" style="width:38%">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 Class="text-center"> Click Funnel URL:</h3>
                </div>
                <br>
                <h4 Class="text-center"><a  target="_blank" href={{link}}>{{link}}</a></h4>
                <br>
            </div>
        </div>
    </div>
</template>