<template name="hrConcourse">
    <div id="content">
        <div id="content-header">
            <h1>HRConcourse</h1>
        </div>
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Management</a>
            <a href="/hrconcourse" class="current">HRConcourse</a>
        </div>

        <div class="panel panel-default" style="margin: 15px">
            <div class="panel-body">
                {{#autoForm id="SetHRConcourseConfiguration" schema="HRCouncoureConfigurationSchema" doc=configuration}}
                    <fieldset>
                        {{> afQuickField name='webName'}}
                        {{> afQuickField name='title'}}
                        {{> afQuickField name='background' type='color'}}

                        {{#if logo}}
                            <img id="logo-img" class="img-responsive" style="display: inline; max-height:40px; cursor: pointer"  src="{{logo}}">
                            <a id="edit-pic" title="Click to Edit" style="cursor: pointer">
                                Click here to change the logo
                            </a>
                        {{else}}
                            <a id="edit-pic" title="Click to Edit" style="cursor: pointer">
                                Click here to set a logo
                            </a>
                        {{/if}}
                        <input id="edit-picture" style="visibility:hidden" name="files" type="file" class="fileUploader"/>
                    </fieldset>

                    <button class="btn btn-success pull-right"> Save </button>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>