<template name="outgoingCall">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"> Calling </h4>
                </div>

                <!-- Body -->
                <div class="modal-body">

                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <a class="btn btn-danger" id="hangupCall"> Hung Up </a>
                </div>
            </div>
        </div>
    </div>
</template>
