<template name="filter_entityType">
    <div class="filter-item">
        <div class="filter-title">
            <i class="fa fa-group"></i>
            {{_ "Types"}}
        </div>

        {{#each types}}
            <button type="button" class="typeSelect {{typeOptionClass .}}">{{_ name}}</button>
        {{/each}}
    </div>
</template>

<template name="filter_lookUp">
    <div class="filter-item">
        <div class="filter-title" id="filtersJobsTour">
            {{#if title}}
                {{_ title}}
            {{else}}
                {{_ "Status"}}
            {{/if}}
        </div>

        {{>lookupFilterTemplate lookUpCode=code callback=cb multi=multi value=lookUpValue}}
    </div>
</template>
<template name="sort_lookUp">
    <div class="filter-item">
        <div class="filter-title">
            {{#if title}}
            {{_ title}}
            {{else}}
            {{_ "Sort"}}
            {{/if}}
        </div>

        {{>lookupFilterTemplate lookUpCode=code callback=cb multi=multi value=lookUpValue}}
    </div>
</template>

<template name="filter_inactive">
    <div class="filter-item">
        <div class="filter-title">
            <i class="fa fa-eye"></i>
            {{_ "Visibility"}}
        </div>

        <button id="show-inactives" type="button" class="{{showInactive}}">{{_ "Inactives"}}</button>
    </div>
</template>

<template name="filter_dateCreated">
    <div class="filter-item">
        <div class="filter-title">
            <i class="fa fa-calendar"></i>
            {{_ "Creation date"}}
        </div>

        <button type="button" class="{{recentOptionClass recentOptions.day}}" style="margin-bottom: 3px" id="recent-day">{{_ "Recent day"}}</button>
        <button type="button" class="{{recentOptionClass recentOptions.week}}" style="margin-bottom: 3px" id="recent-week">{{_ "week"}}</button>
        <button type="button" class="{{recentOptionClass recentOptions.month}}" style="margin-bottom: 3px" id="recent-month">{{_ "month"}}</button>
        <button type="button" class="{{recentOptionClass recentOptions.quarter}}" style="margin-bottom: 3px" id="recent-quarter">{{_ "quarter"}}</button>
        <button type="button" class="{{recentOptionClass recentOptions.year}}" style="margin-bottom: 3px" id="recent-year">{{_ "year"}}</button>
    </div>
</template>
<template name="filter_dateCreatedISO">
    <div class="filter-item">
        <div class="filter-title">
            <i class="fa fa-calendar"></i>
            {{_ "Creation date"}}
        </div>

        <button type="button" class="{{recentOptionClass recentOptionsISO.day}}" style="margin-bottom: 3px" id="recent-day">{{_ "Recent day"}}</button>
        <button type="button" class="{{recentOptionClass recentOptionsISO.week}}" style="margin-bottom: 3px" id="recent-week">{{_ "week"}}</button>
        <button type="button" class="{{recentOptionClass recentOptionsISO.month}}" style="margin-bottom: 3px" id="recent-month">{{_ "month"}}</button>
        <button type="button" class="{{recentOptionClass recentOptionsISO.quarter}}" style="margin-bottom: 3px" id="recent-quarter">{{_ "quarter"}}</button>
        <button type="button" class="{{recentOptionClass recentOptionsISO.year}}" style="margin-bottom: 3px" id="recent-year">{{_ "year"}}</button>
    </div>
</template>

<template name="filter_tags">
    <div class="filter-item">
        <div class="filter-title">
            <i class="fa fa-tags"></i>
            {{_ "Tags"}}
        </div>

        <div style="margin-bottom: 10px;">
            {{>asyncSelect query=getTags placeholder="Search client" onChange=tagsChanged width='100%'}}
        </div>

        {{#objectProperty property=tags}}
            <button type="button" class="tag btn btn-xs btn-info">
                <span >{{value}}</span>
                <i class="remove-tag fa fa-times"></i>
            </button>
        {{/objectProperty}}
    </div>
</template>

<template name="filter_location">
    <div class="filter-item">
        <div class="filter-title">
            <i class="fa fa-map-marker"></i>
            {{_ "Location"}}
        </div>

        <div class="input-group">
            {{#objectProperty property=location}}
                <input type="text" class="form-control" placeholder= {{_ "Rio, Paris, New York, etc"}} value="{{value}}">
            {{/objectProperty}}
            <span class="input-group-btn">
              <button class="add-tag btn btn-default" type="button"><span class="fa fa-map-marker"></span></button>
            </span>
        </div>
    </div>
</template>
<template name="filter_taxId">
    <div class="filter-item">
        <div class="filter-title">
            <i class="fa fa-map-marker"></i>
            {{_ "SSN/Phone/Email"}}
        </div>

        <div class="input-group">
            {{#objectProperty property=taxId}}
                <input type="text" class="form-control" placeholder= {{_ "SSN etc"}} value="{{value}}">
            {{/objectProperty}}
            <span class="input-group-btn">
              <button class="add-tag btn btn-default" type="button"><span class="fa fa-map-marker"></span></button>
            </span>
        </div>
    </div>
</template>


<template name="filter_createdBy">
    <div class="filter-item">
        <div class="filter-title">
            <i class="fa fa-user"></i>
            {{_ "Created by"}}
        </div>

        <button id="show-mineOnly" type="button" class="{{showMineOnly}}">{{_ "Mine only"}}</button>
    </div>
</template>