<template name="basicModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body" style="overflow: auto; max-height: 80vh;">
                    <p>{{{message}}}</p>
                </div>
                <div class="modal-footer">
                    {{#each buttons}}
                    <span class="btn {{classes}}">{{label}}</span>
                    {{/each}}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>