<template name="addUser">

    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Add user</h4>
                </div>
                <div class="modal-body">

                    <form role="form">
                        <div class="form-group" data-bind="css:{'has-error': newUserValidate().username.isModified() && ! newUserValidate().username.isValid()}">
                            <label for="username">Username</label>
                            <input type="email" class="form-control" id="username" placeholder="Username" data-bind="value: newUserValidate().username">
                            <span class="text-danger" data-bind="validationMessage: newUserValidate().username"></span>
                        </div>
                        <div class="form-group" data-bind="css:{'has-error': newUserValidate().email.isModified() && ! newUserValidate().email.isValid()}">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" data-bind="value: newUserValidate().email">
                            <span class="text-danger" data-bind="validationMessage: newUserValidate().email"></span>
                        </div>
                        <div class="form-group" data-bind="css:{'has-error': newUserValidate().password.isModified() && ! newUserValidate().password.isValid()}">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" data-bind="value: newUserValidate().password">
                            <span class="text-danger" data-bind="validationMessage: newUserValidate().password"></span>
                        </div>
                        <!--<div class="form-group" data-bind="css:{'has-error': newUserValidate().roles.isModified() && ! newUserValidate().roles.isValid()}">-->
                            <!--<label for="exampleInputPassword1">Roles</label>-->
                            <!--<select class="form-control" data-bind="options: roles, selectedOptions: newUserValidate().roles, attr:{multiple: true}"></select>-->
                            <!--<span class="text-danger" data-bind="validationMessage: newUserValidate().roles"></span>-->
                        <!--</div>-->

                    </form>
                </div>
                <!-- /.modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: addUser">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /modal-dialog -->
    </div>

</template>