<template name="jobs">
    <div class="jobs-page">
        <div id="content">
            <div id="content-header" class="mini">
                <h1>
                    <strong data-bind="text: Jobs.find().count()"></strong>
                    <span data-bind="text:objName"></span>
                </h1>
            </div>
            <div id="breadcrumb">
                <a href="#" title="Go to Home" class="tip-bottom">Home</a>
                <a href="#" class="current">Jobs</a>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <sidebar>
                            <div class="box-2 visible-lg visible-md">
                                <h4 class="bottom-20">
                                    <strong>Job Filters</strong>
                                </h4>
                                <form role="form">
                                    <div class="panel-group bottom-20">
                                        <!-- ko foreach: lookFilters -->
                                        <!-- ko template: { name: 'lookupFilterTemplate', data: {filterGroupId: 1, title: $data.title, items: $data.items, selectedValues: $data.selectedItems } } -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                                                    <strong>Tags</strong>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    <!-- ko foreach: tags -->
                                                    <button type="button" class="btn btn-xs btn-primary">
                                                        <span data-bind="text: $data "></span>
                                                        <i class="fa fa-times" data-bind="click: $root.removeTag"></i>
                                                    </button>
                                                    <!-- /ko -->
                                                </p>
                                                <div class="input-group">
                                                    <input id="tag-filter" type="text" class="form-control" placeholder="Enter tags here..." data-bind="value:tag, valueUpdate: 'afterkeydown'">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="button" data-bind="click: addTag">Add</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-2 -->
                            <div class="box-2 hidden-lg hidden-md" style="margin-bottom: 0;padding:10px">
                                <a data-toggle="collapse" href="#filterBody">
                                    <h4>Filters</h4>
                                </a>
                                <div id="filterBody" class="panel-collapse collapse">
                                    <div class="panel-group bottom-20">
                                        <!-- ko foreach: lookFilters -->
                                        <!-- ko template: { name: 'lookupFilterTemplate', data: {filterGroupId: 2, title: $data.title, items: $data.items, selectedValues: $data.selectedItems } } -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                                                    <strong>Tags</strong>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    <!-- ko foreach: tags -->
                                                    <button type="button" class="btn btn-xs btn-primary">
                                                        <span data-bind="text: $data "></span>
                                                        <i class="fa fa-times" data-bind="click: $root.removeTag"></i>
                                                    </button>
                                                    <!-- /ko -->
                                                </p>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter tags here..." data-bind="value:tag">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="button" data-bind="click: addTag">Add</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </sidebar>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-md-8 col-md-pull-4">
                        <div class="actions-head">
                            <div class="row">
                                <div class="col-sm-8 col-md-7 col-lg-6">
                                    <!-- Single button -->
                                    <div class="btn-group pull-left suffix-5">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                            <span class="fa fa-plus"></span> Add
                                        </button>
                                        <ul class="dropdown-menu" role="menu" data-bind="foreach: jobTypes">
                                            <li><a href="#" data-bind="attr: { href: '/jobAdd/'+name }, text: 'New ' + name">New Direct Hire Job</a></li>
                                        </ul>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search job"  data-bind="value: searchString, valueUpdate: 'afterkeydown'">
                                          <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i> Search</button>
                                          </span>
                                    </div>
                                </div><!-- /.col-lg-5 -->
                            </div><!-- /.row -->
                        </div>
                        <!-- Entities list -->
                        <div class="table-items-box">
                                <!-- /.table-item -->
                                <!--ko if: entities().length > 0-->
                                    <!-- ko foreach: entities-->
                                        <div class="table-item magic">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="table-item-cell">
                                                        <div class="table-item-cell-container">
                                                            <div class="thumb">
                                                                <!-- ko if: $data.customer -->
                                                                <!-- ko with: helper.getCustomerPictureUrl($data.customer())-->
                                                                <!-- ko if: ready -->
                                                                <a href="#">
                                                                    <img data-bind="attr: {src: picture }">
                                                                </a>
                                                                <!-- /ko -->
                                                                <!-- /ko -->
                                                                <!-- /ko -->
                                                                <!-- ko if: !$data.customer -->
                                                                <img src="/assets/logo-exartu.png" />
                                                                <!-- /ko -->
                                                            </div>
                                                            <div class="table-item-title">
                                                                <!--ko if: $data.displayName-->
                                                                <a href="#" data-bind="attr:{href: '/job/'+_id()}">
                                                                    <span data-bind="text: $data.displayName"></span>
                                                                </a>
                                                                <!--/ko-->
                                                            </div>
                                                            <!-- ko if: $data.CustomerInfo -->
                                                            <span class="text-normal">
                                                                <a data-bind="attr: {href: '/contactable/' + $data.customer() }">
                                                                    <span data-bind="text: $data.CustomerInfo.displayName"></span>
                                                                </a>
                                                            </span>
                                                            <!-- /ko -->
                                                        </div>
                                                        <!-- /.table-item-cell-container -->
                                                    </div>
                                                    <!-- /.table-item-cell -->
                                                </div>
                                                <!-- /.col-sm-3 -->
                                                <div class="col-sm-3">
                                                    <div class="table-item-cell">
                                                        <!--ko if: $data.candidates-->
                                                        <div class="table-item-cell-container magic-content text-small">
                                                            <br>
                                                            <strong>
                                                                <span data-bind="text: $data.candidates().length"></span>
                                                            </strong>Candidates
                                                        </div>
                                                        <!-- /.table-item-cell-container -->
                                                        <!-- /ko -->
                                                    </div>
                                                    <!-- /.table-item-cell -->
                                                </div>
                                                <!-- /.col-sm-4 -->
                                                <div class="col-sm-3">
                                                    <div class="table-item-cell">
                                                        <div class="table-item-cell-container">
                                                            <!--                                                    <div class="location">Bankok, Thailand</div>-->
                                                            <!--ko if: $data.createdAt-->
                                                            <div class="date">
                                                                <span data-bind="text: moment(createdAt()).fromNow()"></span>
                                                            </div>
                                                            <!-- /ko -->
                                                        </div>
                                                        <!-- /.table-item-cell-container -->
                                                    </div>
                                                    <!-- /.table-item-cell -->
                                                </div>
                                                <!-- /.col-sm-3 -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    <!-- /.table-item -->
                                    <!-- /ko -->
                                <!-- /ko -->
                                <!--ko ifnot: entities().length >0-->
                                    <div class="v-wrapper">
                                        <div class="v-wrapper-cell text-center text-muted" style="height: 678px;">
                                            <i class="icon-briefcase text-large"></i>
                                            <h1>You currently have no Jobs</h1>
                                            <!--ko foreach: jobTypes-->
                                                <a href="#" data-bind="attr: { href: '/jobAdd/'+name }, text: 'New ' + name + ' Job'"></a>
                                                <span class="bullet-spacer" data-bind="visible: $index()< $parent.jobTypes().length-1">·</span>
                                            <!-- /ko -->
                                        </div><!-- /.v-wrapper-cell -->
                                    </div>
                                <!-- /ko -->
                                <!--infinite scroll-->
                                <div data-bind="onScrollBottom:showMore"></div>
                            </div>
                    </div>
                    <!--/ko-->
                </div>
            </div>
        </div>
        {{>lookupFilterTemplate}}
    </div>
</template>

<template name="jobFilters">

</template>