<template name="jobs">
    <div class="jobs-page">
        <div id="content">
            <div id="content-header" class="mini">
                <h1>
                    <strong data-bind="text: Jobs.find().count()"></strong>
                    <span data-bind="text:objName"></span>
                </h1>
            </div>
            <div id="breadcrumb">
                <a href="#" title="Go to Home" class="tip-bottom">Home</a>
                <a href="#" class="current">Jobs</a>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <!--<sidebar>-->
                            <!--<div class="box-2 visible-lg visible-md">-->
                                <!--<h4 class="bottom-20">-->
                                    <!--<strong>Job Filters</strong>-->
                                <!--</h4>-->
                                <!--<form role="form">-->
                                    <!--<div  class="panel panel-default">-->
                                        <!--<div class="panel-heading">-->
                                            <!--<h4 class="panel-title">-->
                                                <!--<a data-toggle="collapse" data-parent="#accordion" href="#statusFilter">-->
                                                    <!--<strong>Status</strong>-->
                                                <!--</a>-->
                                            <!--</h4>-->
                                        <!--</div>-->
                                        <!--<div id="statusFilter" class="panel-collapse collapse">-->
                                            <!--<div data-bind="foreach: status" style="padding: 10px;">-->
                                                <!--<button class="btn btn-xs" data-bind="text: displayName, css:{'btn-primary':isSelected(), 'btn-default': !isSelected()}, click: $parent.selectStatus"></button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="panel-group bottom-20">-->
                                        <!--&lt;!&ndash; ko foreach: lookFilters &ndash;&gt;-->
                                        <!--&lt;!&ndash; ko template: { name: 'lookupFilterTemplate', data: {filterGroupId: 1, title: $data.title, items: $data.items, selectedValues: $data.selectedItems } } &ndash;&gt;-->
                                        <!--&lt;!&ndash; /ko &ndash;&gt;-->
                                        <!--&lt;!&ndash; /ko &ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<div class="panel panel-default">-->
                                        <!--<div class="panel-heading">-->
                                            <!--<h4 class="panel-title">-->
                                                <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">-->
                                                    <!--<strong>Tags</strong>-->
                                                <!--</a>-->
                                            <!--</h4>-->
                                        <!--</div>-->
                                        <!--<div id="collapseThree1" class="panel-collapse collapse">-->
                                            <!--<div class="panel-body">-->
                                                <!--<p>-->
                                                    <!--&lt;!&ndash; ko foreach: tags &ndash;&gt;-->
                                                    <!--<button type="button" class="btn btn-xs btn-primary">-->
                                                        <!--<span data-bind="text: $data "></span>-->
                                                        <!--<i class="fa fa-times" data-bind="click: $root.removeTag"></i>-->
                                                    <!--</button>-->
                                                    <!--&lt;!&ndash; /ko &ndash;&gt;-->
                                                <!--</p>-->
                                                <!--<div class="input-group">-->
                                                    <!--<input id="tag-filter" type="text" class="form-control" placeholder="Enter tags here..." data-bind="value:tag, valueUpdate: 'afterkeydown'">-->
                                                    <!--<span class="input-group-btn">-->
                                                        <!--<button class="btn btn-primary" type="button" data-bind="click: addTag">Add</button>-->
                                                    <!--</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</form>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.box-2 &ndash;&gt;-->
                            <!--<div class="box-2 hidden-lg hidden-md" style="margin-bottom: 0;padding:10px">-->
                                <!--<a data-toggle="collapse" href="#filterBody">-->
                                    <!--<h4>Filters</h4>-->
                                <!--</a>-->
                                <!--<div id="filterBody" class="panel-collapse collapse">-->
                                    <!--<div class="panel-group bottom-20">-->
                                        <!--&lt;!&ndash; ko foreach: lookFilters &ndash;&gt;-->
                                        <!--&lt;!&ndash; ko template: { name: 'lookupFilterTemplate', data: {filterGroupId: 2, title: $data.title, items: $data.items, selectedValues: $data.selectedItems } } &ndash;&gt;-->
                                        <!--&lt;!&ndash; /ko &ndash;&gt;-->
                                        <!--&lt;!&ndash; /ko &ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<div class="panel panel-default">-->
                                        <!--<div class="panel-heading">-->
                                            <!--<h4 class="panel-title">-->
                                                <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">-->
                                                    <!--<strong>Tags</strong>-->
                                                <!--</a>-->
                                            <!--</h4>-->
                                        <!--</div>-->
                                        <!--<div id="collapseThree1" class="panel-collapse collapse">-->
                                            <!--<div class="panel-body">-->
                                                <!--<p>-->
                                                    <!--&lt;!&ndash; ko foreach: tags &ndash;&gt;-->
                                                    <!--<button type="button" class="btn btn-xs btn-primary">-->
                                                        <!--<span data-bind="text: $data "></span>-->
                                                        <!--<i class="fa fa-times" data-bind="click: $root.removeTag"></i>-->
                                                    <!--</button>-->
                                                    <!--&lt;!&ndash; /ko &ndash;&gt;-->
                                                <!--</p>-->
                                                <!--<div class="input-group">-->
                                                    <!--<input type="text" class="form-control" placeholder="Enter tags here..." data-bind="value:tag">-->
                                                    <!--<span class="input-group-btn">-->
                                                        <!--<button class="btn btn-primary" type="button" data-bind="click: addTag">Add</button>-->
                                                    <!--</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</sidebar>-->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-md-8 col-md-pull-4">
                        <div class="actions-head">
                            <div class="row">
                                <div class="col-sm-8 col-md-7 col-lg-6">
                                    <!-- Single button -->
                                    <div class="btn-group pull-left suffix-5">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                            <span class="fa fa-plus"></span> Add
                                        </button>
                                        <ul class="dropdown-menu" role="menu" data-bind="foreach: jobTypes">
                                            <li><a href="#" data-bind="attr: { href: '/jobAdd/'+name }, text: 'Add ' + name "></a></li>
                                        </ul>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search job"  data-bind="value: searchString, valueUpdate: 'afterkeydown'">
                                          <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i> Search</button>
                                          </span>
                                    </div>
                                </div><!-- /.col-lg-5 -->
                            </div><!-- /.row -->
                        </div>
                        <!-- Entities list -->
                        <div class="table-item">
                                <!-- /.table-item -->
                                <!--ko if: entities().length > 0-->
                                    <!-- ko foreach: entities-->
                                        <!--<div class="table-item magic">-->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="table-item-cell">
                                                        <div class="table-item-cell-container">
                                                            <div class="thumb">
                                                                <!-- ko if: $data.customer -->
                                                                    <!-- ko with: helper.getCustomerPictureUrl($data.customer())-->
                                                                        <!-- ko if: ready -->
                                                                            <a href="#" data-bind="attr:{href: '/job/'+ $parent._id()}">
                                                                                <img data-bind="attr: {src: picture }">
                                                                            </a>
                                                                        <!-- /ko -->
                                                                    <!-- /ko -->
                                                                <!-- /ko -->
                                                                <!-- ko ifnot: $data.customer -->
                                                                    <a href="#" style="color: #707070; font-size: 27px" data-bind="attr:{href: '/job/'+_id()}">
                                                                        <i class="icon icon-briefcase" style="display: block; margin-top: 10px;"></i>
                                                                    </a>
                                                                <!-- /ko -->
                                                            </div>
                                                            <div class="table-item-title">
                                                                <!--ko if: $data.displayName-->
                                                                <a href="#" data-bind="attr:{href: '/job/'+_id()}">
                                                                    <span data-bind="text: $data.displayName"></span>
                                                                </a>
                                                                <!-- ko with: Contactables.findOne({_id: $data.customer()}) -->

                                                                <strong class="text-normal text-muted">
                                                                    <a data-bind="attr: {href: '/contactable/' + _id }">
                                                                        at
                                                                        <span data-bind="text: displayName"></span>
                                                                    </a>
                                                                </strong>
                                                                <!-- /ko -->
                                                                <!--/ko-->
                                                                <br/>
                                                                <strong class="text text-muted text-small" data-bind="text: $data.Temporary ? 'Temporary': 'Direct Hire'"></strong>
                                                            </div>

                                                        </div>
                                                        <!-- /.table-item-cell-container -->
                                                    </div>
                                                    <!-- /.table-item-cell -->
                                                </div>
                                                <!-- /.col-sm-3 -->
                                                <div class="col-sm-3">
                                                    <div class="table-item-cell">
                                                        <div class="table-item-cell-container text-small">
                                                            <!--<strong data-bind="text: status">-->

                                                            <!--</strong>-->
                                                            <!--ko if: $data.assignment -->
                                                                <!--ko with: Assignments.findOne({_id: $data.assignment() })-->
                                                                    <!--ko with: Contactables.findOne({_id: $data.employee})-->
                                                                        <br>
                                                                        <a data-bind="attr: {href: '/contactable/' + _id}">
                                                                            <strong>
                                                                                <span data-bind="text: displayName"></span>
                                                                            </strong> Is assigned
                                                                        </a>
                                                                    <!-- /ko -->
                                                                <!-- /ko -->
                                                            <!-- /ko -->

                                                        </div>
                                                        <!-- /.table-item-cell-container -->
                                                    </div>
                                                    <!-- /.table-item-cell -->
                                                </div>
                                                <!-- /.col-sm-4 -->
                                                <div class="col-sm-3">
                                                    <div class="table-item-cell">
                                                        <div class="table-item-cell-container">
                                                            <!--                                                    <div class="location">Bankok, Thailand</div>-->
                                                            <!--ko if: $data.dateCreated-->
                                                            <div class="date">
                                                                <span data-bind="text: moment(dateCreated()).fromNow()"></span>
                                                            </div>
                                                            <!-- /ko -->
                                                        </div>
                                                        <!-- /.table-item-cell-container -->
                                                    </div>
                                                    <!-- /.table-item-cell -->
                                                </div>
                                                <!-- /.col-sm-3 -->
                                            </div>
                                            <!-- /.row -->
                                        <!--</div>-->
                                    <!-- /.table-item -->
                                    <!-- /ko -->
                                <!-- /ko -->
                                <!--&lt;!&ndash;ko ifnot: entities().length >0&ndash;&gt;-->
                                    <!--<div class="v-wrapper">-->
                                        <!--<div class="v-wrapper-cell text-center text-muted" style="height: 678px;">-->
                                            <!--<i class="icon-briefcase text-large"></i>-->
                                            <!--<h1>You currently have no Jobs</h1>-->
                                            <!--&lt;!&ndash;ko foreach: jobTypes&ndash;&gt;-->
                                                <!--<a href="#" data-bind="attr: { href: '/jobAdd/'+name }, text: 'New ' + name + ' Job'"></a>-->
                                                <!--<span class="bullet-spacer" data-bind="visible: $index()< $parent.jobTypes().length-1">·</span>-->
                                            <!--&lt;!&ndash; /ko &ndash;&gt;-->
                                        <!--</div>&lt;!&ndash; /.v-wrapper-cell &ndash;&gt;-->
                                    <!--</div>-->
                                <!--&lt;!&ndash; /ko &ndash;&gt;-->
                                <!--infinite scroll-->
                                <div data-bind="onScrollBottom: showMore"></div>
                            </div>
                    </div>
                    <!--/ko-->
                </div>
            </div>
        </div>
        {{>lookupFilterTemplate}}
    </div>
</template>

<!--<template name="jobFilters">-->

<!--</template>-->