<template name="jobs">
    <div class="jobs-page">
        <div id="content">
            <div id="content-header" class="mini">
                <h1>
                    <strong data-bind="text: entities().length"></strong>
                    <span data-bind="text:objName "></span>
                </h1>
            </div>
            <div id="breadcrumb">
                <a href="#" title="Go to Home" class="tip-bottom">Home</a>
                <a href="#" class="current">Jobs</a>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-push-8 col-lg-push-9 col-lg-3">
                        <div data-bind="foreach: jobTypes">
                            <a class="btn btn-success btn-md btn-block btn-create" data-toggle="modal" data-bind="click: function () { Composer.showModal('addJob', $data.objName); }, text: 'Add ' + objName"></a>
                        </div>
                        <sidebar>
                            <!--                            **************************************************-->
                            <div class="box-2">
                                <h4 class="bottom-20">
                                    <strong>Job Filters</strong>
                                </h4>
                                <form role="form">
                                    <div class="panel-group bottom-20" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                                                        <strong>Type</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse in" style="height: auto;">
                                                <div class="panel-body">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Full-time
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Contract
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Part-time
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Freelance
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                                        <strong>Categories</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Category 1
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Category 2
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Category 3
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Category 4
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                                        <strong>Location</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Location 1
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Location 2
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Location 3
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Location 4
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>
                                        <strong>Tags</strong>
                                    </h4>
                                    <div>
                                        <div class="box-content-md ">
                                            <div data-bind="foreach: tags ">
                                                <a class="btn btn-xs btn-primary " href="# " data-bind="text: $data "></a>
                                                <a style="margin-left: 4px; min-width: 7px; ">
                                                    <i class="icon icon-close removeTag "></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter tags here..." data-bind="value:tag">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" data-bind="click: addTag">Go!</button>
                                        </span>
                                    </div>
                                    <!--                                     /input-group -->
                                    <!--
                                    <p>
                                        <strong>Sign up for highlighted jobs and discounts.</strong>
                                    </p>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="your@email.me">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button">Subscribe!</button>
                                        </span>
                                    </div>
-->
                                    <!-- /input-group -->
                                </form>
                            </div>




                            <!--                            ***********************************************************************-->
                            <div class="box-2" style="display: none">
                                <form role="form">
                                    <h4>
                                        <strong>Filters</strong>
                                    </h4>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Include inactives
                                            </label>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Only recent week
                                            </label>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                    <h4>
                                        <strong>Tags</strong>
                                    </h4>
                                    <div class="box-content-md ">
                                        <div data-bind="foreach: tags ">
                                            <a class="btn btn-xs btn-primary " href="# " data-bind="text: $data "></a>
                                            <a style="margin-left: 4px; min-width: 7px; ">
                                                <i class="icon icon-close removeTag "></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter tags here..." data-bind="value:tag">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" data-bind="click: addTag">Go!</button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                            <!-- /.box-2 -->
                        </sidebar>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">

                        <!-- Entities list -->
                        <div>
                            {{#if loading}}
                            <div id="lists">Loading...</div>
                            {{else}}

                            <div class="table-items-box" data-bind="foreach: entities">
                                <div class="table-item odd ">
                                    <!-- ko if: $data.createdAt -->
                                    <div class="date" data-bind="text: moment(createdAt()).fromNow()"></div>
                                    <!-- /ko -->
                                    <div class="row ">
                                        <div class="col-sm-6 col-md-6 col-lg-6 ">
                                            <div class="table-item-cell ">
                                                <div class="thumb ">
                                                    <a href="# ">
                                                        <img height="70px" width="70px" src="/assets/user-photo-placeholder.jpg">
                                                    </a>
                                                </div>
                                                <div class="table-item-title ">
                                                    <a data-bind="attr:{href: '/job/'+_id()}">
                                                        <span data-bind="text: $data.displayName"></span>
                                                    </a>
                                                </div>
                                                <div class=" table-item-desc">
                                                    <div class="table-item-desc" data-bind="if: $data.CustomerInfo">
                                                        <a href="#" data-bind="text: $data.CustomerInfo.displayName">CNN</a>- We help companies create better web applications</div>
                                                    <span data-bind="text: $data.statusNote"></span>
                                                </div>
                                            </div>
                                            <!-- /.table-item-cell -->
                                        </div>
                                        <!-- /.col-lg-6 -->
                                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                                            <div class="table-item-cell">
                                                <br>[Address]
                                            </div>
                                        </div>
                                        <!-- /.col-lg-3 -->
                                        <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
                                            <div class="table-item-cell table-item-cell-last">
                                                <br>
                                                <span data-bind="text: objNameArray"></span>
                                            </div>
                                        </div>
                                        <!-- /.col-lg-3 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.table-item -->
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>
</template>
