<template name="entityActivities">
    <div class="box">
        <div class="box-header-2">
            <div class="box-title">
                <span>Activity</span>
            </div>
        </div>
        <div class="" id="activity-body">
            <div class="box-v-msg-content">
                {{>fastPagination name="activities" loadingTemplate='loadingActivities' container='body' content='#content'}}
                <section class="timeline">
                    <div class="activity-container scroll-container">
                        {{#each activities}}
                            {{> activityTemplate}}
                        {{/each}}
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<template name="dummyEntry">
</template>