<template name="addWorkFlow">
        <div id="content" class="content-gray">
            <div class="container-fluid">

                <div class="add-box">
                    <div class="box-type-1">
                    <div class="add-box-head">
                        <a class="btn btn-default pull-left goBack" href="#"  style="position: absolute; left: 20px;"><i class="fa fa-long-arrow-left"></i> {{_ "Go Back"}}</a>
                    </div>
                    <div class="add-box-content">

                    {{#autoForm schema="schemaAddWorkField" id="addWorkField" doc=contact}}
                        Job:
                        {{> afFieldInput  name='job' placeholder="Search job" class="form-control" type="afSearch"  getCollection=getJobs selectionChanged=jobChanged }}
                        {{getId}}
                        <br>
                        {{#each placementsByJob}}
                            <section class="box-type-2">
                                <div class="box-type-2-content">
                                    <!--<div class="row">-->
                                    <div class="col-md-1">
                                      <a class="item-icon item-icon-network" href="/contactables/{{employee}}">
                                        <i class="icon-profile-business-man"></i>
                                      </a>
                                    </div>
                                    <div class="col-md-9">
                                        <h4>
                                         {{employeeDisplayName}}
                                        </h4>
                                    </div>
                                    <div class="col-md-2">
                                      <h5>
                                       <span class="item-label-2"> {{getCandidateStatus}}</span>
                                       </h5>
                                    </div>
                                        <!--</div>-->
                                </div>
                            </section>
                        {{/each}}
                    {{/autoForm}}
                    </div>
                    </div>
                </div>
            </div>
        </div>

</template>