<template name="znotesTab">
    <div class="record">
        <div class="row">
            <!--<div class="col-md-3 col-lg-3">-->
                <!--{{> notesFilter}}-->
            <!--</div>-->
            <div >
                {{> notesTabAdd}}
                {{> notesTabList}}
            </div>
        </div>
    </div>
</template>
<template name="znotesFilter">
            <div class="filter">
                <a class="filter-toggle" data-toggle="collapse" href="#filter-body">
                    <strong><i class="fa fa-filter"></i></strong>
                </a>
                <div class="filter-list" id="filter-body">
                    <div class="filter-item">
                        <div class="filter-title">
                            Status
                        </div>

                        <div data-bind="foreach: states">
                            {{#each states}}
                            <button type="button" class="btn btn-sm selectState {{selectedClass}}">{{name}}</button>
                            {{/each}}
                        </div>
                    </div>

                    <div class="filter-item">
                        <div class="filter-title">
                            <i class="fa fa-eye"></i>
                            Visibility
                        </div>

                        <div class="checkbox">
                            <label>
                                {{#objectProperty property=filters.inactives}}
                                <input type="checkbox" checked="{{value}}" />Archived
                                {{/objectProperty}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                {{#objectProperty property=filters.ownedByMe}}
                                <input type="checkbox" checked="{{value}}" />Mine only
                                {{/objectProperty}}
                            </label>
                        </div>
                    </div>

                    <div class="filter-item">
                        <div class="filter-title">
                            <i class="fa fa-user"></i>
                            Owner
                        </div>

                        <div class="checkbox">
                            {{#objectProperty property=filters.assigned}}
                            <input type="checkbox" checked="{{assigned}}" />Assigned to:
                            {{/objectProperty}}
                        </div>
                        {{#objectProperty property=filters.assignedTo}}
                        <select class="form-control">
                            {{#each users}}
                            <option value="{{_id}}">{{displayUserName _id}}</option>
                            {{/each}}
                        </select>
                        {{/objectProperty}}
                    </div>
                </div>
            </div>
</template>
<template name="znotesTabAdd">
    <div class="record-add row">

        <div class="add-box-content col-sm-12">
            {{#autoForm id="AddNoteRecord" schema="NoteSchema" meteormethod="addContactableNote" type="method" resetOnSuccess=true}}
                {{> afQuickField name='msg' rows=3}}
                {{> linksAutoForm name='links'}}

                <br/>

                <button type="submit" class="btn btn-success pull-right"> Save </button>
            {{/autoForm}}
        </div>
    </div>
</template>

<template name="znotesTabList">
    <div class="record-list-pagination">
        {{> fastPagination name="notes"}}
    </div>
    <ul class="record-list list-3 stripped has-thumb">
        {{#each items}}
            {{> notesTabItem}}
        {{/each}}
    </ul>
</template>

<template name="znotesTabItem">
    <li class="record-record list-3-item">
        <div class="list-thumb"><i class="icon-note-paper-2"></i></div>
        <div class="list-3-content list-magic">
            <div class="list-3-content-wrap">
                {{#with getCtx}}
                    {{#if isEditing}}
                        {{> notesTabEditItem doc=noteRecord}}
                    {{else}}
                        <div class="list-3-item-title">{{noteRecord.msg}}</div>
                        <div class="list-3-actions">
                            <a class="editNoteRecord pointer"><i class="fa fa-edit"></i> Edit</a>
                            <span class="bullet-spacer">·</span>
                            <a class="deleteNoteRecord pointer"><i class="fa fa-trash-o"></i> Delete</a>
                        </div>

                        {{#each noteRecord.links}}
                            <a href="{{getUrl .}}">
                                {{#with getEntity .}}
                                    <span class="badge badge-primary">{{displayName}}</span>
                                {{/with}}
                            </a>
                        {{/each}}

                        {{#if noteRecord.sendAsSMS}}
                            <hr/>
                            <div class="text-muted">
                                {{#if noteRecord.isReply}}
                                    <i class="icon-inbox-4"></i>
                                {{else}}
                                    <i class="icon-plane-paper-1"></i>
                                {{/if}}
                                <strong> SMS </strong>

                                <span class="bullet-spacer">·</span>
                                <span> From {{getPhoneNumberDisplayName noteRecord.userNumber}}</span>
                                <span> To {{getPhoneNumberDisplayName noteRecord.contactableNumber}}</span>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/with}}
            </div>
        </div>
    </li>
</template>

<template name="znotesTabEditItem">
    {{#autoForm id=formId schema="NoteSchema" doc=doc collection="Notes" type="update"}}
        {{> afQuickField name='msg' rows=3}}
        {{> linksAutoForm name='links' value=doc.links}}

        <br/>
        {{#unless userNumbers}}
        <!--<small class="text-muted"> You have no numbers available to send note as SMS, <a href="/management/twilioManagement"> go to your Twilio configuration</a> to request a number </small>-->
        {{else}}
        {{#unless contactableNumbers}}
        <!--<small class="text-muted"> This contactable has no phone number as a contact method, go to details to add one </small>-->
        {{else}}
        {{> afQuickField name="sendAsSMS"}}

        {{#if afFieldValueIs name='sendAsSMS' value=true}}
        {{> afFormGroup name="userNumber" options=userNumbers}}
        {{> afFormGroup name="contactableNumber" options=contactableNumbers}}
        {{/if}}
        {{/unless}}
        {{/unless}}
        <div class="pull-right">
            <span class="btn btn-default cancelNoteRecordChanges"> Cancel </span>
            <button class="btn btn-success"> Save </button>
        </div>
    {{/autoForm}}
</template>

<template name="linksAutoForm">
    <div data-schema-key="{{name}}" id="links-value" class="{{name}} {{#if afFieldIsInvalid name=name}}has-error{{/if}}">
        <div class="row">
            <div class="col-md-5">
                <select class="form-control" id="noteTypeSelect" title="Select the type of entity that you want to link to the msg">
                    <option value="">--type--</option>
                    {{#each types}}
                        <option value="{{value}}">{{displayName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-5">
                <select class="form-control" id="noteEntitySelect" title="Select the entity that you want to link">
                    <option value="">--select--</option>
                    {{#each entities}}
                        <option value="{{_id}}">{{displayName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-2">
                <span id="noteLinkEntity" class="btn btn-md btn-default pull-right">Link</span>
            </div>
        </div>
        <br/>

        {{#each links}}
            <button type="button" class="tag btn btn-xs btn-primary">
                {{#with getEntity .}}
                    <span> {{displayName}} </span>
                {{/with}}
                <i class="remove-link fa fa-times"></i>
            </button>
        {{/each}}

        {{#if afFieldIsInvalid name=name}}
            <span class="help-block">{{afFieldMessage name=name}}</span>
        {{/if}}
    </div>
</template>