<template name="hierarchiesManagement">
    <div id="content" class="lookUps">
        <div id="content-header" class="mini">
            <h1>hierarchies management</h1>
        </div>


        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom">Management</a>
            <a href="/hierarchyManagement" class="current">hierarchies</a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group">
                        {{#objectProperty property=filters.searchString}}
                            <input type="text" class="form-control" placeholder="Search Hierarchies" value="{{value}}">
                        {{/objectProperty}}
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div>
                        <span>&nbsp;</span>
                        {{>showHierarchyTree hierarchies=hierarchies}}
                    </div>
                </div>
                <div class="col-md-4" style="border-left: solid 2px #979797; min-height: 300px;">
                    {{#with selected}}
                    {{#with selected}}
                        {{#if isAdmin}}
                            {{>quickForm schema=hierarchySchema id='hierarchyEdit' doc=. buttonContent="Save" autocomplete="off" }}
                        {{/if}}
                    {{else}}
                        <div class="box-v-msg">
                            <h3>Select a Hierarchy</h3>
                        </div>
                    {{/with}}

                </div>
            </div>
        </div>


    </div>
</template>

<template name="showHierarchyTree">
    <div class="tree">
        {{>recursiveHierarchies  hierarchies=hierarchies}}
    </div>
</template>
<template name="recursiveHierarchies">
    <div class="table-items-box">
        {{#each hierarchies}}
            <div class="table-item" >
                <div class="row">
                    {{#if hasChilds}}
                        <a data-toggle="collapse" href="#childs_{{_id}}" class="tree-collapse-trigger">
                            <i></i>
                        </a>
                    {{else}}
                        <!--invisible span that takes the place of the collapse-trigger, so that the items stay aligned-->
                            <span>
                                <i class="fa" style="width: 11px"></i>
                            </span>
                    {{/if}}
                    <btn class="makeCurrent hierarchyItem {{isSelectedClass}} tree-item">
                        {{name}}
                        {{#if isCurrent}}
                            <b>(current)</b>
                        {{else}}
                        {{/if}}
                    </btn>
                    <div class="pull-right task-author">
                        {{#formattedDate value=dateCreated format='lll'}}
                            {{date}}
                        {{/formattedDate}}<br/>
                        <!-- /.table-item-cell-container -->
                        {{_id}}<br/>
                        {{#if isInactive}}Inactive{{/if}}
                    </div>
                    {{#if hasChilds}}
                        <div id="childs_{{_id}}" class="collapse in tree-child">
                            {{>showHierarchyTree hierarchies=childHiers}}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
</template>