<template name="dashboardNotes">
    <div class="box-type-3">
        <ul class="list-type-9">
            {{#if nodes}}
                {{#each nodes}}
                    <li>
                        <div class="note">
                            <p>{{msg}}</p>
                            <div class="date">&mdash; {{formattedDate dateCreated}}</div>
                            <div class="btn-group  btn-more">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="ico-more">
                          <span class="dot-1"></span>
                          <span class="dot-2"></span>
                          <span class="dot-3"></span>
                        </span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="arrow"></li>
                                    <li><a class="editNote pointer"><i class="fa fa-edit"></i> {{_ "Edit"}}</a></li>
                                    <li><a class="removeNote pointer"><i class="fa fa-trash"></i> {{_ "Delete"}}</a></li>
                                </ul>
                            </div>
                        </div><!-- /.note -->
                    </li>
                {{/each}}
            {{/if}}
        </ul>
    </div>
</template>