<template name="matchup">
    <div class="contactable-page-details" name="matchupVM">
        <div id="content">
            {{#with originalMatchup}}
            <div id="content-header" class="mini">
                <h1 class="profile-name">
                        {{#if employee}}<a href="/contactable/{{employee}}"> {{employeeDisplayName}} </a>{{/if}}
                        {{#if job}}
                            <a href="/job/{{job}}"> {{jobDisplayName}} @ </a>
                            <a href="/contactable/{{customer}}">{{customerDisplayName}}</a>
                        {{/if}}
                </h1>
            </div>
            <div id="breadcrumb" class="breadcrumb-top">
                <a href="/" title="Go to Home" class="tip-bottom">
                    <i class="fa fa-home"></i>Home</a>
                <a href="/matchups" class="current">Matchups</a>
            </div>
            {{/with}}


            <div class="container-fluid contactable-content matchup-details">
                <div class="row">

                    <div class="col-sm-12 col-lg-12 margin-top-15 contactable-left-col">
                        {{>matchup_tabs matchup=matchup getCustomer=getCustomer matchupCollection=matchupCollection originalMatchup=originalMatchup documentCount=documentCount matchupCount=matchupCount noteCount=noteCount}}
                    </div>

                    <!-- /.col-lg-->

                    <!-- Right Column -->
                    <!--<div class="col-sm-4 col-lg-3 margin-top-15 has-tabs">-->
                        <!--<div >-->

                        <!--</div>-->

                    <!--</div>-->
                    <!-- /.container-fluid -->
                </div>
            </div>

        </div>
        <!-- /.content -->
    </div>
</template>

<template name="matchup_tabs">

    <ul class="nav nav-pills  contactable-nav-tabs-main bottom-20">
        <li class="active"><a href="#profile-detail" data-toggle="tab">Detail</a></li>
        <!--<li ><a href="#profile-activity" data-toggle="tab">Activity</a></li>-->
        <li ><a href="#profile-tasks" data-toggle="tab">Tasks</a></li>
        <li ><a href="#profile-notes" data-toggle="tab">Notes</a></li>
    </ul>

    <div class="tab-content">
        {{#with originalMatchup}}
        <!--<div class="tab-pane " id="profile-activity">{{>matchupActivity}}</div>-->
        <div class="tab-pane" id="profile-tasks">{{> tasksBox}}</div>
        <div class="tab-pane" id="profile-notes">{{> notesItem}}</div>
        {{/with}}
        <div class="tab-pane active" id="profile-detail">
            {{#with matchup}}  {{> matchupDetail}}  {{/with}}
            {{#with originalMatchup}}{{>tagsBox  }}{{/with}}
            <!--{{#with matchup}}{{>matchupRates ..}}  {{/with}}-->
            <!--{{>customerInfo customer=getCustomer path='customer' collection=matchupCollection}}-->
        </div>
    </div>

</template>


