<!--<template name="assignment">-->
    <!--<div class="contactable-page-details" name="assignmentVM">-->
        <!--<div id="content">-->

                <!--<div id="content-header" class="mini">-->
                    <!--<h1 class="profile-name">{{originalEmployee.displayName}}-->
                        <!--<small> at-->
                            <!--<a  href="/contactable/{{customer}}">-->
                                <!--<strong class="text text-muted" style="font-size: 25px; color: '#A29E9E'">-->
                                    <!--{{originalJob.displayName}}-->
                                    <!--<i class="fa fa-external-link" style="font-size: 14px"></i>-->
                                <!--</strong>-->
                            <!--</a>-->
                        <!--</small>-->
                    <!--</h1>-->
                <!--</div>-->
                <!--<div id="breadcrumb" class="breadcrumb-top">-->
                    <!--<a href="/" title="Go to Home" class="tip-bottom">-->
                        <!--<i class="fa fa-home"></i>Home</a>-->
                    <!--<a href="/assignments" class="current">Assignments</a>-->
                <!--</div>-->


                <!--<div class="container-fluid contactable-content assignment-details">-->
                    <!--<div class="row">-->

                        <!--<div class="col-sm-7 col-lg-12 margin-top-15 contactable-left-col">-->
                            <!--{{#with assignment}}-->
                            <!--<ul class="nav nav-tabs  contactable-nav-tabs-main bottom-20">-->
                                <!--<li ><a href="#profile-notes" data-toggle="tab">Notes</a></li>-->
                            <!--</ul>-->

                            <!--<div class="tab-content">-->
                                <!--<div class="tab-pane" id="profile-notes">{{> notesItem}}</div>-->

                            <!--</div>-->
                            <!--{{/with}}-->
                        <!--</div>-->


                    <!--</div>-->
                <!--&lt;!&ndash; /.container-fluid &ndash;&gt;-->
                 <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.content &ndash;&gt;-->
    <!--</div>-->
<!--</template>-->



